<div class="header">
	<ss-headline size="h3">Учет законтрактованного сырья</ss-headline>
	<div class="header__controls">
		<ss-tooltip-menu icon="download">
			<ss-caption size="1">
				<a [href]="facadeService.instructionFileLink" target="_blank">
					Инструкция по учету законтрактованного сырья
				</a>
			</ss-caption>
		</ss-tooltip-menu>
		<ss-button *ngIf="canAdd" size="small" (click)="addContract()">Добавить контракт</ss-button>
		<ss-button *ngIf="!isFiltersVisible" size="small" type="outline" (click)="toggleFilters()">
			<ss-icon height="16" width="16" name="filter"></ss-icon>
			<span>Фильтры</span>
		</ss-button>
	</div>
</div>
<ss-card class="content" padding="16px" radius="16px">
	<div class="table" *ngIf="tableItems?.length">
		<ss-table
			[head]="[
						{title: 'Контракт, №', field: 'contractNumber'},
						{title: 'Контрагент', field: 'contractor'},
						{title: 'Договор', field: 'contract', sizeRatio: 1.6},
						{title: 'Кол-во, кг (всего)', field: 'quantityTotal', isNumber: true},
						{title: 'Кол-во, кг (поступило)', field: 'quantityReceived', isNumber: true, sizeRatio: 0.6},
						{title: 'Кол-во, кг (осталось)', field: 'quantityRemaining', isNumber: true, sizeRatio: 0.6},
						{title: 'Период контракта', field: 'period'},
						{title: 'Автор', field: 'user'},
						{title: 'Статус', field: 'status'}
						]"
			[items]="tableItems"
			(controlClick)="showContract($event)"
		>
		</ss-table>
		<ss-pagination [total]="total" [pageIndex]="pageIndex" [pageSize]="pageSize"
					   (changeIndex)="pageIndexChange($event)"></ss-pagination>
	</div>
	<div *ngIf="!tableItems || tableItems?.length === 0" class="no-data">
		<ss-empty-data-page width="458" height="458" [isNotFound]="tableItems?.length === 0"></ss-empty-data-page>
	</div>
	<ss-card *ngIf="isFiltersVisible" class="filters" padding="0">
		<ss-filters [(isFiltersVisible)]="isFiltersVisible" (applyFilter)="getFilteredContracts(true)" [(filters)]="filters"></ss-filters>
	</ss-card>
</ss-card>
