@use 'src/styles/colors.scss' as *;

:host {
	display: flex;
	width: 100%;

	.tab {
		cursor: pointer;
		flex-grow: 1;
		padding: 8px;
		border-width: 1px 1px 0 1px;
		border-radius: 8px 8px 0 0;
		border-color: $island-outline;
		border-style: solid;
	}

	.selected {
		background-color: $island;
	}

	::ng-deep .selected p {
		color: $main;
	}
}
