<div class="tabs">
<ng-container *ngFor="let tab of tabs; trackBy: trackBy">
	<div class="tab"
		*ngIf="tab.isVisible"
		[ngClass]="{'selected': tab.name === selectedTab.name }"
		[class.selected__small] = "tab.name === selectedTab.name && size === 'small'"
		[class.selected__medium] = "tab.name === selectedTab.name && size === 'medium'"
		[class.tab__small]="size === 'small'"
		[class.tab__medium]="size === 'medium'"
		(click)="onSelect(tab)"
	>
		<ss-text
			[size]="size === 'small' ? '3' : '2' "
		>
			{{ tab.label }}
		</ss-text>
		<span *ngIf="tab.icon" class="icon {{tab.icon}}"></span>
	</div>
</ng-container>
</div>
