.column-item__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  &_label {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
}