<ss-card padding="0" radius="0 0 16px 16px">
	<ng-container *ngIf="developments$ | async as developments">

		<app-client-proposals-tabs-canvas
			[headerTemplateRef]="header"
			[bodyTemplateRef]="body"
			[footerTemplateRef]="footer">
		</app-client-proposals-tabs-canvas>

		<ng-template #header>
			<a *ngIf="developments.linkToModule; else text" class="client-proposals-development-tab__link" href="{{ developments.linkToModule }}" target="_blank">Разработки АК</a>
			<ng-template #text>
				<ss-text size="1">Разработки АК</ss-text>
			</ng-template>
		</ng-template>

		<ng-template #body>
			<ss-table
				*ngIf="developments.total > 0;else empty"
				[padding]="'8px'"
				[head]="[
					{title: 'Код', field: 'code'},
					{title: 'Дата', field: 'date'},
					{title: 'Название ТПР', field: 'name', sizeRatio: 4},
					]"
				[items]="getTableItems(developments)"
			>
			</ss-table>
		</ng-template>

		<ng-template #footer>
			<ss-pagination
				[total]="developments.total"
				[pageIndex]="pageIndex"
				[pageSize]="pageSize"
				(changeIndex)="nzPageIndexChange($event)"
			>
			</ss-pagination>
		</ng-template>
	</ng-container>

	<ng-template #empty>
		<ss-empty-data-page [width]="'300px'" [height]="'176px'"></ss-empty-data-page>
	</ng-template>
</ss-card>

