<ss-caption size="1">{{ label }}</ss-caption>
<div class="input">
	<input type="date"
		   [value]="value"
		   [disabled]="disabled"
		   (input)="onChange($any($event.target).value)"
		   (blur)="onTouched()"
		   class="{{ error ? size + ' error' : size }}"
		   #input
	/>
	<ss-text class="value" size="2">{{ (input.value | date: 'dd.MM.yyyy') }}</ss-text>
	<ss-text *ngIf="!input.value" class="value" size="2">{{ placeholder }}</ss-text>
</div>
<ss-caption class="error">{{ error }}</ss-caption>
