<ss-card padding="0" radius="0 0 16px 16px" class="container">
	<ss-loader *ngIf="tableState === TableState.Loading"></ss-loader>
	<div class="return-requests">
		<div class="return-requests-header">
			<a *ngIf="(requests$ | async)?.linkToModule; else noLink" [href]="(requests$ | async)?.linkToModule" target="_blank">
				<ss-headline class="return-requests-header-title" size="h6">Возвраты/претензии</ss-headline>
			</a>
			<ng-template #noLink>
				<ss-headline class="return-requests-header-title" size="h6">Возвраты/претензии</ss-headline>
			</ng-template>
			<ss-icon *ngIf="!isFiltersVisible" class="return-requests-header-filter-button" height="18" width="18" name="filter" (click)="toggleFilters()"></ss-icon>
		</div>
		<div class="return-requests-content" *ngIf="tableState === TableState.Full || tableState === TableState.Loading">
			<div class="return-requests-content-table">
				<ss-table
					[head]="[
						{title: 'Код', field: 'code'},
						{title: 'Дата создания', field: 'createDate'},
						{title: 'Статус',  field: 'status'},
						{title: 'Автор',  field: 'author'},
						{title: 'Тип', field: 'type'},
						{title: 'Контрагент', field: 'contractor'},
						{title: 'ТП', field: 'tov'}
						]"
					[items]="tableItems">
				</ss-table>
			</div>
			<div class="return-requests-content-pagination pagination">
				<nz-pagination
					[nzTotal]="total"
					[nzPageIndex]="pageIndex"
					[nzPageSize]="pageSize"
					(nzPageIndexChange)="nzPageIndexChange($event)"
					(nzPageSizeChange)="pageSize = $event"
					[nzResponsive]="true"
					[nzHideOnSinglePage]="true">
				</nz-pagination>
			</div>
		</div>
		<div class="return-requests-content" *ngIf="tableState === TableState.Empty">
			<ss-empty-placeholder>
				<ss-headline size="h3" class="m-b-15">По вашему запросу ничего не найдено</ss-headline>
				<div class="placeholder-subtitle">
					<ss-text size="3">Попробуйте изменить параметры поиска</ss-text>
				</div>
			</ss-empty-placeholder>
		</div>
	</div>
	<div class="separator" *ngIf="isFiltersVisible"></div>
	<ss-filters *ngIf="isFiltersVisible" [(isFiltersVisible)]="isFiltersVisible" (applyFilter)="getFilteredSales(true)" [(filters)]="filters"></ss-filters>
</ss-card>
