<div class="wrapper">
	<ss-card
		class="notice-dialog"
		padding="16px"
	>
		<ss-icon [name]="'notice' + type"></ss-icon>
		<ss-headline
			*ngIf="header"
			size="h6"
			weight="semi-bold"
			>{{ header }}</ss-headline
		>
		<ss-text
			*ngIf="text"
			size="3"
			>{{ text }}</ss-text
		>
		<div class="notice-dialog__footer">
			<snab-button
				*ngIf="buttonCancel"
				[size]="Size.Large"
				[type]="ButtonType.Outline"
				[text]="buttonCancel"
				(click)="close(false)"
			></snab-button>
			<snab-button
				*ngIf="buttonOk"
				[size]="Size.Large"
				[text]="buttonOk"
				(click)="close(true)"
			></snab-button>
		</div>
	</ss-card>
</div>
