<ss-caption size="1">{{ label }}</ss-caption>
<div class="input">
	<input type="text"
		   [attr.value]="value"
		   [placeholder]="placeholder"
		   [value]="selectedItem?.name || ''"
		   [disabled]="disabled"
		   (input)="onChange($any($event.target).value)"
		   class="{{ error ? size + ' error' : size }}"
		   #input
	/>
	<div class="search-result" *ngIf="(found$ | async)?.length" #options>
		<div class="separator"></div>
		<ss-caption class="search-result-item" *ngFor="let item of found$ | async"
					(click)="
			clear ? input.value = '' : input.value = item.name!;
			found$.next([]);
			select.emit(item);
		">
			<div [innerHTML]="item.name"></div>
		</ss-caption>
	</div>
</div>
<ss-caption size="2" class="error">{{ error }}</ss-caption>
<div *ngIf="(found$ | async)?.length" class="overflow" (click)="found$.next([])"></div>
