<ss-card padding="0" radius="0 0 16px 16px" class="container">
	<ss-loader *ngIf="tableState === TableState.Loading"></ss-loader>
	<div class="request-samples">
		<div class="request-samples-header">
			<a *ngIf="(samples$ | async)?.linkToModule; else noLink" target="_blank" [href]="(samples$ | async)?.linkToModule">
				<ss-headline class="request-samples-header-title" size="h6">Образцы</ss-headline>
			</a>
			<ng-template #noLink>
				<ss-headline class="request-samples-header-title" size="h6">Образцы</ss-headline>
			</ng-template>
			<ss-icon *ngIf="!isFiltersVisible" class="request-samples-header-filter-button" height="18" width="18" name="filter" (click)="toggleFilters()"></ss-icon>
		</div>
		<div *ngIf="tableState === TableState.Full || tableState === TableState.Loading" class="request-samples-content">
			<div class="request-samples-content-table">
				<ss-table
					[head]="[
						{title: 'Код', field: 'code'},
						{title: 'Статус', field: 'status', sizeRatio: 2},
						{title: 'Дата заказа',  field: 'orderDate'},
						{title: 'Менеджер',  field: 'managerName'},
						{title: 'ТП', field: 'tovName', sizeRatio: 2},
						{title: 'Кол-во (план)', field: 'planQuantity', sizeRatio: 0.5},
						{title: 'Кол-во (факт)', field: 'factQuantity', sizeRatio: 0.5},
						{title: 'Вес (план)', field: 'planWeight', sizeRatio: 0.5},
						{title: 'Вес (факт)', field: 'factWeight', sizeRatio: 0.5},
						{title: 'Комментарий', field: 'comment', sizeRatio: 2},
						]"
					[items]="tableItems">
				</ss-table>
			</div>
			<div class="request-samples-content-pagination pagination">
				<ss-pagination [total]="total" [pageSize]="pageSize" [pageIndex]="pageIndex" (changeIndex)="nzPageIndexChange($event)"></ss-pagination>
			</div>
		</div>
		<div *ngIf="tableState === TableState.Empty" class="request-samples-content">
			<ss-empty-placeholder>
				<ss-headline size="h3" class="placeholder-headline">По вашему запросу ничего не найдено</ss-headline>
				<div class="placeholder-subtitle">
					<ss-text size="3">Попробуйте изменить параметры поиска</ss-text>
				</div>
			</ss-empty-placeholder>
		</div>
	</div>
	<div *ngIf="isFiltersVisible" class="separator"></div>
	<ss-filters *ngIf="isFiltersVisible" [(isFiltersVisible)]="isFiltersVisible" [(filters)]="filters" (applyFilter)="getFilteredSales(true)"></ss-filters>
</ss-card>
