.modal-transport-notice {
    width: 360px;
    height: 315px;

    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 16px 6px;

        .title {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;

        .dates {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .label {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    .footer {
        padding: 16px 16px 0;
    }
}
