<div class="modal-transport-notice">
    <ss-card [padding]="'10px 0px 16px'">
        <div class="header">
            <div class="title">
                <ss-text size="1">Изменение расписания корпоративного транспорта</ss-text>
            </div>

            <ss-icon class="close-icon" name="close" (click)="close()"></ss-icon>
        </div>

        <div class="divider">
            <ss-divider />
        </div>

        <form class="card" [formGroup]="noteForm">
            <div class="dates">
                <div class="label">
                    <ss-text size="4" class="info-list-item-name">Действителен от:</ss-text>

                    <ss-datepicker-input
                        size="small"
                        placeholder=""
                        formControlName="dateFrom"
                    ></ss-datepicker-input>
                </div>

                <div class="label">
                    <ss-text size="4" class="info-list-item-name">Действителен до:</ss-text>

                    <ss-datepicker-input
                        size="small"
                        placeholder=""
                        formControlName="dateTo"
                    ></ss-datepicker-input>
                </div>
            </div>

            <div class="label">
                <ss-text size="4" class="info-list-item-name">Текст уведомления:</ss-text>

                <ss-textarea
                    size="medium"
                    rows="3"
                    placeholder="Введите текст"
                    formControlName="note"
                ></ss-textarea>
            </div>
        </form>

        <ss-divider class="divider" />

        <div class="footer">
            <ss-button
                size="small"
                type="primary"
                (click)="saveAndCloseModal()"
                [disabled]="!noteForm.valid"
            >
                Опубликовать
            </ss-button>
        </div>
    </ss-card>
</div>

