<div
	class="header"
	[class.header---sticky]="sticky()"
>
	<div class="header__content">
		<div class="header__content-left">
			<ss-icon
				class="header__logo"
				name="logo"
				[routerLink]="AppRoutes.root"
			></ss-icon>
			<app-main-menu [menu]="listMenu$ | async"></app-main-menu>
		</div>
		<div class="header__content-right">
			<ss-search-input
				[size]="'small'"
				[searchType]="'global'"
				(select)="getSearchGlobal($event)"
			></ss-search-input>

			<app-notification></app-notification>

			<ss-button
				class="bot-button"
				size="small"
				type="outline"
			>
				<ss-icon
					name="bot"
					(click)="openChatBot()"
				></ss-icon>
			</ss-button>
			<app-chat-bot></app-chat-bot>

			<ss-dropdown-button
				[avatar]="(userProfile$ | async)?.avatarUrl"
				[isAvatar]="true"
			>
				<app-profile-popup></app-profile-popup>
			</ss-dropdown-button>
		</div>
	</div>
</div>
