@use '../../../../styles/colors' as *;

.header {
	width: 100%;
	top: 0;
	z-index: 1000;
	background-color: $white;
	border-bottom: 1px solid #e4e8ea;

	&__sticky {
		position: sticky;
	}

	&__content {
		display: flex;
		margin: 0 6.25%;
		justify-content: space-between;
		align-items: center;
		height: 52px;
		gap: 15px;
	}

	&__logo {
		color: #4770ff;
		cursor: pointer;
	}

	&__profile {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		gap: 12px;
		cursor: pointer;
		overflow-y: hidden;
		box-sizing: border-box;
	}

	&__content-left {
		display: flex;
		gap: 36px;
		align-items: center;
	}

	&__content-right {
		display: flex;
		gap: 12px;
		align-items: center;

		.bot-button {
			::ng-deep button {
				padding: 9px;
			}
		}
	}
}

.profile {
	border: 1px solid #e4e8ea;
	border-radius: 8px;
	min-width: 142px;
	height: 36px;

	ss-avatar {
		align-self: flex-start;
	}

	&__text {
		word-break: unset;
	}
}

:host-context(.dark) .header {
	background-color: $dark-island;
	color: $dark-text;
}