<ss-card padding="0" radius="0 0 16px 16px">
	<ng-container *ngIf="news$ | async as news">
		<app-client-proposals-tabs-canvas
			[headerTemplateRef]="header"
			[bodyTemplateRef]="body"
			[footerTemplateRef]="footer">
		</app-client-proposals-tabs-canvas>
		<ng-template #header>
			<a *ngIf=" news.linkToModule;else text" class="client-tpr-news-line-tab__link" href="{{ news.linkToModule }}">Лента новостей</a>
			<ng-template #text>
				<ss-text size="1">Лента новостей</ss-text>
			</ng-template>
		</ng-template>
		<ng-template #body>
			<ss-table
				*ngIf="news.total > 0;else empty"
				[padding]="'8px'"
				[head]="[
						{title: 'Код', field: 'code'},
						{title: 'Дата создания', field: 'createDate'},
						{title: 'Заголовок', field: 'title'}
						]"
				[items]="getTableItems(news)"
			>
			</ss-table>
		</ng-template>
		<ng-template #footer>
			<ss-pagination
				[total]="news.total"
				[pageIndex]="pageIndex"
				[pageSize]="pageSize"
				(changeIndex)="nzPageIndexChange($event)"
			>
			</ss-pagination>
		</ng-template>
	</ng-container>

	<ng-template #empty>
		<ss-empty-data-page [width]="'300px'" [height]="'176px'"></ss-empty-data-page>
	</ng-template>
</ss-card>
