@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;

.auction-sales {
    margin-top: 60px;
    min-height: 649px;
    height: auto;

    .header {
        display: flex;
        justify-content: space-between;

        .open-all-table {
            display: flex;
            align-items: center;
        }

        h1 a {
            color: $black;
        }
    }

	.pagination {
		margin-top: 20px;
	}
}

@media screen and (max-width: 760px) {
    .auction-sales {
        margin-top: 80px;

        .header {
            .open-all-table {
                display: none;
            }

            .title h1 {
                text-align: center;
                margin-bottom: 0.3rem !important;
            }

            .subtitle h2 {
                text-align: center;
                line-height: 19px !important;
            }
        }

        ss-table {
            display: none;
        }
    }
}

@media screen and (max-width: 1326px) {
	.auction-sales {
		margin-top: 60px;
	}
}
