<div class="auction-sales">
	<div class="container">
		<div class="header">
			<div>
				<div class="title">
					<h1>
						<a href="https://cisp.ssnab.ru/Sales/PlanMolsTovs/Proficits" target="_blank" rel="noreferrer">АУКЦИОННЫЕ ПРОДАЖИ</a>
					</h1>
				</div>
				<div class="subtitle">
					<h2>Менеджер по продажам может предлагать свою цену при принятии участия в аукционе</h2>
				</div>
			</div>
			<div class="open-all-table">
<!--				<div *ngIf="auctionAll | async as url">-->
<!--					<a href="{{ url.allListLink }}" target="_blank">-->
<!--						<button nz-button class="recovery-password-button" [nzType]="'primary'">Открыть всю таблицу</button>-->
<!--					</a>-->
<!--				</div>-->
			</div>
		</div>
		<div class="content">
				<ss-table
					[head]="[
						{title: 'ТП', field: 'tovName', link: 'detailUrl'},
						{title: 'Доступность', field: 'source'},
						{title: 'Цена прайса', field: ['price', 'currency']},
						{title: 'Количество', field: ['quantity', 'tovUnitName']}
						]"
					[items]="(listAuction | async)?.items">
				</ss-table>
		</div>
		<div class="pagination">
			<nz-pagination
				[nzTotal]="total"
				[nzPageIndex]="pageIndex"
				[nzPageSize]="pageSize"
				(nzPageIndexChange)="nzPageIndexChange($event)"
				(nzPageSizeChange)="pageSize = $event"
				[nzResponsive]="true"
			>
			</nz-pagination>
		</div>
	</div>
</div>
