@use 'src/styles/colors.scss' as *;

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.1);
}

.dialog {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.11);
	gap: 12px;
	min-width: 410px;
	max-width: 820px;
	max-height: 60%;
	position: relative;
	z-index: 999999;
	overflow-y: hidden;

	.header {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.body {
		overflow-y: auto;
	}

	.column {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.close-icon {
		cursor: pointer;
	}
}
