<div
	class="wrapper"
	(click)="close()"
>
	<ss-card
		class="dialog"
		padding="16px 16px 16px 16px"
		(click)="$event.stopPropagation()"
	>
		<div class="header">
			<ss-icon
				width="16"
				class="close-icon"
				name="close"
				(click)="close()"
			></ss-icon>
			@if (title) {
				<ss-headline size="h6">{{ title }}</ss-headline>
			}
		</div>
		@if (cell) {
			<ss-text
				class="body"
				size="2"
			>
				@switch (true) {
					@case (!!cell.url) {
						<a
							href="{{ cell.url }}"
							target="_blank"
						>
							{{ cell.text }}
						</a>
					}
					@case (Array.isArray(cell)) {
						<p class="column">
							@for (item of cell; track item) {
								@if (item?.url) {
									<a
										href="{{ item.url }}"
										target="_blank"
									>
										{{ item.text }}
									</a>
								} @else {
									<span>{{ item.text }}</span>
								}
							}
						</p>
					}
					@case (!!cell.pseudoLink) {
						<span>{{ cell['text'] }}</span>
					}
					@default {
						<span>{{ cell }}</span>
					}
				}
			</ss-text>
		}
	</ss-card>
</div>
