<div class="wrapper" (click)="close()">
	<ss-card class="dialog" padding="16px 42px 16px 16px" (click)="$event.stopPropagation()">
		<ss-text size="2" *ngIf="cell">
			<ng-container [ngSwitch]="true">
				<a *ngSwitchCase="!!cell?.url" href="{{ cell.url }}" target="_blank">
					{{ cell.text }}
				</a>
				<p class="column" *ngSwitchCase="Array.isArray(cell)">
					<ng-container *ngFor="let item of cell">
						<a *ngIf="item?.url; else noLink" href="{{ item.url }}" target="_blank">
							{{ item.text }}
						</a>
						<ng-template #noLink>
							<span>{{ item.text }}</span>
						</ng-template>
					</ng-container>
				</p>
				<span *ngSwitchDefault>{{ cell }}</span>
			</ng-container>
		</ss-text>
		<ss-icon width="16"
				 class="close-icon" name="close" (click)="close()"></ss-icon>
	</ss-card>
</div>
