<div class="wrapper" (click)="close()">
    <ss-card padding="0" (click)="$event.stopPropagation()">
        <div class="header">
            <ss-headline size="h6">{{ data.title }}</ss-headline>

            <ss-icon width="16" name="close" (click)="close()"></ss-icon>
        </div>

        <div class="body">
            <ss-history
                class="content"
                [objectId]="data.objectId"
                [queryType]="queryType.ExcessIncome"
                [view]="viewMode.Table"
				[tableHead]="[
					{title: 'Дата', field: 'createdTime'},
					{title: 'Автор', field: 'userName'},
					{title: 'Действие',  field: 'action'},
					{title: 'Старое значение',  field: 'fromValue'},
					{title: 'Новое значение',  field: 'toValue'},
				]"
            ></ss-history>
        </div>
    </ss-card>
</div>
