@use 'src/styles/colors.scss' as *;

.add-orders-form {
	width: 965px;
	max-height: 836px;
	background: lighten($island-outline, 40%);
	border-radius: var(--radius-xl-3);
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.author-label {
	padding: 16px 0 0 16px;
}

.content {
	display: flex;
	flex-direction: column;
	padding: var(--padding-l);

	&__row {
		display: flex;
		width: 100%;
		gap: var(--gap-xl);
		align-items: center;

		&-item-tov {
			display: inline-block;
			width: 51%;
		}

		&-item-client {
			display: inline-block;
			width: 30%;
		}

		&-item-add-button {
			display: inline-block;
			width: 14%;
		}
	}

	&__table-list {
		display: flex;
		flex-direction: column;
		padding-right: var(--padding-s);
		gap: var(--gap-xl);
		max-height: 476px;
		overflow-y: auto;
		margin-top: 30px;
	}
}

.table-container {
	max-height: 300px;
	overflow-y: auto;
}

.details-table {
	width: 100%;
	border-collapse: collapse;

	th, td {
		padding: var(--padding-xs);
		text-align: left;
		border-bottom: 1px solid $island-outline;
	}

	th {
		background-color: #EEF2FF;
		font-weight: bold;
	}

	td {
		text-align: center;
	}
}

.footer {
	display: flex;
	padding: var(--padding-l);
	justify-content: flex-end;
	align-items: center;
	gap: var(--gap-l);
}

