<div class="wrapper" (mousedown)="close()">
	<ss-card class="add-orders-form" padding="0" (mousedown)="$event.stopPropagation()">
		<div class="header">
			<snab-text [type]="TextType.Headline" [weight]="TextWeight.Semibold">
				Создать заказ
			</snab-text>
			<ss-icon name="close" (click)="close()"></ss-icon>
		</div>
		<div class="author-label">
			<snab-text [type]="TextType.Title" [weight]="TextWeight.Regular">
				Автор: Иванов И.И.
			</snab-text>
		</div>

		<form [formGroup]="addOrdersForm" class="content">
			<div class="content__row">
				<div class="content__row-item-tov">
					<ss-select-v2
						[label]="'Товарная позиция'"
						[placeholder]="'Выберите товарную позицию'"
						formControlName="tov"
						[errorText]="
              addOrdersForm.controls.tov.touched &&
              addOrdersForm.controls.tov.errors?.required ? 'Обязательное поле' : ''
            "
					></ss-select-v2>
				</div>
				<div class="content__row-item-client">
					<ss-select-v2
						[label]="'Клиент'"
						[placeholder]="'Выберите клиента'"
						formControlName="client"
						[errorText]="
              addOrdersForm.controls.client.touched &&
              addOrdersForm.controls.client.errors?.required ? 'Обязательное поле' : ''
            "
					></ss-select-v2>
				</div>
				<div class="content__row-item-add-button">
					<snab-button text="Добавить ТП" [size]="Size.Large" (click)="addPosition()"></snab-button>
				</div>
			</div>
			<div formArrayName="positions" class="content__table-list">
				<div *ngFor="let position of positions.controls; let posIndex = index" [formGroupName]="posIndex">
					<ss-accordion [isExpanded]="true"
								  [title]="tovValue?.name ?? 'Товарная позиция'"
								  [isMpReservationOrders]="true"
								  (addRowPosition)="addDetailRow(posIndex)"
								  (removePosition)="removePosition(posIndex)">
						<ng-template [ngTemplateOutlet]="accordionContent"
									 [ngTemplateOutletContext]="{ position: position, posIndex: posIndex }">
						</ng-template>
					</ss-accordion>
				</div>
			</div>
		</form>

		<div class="footer">
			<snab-button [type]="ButtonType.Secondary" [size]="Size.Large" text="Отмена"
						 (click)="close()"></snab-button>
			<snab-button [size]="Size.Large" text="Создать заказ" (click)="createOrder()"></snab-button>
		</div>
	</ss-card>
</div>

<ng-template #accordionContent let-position="position" let-posIndex="posIndex">
	<ng-container [formGroup]="position">
		<ng-container *ngIf="(position.get('details')).controls.length > 0">
			<div class="table-container">
				<table class="details-table">
					<thead>
					<tr>
						<th>Количество (план)</th>
						<th>Желаемая дата обеспечения</th>
						<th>Действия</th>
					</tr>
					</thead>
					<tbody formArrayName="details">
					<tr *ngFor="let detail of getDetails(position).controls; let detailIndex = index"
						[formGroupName]="detailIndex">
						<td>
							<ss-input type="number" placeholder="Введите количество"
									  formControlName="quantity"></ss-input>
						</td>
						<td>
							<ss-date-time-picker [showTime]="false" formControlName="date"></ss-date-time-picker>
						</td>
						<td>
							<ss-icon name="basket" (click)="removeDetailRow(posIndex, detailIndex)"></ss-icon>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</ng-container>
	</ng-container>
</ng-template>



