<div class="modal-people-likes">
  <span class="title">Нравится:</span>
  <nz-avatar-group class="list-item">
    <nz-avatar class="item" nzIcon="user" nzSrc="assets/images/profile/user-popup.png"></nz-avatar>
    <nz-avatar class="item" style="background-color: #4770ff" nzText="Яна"></nz-avatar>
    <nz-avatar class="item" style="background-color: #4770ff" nz-tooltip nzTooltipTitle="NG-ZORRO User" nzIcon="user"></nz-avatar>
    <nz-avatar class="item" style="background-color: #4770ff" nzText="Гриша"></nz-avatar>
    <nz-avatar class="item" style="background-color: #4770ff" nzText="Гриша"></nz-avatar>
    <nz-avatar class="item" style="background-color: #4770ff" nzText="Гриша"></nz-avatar>
  </nz-avatar-group>
</div>
