<div class="header">
	<ss-headline size="h3">Реестр актов выполненных работ</ss-headline>
	<div class="header__controls">
		<snab-button
			[tooltip]="'Скачать инструкцию'"
			[icon]="IconType.Doc"
			[iconPosition]="IconPosition.OnlyIcon"
			[size]="Size.Large"
			[type]="ButtonType.Outline"
			(click)="downloadInstruction()"
		>
		</snab-button>
	</div>
</div>
<div class="content">
	<ss-lib-table-canvas
		[tableRef]="tableRef"
		[leftFiltersRef]="leftFiltersRef"
		[paginationRef]="paginationRef"
		[rightFiltersRef]="rightFiltersRef"
	>
	</ss-lib-table-canvas>
</div>

<ng-template #tableRef>
	<ng-container *ngIf="items$ | async as items">
		<ng-container *ngIf="items.length > 0; else empty">
			<app-completed-work-acts-table
				[total]="total"
				[totalItems]="(itemTotal$ | async)!"
				[planItems]="items"
			></app-completed-work-acts-table>
		</ng-container>
		<ng-template #empty> </ng-template>
	</ng-container>
</ng-template>

<ng-template #rightFiltersRef>
	<!--    <ng-container *ngIf="hasCustomFilters()">-->
	<!--        <app-dropdown-columns-settings></app-dropdown-columns-settings>-->
	<!--        <app-filters-trigger-button></app-filters-trigger-button>-->
	<!--    </ng-container>-->
</ng-template>

<ng-template #leftFiltersRef>
	<!--	<ng-container *ngIf="weeks$ | async as weeks">-->
	<!--		<ss-lib-button-->
	<!--			[iconPosition]="IconPosition.Start"-->
	<!--			[icon]="IconType.Calendar"-->
	<!--			[popoverTriggerFor]="listActions"-->
	<!--			[type]="ButtonType.Secondary"-->
	<!--			[text]="(activeWeek$ | async)?.name"-->
	<!--		>-->
	<!--			<ss-lib-icon-->
	<!--				[icon]="IconType.ChevronDown"-->
	<!--				[width]="'20'"-->
	<!--				[height]="'20'"-->
	<!--			></ss-lib-icon>-->
	<!--		</ss-lib-button>-->
	<!--		<ss-lib-dropdown-list-->
	<!--			#listActions-->
	<!--			[height]="'274px'"-->
	<!--			[width]="'236px'"-->
	<!--		>-->
	<!--			<ss-lib-dropdown-item-->
	<!--				*ngFor="let week of weeks"-->
	<!--				[label]="week.name"-->
	<!--				[selected]="activeWeek$.value?.id === week.id"-->
	<!--				(click)="selectWeek(week)"-->
	<!--			/>-->
	<!--		</ss-lib-dropdown-list>-->
	<!--	</ng-container>-->
</ng-template>

<ng-template #paginationRef>
	<!--    <ng-container *ngIf="itemTotal$ | async as itemTotal">-->
	<!--        <ss-lib-load-pagination-->
	<!--                *ngIf="itemTotal !== 0"-->
	<!--                [itemCount]="itemTotal"-->
	<!--                [style.width]="'100%'"-->
	<!--                [total]="total"-->
	<!--                [limit]="limit"-->
	<!--                [offsetInput]="(offset$ | async)!"-->
	<!--                (changeOffset)="changeOffset($event)"-->
	<!--        >-->
	<!--        </ss-lib-load-pagination>-->
	<!--    </ng-container>-->
</ng-template>
