@use 'src/styles/colors.scss' as *;

:host {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 0 16px;

	.header {
		width: 100%;
		padding: 16px;
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.filter-toggles {
		display: flex;
		flex-direction: column;
		gap: 8px;
		align-self: flex-end;

		&__item {
			display: flex;
			gap: 8px;
		}
	}
}
