@use 'src/styles/colors.scss' as *;

:host {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 0 16px;

	.header {
		width: 100%;
		padding: 16px;
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.filter-toggles {
		display: flex;
		flex-direction: column;
		gap: 8px;
		align-self: flex-end;

		&__item {
			display: flex;
			gap: 8px;
		}
	}

	.date-range {
		display: flex;
		flex-direction: column;
		gap: 6px;

		&__inputs {
			display: flex;
			gap: 8px;
			align-items: center;

			ss-lib-form-field {
				width: 110px;
			}
		}
	}
	::ng-deep .ss-lib-table-canvas__pagination {
		justify-content: flex-end;
	}

	app-completed-work-acts-table {
		max-height: calc(100vh - 346px);
	}

	::ng-deep .ss-lib-table-canvas__selected~.ss-lib-table-canvas__table {
		app-completed-work-acts-table {
			max-height: calc(100vh - 415px);
		}
	}
}
