<div class="header">
	<ss-lib-text
		[type]="TextType.HeadingXs"
		[weight]="TextWeight.Medium"
	>
		Реестр актов выполненных работ
	</ss-lib-text>
	<ss-lib-button
		ss-lib-tooltip
		[tooltipText]="'Скачать инструкцию'"
		[iconPosition]="IconPosition.OnlyIcon"
		[type]="ButtonType.Secondary"
		[size]="ExtraSize.xxs"
		[icon]="IconType.FilePreviewSearch"
		(click)="downloadInstruction()"
	></ss-lib-button>
	<ss-lib-button
		*ngIf="
			permissions().includes(Permissions.COMPLETED_WORK_ACTS_PRINT_REPORT)
		"
		ss-lib-tooltip
		[tooltipText]="'Выгрузить отчет в формате Excel'"
		[iconPosition]="IconPosition.OnlyIcon"
		[type]="ButtonType.Secondary"
		[size]="ExtraSize.xxs"
		[icon]="IconType.FileUpload02"
		(click)="downloadReport()"
	></ss-lib-button>
</div>
<div class="content">
	<app-filters-table-canvas
		[tableRef]="tableRef"
		[leftFiltersRef]="leftFiltersRef"
		[rightFiltersRef]="rightFiltersRef"
		[paginationRef]="paginationRef ?? null"
	>
	</app-filters-table-canvas>
</div>

<ng-template #tableRef>
	<ng-container *ngIf="items$ | async as items">
		<ng-container *ngIf="items.length > 0; else empty">
			<app-completed-work-acts-table
				[total]="total"
				[totalItems]="(itemTotal$ | async)!"
				[actsItems]="items"
			></app-completed-work-acts-table>
		</ng-container>
		<ng-template #empty>
			<ng-container *ngIf="!hasCustomFilters()">
				<div class="completed-work-acts__empty">
					<ss-lib-empty-state
						[badge]="{ icon: IconType.ImagePlus }"
						[title]="'Актов выполненных работ ещё нет'"
						[description]="
							'Здесь будут отображаться акты выполненных работ'
						"
					>
					</ss-lib-empty-state>
				</div>
			</ng-container>
			<ng-container *ngIf="hasCustomFilters()">
				<div class="completed-work-acts__empty">
					<ss-lib-empty-state
						[badge]="{ icon: IconType.Search }"
						[title]="'По вашему запросу ничего не найдено.'"
						[description]="
							'Попробуйте изменить критерии запроса или настройки фильтров.'
						"
					>
					</ss-lib-empty-state>
				</div>
			</ng-container>
		</ng-template>
	</ng-container>
</ng-template>

<ng-template #rightFiltersRef>
	<app-dropdown-columns-settings></app-dropdown-columns-settings>
	<app-filters-trigger-button></app-filters-trigger-button>
</ng-template>

<ng-template #leftFiltersRef>
	<div class="date-range">
		<ss-lib-text
			[type]="TextType.BodySm"
			[weight]="TextWeight.Semibold"
			[color]="Colors.TextBody2"
			>Период по Дате услуги
		</ss-lib-text>
		<div class="date-range__inputs">
			<ss-lib-form-field>
				<ss-lib-datepicker
					fieldCtrl
					[formControl]="dateFromControl"
				></ss-lib-datepicker>
			</ss-lib-form-field>
			-
			<ss-lib-form-field>
				<ss-lib-datepicker
					fieldCtrl
					[formControl]="dateToControl"
				></ss-lib-datepicker>
			</ss-lib-form-field>
		</div>
	</div>
	<div class="date-range">
		<ss-lib-text
			[type]="TextType.BodySm"
			[weight]="TextWeight.Semibold"
			[color]="Colors.TextBody2"
			>Период по Дате КИСП
		</ss-lib-text>
		<div class="date-range__inputs">
			<ss-lib-form-field>
				<ss-lib-datepicker
					fieldCtrl
					[formControl]="uploadDateFromControl"
				></ss-lib-datepicker>
			</ss-lib-form-field>
			-
			<ss-lib-form-field>
				<ss-lib-datepicker
					fieldCtrl
					[formControl]="uploadDateToControl"
				></ss-lib-datepicker>
			</ss-lib-form-field>
		</div>
	</div>
	<div class="date-range">
		<ss-lib-text
			[type]="TextType.BodySm"
			[weight]="TextWeight.Semibold"
			[color]="Colors.TextBody2"
			>Сумма (Итого)
		</ss-lib-text>
		<ss-lib-form-field>
			<ss-lib-input
				fieldCtrl
				[formControl]="totalAmountControl"
				[type]="InputType.Number"
				[min]="0"
			>
			</ss-lib-input>
		</ss-lib-form-field>
	</div>
	<div class="filter-toggles">
		<div class="filter-toggles__item">
			<ss-lib-toggle [formControl]="additionalControl"></ss-lib-toggle>
			<ss-lib-text
				[type]="TextType.BodySm"
				[weight]="TextWeight.Semibold"
				[color]="Colors.TextBody2"
				>Требуется моя виза
			</ss-lib-text>
		</div>
		<div class="filter-toggles__item">
			<ss-lib-toggle [formControl]="archiveControl"></ss-lib-toggle>
			<ss-lib-text
				[type]="TextType.BodySm"
				[weight]="TextWeight.Semibold"
				[color]="Colors.TextBody2"
				>Показать архивные акты
			</ss-lib-text>
		</div>
	</div>
</ng-template>

<ng-template #paginationRef>
	<ng-container *ngIf="itemTotal$ | async as itemTotal">
		<ss-pagination
			[pageSize]="limit"
			[pageIndex]="pageIndex"
			[total]="total"
			(changeIndex)="onPage($event)"
		></ss-pagination>
	</ng-container>
</ng-template>
