<div class="thank-colleague">
  <div class="header">
    <div>
      <div class="title">
        <h1>спасибо коллеге</h1>
      </div>
    </div>
    <div class="open-all-table">
      <div class="button">
        <button nz-button class="button" [nzType]="'primary'">
          <span class="like-icon" nz-icon [nzType]="'ss:like'"></span>
          Поблагодарить коллегу
        </button>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="card-list">
      <div class="card">
        <div>
          <div class="personals">

            <div class="images">
              <div class="img img-from">
                <img src="assets/images/profile/user-popup.png" alt="user" />
              </div>
              <div class="img img-to">
                <img src="assets/images/profile/user-popup.png" alt="user" />
              </div>
            </div>

            <div class="from-to">
              <div class="from">
                <div class="personal">
                  <div class="title">
                    <span class="sub-title">От кого:</span>
                    <div class="fio">
                      <span>Гришин Пантелей Серапионович</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="to">
                <div class="personal">
                  <div class="title">
                    <span class="sub-title">Кому:</span>
                    <div class="fio">
                      <span>Гришин Пантелей Серапионович</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="icons">
            <span class="medal-icon" nz-icon [nzType]="'ss:medalGold'"></span>
          </div>
          <div class="message">
            Съешь ещё этих мягких французских булок, да выпей же чаю. Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования ...
          </div>
          <div class="info">
            <div class="left-group">
              <div class="like">
                <span class="icon"></span>
                <span class="count">12</span>
              </div>
              <div class="comment">
                <span class="icon"></span>
                <span class="count">5</span>
              </div>
            </div>
            <div class="date">
              <span>Сегодня в 11:35</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-panel">

    </div>
  </div>
</div>
