<ss-caption size="1">{{ label }}</ss-caption>
<div class="ss-password">
	<input [type]="type"
				 [placeholder]="placeholder"
				 [value]="value"
				 [disabled]="disabled"
				 (input)="onChange($any($event.target).value)"
				 (blur)="onTouched()"
				 class="{{ error ? size + ' error' : size }}"
	/>
	<ss-icon *ngIf="type === 'password'; else eye" name="eyeSlash" (click)="onChangeVisibility()"></ss-icon>
	<ng-template #eye>
		<ss-icon name="eye" (click)="onChangeVisibility()"></ss-icon>
	</ng-template>
</div>
<ss-caption class="error">{{ error }}</ss-caption>
