@use 'src/styles/colors.scss' as *;

:host {
	width: 100%;
}

.input {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: 8px;
	border: 1px solid $island-outline;
	background-color: $island;
	outline: none;
	font-family: 'Inter', serif;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: -0.01em;
	cursor: pointer;

	::ng-deep .placeholder p {
		color: $lite-text !important;
	}

	.selected {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 8px 44px 8px 20px;
		width: 100%;
		min-height: 40px;
		gap: 8px;

		.chips {
			display: flex;
			align-items: center;
			gap: 4px;
			background-color: #EEF2FF;
			border-radius: 8px;
			padding: 4px 8px;

			ss-icon {
				padding: 0 8px 0 4px;
				cursor: pointer;
			}
		}
	}

	.options {
		width: calc(100% + 2px);
		position: absolute;
		padding-top: 8px;
		top: calc(100% - 8px);
		left: -1px;
		z-index: 9999;
		background-color: $island;
		border: 1px solid $island-outline;
		border-top: none;
		border-radius: 0 0 8px 8px;
		overflow: hidden;

		.option {
			display: flex;
			align-items: center;
			gap: 16px;
			padding: 12px 16px;
			border-top: 1px solid $island-outline;
			width: 100%;

			.checkbox {
				width: 16px;
				height: 16px;
				border: 1px solid $island-outline;
				border-radius: 4px;
			}
		}
	}
}

::ng-deep ss-text.placeholder p {
	color: $lite-text;
}

input.option {
	outline: none;
	border: none;
}

input:focus.option {
	outline: none;
	border: none;
}

.input.medium {
	min-height: 41px;
	font-weight: 400;
}

.input.large {
	min-height: 52px;
	font-weight: 600;
}

ss-caption {
	color: $lite-text;
}

.overflow {
	top: 0;
	left: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 999;
}

:host-context(.dark) {
	.input {
		background-color: $dark-island;

		.selected {
			::ng-deep ss-text p {
				color: $lite-text;
			}
		}

		.options {
			background-color: $dark-island;

			::ng-deep svg rect {
				fill: $dark-inner;
			}

			.option {
				background-color: $dark-island;
			}

			.option::placeholder {
				color: $dark-text;
			}
		}

		::ng-deep .selected .chips {
			background-color: $dark-inner;

			p {
				color: $dark-text!important;
			}
		}
	}
}
