@use 'src/styles/colors.scss' as *;

:host {
	width: 100%;
}

.multiselect-autocomplete-v2 {
	display: flex;
	flex-direction: column;
	position: relative;
	user-select: none;
	z-index: 999;
	gap: 6px;

	&__input {
		height: 46px;
		padding: 8px 12px;
		border-radius: 8px;
		border: 1px solid $island-outline;
		display: flex;
		align-items: center;
		justify-content: right;
		position: relative;
		gap: 10px;

		&--isExpanded {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: none;
		}
	}

	&__select-input {
		height: 36px;
		padding: 8px 12px;
		margin: 6px 12px 12px 12px;
		border-radius: 8px;
		border: 1px solid $island-outline;
		display: flex;
		align-items: center;
		justify-content: right;
		position: relative;
		gap: 10px;
	}

	&__select {
		position: absolute;
		max-height: 300px;
		overflow: auto;
		display: flex;
		flex-direction: column;
		background-color: #ffffff;
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
		border: 1px solid $island-outline;
		width: 100%;
		top: 40px;
		padding: 12px 0;
		z-index: 999;
	}

	input {
		border: none;
		width: 100%;

		&:disabled {
			background-color: #ffffff;
		}

		&:focus-visible {
			outline-color: #ffffff;
		}
	}

	&__options {
		display: flex;
		flex-direction: column;
	}

	&__chips {
		display: flex;
		flex-wrap: nowrap;
		justify-items: left;
		gap: 4px;
		width: 100%;
	}

	&__option {
		display: flex;
		flex-wrap: nowrap;
		gap: 10px;
	}

	&__selected {
		display: flex;
		flex-wrap: nowrap;
		background-color: #ffffff;
		border: 1px solid grey;
		border-radius: 16px;
		padding: 12px;
	}

	&__count-chips {
		padding: 4px;
		display: flex;
		align-items: center;
		background-color: #335df2;
		color: #ffffff;
		border-radius: 8px;
		width: 20px;
		height: 20px;
		justify-content: center;
	}
}

.multiselect-option {
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
	padding: 0 12px;

	input {
		width: auto;
	}
}
