<div class="multiselect-autocomplete-v2">
	@if	(label) {
		<ss-caption size="1">{{ label }}</ss-caption>
	}
	<div class="multiselect-autocomplete-v2__input" [class.multiselect-v2__input--isExpanded]="isExpanded">
		@if (!(selectedOptions$ | async)?.length) {
			<input type="text"
				   [placeholder]="placeholder"
				   [attr.disabled]="readOnly$ | async"
				   [formControl]="queryControl" />
		}
		@if ((selectedOptions$ | async)?.length) {
			<div class="multiselect-autocomplete-v2__chips">
				<ss-multiselect-chips-v2 [readOnly]="(readOnly$ | async)!" [ellipsis]="(chipsEllipsis$ | async)!" [chips]="(selectedOptions$ | async)!"
										 (delChipEmit)="delSelectedOption($event)"></ss-multiselect-chips-v2>
			</div>
		}
		@if ((this.selectedOptions$ | async)?.length) {
			<div class="multiselect-autocomplete-v2__count-chips">
				{{ (this.selectedOptions$ | async)?.length }}
			</div>
		}
		@if ((this.selectedOptions$ | async)?.length && !(this.readOnly$ | async)) {
			<ss-icon [name]="'basket'" (click)="clear()"></ss-icon>
		}
		@if ((this.viewOptions$ | async)?.length || (this.selectedOptions$ | async)?.length) {
			<ss-icon height="12" name="chevron" [@rotate]="isExpanded"
					 (click)="toggle()">
			</ss-icon>
		}
	</div>
	@if (getViewSelect) {
		<div class="multiselect-autocomplete-v2__select">
			@if (selectedOptions$ | async; as options) {
				@if (options.length && !(this.readOnly$ | async)) {
					<div class="multiselect-autocomplete-v2__select-input">
						<input type="text"
							   [placeholder]="placeholder"
							   [formControl]="queryControl" />
					</div>
				}
				@for (selectedOpt of options; track selectedOpt.id) {
					<ss-multiselect-option-v2
						[disabled]="(readOnly$ | async)!"
						[option]="selectedOpt"
						(click)="delSelectedOption(selectedOpt); $event.stopPropagation()">
					</ss-multiselect-option-v2>
				}
				@if (options.length && !(readOnly$ | async)!) {
					<ss-divider></ss-divider>
				}
			}
			@if (!(readOnly$ | async)!) {
				@for (opt of viewOptions$ | async; track opt.id) {
					<ss-multiselect-option-v2
						[disabled]="(readOnly$ | async)!"
						[option]="opt" (click)="addStateOptions(opt); $event.stopPropagation()">
					</ss-multiselect-option-v2>
				}
			}
		</div>
	}
</div>
