<ng-container *ngFor="let cols of columnsStateService.colsTr$ | async">
	<ng-container *ngFor="let col of cols.cols">
		<ng-container [ngSwitch]="col.id">
			<td class="ss-table-td" *ngIf="col.display">
				<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.client">
					<div class="ss-table-td__content">
						<ss-text> {{ client().client.name }}</ss-text>
					</div>
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.contractors">
					<div class="ss-table-td__content">
						&nbsp;
					</div>
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.comments">
					<div class="ss-table-td__content">
						&nbsp;
					</div>
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.otsr">
					<div class="ss-table-td__content">
						&nbsp;
					</div>
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.nameGroups">
					<div class="ss-table-td__content">
						&nbsp;
					</div>
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.nameTov">
					<div class="ss-table-td__content">
						&nbsp;
					</div>
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.priceCurrent">
					&nbsp;
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.sndCurrent">
					<ss-button (click)="openUpdateClientPriceModal(1)">
						<ss-icon [name]="'settings'"></ss-icon>
					</ss-button>
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.priceFixCurrent">
					&nbsp;
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.priceCalculateCurrent">
					&nbsp;
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.priceNext">
					&nbsp;
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.sndNext">
					<ss-button (click)="openUpdateClientPriceModal(2)">
						<ss-icon [name]="'settings'"></ss-icon>
					</ss-button>
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.priceFixNext">
					&nbsp;
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.priceCalculateNext">
					&nbsp;
				</ng-container>
			</td>
		</ng-container>
	</ng-container>
</ng-container>
