<div class="client-proposals-send-cloud-popover">
	<div class="client-proposals-send-cloud-popover__header">
		<ss-headline size="h4">Ссылка на документы</ss-headline>
		<ss-icon class="client-proposals-send-cloud-popover__close" width="16" name="iconClose" (click)="close()"></ss-icon>
	</div>
	<div class="client-proposals-send-cloud-popover__body">
		<div class="client-proposals-send-cloud-popover__input">
			<ss-search-input></ss-search-input>
			<ss-button>Копировать</ss-button>
		</div>
		<ss-headline size="h6">*Ссылка со списком документов так же отправлена вам на почту</ss-headline>
	</div>
</div>
