@use 'src/assets/scss/_mixins.scss' as *;

body {
    // Разобраться с приоритетами
    font-family: $font-family-inter;
    background-color: $gray;
    color: $body-color;

    a {
        color: $link-color;
    }

    a {
        color: $link-color;

        &:active,
        &:hover {
            color: $link-hover-color;
        }

        &:focus {
            text-decoration: none;
        }

        &.text-gray,
        &.text-muted {
            &:hover {
                color: $gray-dark !important;
            }
        }

        &.text-dark {
            &:hover {
                color: $link-hover-color !important;
            }
        }

        &.file {
            &:hover {
                background-color: #f9fbfd;
            }
        }
    }

    hr {
        border: 0;
        border-top: 1px solid $border-color;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .ant-menu-horizontal {
        border-bottom: unset;
    }
}
