<ss-caption size="1">{{ label }}</ss-caption>
<div class="ss-password">
	<input [type]="type"
				 [placeholder]="placeholder"
				 [value]="value"
				 [disabled]="disabled"
				 (input)="onChange($any($event.target).value)"
				 (blur)="onTouched()"
				 class="{{ error ? size + ' error' : size }}"
	/>
	@if (type === 'password') {
		<ss-icon name="eyeSlash" (click)="onChangeVisibility()"></ss-icon>
	} @else {
		<ss-icon name="eye" (click)="onChangeVisibility()"></ss-icon>
	}
</div>
<ss-caption size="2" class="error">{{ error }}</ss-caption>
