<ss-lib-indicator-checklist-popup
	[count]="getSelectedElemCount"
	[total]="totalItems()"
	(closed)="popupCloseEmit()"
>
	<ss-lib-button
		[size]="ExtraSize.xs"
		[type]="ButtonType.Ghost"
		[popoverTriggerFor]="orderAnOutfitList"
		[text]="'Заказ наряд'"
	>
		<ss-lib-icon [width]="'20'" [height]="'20'" [icon]="IconType.ChevronDown"></ss-lib-icon>
	</ss-lib-button>
	<ss-lib-button
		*ngIf="operationPlanState.getHasPermissionCalcRowMaterials"
		[icon]="IconType.FilePreviewSearch"
		[size]="ExtraSize.xs"
		[type]="ButtonType.Ghost"
		[popoverTriggerFor]="calcProd"
		[text]="'Рассчитать сырье'"
	>
		<ss-lib-icon [width]="'20'" [height]="'20'" [icon]="IconType.ChevronDown"></ss-lib-icon>
	</ss-lib-button>
	<ss-lib-button
		*ngIf="operationPlanState.getHasPermissionEdit"
		[icon]="IconType.Trash"
		[size]="ExtraSize.xs"
		[type]="ButtonType.Ghost"
		[text]="'Удалить'"
		(click)="deleteItemsTov()"
	></ss-lib-button>
</ss-lib-indicator-checklist-popup>

<ss-lib-dropdown-list #calcProd [width]="'155px'">
	<ss-lib-dropdown-item
		*ngFor="let day of days()"
		(click)="openCalculationOfRawMaterialsForCheckList(day.day)"
	>
		{{ day.day | date: 'dd.MM' }}
	</ss-lib-dropdown-item>
</ss-lib-dropdown-list>

<ss-lib-dropdown-list #orderAnOutfitList [width]="'155px'">
	<ss-lib-dropdown-item *ngFor="let day of days()" (click)="orderAnOutfitForCheckList(day)">
		{{ day.day | date: 'dd.MM' }}
	</ss-lib-dropdown-item>
</ss-lib-dropdown-list>

<table
	ssTable
	class="operation-plan-table"
	[hasBorderRadius]="false"
	[showCellBorders]="true"
	[columns]="visibleColumnsIds()"
>
	<thead>
		<tr ssThGroup>
			@for (column of visibleColumns(); track column) {
				@if (!isSubColumn(column.id)) {
					<th
						*ssHead="column.id"
						ssTh
						[attr.rowspan]="!column.subColumns && !column.subGroups ? 2 : null"
						[attr.colspan]="column.subColumns ? column.subColumns.length : null"
						[resizable]="true"
					>
						@if (column.id === 'tov') {
							<div class="td-column">
								<ss-lib-checkbox
									[formControl]="masterCheckboxCtrl"
									[indeterminate]="getMasterCheckboxIndeterminate()"
								/>
								<ss-lib-text
									[color]="Colors.TextBody2"
									[weight]="TextWeight.Semibold"
									[type]="TextType.BodyXs"
									[align]="Align.Center"
									[isEllipsis]="true"
								>
									{{ formatColumnName(column.name) }}
								</ss-lib-text>
							</div>
						} @else if (column.id.startsWith('week-')) {
							<div class="td-column item-day">
								<div class="item-day-text">
									<ss-lib-text
										[color]="Colors.TextBody2"
										[weight]="TextWeight.Semibold"
										[type]="TextType.BodyXs"
										[align]="Align.Center"
										[isEllipsis]="true"
									>
										{{ formatColumnName(column.name) }}
									</ss-lib-text>

									@if (isWmsUpload(column.name)) {
										<ss-lib-hint
											ss-lib-tooltip
											[type]="HintType.Success"
											[icon]="IconType.CheckCircle"
											[position]="TooltipPosition.Top"
											[tooltipText]="'План выгружен в WMS'"
										></ss-lib-hint>
									}
								</div>
								<div class="item-day-utility">
									<ss-lib-utility-button
										[popoverTriggerFor]="listFunc"
										[icon]="IconType.KebabMenuDots"
									></ss-lib-utility-button>
									<ss-lib-dropdown-list #listFunc>
										<ss-lib-dropdown-item
											[icon]="IconType.FilePreviewSearch"
											[label]="'Заказ наряд'"
											(click)="orderAnOutfit(column.id)"
										></ss-lib-dropdown-item>
										<ss-lib-dropdown-item
											[icon]="IconType.FileUpload02"
											[label]="'Выгрузить в WMS'"
											(click)="uploadWMS(column.id)"
										></ss-lib-dropdown-item>
										<ss-lib-dropdown-item
											*ngIf="
												operationPlanState.getHasPermissionApproveMaterials
											"
											[icon]="IconType.FileCheck"
											[label]="'Согласовать сырье'"
											(click)="openApproveMaterials(column.id)"
										></ss-lib-dropdown-item>
										<ss-lib-dropdown-item
											*ngIf="
												operationPlanState.getHasPermissionCalcRowMaterials
											"
											[icon]="IconType.FileSearch02"
											[label]="'Рассчитать сырье'"
											(click)="
												openCalculationOfRawMaterialsForColumn(column.id)
											"
										></ss-lib-dropdown-item>
									</ss-lib-dropdown-list>
								</div>
							</div>
						} @else {
							<div class="td-column">
								<ss-lib-text
									[color]="Colors.TextBody2"
									[weight]="TextWeight.Semibold"
									[type]="TextType.BodyXs"
									[align]="Align.Center"
									[isEllipsis]="true"
								>
									{{ formatColumnName(column.name) }}
								</ss-lib-text>
							</div>
						}
					</th>
				}
			}
		</tr>
		<tr ssThGroup>
			@for (column of visibleColumns(); track column) {
				@if (column.subColumns) {
					@for (subColumnId of column.subColumns; track subColumnId) {
						<th *ssHead="subColumnId" ssTh>
							<div
								class="td-subcolumn"
								[style.justify-content]="
									subColumnId.startsWith('planQuantity')
										? 'flex-start'
										: 'flex-end'
								"
							>
								<ss-lib-text
									[color]="Colors.TextBody2"
									[weight]="TextWeight.Semibold"
									[type]="TextType.BodyXs"
									[align]="Align.Center"
									[isEllipsis]="true"
								>
									{{ getSubColumnName(subColumnId) }}
								</ss-lib-text>
								@if (subColumnId.startsWith('planQuantity')) {
									<ss-lib-hint
										ss-lib-tooltip
										[icon]="IconType.Info"
										[position]="TooltipPosition.Top"
										[tooltipText]="planTooltipText"
										(mouseenter)="onPlanInfoEnter(subColumnId)"
									></ss-lib-hint>
								}
							</div>
						</th>
					}
				}
			}
		</tr>
	</thead>
	<tbody app-operation-plan-table-tbody></tbody>
</table>
