<div class="wrapper">
	<div
		*ngIf="thank"
		class="victory-modal"
	>
		<div class="victory-modal__header">
			<ss-text size="1"> Победа № {{ thank.id }}</ss-text>
			<ss-icon
				style="cursor: pointer"
				name="close"
				(click)="close()"
			></ss-icon>
		</div>
		<ss-divider></ss-divider>
		<div class="victory-modal__body">
			<div class="victory-modal__body__user">
				<ss-avatar
					size="medium"
					type="square"
					[src]="thank.fromUser.avatarUrl || ''"
					(click)="openModalInfoUser(thank.fromUser.id)"
				></ss-avatar>
				<div class="victory-modal__body__user__info">
					<ss-text size="3">{{ thank.fromUser.name }}</ss-text>
					<ss-text size="4">{{ thank.fromUser.position }}</ss-text>
					<ss-text size="4">{{ thank.fromUser.department }}</ss-text>
				</div>
			</div>
			<div class="victory-modal__body__user">
				<ss-avatar
					size="medium"
					type="square"
					[src]="thank.toUser.avatarUrl || ''"
					(click)="openModalInfoUser(thank.toUser.id)"
				></ss-avatar>
				<div class="victory-modal__body__user__info">
					<ss-text size="3">{{ thank.toUser.name }}</ss-text>
					<ss-text size="4">{{ thank.toUser.position }}</ss-text>
					<ss-text size="4">{{ thank.toUser.department }}</ss-text>
				</div>
			</div>
			<div class="victory-modal__actions">
				<app-like
					*ngIf="!isExtendedMode"
					[likedUsers]="thank.likedUsers || []"
					[type]="
						thank.isUserLiked && !thank.award
							? LikeStateEnum.default
							: thank.award || LikeStateEnum.usual
					"
					[count]="thank.likesCount || 0"
					(click)="changeLike(thank)"
				>
				</app-like>
				<div class="thanks-colleague-card__footer__controls__like">
					<app-choice-like
						*ngIf="isChoiceLike"
						(close)="isChoiceLike = false"
						(stateLike)="changeLike(thank, $event)"
					>
					</app-choice-like>
					<app-like
						*ngIf="isExtendedMode"
						[likedUsers]="thank.likedUsers || []"
						[type]="
							thank.isUserLiked && !thank.award
								? LikeStateEnum.usual
								: thank.award || LikeStateEnum.usual
						"
						[count]="thank.likesCount || 0"
						(click)="
							thank.isUserLiked
								? changeLike(thank, thank.award)
								: (isChoiceLike = true)
						"
					>
					</app-like>
				</div>
			</div>
			<ss-icon
				class="victory-modal__body__arrow"
				name="arrow"
			></ss-icon>
		</div>
		<ss-divider></ss-divider>
		<ng-container *ngIf="comments$ | async as comments">
			<div class="victory-modal__comments">
				<ss-text
					class="victory-modal__description-comment"
					size="1"
					>Комментарии:</ss-text
				>
				<ng-container *ngIf="comments.total > 0">
					<app-victory-comment
						*ngFor="let comment of comments.items"
						[comment]="comment"
						(updateComment)="updateComment($event)"
					></app-victory-comment>
					<ss-divider></ss-divider>
				</ng-container>
				<ng-container *ngIf="comments.total === 0">
					<div class="victory-modal__no-comments">
						<ss-empty-placeholder>
							<ss-icon name="empty"></ss-icon>
							<ss-headline size="h3"
								>Ни одного комментария</ss-headline
							>
							<ss-text
								color="gray"
								size="3"
								>Будьте среди первых, кто оставит
								комментарий</ss-text
							>
						</ss-empty-placeholder>
					</div>
				</ng-container>
			</div>
		</ng-container>
		<ss-divider></ss-divider>
		<div class="victory-modal__footer">
			<ss-form-control-input-with-func-edit
				placeholder="Оставить комментарий"
				[funcEdit]="(funcEdit$ | async)!"
				[control]="notes"
				(cancelEditing)="cancelEditing()"
			></ss-form-control-input-with-func-edit>
			<ss-button
				size="small"
				(click)="addOrUpdateComment(thank.id!)"
			>
				<ss-icon name="telegram"></ss-icon>
			</ss-button>
		</div>
	</div>
</div>
