<ng-container *ngIf="backUrl; else devUrl">
	<a class="old-link" href="https://cisp.ssnab.ru/index/ErpActivation?command=Update&STATE=Comment" target="_blank">Вернуться к
		старому интерфейсу</a>
</ng-container>
<ng-template #devUrl>
	<a class="old-link" href="https://ssnab.it/index/ErpActivation?command=Update&STATE=Comment" target="_blank">Вернуться к
		старому интерфейсу</a>
</ng-template>
<div class="main-page">
    <app-banner class="slider"></app-banner>
    <app-auction-sales class="auction-sales"></app-auction-sales>
    <app-victory class="victory"></app-victory>
    <app-thanks-colleague class="thanks-colleague"></app-thanks-colleague>
    <app-thanks-partner class="thanks-partner"></app-thanks-partner>
    <app-exchange-rates class="exchange-rates"></app-exchange-rates>
    <app-address-book class="address-book"></app-address-book>
    <app-birthday class="birthday"></app-birthday>
    <app-rating class="rating"></app-rating>
    <app-transport class="transport"></app-transport>
</div>

