<div class="main-page">
	<app-slider class="slider"></app-slider>
	<app-auction-sales class="auction-sales"></app-auction-sales>
	<app-victory class="victory"></app-victory>
	<app-thanks-partner class="thanks-partner"></app-thanks-partner>
	<app-address-book class="address-book"></app-address-book>
	<app-thanks-colleague class="thanks-colleague"></app-thanks-colleague>
	<app-birthday class="birthday"></app-birthday>
	<app-rating class="rating"></app-rating>
	<app-exchange-rates class="exchange-rates"></app-exchange-rates>
	<app-transport class="transport"></app-transport>
</div>

