<div class="wrapper" (click)="close()">
	<div class="user-info-popup" *ngIf="$user | async as user">
		<ss-headline class="user-info-popup__header" [size]="'h6'">Информация о пользователе</ss-headline>
		<ss-divider></ss-divider>
		<app-user-card [size]="'large'" class="user-info-popup__user-card" [viewPopupInfo]="false" [user]="user"></app-user-card>
		<div class="user-info-popup__contacts">
			<div class="user-info-popup__item" *ngIf="user.phone">
				<div class="user-info-popup__item-description">
					<ss-icon name="phone" height="16" width="16"></ss-icon>
					<ss-text size="3" class="title">Tелефон:</ss-text>
				</div>
				<div>
					<ss-text size="3" class="description" color="gray">{{ user.phone }}</ss-text>
				</div>
			</div>
			<div class="user-info-popup__item" *ngIf="user.skype">
				<div class="user-info-popup__item-description">
					<ss-icon name="skype" height="16" width="16"></ss-icon>
					<ss-text size="3" class="title">Tелефон:</ss-text>
				</div>
				<div>
					<ss-text size="3" class="description" color="gray">{{ user.skype}}</ss-text>
				</div>
			</div>
			<div class="user-info-popup__item" *ngIf="user.phoneLocal">
				<div class="user-info-popup__item-description">
					<ss-icon name="phone" height="16" width="16"></ss-icon>
					<ss-text size="3" class="title">Внутренний телефон:</ss-text>
				</div>
				<div>
					<ss-text size="3" class="description" color="gray">{{ user.phoneLocal }}</ss-text>
				</div>
			</div>
			<div class="user-info-popup__item" *ngIf="user.email">
				<div class="user-info-popup__item-description">
					<ss-icon name="mail" height="16" width="16"></ss-icon>
					<ss-text size="3" class="title">Email:</ss-text>
				</div>
				<div>
					<ss-text size="3" class="description" color="gray">{{ user.email }}</ss-text>
				</div>
			</div>
		</div>
		<ss-divider></ss-divider>
		<div class="user-info-popup__info-supervisors">
			<div class="user-info-popup__item">
				<ss-text size="3" class="title">Руководитель направления:</ss-text>
				<ss-text size="3" class="description" color="gray">{{ user.chiefName }}</ss-text>
			</div>
			<div class="user-info-popup__item">
				<ss-text size="3" class="title">Руководитель подразделения:</ss-text>
				<ss-text size="3" class="description" color="gray">{{ user.headName }}</ss-text>
			</div>
		</div>
	</div>
</div>
