<ss-card padding="0">
	<div class="header">
		<ss-headline size="h6" weight="semi-bold">История изменений</ss-headline>
	</div>
	<div class="content">
		<div class="history-item" *ngFor="let item of historyItems">
			<div class="history-item-line" *ngFor="let line of item.changes">
				<ss-text class="history-item-line-title" size="3" weight="semi-bold">{{ line.propertyName }}</ss-text>
				<ss-text size="3" weight="regular">{{ line.toValue }}</ss-text>
			</div>
		</div>
	</div>
	<div class="pagination">
		<nz-pagination
			[nzTotal]="total"
			[nzPageIndex]="pageIndex"
			[nzPageSize]="pageSize"
			(nzPageIndexChange)="nzPageIndexChange($event)"
			(nzPageSizeChange)="pageSize = $event"
			[nzResponsive]="true"
		>
		</nz-pagination>
	</div>
</ss-card>


