@use '../../../styles/colors' as *;

:host ss-card {
	width: 511px;
	height: 100%;
	display: flex;
	flex-direction: column;

	.header {
		width: 100%;
		height: 52px;
		padding: 16px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $island-outline;
	}

	.content {
		overflow-y: auto;
		height: 100%;
		margin: 20px 10px;
		padding: 0 10px;
		display: flex;
		flex-direction: column;
		gap: 12px;

		.history-item {
			width: 100%;
			background-color: #F2F3F7;
			border-radius: 8px;
			padding: 12px;
			display: flex;
			flex-direction: column;
			gap: 6px;

			&-line {
				display: flex;

				&-title {
					width: 120px;
					flex-shrink: 0;
				}
			}
		}
	}
}

:host-context(.dark) {
	.history-item {
		background-color: $dark-island!important;
		border: 1px solid $dark-island-outline;
	}

	.content {
		background-color: $dark-island!important;
	}
}

