@front-components:registry=https://git.ssnab.it/api/v4/projects/31/packages/npm/
//git.ssnab.it/api/v4/projects/31/packages/npm/:_authToken=WgKY4VUxiyfGtGKoUGsN

@front-library:registry=https://git.ssnab.it/api/v4/projects/41/packages/npm/
//git.ssnab.it/api/v4/projects/41/packages/npm/:_authToken=glpat-VmAGVAszVsymaxfbdMaL
