<div class="title">
	<h1>Список дружественных профилей</h1>
</div>

<div class="content">
    <div class="top-panel">
        <ss-search
            [placeholder]="'Выберите сотрудника'"
            [closeIcon]="true"
            [searchIcon]="true"
            (input)="filterItems($event)"
        ></ss-search>
        <ss-button size="medium" type="primary"
            (click)="addFrendlytProfile()"
            (click)="showModal()"
        >Добавить</ss-button>
    </div>

    <div class="card-list">
        <ng-container *ngIf="(friendsAccount$ | async); else noData">
            <ng-container *ngFor="let item of friendsAccount$ | async; index as i">
                    <ss-card>
                        <div class="personal">
                            <div class="img">
                                <img src="" alt="user" />
                            </div>
                            <div class="title">
                                <div class="fio">
                                    <span>{{ item.name }}</span>
                                </div>
                                <div class="job">
                                    <div>{{ item.position }}</div>
                                    <div>{{ item.department }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="icons">
                            <div class="delete" (click)="delteteFrendlyConnect();">
                                <span class="icon" nz-icon [nzType]="'ss:delete'"></span>
                            </div>
                        </div>
                        <div class="connection-type">
                            <span class="connect-icon" nz-icon [nzType]="'ss:oneConnect'"></span>
                            <span>Односторонняя связь (от моего имени) </span>
                        </div>
                    </ss-card>
            </ng-container>
        </ng-container>
    </div>

	<ng-template #noData>
		<div class="no-data">
			<span> У вас нет дружественных профилей </span>
		</div>
	</ng-template>
</div>

<div>
	<div [routerLink]="'invite'">Приглашение</div>
</div>


<div class="add-modal">
    <nz-modal [(nzVisible)]="isModalVisible" nzTitle="Добавить пользователя" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>

        <div>
          <form nz-form [formGroup]="addForm" nzLayout="vertical" class="form">

            <nz-form-item class="m-t-2">
              <nz-form-control>

                <nz-select
                  [nzShowSearch]="true"
                  nzServerSearch
                  [nzPlaceHolder]="textPlaceHolder"
                  [(ngModel)]="selectedUser"
                  [nzAllowClear]="true"
                  [nzShowArrow]="false"
                  [nzCustomTemplate]="selectUserTmpl"
                  (ngModelChange)="onUserChange()"
                  (nzOnSearch)="searchUsers($event)"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <nz-option *ngFor="let user of listColleague" [nzLabel]="user.name" [nzValue]="user.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <ng-template #notFoundUserTmpl></ng-template>
            <ng-template #selectUserTmpl></ng-template>

            <div *ngIf="partyWinSelectedTags.length>0">
              <div class="tag-selected-name">
                <ng-container *ngFor="let party of partyWinSelectedTags; index as i">
                  <div class="item-tag">
                    <span>{{ party?.name }}</span>
                    <span class="close-icon icon close-tag" nz-icon [nzType]="'ss:close'" (click)="deleteTagUser(i)"></span>
                  </div>
                </ng-container>
              </div>
            </div>

            <ng-template #prefixUser>
              <i nz-icon nzType="user"></i>
            </ng-template>

            <div class="select-radio">
                <nz-radio-group [(ngModel)]="radioValue" [ngModelOptions]="{standalone: true}">
                    <label nz-radio nzValue="1">
                        <span class="connect-icon" nz-icon [nzType]="'ss:oneConnect'"></span>
                        <span>Односторонняя связь (действовать от имени друга)</span>
                    </label>
                    <label nz-radio nzValue="2">
                        <span class="connect-icon" nz-icon [nzType]="'ss:oneConnect'"></span>
                        <span>Односторонняя связь (действовать от моего имени)</span>
                    </label>
                    <label nz-radio nzValue="3">
                        <span class="connect-icon" nz-icon [nzType]="'ss:oneConnect'"></span>
                        <span>Двусторонняя связь</span>
                    </label>
                </nz-radio-group>
            </div>

          </form>
        </div>

        <div class="success" *ngIf="false">
            <div class="header-success">Запрос отправлен</div>
            <div class="text-success">
                <p>Приглашение было отправлено для создания дружественной связи. </p>
                <p>Как только сотрудник подтвердит связь, его карточка будет отображаться у вас в списке</p>
            </div>
        </div>

    </ng-container>
    <div class="footer-form">
        <div *nzModalFooter>
            <div class="send d-flex justify-content-center">
                <div class="">

                    <!-- [disabled]="!addVictoryForm.valid" -->
                    <!-- [ngStyle]="!addVictoryForm.valid ? {'color': 'darkgray'}: {}" -->

                    <button nz-button nzType="primary" class="login-form-button"
                                    (click)="handleOk()"
                                    [nzLoading]="isConfirmLoading"
                    >Отправить запрос</button>
                </div>
            </div>
        </div>
    </div>
</nz-modal>
</div>


<!--    <div class="card-list" *ngIf="isFavoriteMode">-->

<!--    </div> -->


<router-outlet></router-outlet>
