@use 'src/assets/scss/_variables.scss' as *;

.content {
	.top-panel {
		display: flex;
		justify-content: space-between;

		ss-search {
			width: 590px;
		}
	}

	.card-list {
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		gap: 16px;

		ss-card {
			position: relative;
			width: 390px;
			height: 130px;
			border-radius: 16px;
			border: 1px solid $border-color;
			background-color: $white;
			padding: 8px!important;

			.personal {
				position: relative;
				display: flex;

				.img {
					border-radius: 14px;
					overflow: hidden;
					flex: none;
					width: 90px;
					height: 90px;

					img {
						width: 90px;
					}
				}

				.title {
					margin-left: 11px;
				}

				.fio {
					font-size: 17.6px;
					font-weight: bold;
					line-height: 20px;
					margin-top: 0;
					max-width: 238px;
				}

				.job {
					max-width: 210px;
					font-size: 11.8px;
					line-height: 14px;
					font-weight: 500;
					margin-top: 8px;
				}
			}

			.icons {
				.delete {
					position: absolute;
					top: 16px;
					right: 16px;

					cursor: pointer !important;
					font-size: 10px;
					z-index: 1;
					background: #f4f5f6;
					padding: 6px;
					border-radius: 6px;

					::ng-deep rect {
						fill-opacity: 1 !important;
					}
				}
			}

			.connection-type {
				margin-left: 100px;

				span:last-child {
					font-size: 12px;
					margin-left: 4px;
				}
			}
		}

		.card .active {
			border: 1px $blue solid;
		}
	}

	ss-card {}
}

.success {

	margin-top: 11px;
	.header-success {
		font-size: 24px;
		font-weight: bold;
		text-align: center;
	}
	.text-success {
		font-size: 14px;
		font-weight: bold;
		text-align: center;
	}
}

.connect-icon {
	::ng-deep rect {
		fill-opacity: 1 !important;
	}
}

.connect-icon+span {
	margin-left: 4px;
}







