<ng-container *ngFor="let cols of columnsStateService.visibleCols$ | async">
	<ng-container *ngFor="let col of cols.cols">
		<ng-container [ngSwitch]="col.id">
			<td class="ss-table-td" *ngIf="col.display">
				<ng-container *ngSwitchCase="AtWorkRowItemField.tovProductName">
					<div class="hc-table-td__content">{{ item.tovProductName }}</div>
				</ng-container>

				<ng-container *ngSwitchCase="AtWorkRowItemField.atWork">
					<div class="hc-table-td__content hc-table-td__content--center">
						<input type="checkbox" (change)="onCheckAtWork($event.target!); item.errors = {}" />
						<ss-text size="3">Взять в работу</ss-text>
					</div>
				</ng-container>

				<ng-container *ngSwitchCase="AtWorkRowItemField.commentId">
					<div *ngIf="!item.atWork; else noComment" class="hc-table-td__content">
						<ss-select
							size="small"
							(change)="item.commentId = getInputValue($event.target!)"
							(click)="item.errors.commentId = false"
							[error]="item.errors.commentId ? 'Обязательное поле' : undefined"
						>
							<option value="{{ null }}">(Не выбран)</option>
							<option *ngFor="let item of (tprRejectsReasons$ | async)" [value]="item.id">{{ item.name }}</option>
						</ss-select>
					</div>
					<ng-template #noComment>
						<div class="hc-table-td__content hc-table-td__content--center">-</div>
					</ng-template>

				</ng-container>

				<ng-container *ngSwitchCase="AtWorkRowItemField.potencial">
					<div *ngIf="item.atWork; else noPotencial" class="hc-table-td__content">
						<ss-input
							size="small"
							[value]="item.potencial"
							type="number"
							placeholder="Введите"
							(change)="item.potencial = getInputValue($event.target!)"
							(click)="item.errors.potencial = false"
							[error]="item.errors.potencial ? 'Обязательное поле' : undefined"
						></ss-input>
					</div>
					<ng-template #noPotencial>
						<div class="hc-table-td__content hc-table-td__content--center">-</div>
					</ng-template>

				</ng-container>

				<ng-container *ngSwitchCase="AtWorkRowItemField.objective">
					<div *ngIf="item.atWork; else noObjective" class="hc-table-td__content">
						<ss-input
							size="small"
							[value]="item.objective"
							type="number"
							placeholder="Введите"
							(change)="item.objective = getInputValue($event.target!)"
							(click)="item.errors.objective = false"
							[error]="item.errors.objective ? 'Обязательное поле' : undefined"
						></ss-input>
					</div>
					<ng-template #noObjective>
						<div class="hc-table-td__content hc-table-td__content--center">-</div>
					</ng-template>

				</ng-container>

				<ng-container *ngSwitchCase="AtWorkRowItemField.technologistId">
					<div *ngIf="item.atWork; else noTechnologist" class="hc-table-td__content">
						<ss-search-input searchType="technologist"
										 size="small"
										 (select)="item.technologistId = $event.id"
										 (click)="item.errors.technologistId = false"
										 [error]="item.errors.technologistId ? 'Обязательное поле' : undefined"
						></ss-search-input>
					</div>
					<ng-template #noTechnologist>
						<div class="hc-table-td__content hc-table-td__content--center">-</div>
					</ng-template>

				</ng-container>

				<ng-container *ngSwitchDefault>
					<div class="hc-table-td__content hc-table-td__content--center">-</div>
				</ng-container>
			</td>
		</ng-container>
	</ng-container>
</ng-container>
