<ng-container *ngFor="let cols of columnsStateService.visibleCols$ | async">
	<ng-container *ngFor="let col of cols.cols">
		<ng-container
			[formGroup]="qualificationTrForm"
			[ngSwitch]="col.id"
		>
			<td
				*ngIf="col.display"
				class="ss-table-td"
			>
				<ng-container
					*ngSwitchCase="QualificationTrRowItemField.amount"
				>
					<div class="hc-table-td__content">
						<ss-input
							formControlName="amount"
							[type]="InputType.Number"
							[error]="
								item.errors.amount
									? 'Обязательное поле'
									: undefined
							"
							(click)="item.errors.amount = false"
						>
						</ss-input>
					</div>
				</ng-container>

				<ng-container
					*ngSwitchCase="
						QualificationTrRowItemField.requestedProvisionDate
					"
				>
					<div class="hc-table-td__content">
						<ss-date-time-picker
							formControlName="dateProvision"
							[showTime]="false"
							[error]="
								item.errors.requestedProvisionDate
									? 'Обязательное поле'
									: undefined
							"
						>
						</ss-date-time-picker>
					</div>
				</ng-container>

				<ng-container
					*ngSwitchCase="QualificationTrRowItemField.action"
				>
					<div class="hc-table-td__content">
						<snab-button
							[type]="ButtonType.Flat"
							[icon]="IconType.Trash"
                            [disabled]="!canRemove"
                            (click)="removeRowClick()"
						>
						</snab-button>
					</div>
				</ng-container>

				<ng-container *ngSwitchDefault>
					<div
						class="hc-table-td__content hc-table-td__content--center"
					>
						-
					</div>
				</ng-container>
			</td>
		</ng-container>
	</ng-container>
</ng-container>
