<div
	class="wrapper"
	(mousedown)="close()"
>
	<snab-card
		class="total-amount-form"
		[headerRef]="header"
		[bodyRef]="body"
		(mousedown)="$event.stopPropagation()"
	>
		<ng-template #header>
			<div class="header">
				<snab-text
					[type]="TextType.Title"
					[weight]="TextWeight.Medium"
				>
					Сроки и объёмы
				</snab-text>
				<snab-button
					[type]="ButtonType.Flat"
					[size]="Size.Large"
					[icon]="IconType.ClearLarge"
					[iconPosition]="IconPosition.OnlyIcon"
					(click)="close()"
				></snab-button>
			</div>
		</ng-template>
		<ng-template #body>
			<div class="content">
				<table class="dates-table">
					<thead>
						<tr>
							<th>
								<snab-text
									[type]="TextType.Title"
									[weight]="TextWeight.Medium"
								>
									Кол-во
								</snab-text>
							</th>
							<th>
								<snab-text
									[type]="TextType.Title"
									[weight]="TextWeight.Medium"
								>
									Желаемая дата
								</snab-text>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let row of orderRequests">
							<td>
								<snab-text [type]="TextType.Body">{{
									row.amount
								}}</snab-text>
							</td>
							<td>
								<snab-text [type]="TextType.Body">{{
									row.requestedProvisionDate
								}}</snab-text>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</ng-template>
	</snab-card>
</div>
