<ss-card
	padding="0"
	class="address-book"
>
	<div class="header">
		<ss-text size="1">Адресная книга</ss-text>
		<div class="header__controls">
			<ss-input
				size="small"
				placeholder="Поиск по сотрудникам"
				(input)="loadSearchUsers($event)"
				(clear)="clearSearch()"
			></ss-input>
			<ss-button
				size="small"
				[type]="isFavoriteMode ? 'primary' : 'outline'"
				(click)="toggleMode()"
			>
				<ss-icon
					width="14"
					height="14"
					name="favorite"
				></ss-icon>
				Избранное
			</ss-button>
		</div>
	</div>

	<ss-divider></ss-divider>

	<div class="content">
		<ng-container *ngIf="isFavoriteMode; else searched">
			<div
				*ngIf="addresses.length > 0; else noData"
				class="card-list"
			>
				<ss-address-book-card
					*ngFor="let user of addresses"
					[user]="user"
					(toggleFavorite)="toggleFavorite($event)"
				></ss-address-book-card>
			</div>

			<ng-template #noData>
				<ss-empty-placeholder class="empty">
					<ss-icon name="empty"></ss-icon>
					<ss-headline size="h4"
						>У вас нет избранных контактов</ss-headline
					>
					<ss-text size="3"
						>Для добавления воспользуйтесь поиском</ss-text
					>
				</ss-empty-placeholder>
			</ng-template>
		</ng-container>

		<ng-template #searched>
			<div
				*ngIf="searchedUsers.length > 0; else noResult"
				class="card-list"
			>
				<ss-address-book-card
					*ngFor="let user of searchedUsers"
					[user]="user"
					(toggleFavorite)="toggleFavorite($event)"
				></ss-address-book-card>
			</div>

			<ng-template #noResult>
				<ss-empty-placeholder class="empty">
					<ss-icon name="search"></ss-icon>
					<ss-headline size="h4">Не найдено</ss-headline>
					<ss-text size="3"
						>Попробуйте изменить параметры поиска
					</ss-text>
				</ss-empty-placeholder>
			</ng-template>
		</ng-template>
	</div>

	<div class="footer">
		<ss-pagination
			[total]="total!"
			[pageIndex]="pageIndex"
			[pageSize]="pageSize"
			(changeIndex)="nzPageIndexChange($event)"
		>
		</ss-pagination>
	</div>
</ss-card>
