@use '../../../styles/colors' as *;

.address-book {
	display: flex;
	flex-direction: column;
	min-height: 451px;

	.header {
		display: flex;
		padding: 16px;
		align-items: center;
		justify-content: space-between;

		&__controls {
			display: flex;
			align-items: center;
			gap: 16px;
		}
	}

	.content {
		flex-grow: 1;

		.card-list {
			padding: 16px;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
			gap: 16px;
		}

		.empty {
			width: 100%;
		}
	}

	.footer {
		display: flex;
		padding: 16px;
		align-items: center;
		justify-content: flex-end;
	}
}
