@use 'src/styles/colors.scss' as *;

:host {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 450px;
	z-index: 999999999;

	.toast-list {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 100%;
	}
}
