<div appFlyMenu class="main">
	<div class="new-container" [ngClass]="statusInputSearchMobile ? 'mobile' : ''">
		<div class="content">
			<div class="header">
				<div class="icon-bg mobile-burger" (click)="menuToggle($event)">
					<ss-icon [name]="statusBurger ? 'iconClose' : 'iconBurger'"></ss-icon>
				</div>
				<div class="logo" [routerLink]="AppRoutes.root">
					  <span>
						  <ss-icon name="logo"></ss-icon>
					  </span>
				</div>
				<div class="nav-wrap">
					<div class="nav-left">
						<app-main-menu [menu]="listMenu$ | async"></app-main-menu>
					</div>
					<div class="nav-right">
						<div class="icon-bg burger" (click)="menuToggle($event)">
							<ss-icon [name]="statusBurger ? 'iconClose' : 'iconBurger'"></ss-icon>
						</div>

						<div class="search-header">
							<app-all-search *ngIf="statusInputSearch"></app-all-search>

							<div class="icon-bg search" [class]="statusInputSearch? 'small' : ''" (click)="openSearch($event)">
								<ss-icon height="30" [name]="statusInputSearch ? 'iconCloseLight' : 'search2'"></ss-icon>
							</div>

							<div class="icon-bg search-mobile" (click)="openSearchMobile($event)">
								<ss-icon [name]="statusInputSearchMobile ? 'iconCloseLight' : 'search'"></ss-icon>
							</div>
						</div>

						<div>
							<app-notification></app-notification>
						</div>

						<div class="profile" (click)="toggleProfilePopup($event)">
							<div class="icon-bg">

								<ng-container *ngIf="(userProfile$ | async) as userProfile;">
									<ss-avatar [src]="userProfile?.avatarUrl!" size="xs" [isSquare]="true" class="avatar-user"></ss-avatar>
								</ng-container>

							</div>
							<div class="title">Мой профиль</div>

						</div>
						<app-profile-popup *ngIf="(profilePopup$ | async)"></app-profile-popup>

					</div>
				</div>
			</div>

			<app-all-search *ngIf="statusInputSearchMobile" [ngClass]="statusInputSearchMobile ? 'mobile' : ''"></app-all-search >
		</div>
	</div>

	<div class="content">
		<app-mobile-menu [menu]="listMenu$ | async" [ngClass]="statusBurger ? 'open' : 'close'"></app-mobile-menu>
	</div>
</div>

<div class="new-container" *ngIf="route === '/'">
	<div class="back">
		<div class="content" *ngIf="backUrl; else devUrl">
			<a href="https://cisp.ssnab.ru/index/ErpActivation?command=Update&STATE=Comment" class="src">Вернуться к старому интерфейсу</a>
		</div>

		<ng-template #devUrl>
			<div class="content">
				<a href="https://ssnab.it/index/ErpActivation?command=Update&STATE=Comment" class="src">Вернуться к старому интерфейсу</a>
			</div>
		</ng-template>
	</div>
</div>
