@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;

.remind {
    position: relative;

	.remind-ref {
		display: flex;
	}
}

.remind-dot {
    position: absolute;
    border-radius: 50%;
    width: 14px;
    min-width: 14px;
    height: 14px;
    background: #4770ff !important;
    top: -7px;
    right: -5px;

    span {
		position: absolute;
		top: 0;
		right: 4.1px;
		color: #ffffff;
		font-size: 10px;
		font-family: "Inter", serif;
	}
}

::ng-deep {
    .ant-dropdown-menu {
        border-radius: $border-radius !important;
    }

    a.ant-btn.ant-btn-sm {
        padding-top: 0.65rem !important;
    }
}
