<div class="ss-lib-table-canvas">
	<div class="ss-lib-table-canvas__filters">
		<div class="ss-lib-table-canvas__left">
			<ng-container *ngTemplateOutlet="leftFiltersRef()"></ng-container>
		</div>

		<div class="ss-lib-table-canvas__right">
			<ng-container *ngTemplateOutlet="rightFiltersRef()"></ng-container>
		</div>
	</div>
	<div
		*ngIf="checkActiveFilter"
		class="ss-lib-table-canvas__selected"
	>
		<ss-lib-filter-menu></ss-lib-filter-menu>
	</div>
	<div class="ss-lib-table-canvas__table">
		<div class="ss-lib-table-canvas__table-content">
			<ng-container *ngTemplateOutlet="tableRef()"></ng-container>
		</div>
	</div>
	<div class="ss-lib-table-canvas__pagination">
		<ng-container *ngTemplateOutlet="paginationRef()"></ng-container>
	</div>
</div>
