.card {
    .left-group {
        .like {
            background-color: #202629 !important;
        }
        .comment {
            background-color: #202629 !important;
        }
    }

    .openOut {
        background-color: #202629 !important;
    }

    .message {
        top: 4px !important;
        border-right: 20px solid #31393d !important;
        scrollbar-color: #c7d0d2 !important;
        width: 386px !important;
    }

    .message::-webkit-scrollbar-track {
        background-color: #31393d !important;
    }

    .message::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    }

    .icons .count-bottom {
        background-color: #202629 !important;
    }

    svg path {
        stroke: none !important;
    }
}
