body {
    form .ant-input-affix-wrapper {
        background-color: #31393d !important;
    }

    form {
        // Background search
        .ant-input-affix-wrapper {
            background-color: #31393d !important;
            color: #fff;
        }
        // Background search input
        .ant-input.ant-input-stepperless {
            background-color: #31393d !important;
        }
    }
}
