.ant-modal .ant-modal-content {
    background: #202629 !important;
}

.ant-modal .ant-modal-footer {
    background: #202629 !important;
}

.ant-modal .ant-modal-body {
    background: #202629 !important;
}

.ant-modal-body .comments-modal .card {
    background: #202629 !important;
    border: 1px solid #202629 !important;
}

.comments-modal .comments {
    border-right: 10px solid #202629;
}
