.ant-modal .ant-modal-content {
    background: #202629 !important;
}

.ant-modal .ant-modal-footer {
    background: #202629 !important;
}

.ant-modal .ant-modal-body {
    background: #202629 !important;
}
