.result {
    background-color: #31393d !important;
    border-right: 20px solid #31393d !important;
    border-top: 1px solid #31393d !important;
    border-left: 1px solid #31393d !important;
    border-bottom: 1px solid #31393d !important;

    .result-item {
        .content {
            background-color: #31393d !important;
            .text {
                .inner-phone {
                    color: #50d155 !important;
                }
                span {
                    color: #ffff !important;
                }
            }
        }
    }
}
