.tabs {
    .ant-tabs-tab.ant-tabs-tab-active {
        background-color: #4770ff !important;
        border: 1px solid #394245 !important;

        .ant-tabs-tab-btn {
            color: #ffffff !important;
        }
    }

    .ant-tabs-tab:hover {
        color: #4770ff !important;
    }

    .ant-tabs-tab.ng-star-inserted {
        padding: 10px;
    }

    .ant-tabs-tab {
        border: 1px #394245 solid !important;
    }
}
