@use 'src/styles/colors.scss' as *;

:host {
	display: flex;
	overflow-y: auto;
	max-width: 1426px;
	max-height: 990px;
	padding: 20px;
}

.correspondence {
	display: grid;
	grid-template-columns: 400px 1px 1fr;
	grid-template-rows: 1fr;
	height: inherit;
	width: inherit;
	overflow-y: hidden;

	.separator {
		background-color: $island-outline;
	}

	.messages {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1px auto;
		overflow-y: auto;

		ss-mail {
			position: sticky;
			bottom: 0;
			width: 100%;
		}
	}
}
