<ng-container *ngIf="menuItems">
	<div class="main-menu-item">
		<ss-text
			*ngIf="!menuItems.link"
			class="main-menu-item__link"
			size="3"
			>{{ menuItems.name }}</ss-text
		>
		<a
			*ngIf="menuItems.link"
			href="{{ menuItems.link }}"
			class="main-menu-item__link"
			>{{ menuItems.name }}</a
		>
	</div>
	<ng-container *ngIf="menuItems.items?.length">
		<ng-container *ngFor="let item of menuItems.items">
			<ss-menu-item [menuItems]="item"></ss-menu-item>
		</ng-container>
	</ng-container>
</ng-container>
