@use 'src/styles/colors.scss' as *;

.ss-tag {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	gap: 8px;

	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.01em;

	cursor: default;
}

.ss-tag.normal {
	color: #5F656F;
	background-color: #9FA9B933;
}

.ss-tag.normal:hover {
	background-color: #9FA9B94D;
}

.ss-tag.success {
	color: #428B3C;
	background-color: #5EC6551A;
}

.ss-tag.info {
	color: #416CFF;
	background-color: #EDF1FF;
}

.ss-tag.warning {
	color: #624801;
	background-color: #F5B50233;
}

.ss-tag.danger {
	color: #E9033A;
	background-color: #E9033A1A;
}

.ss-tag.clear {
	color: #683CB2;
	background-color: #A066FF33;
}

.ss-tag.outline {
	color: #8C8C8C;
	background-color: #FFFFFF;
	outline: 1px solid #BFBFBF;
}

.ss-tag.medium {
	border-radius: 10px;
	padding: 5px 10px;
	min-width: 24px;
}

.ss-tag.large {
	border-radius: 16px;
	padding: 9px 12px;
	min-width: 32px;
}

.ss-tag.small {
	border-radius: 10px;
	padding: 3px 8px;
	min-width: 20px;
}
