@use 'src/styles/colors.scss' as *;

.ss-tag {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	gap: 8px;

	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.01em;

	cursor: default;
}

.ss-tag.normal {
	color: #5f656f;
	background-color: #9fa9b933;
}

.ss-tag.normal:hover {
	background-color: #9fa9b94d;
}

.ss-tag.success {
	color: #428b3c;
	background-color: #5ec6551a;
}

.ss-tag.info {
	color: #416cff;
	background-color: #edf1ff;
}

.ss-tag.warning {
	color: #624801;
	background-color: #f5b50233;
}

.ss-tag.danger {
	color: #e9033a;
	background-color: #e9033a1a;
}

.ss-tag.clear {
	color: #683cb2;
	background-color: #a066ff33;
}

.ss-tag.outline {
	color: #8c8c8c;
	background-color: #ffffff;
	outline: 1px solid #bfbfbf;
}

.ss-tag.medium {
	border-radius: 10px;
	padding: 5px 10px;
	min-width: 24px;
}

.ss-tag.large {
	border-radius: 16px;
	padding: 9px 12px;
	min-width: 32px;
}

.ss-tag.small {
	border-radius: 10px;
	padding: 3px 8px;
	min-width: 20px;
}
