.ant-modal {
    border-radius: 16px !important;
    overflow: hidden !important;
    padding-bottom: 0 !important;
    // width: 553px !important;

    .ant-modal-close {
        svg {
            fill-opacity: 1;

            path {
                fill: #fff;
                stroke: #fff;
            }
        }
    }

    .ant-modal-header {
        background-color: $blue;
    }

    .field-tile {
        font-size: 14px;
        margin-bottom: 0;
    }

    .ant-modal-title {
        font-size: 16px;
        color: #ffffff;
        margin-left: 10px;
    }

    .field-tile {
        font-weight: 600;
    }

    .ant-modal-body {
        padding: 0 20px;
    }

    .ant-form-item {
        margin-top: 20px;
    }

    .ant-modal-footer {
        border-top: unset;
        padding: 6px 6px 21px 9px;
    }
}

// Дубль
// Поправить стили убрать лишние

.ant-modal {
    // width: 558px !important;

    .ant-modal-header {
        padding: 15px 8px;
    }

    .personal {
        display: flex;
        margin-top: 19px;

        .img {
            border-radius: 10px;
            overflow: hidden;
            flex: none;

            img {
                object-fit: cover;
            }
        }

        .title {
            margin-left: 22px;

            .fio {
                font-size: 18px;
                font-weight: bold;
                line-height: 19px;
                margin-top: 1px;
            }
            .job {
                font-size: 12px;
                line-height: 15px;
                margin-top: 16px;
            }
            .code {
                font-size: 8px;
                opacity: 0.4;
            }
        }
    }

    .contacts {
        margin-top: 8px;

        hr {
            margin-top: 20px;
            margin-bottom: 15px;
        }

        .item {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;

            .icon {
                svg {
                    fill: white;
                }
            }

            span:nth-child(2) {
                margin-left: 7px;
            }

            .title {
                font-size: 12px;
            }

            .description {
                font-size: 12px;
                font-weight: bold;
            }
        }
    }

    .ant-modal .ant-form-item {
        margin-top: 16px;
    }

    .ant-form-item:nth-child(2) {
        margin-top: 8px;
    }

    .ant-form-item:nth-child(2) {
        margin-top: 8px;
    }

    .ant-modal .ant-modal-body {
        padding: 0 15px;
    }

    .ant-checkbox-wrapper {
        color: black;
    }

    .ant-modal textarea.ant-input.ant-input-stepperless {
        height: 100px !important;
    }

    .ant-modal .field-tile {
        margin-bottom: 5px;
    }

    textarea.ant-input.ant-input-stepperless {
        min-height: 80px;
    }

    textarea.ant-input.ant-input-stepperless {
        background-color: white !important;
        padding-left: 14px !important;
        min-height: 80px;
        font-size: 11.2px !important;
        padding-top: 8px;
    }

    .textarea {
        position: relative;

        .attach {
            border-radius: 12px;
            width: 32px;
            height: 32px;
            background-color: $blue;
            bottom: 13px;
            right: 12px;
            position: absolute;
        }
    }

    .attach-icon {
        path {
            stroke: $white;
        }
    }

    .checkbox-group {
        margin-top: 19px;
    }
}

.openout-modal {
    .card {
        padding-bottom: 14px;
    }
}

.comments-modal {
    padding-bottom: 20px;

    .card.list {
        padding: 0;
        margin-top: 0;
        border: unset;

        .personal {
            .title {
                margin-left: 14px;
                margin-top: 6px;

                .job {
                    margin-top: 7px;
                    max-width: unset;
                }
            }

            .img img {
                width: 56px;
                height: 56px;
                object-fit: fill;
            }
        }
        .info {
            margin-top: 17px;

            .like {
                ::ng-deep svg {
                    path {
                        stroke: $blue !important;
                    }
                }
            }

            .date {
                margin-top: 10px;

                span {
                    font-size: 12px;
                    color: $black;
                }

                span:nth-child(1) {
                    font-weight: 500;
                }

                span:nth-child(2) {
                    margin-left: 10px;
                    font-weight: 600;
                }
            }
        }

        .comments {
            margin-top: 19px;

            .title {
                font-size: 18px;
                font-weight: 600;
                margin-top: 0;

                .job {
                    margin-top: 3px;
                }

                .fio {
                    font-size: 15px;
                    font-weight: 700;
                }
            }

            .personal {
                margin-top: 14px;

                .img img {
                    width: 32px;
                    height: 32px;
                    border-radius: 26px;
                }
            }

            .message {
                margin-left: 42px;
                max-width: 428px;
                width: 100%;

                .text {
                    height: auto;
                }
            }

            .date {
                justify-content: flex-start;
                margin-top: 7px;
                margin-left: 42px;
            }
        }

        .send-comments {
            .title {
                font-size: 14px;
                font-weight: 600;
                margin-top: 17px;
            }
        }
    }
}
