body {
	.ant-select:not(.ant-select-customize-input) .ant-select-selector {
		height: 44px !important;
		font-size: 14px;
		line-height: 44px !important;
		border-radius: 16px !important;
		padding: 6px 0 6px 10px !important;

		// background-color: #ffffff;

		.ant-form-item-control {
			margin-top: 20px;
		}
	}
	.ant-select-dropdown {
		border-radius: 16px !important;
	}

	.ant-select {
		.anticon {
			fill-opacity: 1 !important;
		}
	}

	.ant-select-single .ant-select-selector .ant-select-selection-search {
		top: -1px;
	}
}
