.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: 44px !important;
    font-size: 14px;
    line-height: 44px !important;
    border-radius: 16px !important;
    padding: 6px 0 6px 20px !important;

    .ant-form-item-control {
        margin-top: 20px;
    }
}
