.item-tag {
    display: inline-flex;
    padding: 0 16px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #b4c4ff;
    background: #cbd7ff;
    height: 28px;
    overflow: hidden;

    span,
    button {
        color: #4770ff;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.1px;
    }

    .close-icon {
        margin-left: 8px;
    }

    svg {
        font-size: 8px !important;
        fill-opacity: 1;

        rect {
            fill: #4770ff;
            stroke: #4770ff;
        }
    }
}
