.ant-tooltip-inner {
    border: 1px solid #B4C4FF;
    background-color: #d9e1ff!important;
    border-radius: 8px!important;
    color: $blue!important;
}

.ant-tooltip-arrow {
    display: none!important;
}

.ant-tooltip-arrow-content::before {
    background: #d9e1ff!important;
}
