<ss-lib-modal
	[badgeProps]="{
		icon: IconType.PackagePlus,
		size: ExtraSize.lg,
		shape: Shape.Square,
	}"
	[class.add-manufactures-popup--visibility]="!isVisibleModal()"
	[titleHeader]="'Добавление ТП'"
	[descriptionHeader]="'Добавьте товарную позицию в планирование на неделю.'"
	[contentRef]="contentRef"
	[actionsRef]="actionRef"
	[stickyRef]="stickyRef"
	[paddingContent]="'14px 24px 0 24px'"
	(closeEmit)="close()"
>
</ss-lib-modal>

<ng-template #stickyRef>
	<div class="add-manufactures-popup__sticky">
		<ss-lib-form-field [icon]="IconType.Search">
			<ss-lib-input
				fieldCtrl
				[formControl]="queryControl"
				[placeholder]="'Введите название полуфабриката...'"
			/>
		</ss-lib-form-field>
		<ss-lib-button
			*ngIf="selectedViewTov().length"
			class="add-manufactures-popup__clear-button"
			[type]="ButtonType.TextSecondary"
			[text]="
				queryControl.value?.trim()
					? 'Очистить выбранные'
					: 'Очистить все'
			"
			[size]="ExtraSize.sm"
			(click)="deleteSelected()"
		></ss-lib-button>
	</div>
</ng-template>

<ng-template #contentRef>
	<div class="add-manufactures-popup">
		<div
			*ngIf="selectedViewTov().length"
			class="add-manufactures-popup__items"
		>
			<ng-container *ngFor="let selectedItem of selectedViewTov()">
				<div class="add-manufactures-popup__item-selected">
					<app-add-manufactures-item
						[item]="selectedItem"
						(click)="removeTovSelected(selectedItem)"
					></app-add-manufactures-item>
					<div [style.width]="'354px'">
						<ss-lib-button
							[justifyContent]="JustifyContent.SpaceBetween"
							[iconPosition]="IconPosition.End"
							[icon]="IconType.ChevronDown"
							[popoverTriggerFor]="listActions"
							[size]="ExtraSize.sm"
							[type]="ButtonType.Secondary"
							[text]="
								selectedItem.selectedSection
									? selectedItem.selectedSection.name
									: 'Выберите участок'
							"
						></ss-lib-button>
						<ss-lib-dropdown-list
							#listActions
							[width]="'354px'"
						>
							<ss-lib-dropdown-item
								*ngFor="let section of selectedItem.section"
								[selected]="
									section.id ===
									selectedItem.selectedSection?.id
								"
								[label]="section.name"
								(click)="selectOpt(selectedItem, section)"
							/>
						</ss-lib-dropdown-list>
					</div>
				</div>
			</ng-container>
		</div>
		<ss-lib-divider
			*ngIf="selectedViewTov().length"
			[style.padding]="'10px 0'"
		></ss-lib-divider>

		<ng-container *ngIf="!isLoaderMain(); else loaderMain">
			<div
				*ngIf="tov().length; else empty"
				class="add-manufactures-popup__items"
			>
				<div
					*ngFor="let item of tov()"
					[style.padding]="'1px 0'"
				>
					<div class="add-manufactures-popup__item">
						<app-add-manufactures-item
							[item]="item"
							(click)="addTovSelected(item)"
						></app-add-manufactures-item>
					</div>
				</div>
			</div>
			<ng-container *ngIf="isLoader()">
				<ng-container *ngTemplateOutlet="loader"></ng-container>
			</ng-container>
			<ng-template #empty>
				<div class="add-manufactures-popup__empty-state">
					<ss-lib-badge
						[badgeProps]="{
							icon: IconType.Search,
							size: ExtraSize.xl,
						}"
					></ss-lib-badge>
					<div class="add-manufactures-popup__empty-state__text">
						<ss-lib-text
							[color]="Colors.TextBody"
							[type]="TextType.BodyXl"
							[weight]="TextWeight.Semibold"
						>
							Полуфубрикаты не найдены
						</ss-lib-text>
						<ss-lib-text
							[align]="Align.Center"
							[color]="Colors.TextBody3"
							[type]="TextType.BodyMd"
							[weight]="TextWeight.Regular"
							>По вашему запросу “{{ queryControl.value }}” ничего
							не найдено. Попробуйте изменить запрос.
						</ss-lib-text>
					</div>
				</div>
			</ng-template>
		</ng-container>
	</div>
</ng-template>

<ng-template #loaderMain>
	<div class="add-manufactures-popup">
		<ss-lib-spinner></ss-lib-spinner>
	</div>
</ng-template>

<ng-template #loader>
	<ss-lib-spinner></ss-lib-spinner>
</ng-template>

<ng-template #actionRef>
	<div class="add-manufactures-popup__actions">
		<ss-lib-button
			[justifyContent]="JustifyContent.Center"
			[style.width]="'430px'"
			[type]="ButtonType.Secondary"
			[text]="'Отменить'"
			[size]="ExtraSize.xl"
			(click)="close()"
		></ss-lib-button>
		<ss-lib-button
			[justifyContent]="JustifyContent.Center"
			[style.width]="'430px'"
			[text]="
				'Добавить ' +
				(selectedTov().length ? selectedTov().length : '') +
				' ТП'
			"
			[size]="ExtraSize.xl"
			(click)="add()"
		></ss-lib-button>
	</div>
</ng-template>
