.address-book .content .contacts .call span:nth-child(2) path {
    stroke: #ffffff !important;
}

.address-book .content .card {
    background-color: unset !important;
    border: unset !important;
}
