body {
    form .ant-input-affix-wrapper {
        background-color: @main-bg-color !important;
    }

    form {
        // Background search
        .ant-input-affix-wrapper {
            background-color: @main-bg-color !important;
            color: @text-color;
        }
        // Background search input
        .ant-input.ant-input-stepperless {
            background-color: @main-bg-color !important;
        }
    }
}
