.header {
    svg {
        fill: @bg-color !important;

        path {
            stroke: @text-color !important;
        }
    }
}

.back {
    a {
        background-color: #202629!important;
        color: #ffffff!important;
        border: 1px solid @border-color!important;
    }
}
