.mobile-menu {
	background-color: #0e0f10!important;
}

.ant-menu .ng-star-inserted {
	color: @text-color;
}

.mobile-menu .ant-menu.ant-menu-root {
	background-color: #0e0f10 !important;
}

.mobile-menu .ant-menu-submenu .ant-menu-submenu-title .without-url {
	color: @text-color !important;
}

.mobile-menu .ant-tabs-tab + .ant-tabs-tab,
.mobile-menu .ant-tabs-tab.ant-tabs-tab-active {
	border: 1px @border-color solid !important;
	background-color: @main-bg-color !important;
}

.ant-tabs-tab {
	border: 1px @border-color solid !important;
	background-color: @main-bg-color !important;
}

.mobile-menu .ant-menu-submenu.ant-menu-submenu-inline {
	border-bottom: 1px @border-color solid !important;
}

.mobile-menu .ant-tabs-content-holder {
	border-radius: 0 !important;
}

.mobile-menu .ant-menu-submenu.without-url-li {
	border-bottom: unset !important;
}

.ant-menu-submenu > .ant-menu {
	border-radius: 30px;
}

.ant-menu-submenu .menu-item-custom .ant-menu-item-group-title,
.ant-menu-submenu .menu-item-custom .ant-menu-item-group-title .without-url {
	color: @text-color;
}

.ant-menu-submenu.ant-menu-submenu-popup .menu-item-custom {
	border: 0 solid @border-color;
	border-top: 21px solid @main-bg-color;
	border-bottom: 21px solid @main-bg-color;
	outline: 0.5px solid @border-color;
}

.mobile-menu .ant-menu-submenu .ant-menu-submenu-title {
	padding-left: 0 !important;
}
