.ant-modal .ant-modal-content {
    background: @main-bg-color !important;
}

.ant-modal .ant-modal-footer {
    background: @main-bg-color !important;
}

.ant-modal .ant-modal-body {
    background: @main-bg-color !important;
}

.ant-modal-body .comments-modal .card {
    background: @main-bg-color !important;
    border: 1px solid @main-bg-color !important;
}

.comments-modal .comments {
    border-right: 10px solid @main-bg-color!important;
}

.comments-modal {
    .card {
        // border: 1px solid @bg-color !important;

        .icon path {
            stroke: @base-element-color !important;
            font-size: 23px;
        }

        .date {
            span {
                color: #ffffff !important;
            }
        }

        .message {
            top: 4px !important;
            border-right: 20px solid @main-bg-color !important;
            scrollbar-color: #c7d0d2 !important;
            width: 386px !important;
        }

        .message::-webkit-scrollbar-track {
            background-color: @bg-color !important;
        }

        .message::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
        }
    }

    .contacts .item {
        background: @bg-color !important;
    }
}
