.ant-pagination-item a {
	color: #000000 !important;
}

.pagination .ant-pagination-item,
.pagination .ant-pagination-item,
.pagination .ant-pagination.mini .ant-pagination-item:not(.ant-pagination-item-active) {
	background: @main-bg-color;
	border: 1px solid @border-color;

	a {
		color: @text-color !important;
	}
}

.ant-pagination-item-active {
	background-color: @bg-color !important;
}

