<div class="client-proposals-view-files-popover">
	<div class="client-proposals-view-files-popover__header">
		<ss-icon class="client-proposals-view-files-popover__close" width="14" name="iconClose" (click)="close()"></ss-icon>
	</div>
	<div class="client-proposals-view-files-popover__body">
		<ng-container *ngFor="let file of files$ | async">
			<div class="client-proposals-view-files-popover__file-form">
				<input type="checkbox" [(ngModel)]="file.checked" />
				<a href="{{ file.url }}" target="_blank">{{ file.name }}</a>
			</div>
		</ng-container>
	</div>
</div>
<!--(change)="onToggle()"-->
