<div class="content">
    @if (loading()) {
        <ss-loader></ss-loader>
    } @else {
        <div class="table">
            <ss-table
                [head]="[
                {title: 'Дата', field: 'createdTime'},
                {title: 'Автор', field: 'userName'},
                {title: 'Действие',  field: 'action'},
                {title: 'Сопроводительный текст к действию',  field: 'comments'},
        ]"
                [items]="historyItems()">
            </ss-table>
        </div>

        <div class="pagination">
            <ss-pagination
                [total]="pageTotal()"
                [pageIndex]="pageIndex()"
                [pageSize]="pageSize()"
                (changeIndex)="indexChanged($event)"
            >
            </ss-pagination>
        </div>
    }
</div>
