<div
	#content
	class="modal-content"
	[class.multi-line]="isMultiLine"
>
	<div class="modal-content__avatar">
		<ss-lib-avatar [src]="currentUser?.avatarUrl ?? ''"></ss-lib-avatar>
	</div>
	<div class="modal-content__text">
		<div
			#editable
			class="comment-input"
			contenteditable="true"
			[attr.data-placeholder]="'Добавить комментарий…'"
			(input)="onInput()"
		></div>
	</div>
	<div class="modal-content__btn">
		<ss-lib-button
			[type]="ButtonType.Secondary"
			[icon]="IconType.ArrowUp"
			(click)="sendComment()"
		></ss-lib-button>
	</div>
</div>
