<ng-container *ngFor="let cols of columnsStateService.colsTr$ | async">
	<ng-container *ngFor="let col of cols.cols">
		<ng-container [formGroup]="group().groupSignal().paramsGroup" *ngIf="col.display" [ngSwitch]="col.id">
			<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.nameGroups">
				<td class="ss-table-td" [style.min-width]="col.width">
					<snab-text [isEllipsis]="true"
							   [type]="TextType.Caption"> {{ group().groupSignal().tovSubgroup.name }}
					</snab-text>
				</td>
			</ng-container>

			<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.sndCurrent">
				<td class="ss-table-td" [style.min-width]="col.width">
					<div class="ss-table-td__content" (focusout)="group().focusOutControl($event)">

						<snab-input [onlyPositiveValue]="true" [showValidation]="false" [showClearButton]="false"
									[step]="0.01" [size]="Size.Small" [type]="InputType.Number"
									(click)="$event.stopPropagation(); $event.preventDefault()"
									formControlName="sndCurrentControl"></snab-input>
						<snab-button snab-tooltip [tooltipText]="'Сохранить'" [position]="TooltipPosition.Bottom"
									 [theme]="TooltipTheme.Dark" [iconPosition]="IconPosition.OnlyIcon"
									 [icon]="IconType.Check"
									 [size]="Size.Small"
									 [type]="ButtonType.Primary" (click)="group().updateSnd($event)"
									 *ngIf="group().validSndControlCurrent$ | async">

						</snab-button>

					</div>
				</td>
			</ng-container>

			<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.sndNext">
				<td class="ss-table-td" [style.min-width]="col.width">
					<div class="ss-table-td__content" (focusout)="group().focusOutControl($event)">
						<snab-input [onlyPositiveValue]="true" [showValidation]="false"
									[showClearButton]="false" [step]="0.01" [size]="Size.Small"
									[type]="InputType.Number"
									(click)="$event.stopPropagation(); $event.preventDefault()"
									formControlName="sndNextControl"></snab-input>
						<snab-button snab-tooltip [tooltipText]="'Сохранить'" [position]="TooltipPosition.Bottom"
									 [theme]="TooltipTheme.Dark" [iconPosition]="IconPosition.OnlyIcon"
									 [icon]="IconType.Check"
									 [size]="Size.Small"
									 [type]="ButtonType.Primary" (click)="group().updateSnd($event)"
									 *ngIf="group().validSndControlNext$ | async"></snab-button>
					</div>
				</td>
			</ng-container>

			<ng-container *ngSwitchDefault>
				<!--				[style.min-width]="col.width"-->
				<td class="ss-table-td">
					&nbsp;
				</td>
			</ng-container>

		</ng-container>
	</ng-container>
</ng-container>
