<ng-container *ngFor="let cols of columnsStateService.colsTr$ | async">
	<ng-container *ngFor="let col of cols.cols">
		<ng-container [ngSwitch]="col.id">

			<td class="ss-table-td" *ngIf="col.display">
				<ng-container [ngSwitch]="col.id">

					<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.nameGroups">
						<div class="ss-table-td__content">
							<ss-text> {{ group().group.tovSubgroup.name }}</ss-text>
							<ss-icon class="ss-table-td__content__history" name="clock" (click)="$event.stopPropagation(); openHistory()"></ss-icon>
						</div>
					</ng-container>

					<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.sndCurrent">
						<app-excess-income-control (click)="$event.stopPropagation()" [formControl]="sndCurrentControl"></app-excess-income-control>
					</ng-container>

					<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.sndNext">
						<app-excess-income-control (click)="$event.stopPropagation()" [formControl]="sndNextControl"></app-excess-income-control>
<!--						<ss-input-v2 (click)="$event.stopPropagation()" [maskito]="numberInputTextMask" [formControl]="sndNextControl"></ss-input-v2>-->
<!--						<ss-button (click)="updateSnd();$event.stopPropagation()" *ngIf="sndNextControl.valid"> + </ss-button>-->
					</ng-container>

					<ng-container *ngSwitchDefault>
						&nbsp;
					</ng-container>

				</ng-container>
			</td>

		</ng-container>
	</ng-container>
</ng-container>
