@use 'src/styles/colors.scss' as *;

:host {
	width: 100%;
}

select {
	display: flex;
	align-items: center;
	padding: 5px 12px;
	width: 100%;
	border-radius: 8px;
	border: 1px solid $island-outline;
	background-color: $island;
	outline: none;
	font-family: 'Inter', serif;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: -0.01em;
	height: 41px;

	::ng-deep option {
		display: flex;
		flex-direction: column;
	}
}

::ng-deep ss-caption.error span {
	color: #E9033A !important;
}

select.error {
	border: 1px solid $error;
	background-color: $lite-error;

	option:before {
		background-color: $island !important;
	}
}

select.small {
	height: 36px;
}

:host-context(.dark) select {
	background-color: $dark-island;
}
