<div class="wrapper" (click)="close()">
	<div class="add-victory-modal" (click)="$event.stopPropagation()">
		<div class="add-victory-modal__header">
			<ss-headline [size]="'h6'">Делитесь Вашими победами, ведь успех заразителен!</ss-headline>
		</div>
		<ss-divider></ss-divider>
		<div class="add-victory-modal__body">
			<form [formGroup]="formGroup" class="add-victory-modal__form">
				<div class="add-victory-modal__form-item">
					<ss-textarea formControlName="text" [size]="'large'" [label]="'Описание'"></ss-textarea>
				</div>
				<ss-divider></ss-divider>
				<div class="add-victory-modal__form-item">
					<ss-chips-user-search [selectedItems]="toUsers" [label]="'Совместная победа'"></ss-chips-user-search>
				</div>
				<ss-divider></ss-divider>
				<div class="add-victory-modal__form-item">
					<ss-chips-search size="medium" [label]="'ТПР'" [placeholder]="'ТПР'" (getSelected)="getProducts($event)"
									 [searchType]="'productions'"></ss-chips-search>
				</div>
			</form>
			<ss-divider></ss-divider>
			<div class="add-victory-modal__footer">
				<ss-button (click)="submit()">Добавить победу</ss-button>
			</div>
		</div>
	</div>
</div>
