:host {
  position: relative;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-between;
}

.quantity-button {
  position: absolute;
  top: calc(50% - 12px);
  left: -8px;
  width: 24px;
  display: inline-flex;
}

.change-quantity {
  display: flex;
  flex-direction: column;
  width: 364px;
  padding: 24px;
  gap: 20px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__header {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    ss-lib-number-picker {
      width: 100%;
    }
  }
}

.transfer {
  display: flex;
  flex-direction: column;
  width: 508px;
  padding: 24px;
  gap: 20px;

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    ss-lib-number-picker {
      width: 100%;
    }
  }

}

.no-backdrop {
  background: none;
}

.quantity-fixer {
  padding: 0 12px;
  font-family: var(--type-font-family-heading), serif;
  font-style: normal;
  font-size: var(--font-size-body-sm);
  line-height: var(--line-height-body-sm);
  visibility: hidden;
}

.quantity-input {
  display: inline-block;
  width: calc(100% - 24px);
  height: 40px;
  padding: 0;
  text-align: end;
  font-family: var(--type-font-family-heading), serif;
  font-style: normal;
  margin: 0;
  font-size: var(--font-size-body-sm);
  line-height: var(--line-height-body-sm);
  background-color: transparent;
  border: none;
  outline: var(--border-width-sm) solid transparent;
  border-radius: var(--border-radius-md);
  transition: all 0.5s ease;
  position: absolute;
  right: 0;
  top: calc(50% - 20px);
}

.quantity-input:hover {
  outline: var(--border-width-sm) solid var(--border-secondary);
  padding: 10px 12px;
}

.quantity-input:focus {
  width: 152px;
  padding: 10px 12px;
  outline: var(--border-width-sm) solid var(--border-secondary);
  background-color: var(--surface-primary);
  box-shadow: var(--shadow-xl);
}

.quantity-input:focus ~ div {
  display: none !important;
}

.quantity-input:disabled {
  outline: none;
  padding: 0;
  cursor: initial;
}