<!--	@if (hasUtilityAccess()) {-->
<ss-lib-action-bar
	class="quantity-button"
	[style.opacity]="{ isPostponeOpen: 100 }"
	[size]="ExtraSize.xxs"
	(click)="$event.stopPropagation()"
>
	<ss-lib-action-bar-item
		[leftIconConfig]="{
			icon: IconType.KebabMenuDots,
		}"
		[popoverTriggerFor]="utilityList"
	/> </ss-lib-action-bar
><ss-lib-dropdown-list #utilityList>
	@if (hasTransferAccess()) {
		<ss-lib-dropdown-item
			[icon]="IconType.CornerUpRight"
			[label]="'Перенести количество'"
			[popoverTriggerFor]="transferQuantity"
		>
		</ss-lib-dropdown-item>
	}
	@if (hasQuantityEditAccess()) {
		<ss-lib-dropdown-item
			[icon]="IconType.Edit"
			[label]="'Изменить количество'"
			[popoverTriggerFor]="changeQuantity"
		></ss-lib-dropdown-item>
	}
	@if (hasViewAccess() && getDay()?.id) {
		<ss-lib-dropdown-item
			[icon]="IconType.FilePreviewSearch"
			[label]="'Посмотреть заказы'"
			(click)="openPostponeModal()"
		></ss-lib-dropdown-item>
	}
</ss-lib-dropdown-list>
<!--	}-->
<ss-lib-dropdown-list
	#transferQuantity
	[isOpen]="true"
>
	<div class="transfer">
		<div class="transfer__info">
			<div class="transfer__info__item">
				<ss-lib-text
					[type]="TextType.BodySm"
					[color]="Colors.TextBody2"
					>Кол-во для переноса
				</ss-lib-text>
				<ss-lib-number-picker
					fieldCtrl
					[formControl]="quantityInputControl"
					[size]="ExtraSize.md"
					[step]="10"
				></ss-lib-number-picker>
			</div>
			<div class="transfer__info__item">
				<ss-lib-text
					[type]="TextType.BodySm"
					[color]="Colors.TextBody2"
					>Дата для переноса
				</ss-lib-text>
				<ss-lib-form-field>
					<ss-lib-datepicker
						fieldCtrl
						[min]="minDate"
						[formControl]="postponeDateControl"
					></ss-lib-datepicker>
				</ss-lib-form-field>
			</div>
		</div>
		<ss-lib-button
			[size]="ExtraSize.lg"
			[icon]="IconType.CornerUpRight"
			[iconPosition]="IconPosition.Start"
			[text]="'Перенести количество'"
			(click)="transferPlan()"
		></ss-lib-button>
	</div>
</ss-lib-dropdown-list>
<ss-lib-dropdown-list #changeQuantity>
	<div class="change-quantity">
		<div class="change-quantity__info">
			<div class="change-quantity__info__header">
				<ss-lib-text
					[type]="TextType.BodySm"
					[color]="Colors.TextBody2"
					>Изменение количества плана </ss-lib-text
				><ss-lib-status-icon
					ss-lib-tooltip
					[type]="Status.Default"
					[icon]="IconType.Info"
					[position]="TooltipPosition.Top"
					[tooltipText]="
						'Изменение плана повлияет на количество в заказах ТМЗ'
					"
				></ss-lib-status-icon>
			</div>
			<ss-lib-number-picker
				fieldCtrl
				[formControl]="quantityInputControl"
				[step]="10"
			></ss-lib-number-picker>
		</div>
		<ss-lib-button
			[size]="ExtraSize.lg"
			[text]="'Изменить количество'"
			(click)="changePlan()"
		></ss-lib-button>
	</div>
</ss-lib-dropdown-list>
@if (columnId().startsWith('planQuantity')) {
	<input
		#quantityInput
		maxlength="10"
		class="quantity-input"
		[disabled]="
			!operationPlanState.getHasPermissionEdit || row().isPersonification
		"
		[value]="getCellValue(row(), columnId())"
		(focusout)="editPlanFact($event, row(), columnId())"
		(keyup.enter)="quantityInput.blur()"
		(input)="checkPlanFactValue($event)"
	/>
}
@if (columnId().startsWith('factQuantity')) {
	<input
		#quantityInput
		maxlength="10"
		class="quantity-input"
		[disabled]="!operationPlanState.getHasPermissionEdit"
		[value]="getCellValue(row(), columnId())"
		(focusout)="editPlanFact($event, row(), columnId())"
		(keyup.enter)="quantityInput.blur()"
		(input)="checkPlanFactValue($event)"
	/>
}
<p class="quantity-fixer">
	{{ getCellValue(row(), columnId()) }}
</p>
