<div
	class="wrapper"
	(mousedown)="close()"
>
	<snab-card
		class="change-queue-form"
		[headerRef]="header"
		[bodyRef]="body"
		(mousedown)="$event.stopPropagation()"
	>
		<ng-template #header>
			<div class="header">
				<snab-text
					[type]="TextType.Title"
					[weight]="TextWeight.Medium"
				>
					Изменить очередь заказов
				</snab-text>
				<snab-button
					[type]="ButtonType.Flat"
					[size]="Size.Large"
					[icon]="IconType.ClearLarge"
					[iconPosition]="IconPosition.OnlyIcon"
					(click)="close()"
				></snab-button>
			</div>
		</ng-template>
		<ng-template #body>
			<div class="content">
				<div class="search-row">
					<div class="search-row__input">
						<snab-form-field
							class="search-row__input__field"
							[label]="'ТП'"
							[size]="Size.Large"
						>
							<snab-input
								fieldCtrl
								class="search-row__input__field"
								[formControl]="filterTovName"
								[placeholder]="'Поиск по товарной позиции...'"
							/>
						</snab-form-field>
					</div>
					<div class="search-row__status">
						<snab-form-field
							[label]="'Статус'"
							[size]="Size.Large"
						>
							<snab-select
								fieldCtrl
								[formControl]="filterStatusName"
								[options]="statusOptions()"
								[placeholder]="'Введите статус'"
							/>
						</snab-form-field>
						<ss-lib-icon
							*ngIf="filterStatusName.value"
							[width]="'16'"
							[height]="'16'"
							[style.cursor]="'pointer'"
							[icon]="IconTypeNew.Close"
							(click)="clearStatusFilter()"
						></ss-lib-icon>
					</div>
				</div>
				<div class="table-container">
					<table class="orders-table">
						<thead>
							<tr>
								<th></th>
								<th>
									<snab-text
										[type]="TextType.Title"
										[weight]="TextWeight.Medium"
									>
										Код заказа
									</snab-text>
								</th>
								<th>
									<snab-text
										[type]="TextType.Title"
										[weight]="TextWeight.Medium"
									>
										Статус
									</snab-text>
								</th>
								<th>
									<snab-text
										[type]="TextType.Title"
										[weight]="TextWeight.Medium"
									>
										Позиция
									</snab-text>
								</th>
								<th>
									<snab-text
										[type]="TextType.Title"
										[weight]="TextWeight.Medium"
									>
										Кол-во
									</snab-text>
								</th>
								<th>
									<snab-text
										[type]="TextType.Title"
										[weight]="TextWeight.Medium"
									>
										Ед. изм.
									</snab-text>
								</th>
								<th>
									<snab-text
										[type]="TextType.Title"
										[weight]="TextWeight.Medium"
									>
										ТП
									</snab-text>
								</th>
								<th>
									<snab-text
										[type]="TextType.Title"
										[weight]="TextWeight.Medium"
									>
										Заказчик
									</snab-text>
								</th>
								<th>
									<snab-text
										[type]="TextType.Title"
										[weight]="TextWeight.Medium"
									>
										Клиент
									</snab-text>
								</th>
								<th>
									<snab-text
										[type]="TextType.Title"
										[weight]="TextWeight.Medium"
									>
										Дата создания
									</snab-text>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr
								*ngFor="
									let queueOrder of filteredOrdersQueue;
									let i = index
								"
								ssDraggableOrderRow
								[queueOrder]="queueOrder"
								[index]="i"
								(reorder)="onOrderReorder($event)"
							>
								<td>
									<snab-button
										[type]="ButtonType.Flat"
										[icon]="IconType.Drag"
										[iconPosition]="IconPosition.OnlyIcon"
										[size]="Size.Large"
									></snab-button>
								</td>
								<td>
									<snab-text [type]="TextType.Body">
										{{ queueOrder.id }}
									</snab-text>
								</td>
								<td>
									<snab-text [type]="TextType.Body">
										{{
											queueOrder.personificationOrder
												.status.name
										}}
									</snab-text>
								</td>
								<td>
									<snab-text [type]="TextType.Body">
										{{ queueOrder.position }}
									</snab-text>
								</td>
								<td>
									<snab-text [type]="TextType.Body">
										{{
											queueOrder.personificationOrder
												.totalAmount
										}}
									</snab-text>
								</td>
								<td>
									<snab-text [type]="TextType.Body">
										{{
											queueOrder.personificationOrder
												.tovUnit
										}}
									</snab-text>
								</td>
								<td>
									<snab-text [type]="TextType.Body">
										{{
											queueOrder.personificationOrder.tov
												.name
										}}
									</snab-text>
								</td>
								<td>
									<snab-text [type]="TextType.Body">
										{{
											queueOrder.personificationOrder
												.author.name
										}}
									</snab-text>
								</td>
								<td>
									<snab-text [type]="TextType.Body">
										{{
											queueOrder.personificationOrder
												.client.name
										}}
									</snab-text>
								</td>
								<td>
									<snab-text [type]="TextType.Body">
										{{
											queueOrder.personificationOrder
												.dateCreated
												| date: 'dd.MM.yyyy'
										}}
									</snab-text>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</ng-template>
	</snab-card>
</div>
