@use 'src/styles/colors.scss' as *;

.change-queue-form {
	width: 1289px;
	max-height: 765px;
	display: flex;
	flex-direction: column;
	background: lighten($island-outline, 40%);
	border-radius: var(--radius-xl-3);
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	padding: var(--padding-l);
	overflow: auto;
	max-height: 560px;
}

.search-row {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 16px;
	justify-content: space-between;

	&__input {
		display: flex;
		align-items: center;
		gap: 37px;

		&__field {
			width: 360px;
		}
	}

	&__status {
		display: flex;
	}
}

.table-container {
	overflow-x: auto;
}

.orders-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 16px;

	thead {
		background-color: lighten($island-outline, 40%);
	}

	th {
		background-color: #eef2ff;
	}

	th,
	td {
		padding: 8px;
		border-bottom: 1px solid $island-outline;
		vertical-align: middle;
		text-align: left;
	}
}

.table-td-provision {
	display: table-cell;
	text-align: left !important;

	&__label {
		display: inline-block;
		padding: 2px;
	}
}

.footer {
	display: flex;
	padding: var(--padding-l);
	justify-content: flex-end;
	gap: 20px;
}
