@use '../../../../styles/colors' as *;

:host {
	width: 100%;
	min-width: 850px;
	display: flex;
	overflow-y: hidden;
}

.mail {
	display: grid;
	gap: 16px;
	padding: 0 20px 20px;
	overflow-y: hidden;

	.requisites {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.reply {
		position: relative;
		display: flex;
		gap: 4px;
		align-items: center;
		color: #6D7885;

		.reply-author {
			color: $text;
		}

		.reply-message {
			padding: 4px 12px;
			border-left: 4px solid #6D7885;
			background-color: #F2F3F7;
			border-radius: 0 8px 8px 0;
			flex-grow: 1;

			.reply-text {
				max-height: 24px;
				overflow: hidden;
			}
		}

		.close-reply {
			cursor: pointer;
			position: absolute;
			right: 12px;
		}
	}

	.editor-controls {
		position: relative;
		display: flex;
		gap: 8px;
		color: $lite-text;
		z-index: 100;

		.undo-redo {
			ss-icon {
				padding: 4px;
			}
		}

		.section {
			display: flex;
			align-items: center;

			span {
				display: flex;
				align-items: center;
			}

			.font-family {
				display: flex;
				align-items: center;
				gap: 8px;

				span {
					width: 80px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.font-size {
				display: flex;
				align-items: center;
				gap: 8px;

				span {
					width: 40px;
				}
			}
		}

		.font-colors {
			gap: 4px;
		}

		ss-icon {
			cursor: pointer;
		}

		.separator {
			height: 24px;
			border-left: 1px solid $island-outline;
		}
	}

	.files {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}

	.controls {
		display: flex;
		align-items: center;
		gap: 28px;

		::ng-deep ss-caption {

			.caption-1 {
				display: flex;
				align-items: center;
				gap: 12px;
			}
		}

		ss-icon {
			cursor: pointer;
		}

		.upload-file {
			flex-grow: 1;
			label {
				display: flex;
				align-items: center;
				gap: 8px;
			}
		}

		#upload-file {
			opacity: 0;
			position: absolute;
			z-index: -1;
			right: 0;
		}
	}

	.send-button {
		width: 122px;
	}

	.editor {
		ss-caption.error {
			color: $error;
		}
	}
}

::ng-deep {
	ss-mail {
		 ss-card-dropdown {
			.content {
				border: none !important;
			}
		}
	}
}

:host-context(.dark) {
	.editor-controls {
		background-color: $dark-island;
	}

	::ng-deep {
		.ck-toolbar, .ck-content {
			background-color: $dark-island!important;
		}
	}
}

::ng-deep ss-card-dropdown {
	ss-card {
		border: none !important;
	}
}
