@use 'src/styles/colors.scss' as *;

.history-popup {
	width: 965px;
	max-height: 795px;
	display: flex;
	flex-direction: column;
	background: lighten($island-outline, 40%);
	border-radius: var(--radius-xl-3);
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	padding: var(--padding-l);
	overflow: auto;
	min-height: 560px;
}

.history-table {
	width: 100%;
	border-collapse: collapse;

	thead {
		background-color: lighten($island-outline, 40%);
	}

	th {
		background-color: #eef2ff;
	}

	th,
	td {
		padding: 12px 8px;
		border-bottom: 1px solid $island-outline;
		vertical-align: top;
		text-align: left;
	}
}
