.thanks-colleague {
	position: relative;
}

.header {
	display: flex;
	padding: 16px;
	align-items: center;
	justify-content: space-between;
}

.content {
	padding: 8px;

	&__scroll {
		position: relative;
		padding: 8px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
		gap: 16px;
		justify-content: center;
		height: 484px;
		overflow-y: auto;
	}
}
