<ss-lib-right-side-page-popup
	[badgeProps]="{
		icon: IconType.CornerUpRight,
		size: ExtraSize.lg,
		shape: Shape.Square,
	}"
	[titleHeader]="'Перенести кол-во плана по ГП'"
	[descriptionHeader]="'Перенесите количество плана ГП по каждому заказу на другую дату'"
	[actionsRef]="actionRef"
	[contentRef]="contentRef"
	(closeEmit)="close()"
>
</ss-lib-right-side-page-popup>

<ng-template #contentRef>
	<div class="table-label">
		<ss-lib-text
			[color]="Colors.TextBody2"
			[weight]="TextWeight.Semibold"
			[type]="TextType.BodySm"
			[align]="Align.Start"
			[isEllipsis]="true"
		>
			Перенос ГП по заказам
		</ss-lib-text>
		<div class="table-label__calc">
			<ss-lib-text
				[color]="Colors.TextBody2"
				[weight]="TextWeight.Medium"
				[type]="TextType.BodySm"
			>
				<div class="table-label__calc__total">
					Всего:
					<ss-lib-icon
						[icon]="IconType.Box"
						[width]="'16'"
						[height]="'16'"
						[color]="Colors.IconSuccess"
					></ss-lib-icon>
					<ss-lib-text
						[color]="Colors.IconSuccess"
						[weight]="TextWeight.Regular"
						[type]="TextType.BodySm"
					>
						{{ totalQuantityCalc }}
					</ss-lib-text>
				</div>
			</ss-lib-text>
			<ss-lib-text
				[color]="Colors.TextBody2"
				[weight]="TextWeight.Medium"
				[type]="TextType.BodySm"
				[align]="Align.End"
				[isEllipsis]="true"
			>
				<div class="table-label__calc__total">
					Для переноса:
					<ss-lib-icon
						[icon]="IconType.CornerUpRight"
						[width]="'16'"
						[height]="'16'"
						[color]="Colors.IconInformation"
					></ss-lib-icon>
					<ss-lib-text
						[color]="Colors.IconInformation"
						[weight]="TextWeight.Regular"
						[type]="TextType.BodySm"
					>
						{{ totalQuantityForTransferCalc }}
					</ss-lib-text>
				</div>
			</ss-lib-text>
		</div>
	</div>
	<ng-container *ngIf="personificationRes() as item">
		<app-postpone-personification-table
			[data]="item.items"
		></app-postpone-personification-table>
	</ng-container>
</ng-template>

<ng-template #actionRef>
	<div class="action-button-group">
		<ss-lib-button
			[text]="totalForButtonTransfer"
			(click)="transferProductionPlan()"
		></ss-lib-button>
		<ss-lib-button
			(click)="close()"
			[text]="'Отменить'"
			[type]="ButtonType.Secondary"
		></ss-lib-button>
	</div>
</ng-template>
