@use '../../../../styles/colors' as *;

:host {
	width: 100%;
	display: grid;
	height: 100%;
	overflow-y: hidden;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	position: relative;

	.header {
		display: flex;
		position: sticky;
		top: 0;
		align-items: flex-end;
		justify-content: space-between;
		background-color: $island;
		padding: 0 20px;
		border-bottom: 1px solid $island-outline;
		gap: 12px;

		.tabs {
			max-width: 650px;
		}

		ss-search-input {
			padding: 10px 0;
		}
	}

	.messages-list {
		display: flex;
		width: 100%;
		height: 440px;
		padding: 10px;
		gap: 20px;
		overflow-y: auto;
	}

	.content {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		height: 100%;
		padding: 10px;
		gap: 20px;
		overflow-y: auto;

		.message-loader {
			align-self: center;
			animation-name: blink;
			animation-timing-function: linear;
			animation-duration: 1s;
			animation-iteration-count: infinite;
		}

		.message {
			display: flex;
			gap: 7px;
			align-items: flex-end;
			width: 70%;

			.message-content {
				width: 100%;
				background-color: #f1f4f7;
				display: flex;
				flex-direction: column;
				gap: 8px;
				padding: 12px;
				border-radius: 8px;

				.message-content-header {
					display: flex;
					justify-content: space-between;
					align-items: center;

					::ng-deep p {
						color: #335dff !important;
					}

					.message-content-header-controls {
						display: flex;
						gap: 12px;
						color: $text;
					}
				}

				.message-content-blockquote {
					padding: 4px 12px;
					border-left: 4px solid #4770ff;
					background-color: #e5ebff;
					border-radius: 0 8px 8px 0;

					.message-content-blockquote-message {
						max-height: 52px;
						overflow: hidden;
					}
				}

				ss-attachment {
					cursor: pointer;
				}

				&-time {
					color: $lite-text;
					align-self: flex-end;
				}

				.message-content-text {
					word-break: break-all;
				}
			}
		}

		.message.my {
			flex-direction: row-reverse;
			align-self: flex-end;

			.message-content {
				background-color: #f2f8eb;

				.message-content-header {
					::ng-deep p {
						color: #2d8418 !important;
					}
				}

				.message-content-blockquote {
					border-left: 4px solid #5d9a37;
					background-color: #e1f0d4;
				}
			}
		}
	}

	.files-list {
		display: flex;
		flex-direction: column;
		height: 440px;
		width: 100%;
		overflow-y: auto;

		.files-list-item {
			padding: 10px 20px;
			border-bottom: 1px solid $island-outline;
			display: flex;
			gap: 14px;
			cursor: pointer;
			align-items: center;

			.files-list-item-content {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				overflow: hidden;

				.title {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				::ng-deep .size span {
					font-weight: 500;
					font-size: 8px !important;
					letter-spacing: -0.01em;
					color: #6d7885;
				}
			}
		}
	}

	.no-content {
		display: flex;
		height: 100%;
		width: 100%;
		align-items: center;
		justify-content: center;
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

:host-context(.dark) {
	.header {
		background-color: $dark-island;
	}

	.message-content {
		background-color: $dark-island !important;
		border: 1px solid $dark-island-outline;
	}

	.message {
		border-right: unset !important;
	}

	.message-content-blockquote {
		color: $text;

		.message-content-blockquote-message {
			::ng-deep p {
				color: $text !important;
			}
		}
	}
}
