<div class="address-book">
  <div class="header">
    <div>
      <div class="title">
        <h1>Адресная книга</h1>
      </div>
    </div>
    <div class="open-all-table">
      <div class="button">
        <button nz-button class="button" [nzType]="'primary'">
          <span class="favorite-icon" nz-icon [nzType]="'ss:favorite'">
            <span class="favorite-text">Избранные контакты </span>
          </span>
        </button>
      </div>
      <div class="search">
        <span class="">
          <form nz-form [formGroup]="loginForm" class="search-form" (ngSubmit)="onSubmit()">
            <nz-form-item>
              <nz-form-control>
                <nz-input-group [nzSuffix]="prefixSearch">
                  <input type="text" nz-input formControlName="search" placeholder="Поиск по сотрудникам" [(ngModel)]="title" (input)="search()" />
                </nz-input-group>
              </nz-form-control>
              <ng-template #prefixSearch>
                <i nz-icon nzType="search" class="search-icon-suffix"></i>
              </ng-template>
            </nz-form-item>
          </form>
        </span>
        <!--    <div class="result" *ngIf="books && showWindowResult" #result>-->
        <!--        <app-result-item-->
        <!--            *ngFor="let book of books"-->
        <!--            [book]="book"-->
        <!--            [title]="title"-->
        <!--        ></app-result-item>-->
        <!--    </div>-->
      </div>
    </div>
  </div>

  <div class="content">
    <div class="card-list" *ngIf="addressBooks | async as addressBook">

      <div class="card" *ngFor="let item of addressBook.items;">
        <div>
          <div class="personal">
            <div class="img">
              <img src="{{ item?.avatarUrl }}" alt="user" />
            </div>

            <div class="title">
              <div class="fio">
                <span>{{ item?.lastName }} {{  item?.firstName }} {{  item?.surName }}</span>
              </div>
              <div class="job">
                <div>{{ item?.position }}</div>
                <div>{{ item?.department }}</div>
              </div>
            </div>
          </div>
          <div class="icons">
<!--             class="favorite-icon fill" - заполнененое избраное-->
            <span class="favorite-icon" nz-icon [nzType]="'ss:favorite'"></span>
          </div>

          <div class="contacts">
            <div class="call">
              <span>{{ item?.phoneLocal }}</span>
              <span class="call-icon" nz-icon [nzType]="'ss:call'"></span>
            </div>
            <div class="mail">
              <span>GRISHIN.PG</span>
              <span>@SSNAB.RU</span>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="bottom-panel">
      <nz-pagination [nzPageIndex]="2" [nzTotal]="8" [nzPageSize]="8"></nz-pagination>
    </div>
  </div>
</div>
