@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;
@use '../../../../styles/colors' as *;

.thanks-parther-card {
	display: flex;
	gap: 8px;
	position: relative;
	//width: 390px;
	width: 100%;
	flex-wrap: nowrap;
	justify-content: space-between;

	&__actions {
		display: flex;
		flex-direction: column;
		gap: 28px
	}

	&__thanks-count {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $main-outline;
		border-radius: 8px;
		width: 24px;
		height: 24px;
	}
}

:host-context(.dark) .thanks-parther-card {
	background-color: $dark-background;
	border: 1px solid $white;
}
