@use 'src/assets/scss/_mixins.scss' as *;

@include ng-deep {
    .ant-card-body {
        padding: 0 36px;
    }
}

.auth {
    .logo {
        h2 {
            margin-top: 10px;
            font-weight: bold;
            font-size: 24px;
        }
    }

    .ant-card-bordered {
        border-radius: 30px;
        width: 372px;
        // height: 396px;
    }

    form {
        .ant-input-affix-wrapper {
            border-radius: 16px;
            height: 50px;
        }

        .ant-form-item {
            margin-bottom: 12px;
        }

        .ant-form-item:last-child {
            margin-bottom: 10px;
        }

        .login-form-button {
            width: 100%;
            font-weight: bold;
            font-size: 16px;
        }

        .note {
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
        }
    }
}

.relative {
    .position-right {
        position: absolute;
        right: 0;
    }
}
