<div
	*ngIf="!submitted; else repeatSend"
	class="login-header"
>
	<ss-headline
		size="h3"
		weight="semi-bold"
		>Восстановление пароля</ss-headline
	>
	<ss-text size="3"
		>Пожалуйста, укажите имя пользователя или e-mail, на который будут
		направлены инструкции по изменению пароля</ss-text
	>
</div>
<form
	*ngIf="!submitted"
	class="login-form"
	[formGroup]="loginForm"
>
	<fieldset class="login-form-inputs">
		<ss-input
			error="{{
				loginForm.getError('unauthorized') || loginForm.getError('link')
			}}"
			size="small"
			formControlName="login"
			placeholder="Логин"
		></ss-input>
	</fieldset>
	<div class="login-form-controls">
		<ss-button
			size="small"
			type="primary"
			[disabled]="!!loading"
			(click)="onSubmit()"
			>Отправить</ss-button
		>
		<ss-button
			size="small"
			type="tertiary"
			[routerLink]="['auth']"
		>
			<ss-icon name="arrowBottom"></ss-icon>
			<ss-text size="3">Вернуться назад</ss-text>
		</ss-button>
	</div>
</form>
<ng-template #repeatSend>
	<div class="login-header">
		<ss-headline
			size="h3"
			weight="semi-bold"
			>Проверьте почту</ss-headline
		>
		<ss-text size="3"
			>Если ничего не пришло, отправьте запрос еще раз. При возникновении
			проблем, обратитесь в службу поддержки.</ss-text
		>
	</div>
	<div class="login-form">
		<div class="login-form-inputs"></div>
		<div class="login-form-controls">
			<ss-button
				size="small"
				type="primary"
				[disabled]="!!loading"
				(click)="onSubmit()"
				>Отправить ещё раз</ss-button
			>
			<ss-text
				*ngIf="loading"
				class="timer"
				size="2"
				>Повторная отправка возможна через 00:{{
					loading / 10 >= 1 ? loading : '0' + loading
				}}</ss-text
			>
			<ss-button
				size="small"
				type="tertiary"
				(click)="submitted = false"
			>
				<ss-icon name="arrowBottom"></ss-icon>
				<ss-text size="3">Изменить почту</ss-text>
			</ss-button>
		</div>
	</div>
</ng-template>
