<div class="settings">
  <div class="left-menu">
    <div class="group">
      <div class="item" [routerLink]="'settings'" routerLinkActive="active-link">
		<ss-icon class="icon left-icon" [name]="'settings'"></ss-icon>
        <span class="title">Настройки профиля</span>
        <ss-icon class="icon right-icon" [name]="'arrowRight'"></ss-icon>
      </div>
      <div class="item" [routerLink]="'change-password'" routerLinkActive="active-link" *ngIf="false">
		  <ss-icon class="icon left-icon" [name]="'password'"></ss-icon>
        <span class="title">Изменить пароль</span>
		  <ss-icon class="icon right-icon" [name]="'arrowRight'"></ss-icon>
      </div>
      <div class="item" [routerLink]="'friendly-accounts'">
		  <ss-icon class="icon left-icon" [name]="'profile'"></ss-icon>
        <span class="title">Управление другими профилями</span>
		  <ss-icon class="icon right-icon" [name]="'arrowRight'"></ss-icon>
      </div>
    </div>
    <div class="group">
      <div class="item" [routerLink]="'my-menu'" *ngIf="true">
		  <ss-icon class="icon left-icon" [name]="'star'"></ss-icon>
        <span class="title">Настроить пункты моего меню</span>
		  <ss-icon class="icon right-icon" [name]="'arrowRight'"></ss-icon>
      </div>
<!--      [routerLink]="'order-widgets'"-->
      <div class="item" *ngIf="false">
		  <ss-icon class="icon left-icon" [name]="'sort'"></ss-icon>
        <span class="title">Упорядочить виджеты</span>
		  <ss-icon class="icon right-icon" [name]="'arrowRight'"></ss-icon>
      </div>
<!--      [routerLink]="'notifications'"-->
      <div class="item" *ngIf="false">
		<ss-icon class="icon left-icon" [name]="'iconRemind'"></ss-icon>
        <span class="title">Уведомления</span>
		  <ss-icon class="icon right-icon" [name]="'ss:arrowRight'"></ss-icon>
      </div>
    </div>
    <div class="group">
      <div class="item">
		  <ss-icon class="icon left-icon" [name]="'theme'"></ss-icon>
        <div class="title-ext">
          <span class="title">Тема оформления</span>
          <span class="subtitle">
            {{ switchValue? 'Отключить' : 'Включить' }} темную тему
          </span>
        </div>
        <div class="toggle">
			<ss-toggle [value]="switchValue" (change)="toggleTheme()"></ss-toggle>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
  </div>

</div>
