<div class="carousel">

	@if(isLoading) {
		<ss-loader></ss-loader>
	}

	@if(banners.length) {
		@for (banner of banners; track $index) {
			<a
				class="carousel__banner"
				[style.left.px]="($index * width - currentIndex * width)"
				[style.background-image]="'url(' + banner.imageUrl + ')'"
				[href]="banner.linkUrl"
			>
			</a>
		}
		@if (banners.length > 0 && currentIndex > 0) {
			<snab-button
				class="carousel__prev-button"
				[type]="ButtonType.Secondary"
				[icon]="IconType.ArrowLargeLeft"
				[iconPosition]="IconPosition.OnlyIcon"
				(click)="prev()"></snab-button>
		}
		@if (banners.length > 0 && currentIndex < banners.length - 1) {
			<snab-button
				class="carousel__next-button"
				[type]="ButtonType.Secondary"
				[icon]="IconType.ArrowLargeRight"
				[iconPosition]="IconPosition.OnlyIcon"
				(click)="next()"></snab-button>
		}
	}
	@else {
		<ss-empty-data-page></ss-empty-data-page>
	}
</div>



