@use '../../../assets/scss/variables' as *;

:host {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: $border-radius-sm;
}

.carousel-item {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}