[nz-carousel-content] {
    text-align: center;
    height: 400px;
    line-height: 160px;
    color: #fff;
    overflow: hidden;
    border-radius: 30px;
}

h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
}

.slider {
    margin-top: 24px;
    max-width: 100%;
    width: 1280px;
}

// Medium devices (tablets, 414px and up)
@media screen and (min-width: 414px) and (max-width: 639px) {
    .slider {
        width: 396px;
    }
}

// Medium devices (tablets, 640px and up)
@media screen and (min-width: 640px) and (max-width: 767px) {
    .slider {
        width: 620px;
    }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) and (max-width: 799px) {
    .slider {
        width: 748px;
    }
}

// Medium devices (tablets, 800px and up)
@media screen and (min-width: 800px) and (max-width: 1199px) {
    .slider {
        width: 780px;
    }
}
