[nz-carousel-content] {
    text-align: center;
    height: 400px;
    line-height: 160px;
    color: #fff;
    overflow: hidden;
    border-radius: 30px;
}

h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
}

.slider-bl {
    margin-top: 24px;
    width: 1280px;
}
