<ng-container *ngFor="let cols of columnsStateService.colsTr$ | async">
	<ng-container *ngFor="let col of cols.cols">
		<ng-container [ngSwitch]="col.id">
			<td class="ss-table-td" *ngIf="col.display">
				<ng-container [ngSwitch]="col.id">
					<ng-container *ngSwitchCase="ExcessIncomeClientRowItemField.contractors">
						<div class="ss-table-td__content">
							<ss-text *ngIf="contractor().contractor"> {{ contractor().contractor?.name }}</ss-text>
						</div>
					</ng-container>
					<ng-container *ngSwitchDefault>
						&nbsp;
					</ng-container>
				</ng-container>
			</td>
		</ng-container>
	</ng-container>
</ng-container>
