@for (row of data(); track row.id; let idxRow = $index) {
	<tr ssTr>
		@for (column of visibleColumns(); track column.id) {
			@if (!column.subColumns?.length && !column.subGroups?.length) {
				<td
					*ssCell="column.id"
					ssTd
					class="item-td"
				>
					@if (column.id === 'tov') {
						<div class="item-tov">
							<ss-lib-checkbox
								[formControl]="getRowCheckboxControl(idxRow)"
							></ss-lib-checkbox>
							<ss-lib-text
								class="item-tov__text"
								[type]="TextType.BodySm"
								[weight]="TextWeight.Regular"
								[align]="Align.Start"
							>
								{{ getCellValue(row, column.id) }}
							</ss-lib-text>
							@if (
								operationPlanState.getHasPermissionAddComments
							) {
								<ss-lib-button
									[class]="{
										'comment-button': !row.isComment,
									}"
									[text]="row.commentCount"
									[iconPosition]="IconPosition.Start"
									[icon]="IconType.Message"
									[size]="ExtraSize.xs"
									[type]="ButtonType.Secondary"
									[popoverTriggerFor]="
										row.isComment
											? addCommentsModal
											: createCommentsModal
									"
									(click)="
										openCommentsModal(row, row.isComment)
									"
								></ss-lib-button>
							}
							<ss-lib-dropdown-list
								#createCommentsModal
								[height]="'100%'"
								[width]="'449px'"
							>
								<app-create-comments-modal
									[data]="row"
								></app-create-comments-modal>
							</ss-lib-dropdown-list>
							<ss-lib-dropdown-list
								#addCommentsModal
								[height]="'100%'"
								[width]="'449px'"
							>
								<app-add-comments-modal
									*ngIf="openCommentsRowId === row.id"
									[data]="row"
								></app-add-comments-modal>
							</ss-lib-dropdown-list>
						</div>
					} @else if (
						column.id === 'optimalBatch' ||
						column.id.startsWith('week') ||
						column.id.startsWith('month')
					) {
						<ss-lib-text
							[type]="TextType.BodySm"
							[weight]="TextWeight.Regular"
							[align]="Align.End"
						>
							{{ getCellValue(row, column.id) }}
						</ss-lib-text>
					} @else if (
						column.id.startsWith('planQuantity') ||
						column.id.startsWith('factQuantity')
					) {
						<app-operation-plan-table-quantity-cell
							[hasUtilityAccess]="
								column.id.startsWith('planQuantity') &&
								!row.isPersonification
							"
							[hasPostponeAccess]="
								!!(
									operationPlanState.getHasPermissionEdit &&
									getDayCell(row, column.id)
										?.isManufactoryOrder
								)
							"
							[hasQuantityEditAccess]="
								operationPlanState.getHasPermissionEdit &&
								!row.isPersonification
							"
							[value]="getCellValue(row, column.id)"
							[row]="row"
							[columnId]="column.id"
						></app-operation-plan-table-quantity-cell>
					} @else {
						<ss-lib-text
							[type]="TextType.BodySm"
							[weight]="TextWeight.Regular"
							[align]="Align.Start"
						>
							{{ getCellValue(row, column.id) }}
						</ss-lib-text>
					}
				</td>
			}
		}
	</tr>
}
