.item-td {
  padding: 16px 12px;
  min-width: 80px;
  position: relative;
}

.item-tov {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 485px;

  &__text {
    flex-grow: 1;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input {
  width: 50px;
  height: 40px;
  padding: 0;
  text-align: end;
  font-family: var(--type-font-family-heading), serif;
  font-style: normal;
  margin: 0;
  font-size: var(--font-size-body-sm);
  line-height: var(--line-height-body-sm);
  background-color: transparent;
  border: none;
  outline: var(--border-width-sm) solid transparent;
  border-radius: var(--border-radius-md);
  transition: all 0.5s ease;
  position: absolute;
  right: 12px;
  top: calc(50% - 20px);
}

.quantity-input:hover {
  outline: var(--border-width-sm) solid var(--border-secondary);
  padding: 10px 12px;
  cursor: pointer;
}

.quantity-input:focus {
  width: 152px;
  padding: 10px 12px;
  outline: var(--border-width-sm) solid var(--border-secondary);
  background-color: var(--surface-primary);
  box-shadow: var(--shadow-xl);
}

.postpone-button {
  transition: all 0.5s ease;
  opacity: 0;
  width: 24px;
  display: inline-flex;
}

.item-td:hover {
  .postpone-button {
    opacity: 100%;
  }
}