@for (row of data(); track row.id; let idxRow = $index) {
	<tr ssTr>
		@for (column of visibleColumns(); track column.id) {
			@if (!column.subColumns?.length && !column.subGroups?.length) {
				<td
					*ssCell="column.id"
					ssTd
					class="item-td"
					[style.min-width.px]="
						column.id.startsWith('planQuantity')
							? 160
							: column.id.startsWith('factQuantity')
								? 105
								: 80
					"
				>
					@if (column.id === 'tov') {
						<div class="item-tov">
							<ss-lib-checkbox
								[formControl]="getRowCheckboxControl(idxRow)"
							></ss-lib-checkbox>
							<ss-lib-text
								class="item-tov__text"
								[type]="TextType.BodySm"
								[weight]="TextWeight.Regular"
								[align]="Align.Start"
							>
								{{ getCellValue(row, column.id) }}
							</ss-lib-text>
							@if (operationPlanState.getHasPermissionEdit) {
								<ss-lib-button
									[class]="{
										'comment-button': !row.isComment,
									}"
									[text]="row.commentCount"
									[iconPosition]="IconPosition.Start"
									[icon]="IconType.Message"
									[size]="ExtraSize.xs"
									[type]="ButtonType.Secondary"
									[popoverTriggerFor]="
										row.isComment
											? addCommentsModal
											: createCommentsModal
									"
									(isPopoverOpenEmit)="onCommentsOpen($event)"
								>
								</ss-lib-button>
							}
							<ss-lib-dropdown-list
								#createCommentsModal
								[height]="'100%'"
								[width]="'449px'"
							>
								<app-create-comments-modal
									[data]="row"
								></app-create-comments-modal>
							</ss-lib-dropdown-list>
							<ss-lib-dropdown-list
								#addCommentsModal
								[height]="'100%'"
								[width]="'449px'"
							>
								<app-add-comments-modal
									#getCommentsList
									[data]="row"
								></app-add-comments-modal>
							</ss-lib-dropdown-list>
						</div>
					} @else if (
						column.id === 'optimalBatch' ||
						column.id.startsWith('week') ||
						column.id.startsWith('month')
					) {
						<ss-lib-text
							[type]="TextType.BodySm"
							[weight]="TextWeight.Regular"
							[align]="Align.End"
						>
							{{ getCellValue(row, column.id) }}
						</ss-lib-text>
					} @else if (
						(column.id.startsWith('planQuantity') ||
							column.id.startsWith('factQuantity')) &&
						operationPlanState.getHasPermissionEdit
					) {
						@if (
							column.id.startsWith('planQuantity') &&
							getDayCell(row, column.id)?.isManufactoryOrder
						) {
							<ss-lib-button
								class="postpone-button"
								[type]="ButtonType.Secondary"
								[size]="ExtraSize.xxs"
								[iconPosition]="IconPosition.OnlyIcon"
								[icon]="IconType.CornerUpRight"
								(click)="
									openPostponePlanModal(row);
									$event.stopPropagation()
								"
							></ss-lib-button>
						}
						<input
							#quantityInput
							class="quantity-input"
							type="number"
							maxlength="10"
							[disabled]="
								!operationPlanState.getHasPermissionEdit
							"
							[value]="getCellValue(row, column.id)"
							(focusout)="editPlanFact($event, row, column.id)"
							(keyup.enter)="quantityInput.blur()"
						/>
					} @else {
						<ss-lib-text
							[type]="TextType.BodySm"
							[weight]="TextWeight.Regular"
							[align]="Align.Start"
						>
							{{ getCellValue(row, column.id) }}
						</ss-lib-text>
					}
				</td>
			}
		}
	</tr>
}
