@for (row of data(); track row.id; let idxRow = $index) {
	<tr
		ssTr
	>
		@for (column of visibleColumns(); track column.id) {
			@if (!column.subColumns?.length &&
			!column.subGroups?.length) {
				<td
					*ssCell="column.id"
					ssTd
                    class="item-td"
				>
					@if (column.id === 'tov') {
                        <div class="item-tov">
                            <ss-lib-checkbox
                                [formControl]="getRowCheckboxControl(idxRow)"
                            ></ss-lib-checkbox>
                            <ss-lib-icon
                                [width]="'24'"
                                [height]="'24'"
                                [icon]="IconType.Plus"
                                (click)="openPostponePlanModal(row)">
                            </ss-lib-icon>
                            <ss-lib-text
                                    class="item-tov__text"
                                [type]="TextType.BodySm"
                                [weight]="TextWeight.Regular"
                                [align]="Align.Start"
                            >
                                {{ getCellValue(row, column.id) }}
                            </ss-lib-text>
                            <ss-lib-icon
                                    [width]="'24'"
                                    [height]="'24'"
                                    [icon]="IconType.Plus"
                                    (click)="openPostponePlanModal(row)">
                            </ss-lib-icon>
                            <ss-lib-icon
                                    [width]="'24'"
                                    [height]="'24'"
                                    [icon]="IconType.Message"
                                    (click)="openCreateCommentsModal(row)">
                            </ss-lib-icon>
                            <ss-lib-icon
                                    [width]="'24'"
                                    [height]="'24'"
                                    [icon]="IconType.Message"
                                    (click)="openAddCommentsModal(row)">
                            </ss-lib-icon>

                        </div>
                    } @else if (column.id === "optimalBatch" || column.id.startsWith('week') || column.id.startsWith('month')) {
                        <ss-lib-text
                                [type]="TextType.BodySm"
                                [weight]="TextWeight.Regular"
                                [align]="Align.End"
                        >
                            {{ getCellValue(row, column.id) }}
                        </ss-lib-text>
                    } @else if (column.id.startsWith('planQuantity') || column.id.startsWith('factQuantity')) {
                        <input
                                #quantityInput
                                class="quantity-input"
                                type="number"
                                [value]="getCellValue(row, column.id)"
                                (focusout)="editPlanFact($event, row, column.id);"
                                (keyup.enter)="quantityInput.blur()"
                        >

                    } @else {
                        <ss-lib-text
                                [type]="TextType.BodySm"
                                [weight]="TextWeight.Regular"
                                [align]="Align.Start"
                        >
                            {{ getCellValue(row, column.id) }}
                        </ss-lib-text>
                    }
				</td>
			}
		}
	</tr>
}