.item-td {
	padding: 16px 12px;
	min-width: 80px;
	position: relative;
}

.item-tov {
	display: flex;
	align-items: center;
	gap: 8px;
	min-width: 485px;

	&__text {
		flex-grow: 1;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.hidden {
	transition: all 0.5s ease;
	opacity: 0;
}

.item-td:hover {
	.hidden {
		opacity: 100%;
	}

	.quantity-button {
		opacity: 100%;
	}
}

.actions {
	position: relative;
}

.tov-link {
	transition: all 0.5s ease;
	position: absolute;
	left: -4px;
}

.comment {
	z-index: 1;
}

.actions:hover {
	.tov-link {
		left: -28px
	}
}

tr td:first-child {
	border-left: none !important;
}
