.item-td {
	padding: 16px 12px;
	min-width: 80px;
	position: relative;
}

.item-tov {
	display: flex;
	align-items: center;
	gap: 8px;
	min-width: 485px;

	&__text {
		flex-grow: 1;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.comment-button {
	transition: all 0.5s ease;
	opacity: 0;
}

.item-td:hover {
	.comment-button {
		opacity: 100%;
	}

	.quantity-button {
		opacity: 100%;
	}
}

tr td:first-child {
	border-left: none !important;
}
