.client-proposals-tabs-canvas {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 314px;

	&__header {
		display: flex;
		padding: 16px;
		justify-content: space-between;
		align-items: center;
	}

	&__body {
		width: 100%;
		padding: 0 16px;
		min-height: 200px;
		position: relative;
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 16px;
		min-height: 48px;
	}

	&__content {
	}
}
