<div class="client-proposals-tabs-canvas">
	<div class="client-proposals-tabs-canvas__content">
		<div class="client-proposals-tabs-canvas__header">
			<ng-container *ngTemplateOutlet="headerTemplateRef"></ng-container>
		</div>
		<div class="client-proposals-tabs-canvas__body">
			<ss-loader *ngIf="isLoader"></ss-loader>
			<ng-container *ngIf="!isLoader">
				<ng-template *ngTemplateOutlet="bodyTemplateRef"></ng-template>
			</ng-container>
		</div>
	</div>
	<div class="client-proposals-tabs-canvas__footer">
		<ng-container *ngTemplateOutlet="footerTemplateRef"></ng-container>
	</div>
</div>
