@use 'src/styles/colors.scss' as *;

.ss-pagination {
	display: flex;
	gap: 6px;
	justify-content: flex-end;

	&__tabs {
		margin-bottom: 0;
		display: flex;
		flex-wrap: nowrap;
		gap: 6px;
	}

	&__tab, &__waiting {
		cursor: pointer;
	}

	&__tab {
		font-size: 13px;
		line-height: 40px;
		font-weight: 500;
		border: 1px solid $island-outline;
		border-radius: 8px;
		padding: 8px;
		max-height: 32px;
		min-width: 32px;
		color: black;
		display: flex;
		align-items: center;
		justify-content: center;

		&--active {
			background: $main;
			color: $island;
			border: none;
		}

		&--disabled {
			cursor: default;

			ss-icon {
				opacity: 0.1;
				cursor: default;
			}
		}

		&--left-arrow {
			transform: rotate(180deg);
		}
	}
}

:host-context(.dark) :host {
	li {
		color: $island;
	}
}

