.ss-pagination {
	display: flex;
	gap: 6px;

	&__tabs {
		display: flex;
		flex-wrap: nowrap;
		gap: 6px;
	}

	&__tab, &__waiting {
		cursor: pointer;
	}

	&__tab {
		font-size: 16px;
		line-height: 40px;
		font-weight: 600;
		border: 2px solid #e4e8ea;
		border-radius: 10px;
		height: 40px;
		width: 40px;
		color: black;
		display: flex;
		align-items: center;
		justify-content: center;

		&--active {
			background: #4770ff;
			color: #FFFFFF;
			border: none;
		}

		&--disabled {
			opacity: 0.5;
			cursor: default;
		}
	}
}
