@use 'src/styles/colors.scss' as *;

.approve-orders-form {
	width: 965px;
	max-height: 836px;
	display: flex;
	flex-direction: column;
	background: lighten($island-outline, 40%);
	border-radius: var(--radius-xl-3);
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	padding: var(--padding-l);
	overflow: auto;
	max-height: 560px;
}

.orders-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 24px;
	text-align: center;

	thead {
		background-color: lighten($island-outline, 40%);
	}

	th {
		background-color: #EEF2FF;
	}

	th, td {
		padding: 8px;
		border-bottom: 1px solid $island-outline;
		vertical-align: middle;
	}
}

.footer {
	display: flex;
	padding: var(--padding-l);
	justify-content: flex-end;
	gap: 20px;
}
