<div class="production-plan-wrapper">
    <div class="header">
        <ss-headline size="h3">Планирование производства</ss-headline>
        <div class="header__controls">
            <ss-select>
                <option value="">Выберите период</option>
            </ss-select>
        </div>
    </div>

    <div class="tabs">
        <ss-tabs
            [tabs]="productionPlanTabs"
            [selectedTab]="productionPlanTabs[0]"
            [size]="'small'"
        />
        <ss-card padding="0" radius="0 0 16px 16px" class="tabs__content">
            <router-outlet></router-outlet>
        </ss-card>
    </div>
</div>
