.production-plan {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    padding: 0 24px;
  }

  &__tabs {
    height: 100%;
  }

  &__body {
    padding: 0 24px;
  }
}