<form class="datepicker-wrapper" [formGroup]="form">
    @if (showDate) {
        <mat-form-field class="custom-form-field date" appearance="outline" [ngClass]="{'error': error}">
            <input
                matInput
                formControlName="date"
                placeholder="дд.мм.гггг"
                class="date__input"
                [readonly]="readonly"
                [maskito]="dateInputTextMask"
                [matDatepicker]="datepicker"
                (click)="readonly && datepicker.open()"
            />

            <mat-datepicker #datepicker></mat-datepicker>

            <mat-icon matSuffix class="date__open-icon" (click)="datepicker.open()">
                <ss-icon name="calendar"></ss-icon>
            </mat-icon>

            @if (clearDate) {
                <mat-icon matSuffix class="date__clear-icon" (click)="clearControls()">
                    <ss-icon name="close" width="12" height="12"></ss-icon>
                </mat-icon>
            }
        </mat-form-field>
    }

    @if (showTime) {
        <mat-form-field class="custom-form-field time" appearance="outline">
            <input
                matInput
                type="time"
                formControlName="time"
            />

            <mat-icon matSuffix class="time__icon">
                <ss-icon name="clock"></ss-icon>
            </mat-icon>
        </mat-form-field>
    }
</form>

@if (error) {
	<ss-caption size="2" color="error">{{ error }}</ss-caption>
}

