<ss-card
	class="victory"
	[padding]="'16px 0'"
>
	<ss-loader *ngIf="isLoading"></ss-loader>

	<div class="victory__header">
		<div class="victory__header-info">
			<ss-text size="1">Победы</ss-text>
			<ss-text size="3"
				>Делитесь достижениями, ведь успех заразителен!</ss-text
			>
		</div>
		<div class="victory__header-actions">
			<ss-button (click)="openAddVictoryPopover()">
				<ss-icon
					[width]="'12'"
					[height]="'12'"
					[name]="'plus'"
				></ss-icon>
				Добавить победу
			</ss-button>
		</div>
	</div>
	<ss-divider></ss-divider>
	<div class="victory__body">
		<div class="victory__wrapper">
			<ng-container *ngIf="victoryList$ | async as list">
				<ng-container *ngIf="list.total > 0">
					<div class="victory__content">
						<app-user-card-widget
							*ngFor="let item of list.items"
							[isExtendedMode]="list.isExtendedMode"
							[widget]="item"
						></app-user-card-widget>
					</div>
				</ng-container>
				<ng-container *ngIf="list.total === 0">
					<ss-empty-placeholder>
						<ss-icon name="empty"></ss-icon>
						<ss-headline size="h3">Нет данных</ss-headline>
					</ss-empty-placeholder>
				</ng-container>
				<ss-pagination
					*ngIf="list.total"
					class="victory__pagination"
					[total]="list.total"
					[pageIndex]="pageIndex"
					[pageSize]="pageSize"
					(changeIndex)="nzPageIndexChange($event)"
				>
				</ss-pagination>
			</ng-container>
		</div>
	</div>
</ss-card>
