.victory {
	display: flex;
	flex-direction: column;
	min-width: 828px;
	gap: 16px;
	padding: 16px 0;
	position: relative;

	&__header {
		display: flex;
		gap: 16px;
		padding: 0 16px;
		justify-content: space-between;
	}

	&__header-info {
		display: flex;
		gap: 8px;
		flex-direction: column;
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__header-actions {
		display: flex;
		justify-content: flex-end;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		min-width: 828px;
		gap: 16px;
		justify-content: center;
	}

	&__pagination {
		display: flex;
		justify-content: center;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}
