.client-tpr-business-trips-tab {
	&__link {
		font-size: 16px;
		line-height: 19px;
	}
}

.pagination {
	justify-content: flex-end;
	margin: 0;
}

.container {
	display: flex;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}

.control {
	display: flex;
	flex-wrap: nowrap;
	gap: 8px;
}
