@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/dark';
@import './base';
@layout-sider-background: @component-background;
@layout-header-background: @component-background;

body {
    color: #ffffff;

    // Убрать !important
    .ant-layout-header {
        background-color: #000000 !important;

        .nav-left {
            .menu {
                li {
                    color: #ffffff;
                    &:hover {
                        background-color: #31393d;
                    }
                }
            }
        }
    }

    .ant-menu-item {
        color: #ffffff !important;
    }

    .ant-layout {
        background-color: #000000 !important;
    }

    .ant-layout-footer {
        background-color: #000000 !important;
        color: #ffffff !important;
    }

    svg {
        fill: #31393d !important;

        path {
            stroke: #ffffff !important;
        }
    }

    .header,
    .footer {
        .logo {
            svg {
                path {
                    fill: #f4f5f6;
                }
            }
        }

        .burger {
            svg {
                stroke: #f4f5f6;
                fill: #f4f5f6;

                path {
                    fill: #f4f5f6;
                    stroke: #f4f5f6;
                }
            }
        }
    }

    .header {
        .search-header {
            svg {
                stroke: #ffffff;
            }
        }
    }

    .icon-bg {
        background-color: #31393d !important;
        border: 1px #313131 solid !important;
    }

    .profile {
        background-color: #31393d !important;
        border: 1px #313131 solid !important;
        color: #ffffff;
    }

    form {
        .ant-input-affix-wrapper {
            background: black;
            color: #fff;
        }
    }
}

:host ::ng-deep .ant-menu-light .ant-menu-submenu-title {
    color: #ffffff;
}
