@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/dark';
@import './base';
@layout-sider-background: @component-background;
@layout-header-background: @component-background;

body {
    color: #ffffff;
}

.ant-layout-header {
    background-color: #000000 !important;
}

.ant-menu-item {
    color: #ffffff !important;
}

.ant-layout {
    background-color: #000000 !important;
}
