@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/default';
@import './base';
@layout-sider-background: @white;
@layout-trigger-background: @white;
@layout-header-background: @white;

.ant-layout-header {
    background-color: #ffffff !important;
}

/** Мобильное меню */
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff;
}

.ant-tabs-tab.ng-star-inserted {
    color: #22223a;
    padding: 10px;
}

.ant-tabs-tab + .ant-tabs-tab {
    margin: 0 0 0 8px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #ebeff2;
}

.ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #4770ff;
}

.ant-menu-submenu-arrow {
    color: #22223a;
}

.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-expand-icon,
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
    color: #4770ff;
}

.ant-menu-sub.ant-menu-inline {
    background: unset;
}

.ant-menu-submenu > .ant-menu {
    border-radius: 30px;
}

.ant-tabs-tab {
    border: 2px #e4e8ea solid;
}

.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    color: #22223a;
}
