$white: #ffffff;
$black: #22223a;
$blue: #4770ff;
$gray-dark: #2a2a2a;
$gray: #e4e8ea;
$gray-light: #f4f5f6;
$body-color: #e4e8ea;
$link-color: #4770ff;
$link-hover-color: #4770ffff;
$card-action-bg: #fafafa;
$border-color: #e4e8ea;

// ----------------

$main: #4770ff;
$main-outline: #335df2;

$additional: #cbd7ff;
$additional-outline: #a4b8ff;

$island: #ffffff;
$island-outline: #ebeeef;

$background: #f4f6f9;

$text: #0e0f10;

$lite-text: #6d7885;
$bg-icon: #f2f3f8;

$ok: #bddca9;
$error: #ffc6c6;
$warning: #fce590;

$lite-ok: #e1f4d5;
$lite-error: #ffe8e9;
$lite-warning: #faf5c7;

$dark-island: #1b2123;
$dark-inner: #2a3235;
$dark-island-outline: #394245;

$dark-background: #0e0f10;

$dark-text: #ffffff;

$border-table: #f0f0f0;
