$main: #4770FF;
$main-outline: #335DF2;

$additional: #CBD7FF;
$additional-outline: #A4B8FF;

$island: #FFFFFF;
$island-outline: #E4E8EA;

$background: #F4F5F6;

$text: #0E0F10;

$lite-text: #6D7885;
$bg-icon: #F2F3F8;

$ok: #BDDCA9;
$error: #FFC6C6;
$warning: #FCE590;

$lite-ok: #E1F4D5;
$lite-error: #FFE8E9;
$lite-warning: #FAF5C7;

$dark-island: #1B2123;
$dark-inner: #2A3235;
$dark-island-outline: #394245;

$dark-background: #0E0F10;

$dark-text: #FFFFFF;

$border-table: #F0F0F0;

