$main: #4770FF;
$main-outline: #335DF2;

$additional: #CBD7FF;
$additional-outline: #A4B8FF;

$island: #FFFFFF;
$island-outline: #E4E8EA;

$background: #F4F5F6;

$text: #0E0F10;

$lite-text: #6D7885;

$ok: #20BF55;
$error: #EE1C25;
$warning: #FFB525;

$lite-ok: #93EEB1;
$lite-error: #FF9196;
$lite-warning: #FCE590;

$dark-island: #1B2123 !important;
$dark-island-outline: #394245 !important;

$dark-background: #0E0F10 !important;

$dark-text: #FFFFFF;

