<table
	ssTable
	[hasBorderRadius]="false"
	[showCellBorders]="true"
	[columns]="visibleColumnsIds()"
>
	<thead>
		<tr ssThGroup>
			@for (column of visibleColumns(); track column) {
				<th
					*ssHead="column.id"
					ssTh
					[resizable]="true"
				>
					<div class="td-column">
						<ss-lib-text
							ss-lib-tooltip
							[tooltipText]="
								column.id === 'payerBuUnit'
									? 'БЕ плательщика'
									: null
							"
							[color]="Colors.TextBody2"
							[weight]="TextWeight.Semibold"
							[type]="TextType.BodyXs"
							[align]="Align.Center"
							[isEllipsis]="true"
						>
							{{ column.name }}
						</ss-lib-text>
					</div>
				</th>
			}
		</tr>
	</thead>
	<tbody>
		@for (row of data(); track row.id; let idxRow = $index) {
			<tr ssTr>
				@for (column of visibleColumns(); track column.id) {
					<td
						*ssCell="column.id"
						ssTd
						class="item-td"
					>
						@if (column.id === 'id') {
							<ss-lib-link
								[text]="row[column.id]"
								(click)="openAct(row[column.id])"
							></ss-lib-link>
						} @else if (column.id === 'providerContractor') {
							<a
								target="_blank"
								[href]="row[column.id]?.linkToDetail"
							>
								<ss-lib-link
									[text]="row[column.id]?.name || ''"
								></ss-lib-link
							></a>
						} @else if (column.id === 'totalAmount') {
							<ss-lib-text
								[type]="TextType.BodySm"
								[weight]="TextWeight.Regular"
								[align]="Align.End"
							>
								{{ row[column.id] | numWithSpaces }}
							</ss-lib-text>
						} @else {
							<ss-lib-text
								[type]="TextType.BodySm"
								[weight]="TextWeight.Regular"
								[align]="Align.Start"
							>
								@if (column.id.toLowerCase().includes('date')) {
									{{
										row[column.id]
											| date: 'dd.MM.yyyy' : '' : 'ru'
									}}
								} @else if (column.id.includes('totalAmount')) {
									{{ row[column.id] | numWithSpaces }}
								} @else if (row[column.id]?.name) {
									{{ row[column.id]?.name }}
								} @else {
									{{ row[column.id] }}
								}
							</ss-lib-text>
						}
					</td>
				}
			</tr>
		}
	</tbody>
</table>
