@use 'src/styles/colors.scss' as *;

table {
	width: 100%;
	border-radius: 16px;
	background-color: $island;
	max-width: 1280px;
	overflow: hidden;

	 tr > th {
		 height: 45px;
		 text-align: center;
		 background: #e6ebee;
		 padding: 2px 2px;
		 font-size: 16px;
		 font-weight: bold;
		 min-width: 150px;
	 }

	tr > th:nth-child(1) {
		border-radius: 16px 0 0 0;
	}

	tr > th:last-child {
		border-radius: 0 16px 0 0;
	}

	tr > td {
		font-size: 16px;
		height: 45px;
		color: $text;
		font-weight: 600;
		text-align: center;
		padding: 0 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 700px;
	}

	tr > td a {
		font-size: 16px;
		color: $text;
		font-weight: 600;
		opacity: 0.7;
		text-align: center;
		cursor: pointer;
	}

	tr > td a:hover {
		opacity: 1;
	}

	tr > td:nth-child(1) {
		text-align: left;
	}

	tr > td:last-child {
		text-align: right;
	}
}
