@use 'src/styles/colors.scss' as *;

table {
	width: 100%;
	background-color: $island;
	max-width: 1280px;
	border-radius: 16px;
	border-style: hidden;
	box-shadow: 0 0 0 1px $island-outline;

	thead {
		tr {
			th {
				text-align: left;
				background-color: #F2F3F7;
				padding: 12px;
				border: 1px solid $island-outline;
				font-size: 14px;
				font-weight: 700;
				line-height: 19px;
				letter-spacing: -0.01em;
				color: $text;
			}

			th:first-child {
				border-top-left-radius: 16px;
			}

			th:last-child {
				border-top-right-radius: 16px;
			}
		}
	}

	tr {
		td {
			padding: 12px;
			font-size: 12px;
			color: $text;

			font-weight: 400;
			//white-space: nowrap;
			max-height: 300px;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 200px;
			word-break: break-word;
			border: 1px solid $island-outline;

			a {
				font-size: 14px;
				color: $main-outline ;
				font-weight: 400;
				opacity: 0.7;
				text-align: left;
				cursor: pointer;
			}

			a:hover {
				 opacity: 1;
			}
		}
	}
}



:host-context(.dark) table {
	background-color: $dark-island;

	thead {
		tr {
			th {
				text-align: left;
				background-color: #24292D;
				color: $island;
			}
		}
	}

	tr {
		td {
			color: $island;

			a {
				color: $island;
			}
		}
	}
}
