<div class="pseudo-header" #pseudoHeadEl>
	<div class="pseudo-header__item" [ngStyle]="{ 'padding': padding }" *ngFor="let headItem of head">{{ headItem.title }}</div>
</div>
<div class="table-wrapper">
	<table>
		<thead *ngIf="head">
			<tr #headEl >
				<th [ngStyle]="{ 'padding': padding }" *ngFor="let headItem of head">{{ headItem.title }}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of items">
				<td [ngStyle]="{ 'padding': padding }" *ngFor="let headItem of head" [ngClass]="{'highlight': item.highlight, 'overflow': cell.clientWidth < cell.scrollWidth}" #cell>
					<ng-container [ngSwitch]="true" #link>
					<a *ngSwitchCase="!!item[headItem.field]?.url" href="{{ item[headItem.field].url }}" target="_blank">
						{{ item[headItem.field].text }}
					</a>
					<span *ngSwitchCase="Array.isArray(item[headItem.field])">
						<a *ngFor="let link of item[headItem.field]" href="{{ link.url }}" target="_blank">
							{{ link.text }}
						</a>
					</span>
					<span *ngSwitchDefault>{{ item[headItem.field] }}</span>
					</ng-container>
					<ss-icon class="maximise" name="maximise" *ngIf="cell.clientWidth < cell.scrollWidth" (click)="showText(item[headItem.field])"></ss-icon>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="empty-space"></div>
</div>
