@use 'src/styles/colors.scss' as *;

.client-proposals-done-production {
	display: flex;
	flex-direction: column;
	width: 450px;

	&__header {
		padding: 14px 12.5px;
		border-bottom: 1px solid $island-outline;
		font-size: 16px;
		line-height: 19px;
	}

	&__body {
		padding: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 312px;
	}
}
