<div class="client-proposals-done-production">
	<ng-container *ngIf="doneProductions$ | async as production">
	<a *ngIf="production.linkToModule;else text" class="client-proposals-done-production__header" href="{{ production.linkToModule }}">Модель клиента</a>
		<ng-template #text>
			<ss-text size="1">Модель клиента</ss-text>
		</ng-template>
	<div class="client-proposals-done-production__body">

			<div class="client-proposals-done-production__content" *ngIf="production.total > 0;else empty">
				<ss-table
					[scroll]="true"
					[padding]="'8px'"
					[head]="[
							{title: 'ВГП', field: 'name'},
							{title: 'Обьем производства', field: 'quantity'},
							]"
					[items]="getTableItems(production)"
				>
				</ss-table>
			</div>

		<ng-template #empty>
			<div class="client-proposals-done-production__no-content">
				<ss-empty-data-page></ss-empty-data-page>
			</div>
		</ng-template>
	</div>
	</ng-container>
</div>



