<div class="client-proposals-done-production">
	<ng-container *ngIf="(doneProductions$ | async) as production">
	<a *ngIf="production.data.linkToModule;else text" class="client-proposals-done-production__header" href="{{ production.data.linkToModule }}" target="_blank">Модель клиента</a>
		<ng-template #text>
			<ss-text size="1">Модель клиента</ss-text>
		</ng-template>
	<div class="client-proposals-done-production__body">
		<ss-table *ngIf="production.data.total > 0;else empty"
			[padding]="'8px'"
			[head]="[
					{title: 'ВГП', field: 'name'},
					{title: 'Объём производства, тн/год', field: 'quantity'},
					]"
			[items]="getTableItems(production.data)"
		>
		</ss-table>
		<ng-template #empty>
			<div class="client-proposals-done-production__no-content">
				<ss-empty-data-page></ss-empty-data-page>
			</div>
		</ng-template>
	</div>
	</ng-container>
</div>



