.container {
	.content {
		height: 90vh;
		display: flex;
		align-items: center;
		justify-content: center;

		.permission {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 20px;
		}

		.permission-img {
			display: flex;
			justify-content: center;
		}

		.description {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}

		ss-button {
			margin-top: 20px;
			width: 173px;

			::ng-deep button {
				font-size: 13px;
			}
		}
	}
}
