<div class="container">
	<div class="content">
		<div class="permission">
			<div class="permission-img">
				<img
					src="../../../assets/images/not-permission-page/ss-not-permission-page.png"
					alt=""
				/>
			</div>
			<ss-headline
				size="h3"
				weight="semi-bold"
				>Доступ запрещён</ss-headline
			>
			<div class="description">
				<ss-text
					color="gray"
					size="1"
					weight="medium"
					>У вас нет прав доступа к странице.</ss-text
				>
				<ss-text
					color="gray"
					size="1"
					weight="medium"
					>Обратитесь к администратору</ss-text
				>
			</div>
			<div [routerLink]="AppRoutes.root">
				<ss-button
					size="small"
					type="muted"
					>Вернуться на главную</ss-button
				>
			</div>
		</div>
	</div>
</div>
