@import "src/styles/colors";

:host {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 100%;
	flex-grow: 1;
}

.login-header {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
}

.login-form {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;

	.login-form-inputs {
		display: flex;
		flex-direction: column;
		gap: 12px;

		::ng-deep ss-text p {
			padding-bottom: 16px;
			color: $lite-text;
			text-align: center;
		}

		ss-link {
			align-self: center;
		}
	}
}

