<div class="login-header">
	<ss-headline size="h3" weight="semi-bold">Изменение пароля</ss-headline>
	<ss-text size="3">Вход в аккаунт {{ login }}</ss-text>
</div>
<form class="login-form" [formGroup]="resetPassForm">
	<fieldset class="login-form-inputs">
		<ss-password
			error="{{
				getFormControl('password').touched && getFormControl('password').getError('required') && 'Поле обязательно для заполнения' ||
				getFormControl('password').touched && getFormControl('password').getError('password') && 'Некорректный пароль' || ''
				}}"
			size="small"
			formControlName="password"
			placeholder="Новый пароль"
		></ss-password>
		<ss-password
			error="{{
				getFormControl('confirmPassword').touched && getFormControl('confirmPassword').getError('required') && 'Поле обязательно для заполнения' ||
				getFormControl('password').touched && getFormControl('password').value !== getFormControl('confirmPassword').value && 'Значения не совпадают' || ''
				}}"
			size="small"
			formControlName="confirmPassword"
			placeholder="Повторите пароль, чтобы не ошибиться"
		></ss-password>
		<ss-text size="4">Новый пароль должен состоять не менее, чем из 8 символов. Используйте сочетание по крайней мере 1 заглавной буквы, 1 цифры и 1 специального символа (#, &#64;, &)</ss-text>
	</fieldset>
	<ss-button size="small" type="primary" [disabled]="loading" (click)="onSubmit()">Войти</ss-button>
</form>
