<div class="login-header">
	<ss-headline size="h3" weight="semi-bold">Изменение пароля</ss-headline>
	<ss-text size="3">Вход в аккаунт {{ login }}</ss-text>
</div>
<form class="login-form" [formGroup]="loginForm">
	<fieldset class="login-form-inputs">
		<ss-password size="small" formControlName="password" placeholder="Новый пароль" error="{{ loginForm.getError('unauthorized') }}"></ss-password>
		<ss-password size="small" formControlName="confirmPassword" placeholder="Повторите пароль, чтобы не ошибиться" error="{{ loginForm.getError('unauthorized') }}"></ss-password>
		<ss-text size="4">Новый пароль должен состоять не менее, чем из 8 символов. Используйте сочетание по крайней мере 1 заглавной буквы, 1 цифры и 1 специального символа (#, &#64;, &)</ss-text>
	</fieldset>
	<ss-button size="small" type="primary" (click)="onSubmit()" [disabled]="loading">Войти</ss-button>
</form>
