<div class="app-client-proposals-filter">
	<ss-headline size="h3">Фильтры</ss-headline>
	<ss-search-input [placeholder]="'Введите название ВГП'"></ss-search-input>
	<ss-search-input [placeholder]="'Введите название ТГ'" [label]="'ВГП'"></ss-search-input>
	<ss-search-input [placeholder]="'Введите название ТПГ'" [label]="'ТГ'"></ss-search-input>
	<ss-search-input [placeholder]="'Введите название ТПР'" [label]="'ТПГ'"></ss-search-input>
	<ss-search-input [placeholder]="'Введите название ТПР'" [label]="'ТПР'"></ss-search-input>
	<ss-button>Применить фильтры</ss-button>
</div>
