<div class="wrapper">
	<ss-card class="excess-income-update-snd-client-popover" [padding]="'0'">
		<div class="excess-income-update-snd-client-popover__header">
			<ss-text>Установить СНД,% для всех ТПГ Клиента {{ client.name }}</ss-text>
			<ss-icon [name]="'close'" (click)="close()"></ss-icon>
		</div>
		<ss-divider></ss-divider>
		<div class="excess-income-update-snd-client-popover__body">
			<ss-search-input-v2
				[placeholder]="'Выберите ТПГ'" [label]="'ТПГ (подгруппа товарных позиций)'"
				[formControl]="tovGroupControl" [queryControl]="queryControl"
				[options]="options()">
			</ss-search-input-v2>
			<div class="excess-income-update-snd-client-popover__body__content" *ngIf="tovGroups$ | async as group">
				<ss-table-v2 *ngIf="group.length;else empty">
					<tr *ngFor="let tovGroup of group" excess-income-update-tov-group-tr [tovGroup]="tovGroup"></tr>
				</ss-table-v2>
				<ng-template #empty>
					<ss-empty-placeholder>
						<ss-text>Выберите ТПГ из списка</ss-text>
					</ss-empty-placeholder>
				</ng-template>
			</div>
		</div>
		<ss-divider></ss-divider>
		<div class="excess-income-update-snd-client-popover__footer">
			<ss-button [type]="'usually'" (click)="close()">Отмена</ss-button>
			<ss-button (click)="submit()">Применить</ss-button>
		</div>
	</ss-card>
</div>
