@use '../../../../../assets/scss/mixins' as *;
@use '../../../../../assets/scss/variables' as *;
@use '../../../../../styles/colors' as *;

:host {
	background-color: $white;
}

:host:hover {
	color: #212529;
	background-color: rgba(0, 0, 0, .075);
}

.ss-table-td {
	border: 1px solid $border-table;
	position: relative;
	padding: var(--padding-m) var(--padding-xs);

	&__different-price {
		background-color: #ECE0FF;
	}

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6px;

		&--space {
			justify-content: space-between;
		}

		&--actions {
			display: flex;
			flex-wrap: nowrap;
			gap: 6px;
		}
	}
}
