@use '../../../../../styles/colors' as *;

:host .managers {
	width: 450px;
	display: flex;
	flex-direction: column;

	.header {
		width: 100%;
		height: 52px;
		padding: 16px 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $island-outline;

		ss-icon {
			cursor: pointer;
		}
	}

	.base.header {
		border-bottom: none;
	}

	.property.header {
		border-bottom: none;
		padding: 0 16px 0 16px;
	}

	.search-by-manager {
		padding: 1px 16px 12px 16px;
	}

	.manager {
		position: relative;
		display: flex;
		padding: 0 16px 16px;
		gap: 12px;
		border-bottom: 1px solid $island-outline;
		min-height: 88px;

		&-name {
			display: flex;
			gap: 12px;
			max-width: 250px;
		}

		&-info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 2px;

			.manager-status {
				ss-tag {
					position: absolute;
					right: 15px;
					top: 1px;

					::ng-deep p {
						display: inline;
						height: 36px;
						border-radius: 8px;
						border: none;
						background-color: $ok;
						color: $island !important;
						padding: 4px 12px;
						font-size: 13px;
					}
				}
				ss-tag.red {
					::ng-deep p {
						background-color: $error;
					}
				}
			}

			&-content {
				display: flex;
				flex-direction: column;

				::ng-deep ss-text {
					p {
						display: flex;
						align-items: center;
						gap: 3px;
					}
				}

				.appointed {
					position: absolute;
					bottom: 0;
					right: -26px;
				}

				.local-call {
					position: relative;
					width: 318px;
					cursor: pointer;
				}
			}
		}

		::ng-deep .manager-date {
			align-self: flex-end;

			span {
				white-space: nowrap;
			}
		}
	}

	.edit-basic-manager {
		padding: 0 16px 9px 16px;
		display: flex;
		gap: 10px;
		align-items: center;
		border-bottom: 1px solid $island-outline;
	}

	.bg-icon {
		width: 36px;
		height: 36px;
		border-radius: 8px;
		background-color: $bg-icon;
		border: 1px solid $island-outline;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.managers-list {
		display: flex;
		flex-direction: column;
		margin: 0 2px 10px 10px;
		overflow-y: auto;
		max-height: 173px;
		height: 173px;

		&-item {
			display: flex;
			margin: 0 5px;
			padding: 7px 5px 7px 0;
			gap: 12px;
			border-bottom: 1px solid $island-outline;
			align-items: center;

			&-info {
				flex-grow: 1;
				line-height: 12px;
			}

			ss-icon {
				cursor: pointer;
			}
		}

		&-item:first-child {
			padding-top: 0;
		}

		&-item:last-child {
			border-bottom: 0;
			padding-bottom: 0;
		}

		&-item.deleted {
			display: none;
		}
	}

	.managers-list.edit {
		max-height: 173px;
		height: 173px;
		margin-top: 7px;

		::ng-deep svg {
			width: 10px;

			rect {
				fill: $lite-text;
			}
		}
	}

	.footer {
		border-top: 1px solid $island-outline;
		padding: 20px;
	}
}
