@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;
@use '../../../../styles/colors' as *;

.rating-team-tab {
	height: 36px;
	min-width: 136px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	cursor: pointer;
	padding: 12px;
	user-select: none;
	background-color: #0000000a;
	border: 1px solid #0000000a;
	position: relative;

	&--active {
		border: 1px solid #4770ff4d;
		background-color: #4770ff4d;
	}

	&__indicator {
		position: absolute;
		width: 6px;
		height: 6px;
		background-color: #416cff;
		border-radius: 50%;
		top: 4px;
		right: 4px;
	}

	&:hover {
		border: 1px solid #c5cbd5;
		transform: scale(1.01);
		box-shadow: 0 4px 20px 0 #c5cbd5;
		transition: 0.3s;
	}

	&__1 {
		color: #f7b535;
	}

	&__2 {
		color: #878e9a;
	}

	&__3 {
		color: #c65c2e;
	}

	&__left {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__right {
		display: flex;
	}
}
