<ss-card padding="0" radius="0 0 16px 16px" class="container">
	<ss-loader *ngIf="tableState === TableState.Loading"></ss-loader>
	<div class="business-trips">
		<div class="business-trips-header">
			<a *ngIf="(businessTrips$ | async)?.linkToModule; else noLink" target="_blank" [href]="(businessTrips$ | async)?.linkToModule">
				<ss-headline class="business-trips-header-title" size="h6">Командировки</ss-headline>
			</a>
			<ng-template #noLink>
				<ss-headline class="business-trips-header-title" size="h6">Командировки</ss-headline>
			</ng-template>
		</div>
		<div *ngIf="tableState === TableState.Full || tableState === TableState.Loading" class="business-trips-content">
			<div class="business-trips-content-table">
				<ss-table
					[head]="[
						{title: 'Код', field: 'code'},
						{title: 'Дата командировки', field: 'date', sizeRatio: 1.5},
						{title: 'Задачи', field: 'task', sizeRatio: 3},
						{title: 'Участники', field: 'members', sizeRatio: 3}
						]"
					[items]="tableItems">
				</ss-table>
			</div>
			<div class="business-trips-content-pagination pagination">
				<ss-pagination [total]="total" [pageSize]="pageSize" [pageIndex]="pageIndex" (changeIndex)="nzPageIndexChange($event)"></ss-pagination>
			</div>
		</div>
		<div *ngIf="tableState === TableState.Empty" class="business-trips-content">
			<ss-empty-placeholder>
				<ss-headline size="h3" class="m-b-15">По вашему запросу ничего не найдено</ss-headline>
				<div class="placeholder-subtitle">
					<ss-text size="3">Попробуйте изменить параметры поиска</ss-text>
				</div>
			</ss-empty-placeholder>
		</div>
	</div>
</ss-card>
