<ss-card padding="0" radius="0 0 16px 16px" class="container">
	<ss-loader *ngIf="tableState === TableState.Loading"></ss-loader>
	<div class="business-trips">
		<div class="business-trips-header">
			<a *ngIf="(businessTrips$ | async)?.linkToModule; else noLink" [href]="(businessTrips$ | async)?.linkToModule" target="_blank">
				<ss-headline class="business-trips-header-title" size="h6">Командировки</ss-headline>
			</a>
			<ng-template #noLink>
				<ss-headline class="business-trips-header-title" size="h6">Командировки</ss-headline>
			</ng-template>
		</div>
		<div class="business-trips-content" *ngIf="tableState === TableState.Full || tableState === TableState.Loading">
			<div class="business-trips-content-table">
				<ss-table
					[head]="[
						{title: 'Код', field: 'code'},
						{title: 'Дата командировки', field: 'date'},
						{title: 'Задачи', field: 'task'},
						{title: 'Участники', field: 'members'}
						]"
					[items]="tableItems">
				</ss-table>
			</div>
			<div class="business-trips-content-pagination pagination">
				<nz-pagination
					[nzTotal]="total"
					[nzPageIndex]="pageIndex"
					[nzPageSize]="pageSize"
					(nzPageIndexChange)="nzPageIndexChange($event)"
					(nzPageSizeChange)="pageSize = $event"
					[nzResponsive]="true"
					[nzHideOnSinglePage]="true">
				</nz-pagination>
			</div>
		</div>
		<div class="business-trips-content" *ngIf="tableState === TableState.Empty">
			<ss-empty-placeholder>
				<ss-headline size="h3" class="m-b-15">По вашему запросу ничего не найдено</ss-headline>
				<div class="placeholder-subtitle">
					<ss-text size="3">Попробуйте изменить параметры поиска</ss-text>
				</div>
			</ss-empty-placeholder>
		</div>
	</div>
</ss-card>
