<div class="mobile-menu">
  <div class="container">
    <nz-tabset>
      <nz-tab *ngFor="let item of menu" nzTitle="{{ item.name }}">
        <ul nz-menu nzMode="inline">
          <li *ngFor="let subcategory of item.items" nz-submenu nzTitle="{{ subcategory.name }}">
            <ul>
              <li *ngFor="let subitem of subcategory.items" nz-menu-item>
                <a href="{{ subitem.link }}" target="_blank">{{ subitem.name }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
