@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;

.mobile-menu {
	margin-top: 13px;
	width: 100vw;
	background-color:$gray-light;

    .container {
        display: flex;
        z-index: 20;
    }

    ::ng-deep {
        .ant-tabs-content-holder {
            background-color: $white;
            border-radius: 16px;
        }

        .ant-tabs-nav-operations {
            display: none;
        }

        .ant-menu-submenu:after {
            content: unset;
            top: -10px;
            left: 3px;
            position: absolute;
            z-index: 5;
        }

        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            color: $black;
        }

        .ant-tabs-top > .ant-tabs-nav::before {
            border-bottom: unset;
        }

        .ant-tabs-tab:hover {
            color: $black;
        }

        .ant-tabs-tab.ant-tabs-tab-active {
            padding: 13px;
            background-color: #4770ff !important;
            border: 2px $gray solid;
        }

        .ant-tabs-tab {
            border: 2px$gray-light solid;
            padding: 10px;
            border-radius: 16px;
            background-color: rgba(0, 0, 0, 0) !important;
        }

        .ant-tabs-tab + .ant-tabs-tab {
            margin: 0 0 0 8px;
            border: 1px $gray solid;
        }

        .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
            display: none;
        }

        .ant-menu-submenu .ant-menu-submenu-title {
            padding-left: 23px;
            color: $black;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.16px;

            .without-url {
                color: $black;
                font-size: 14px;
                font-weight: 400;
            }

            .without-url-item + ::ng-deep .ant-menu-submenu-arrow {
                display: none !important;
            }
        }

        .ant-menu-submenu .ant-menu-item {
            padding-left: 22px !important;
            color: $black;
        }

        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            color: $white;
        }

        .ant-menu-light .ant-menu-submenu-title:hover {
            color: $black;
        }

        .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
            background-color: $gray-light;
        }

        .ant-menu.ant-menu-root {
            background-color: unset;
        }

        .ant-menu .ng-star-inserted {
            background-color: unset;
        }

        .ant-menu .ant-menu-item.ant-menu-item-selected {
            color: $blue;
        }

        .ant-menu-inline .ant-menu-item {
            font-size: 14px;
        }

        .ant-menu-inline .ant-menu-item::after {
            border-right: 3px solid $blue;
        }

        .ant-menu-submenu-arrow {
            color: $black;
        }

        .ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-expand-icon,
        .ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
            color: $blue;
        }

        .ant-menu-submenu.ant-menu-submenu-inline {
            border-bottom: 1px $gray solid;
        }

        .ant-menu-submenu.ant-menu-submenu-inline:last-child {
            border-bottom: 0 $gray solid;
        }

        .ant-menu-submenu.ant-menu-submenu-inline:first-child {
            border-top: 0 $gray solid;
        }

        .without-url-li {
            border-bottom: unset !important;
        }

        .ant-menu-submenu-title:active {
            background-color: unset !important;
        }

        .ant-tabs-tab {
            border: 2px #e4e8ea solid;
        }

        .ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap.ant-tabs-nav-wrap-ping-right::after,
        .ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap.ant-tabs-nav-wrap-ping-right::before {
            opacity: 0 !important;
        }
    }

	::ng-deep .ant-tabs {
		margin-left: 20px;
	}
}

@media screen and (max-width: 1326px) {
    .mobile-menu {
        display: flex;
    }
}

@media screen and (min-width: 265px) and (max-width: 970px)  {
	.mobile-menu {
		::ng-deep .ant-tabs-content-holder {
			margin-right: 20px;
		}
	}
}
