<div class="mobile-menu close" [ngStyle]="{width: getScreenAvailWidth+'px'}">
<!--<div class="mobile-menu">-->
  <nz-tabset>
    <nz-tab nzTitle="Tab 1">
      <ul nz-menu nzMode="inline">
        <li nz-submenu nzTitle="Navigation Two">
          <ul>
            <li nz-menu-item>Option 5</li>
            <li nz-menu-item>Option 6</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Navigation Three">
          <ul>
            <li nz-menu-item>Option 11</li>
            <li nz-menu-item>Option 12</li>
            <li nz-menu-item>Option 13</li>
          </ul>
        </li>
      </ul>
    </nz-tab>
    <nz-tab nzTitle="Tab 2">
      <ul nz-menu nzMode="inline">
        <li nz-submenu nzTitle="Navigation Two">
          <ul>
            <li nz-menu-item>Option 5</li>
            <li nz-menu-item>Option 6</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Navigation Three">
          <ul>
            <li nz-menu-item>Option 11</li>
            <li nz-menu-item>Option 12</li>
            <li nz-menu-item>Option 13</li>
          </ul>
        </li>
      </ul>
    </nz-tab>
    <nz-tab nzTitle="Tab 3">
      <ul nz-menu nzMode="inline">
        <li nz-submenu nzTitle="Navigation Two">
          <ul>
            <li nz-menu-item>Option 5</li>
            <li nz-menu-item>Option 6</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Navigation Three">
          <ul>
            <li nz-menu-item>Option 11</li>
            <li nz-menu-item>Option 12</li>
            <li nz-menu-item>Option 13</li>
          </ul>
        </li>
      </ul>
    </nz-tab>
    <nz-tab nzTitle="Tab 4"></nz-tab>
    <nz-tab nzTitle="Tab 4"></nz-tab>
    <nz-tab nzTitle="Tab 4"></nz-tab>
    <nz-tab nzTitle="Tab 4"></nz-tab>
    <nz-tab nzTitle="Tab 4"></nz-tab>
    <nz-tab nzTitle="Tab 4"></nz-tab>
    <nz-tab nzTitle="Tab 4"></nz-tab>
    <nz-tab nzTitle="Tab 4"></nz-tab>
    <nz-tab nzTitle="Tab 4"></nz-tab>
  </nz-tabset>
</div>
