<div class="profile-popup">
  <div class="wrapper">

    <ng-container *ngIf="profile | async as url">
      <div class="card">
        <div class="personal">
          <div class="img">

            <ng-container>
              <img src="{{ url!.avatarUrl }}" alt="user" />
            </ng-container>

          </div>
          <div class="title">
            <div class="fio">
              <span>{{ url!.name }}</span>
            </div>
            <div class="job">
              <div>
                <div>{{ url?.position }}</div>
                <div>{{ url?.department }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="contacts">
          <div class="item">
            <div>
              <span class="icon phone-icon" nz-icon [nzType]="'ss:phone'"></span>
              <span class="title">Tелефон:</span>
            </div>
            <div>
              <span class="description">{{ url?.phone }}</span>
            </div>
          </div>
          <div class="item">
            <div>
              <span class="icon phone-icon" nz-icon [nzType]="'ss:phone'"></span>
              <span class="title">Внутренний телефон:</span>
            </div>
            <div>
              <span class="description">{{ url?.phoneLocal }}</span>
            </div>
          </div>
          <div class="item">
            <div>
              <span class="icon" nz-icon [nzType]="'ss:mail'"></span>
              <span class="title">Email:</span>
            </div>
            <div>
              <span class="description">{{ url?.email }}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>


    <ng-container *ngIf="profile | async as data">
      <ng-container *ngIf="data?.loggedUser as loggedUser">
      <hr />
        <div class="card-list">
        <div class="accordion">
            <div class="card logged-user">
              <div class="personal">
                <div class="img">
                  <img src="{{ loggedUser?.avatarUrl }}" alt="users" />
                </div>
                <div class="title">
                  <div class="fio">
                    <span>{{ loggedUser?.lastName }} {{ loggedUser?.firstName }} {{ loggedUser?.surName }}</span>
                  </div>
                  <div class="job">
                    <div>
                      <div>{{ loggedUser?.position }}</div>
                      <div>{{ loggedUser?.department }}</div>
                    </div>
                  </div>
                </div>
                <span class="icon enter-icon" nz-icon [nzType]="'ss:enter'" (click)="enterUnderFriendlyAccount(loggedUser?.id)"></span>
              </div>
            </div>
        </div>
      </div>

      </ng-container>
    </ng-container>
    <hr />

    <div class="manager">
      <ng-container *ngIf="profile | async as data">
        <ng-container *ngIf="!data?.loggedUser">
          <div nz-menu-item [routerLink]="'profile/settings'" class="button-icon-left">
            <span class="icon settings-icon" nz-icon [nzType]="'ss:settings'"></span>
            <span class="title">Настройки профиля</span>
          </div>
        </ng-container>
      </ng-container>

      <div class="button-icon-left" (click)="logout()">
        <span class="icon exit-icon" nz-icon [nzType]="'ss:exit'"></span>
        <span class="title">Выйти</span>
      </div>
    </div>

    <hr />

    <ng-container *ngIf="accountsFriends | async as accounts">
      <div class="card-list">
        <div class="accordion" (click)="statusAccordion=!statusAccordion;">
        <span class="title">Связь с другими сотрудниками</span>
        <span class="icon" nz-icon [nzType]="'ss:arrowBottom'"></span>
      </div>

      <ng-container *ngIf="statusAccordion">
          <div class="card" *ngFor="let account of accounts">
            <div class="personal">
              <div class="img">
                <img src="{{ account?.avatarUrl }}" alt="users" />
              </div>
              <div class="title">
                <div class="fio">
                  <span>{{ account?.lastName }} {{ account?.firstName }} {{ account?.surName }}</span>
                </div>
                <div class="job">
                  <div>
                    <div>{{ account?.position }}</div>
                    <div>{{ account?.department }}</div>
                  </div>
                </div>
              </div>
              <span class="icon enter-icon" nz-icon [nzType]="'ss:enter'" (click)="enterUnderFriendlyAccount(account?.id)"></span>
            </div>
          </div>
        </ng-container>

    </div>
    </ng-container>
  </div>
</div>
