<div class="profile-popup">
  <div class="wrapper" *ngFor="let profile of profileData">
    <div class="card">
      <div class="personal">
        <div class="img">
          <img src="assets/images/profile/user-popup.png" alt="user" />
        </div>
        <div class="title">
          <div class="fio">
            <span>{{ profile!.name }} </span>
          </div>
          <div class="job">
            <span>{{ profile!.position }} {{ profile?.department }}</span>
          </div>
        </div>
      </div>
      <div class="contacts">
        <div class="item">
          <div>
            <span class="icon phone-icon" nz-icon [nzType]="'ss:phone'"></span>
            <span class="title">Внутренний телефон:</span>
          </div>
          <div>
            <span class="description">{{ profile?.phone }}</span>
          </div>
        </div>
        <div class="item">
          <div>
            <span class="icon" nz-icon [nzType]="'ss:mail'"></span>
            <span class="title">Email:</span>
          </div>
          <div>
            <span class="description">{{ profile?.email }}</span>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="manager">
      <div [routerLink]="'profile/settings'" class="button-icon-left">
        <span class="icon settings-icon" nz-icon [nzType]="'ss:settings'"></span>
        <span class="title">Настройки профиля</span>
      </div>
      <div class="button-icon-left" (click)="logout()">
        <span class="icon exit-icon" nz-icon [nzType]="'ss:exit'"></span>
        <span class="title">Выйти</span>
      </div>
    </div>
    <hr />
    <div class="card-list">
      <div class="accordion" (click)="statusAccordion=!statusAccordion;">
        <span class="title">Связь с другими сотрудниками</span>
        <span class="icon" nz-icon [nzType]="'ss:arrowBottom'"></span>
      </div>
      <ng-container *ngIf="statusAccordion">
        <div class="card">
          <div class="personal">
            <div class="img">
              <img src="assets/images/profile/users.png" alt="users" />
            </div>
            <div class="title">
              <div class="fio">
                <span>Иванов Михаил Михайлович</span>
              </div>
              <div class="job">
                <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
              </div>
            </div>
            <span class="icon enter-icon" nz-icon [nzType]="'ss:enter'"></span>
          </div>
        </div>
        <div class="card">
          <div class="personal">
            <div class="img">
              <img src="assets/images/profile/users.png" alt="users" />
            </div>
            <div class="title">
              <div class="fio">
                <span>Иванов Михаил Михайлович</span>
              </div>
              <div class="job">
                <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
              </div>
            </div>
            <span class="icon enter-icon" nz-icon [nzType]="'ss:enter'"></span>
          </div>
        </div>
        <div class="card">
          <div class="personal">
            <div class="img">
              <img src="assets/images/profile/users.png" alt="users" />
            </div>
            <div class="title">
              <div class="fio">
                <span>Иванов Михаил Михайлович</span>
              </div>
              <div class="job">
                <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
              </div>
            </div>
            <span class="icon enter-icon" nz-icon [nzType]="'ss:enter'"></span>
          </div>
        </div>
        <div class="card">
          <div class="personal">
            <div class="img">
              <img src="assets/images/profile/users.png" alt="users" />
            </div>
            <div class="title">
              <div class="fio">
                <span>Иванов Михаил Михайлович</span>
              </div>
              <div class="job">
                <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
              </div>
            </div>
            <span class="icon enter-icon" nz-icon [nzType]="'ss:enter'"></span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
