<div class="profile-popup">
  <div class="wrap">
    <div class="card">
      <div class="personal">
        <div class="img">
          <img ngSrc="assets/images/profile/user.png" alt="user" height="80" width="80" />
        </div>
        <div class="titles">
          <div class="fio">
            <span>Гришин Пантелей Серапионович</span>
          </div>
          <div class="job">
            <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
          </div>
        </div>
      </div>
      <div class="contacts">
        <div class="item">
          <div>
            <span class="icon phone-icon" nz-icon [nzType]="'ss:phone'"></span>
            <span class="title">Внутренний телефон:</span>
          </div>
          <div>
            <span class="description">123 44</span>
          </div>
        </div>
        <div class="item">
          <div>
            <span class="icon" nz-icon [nzType]="'ss:mail'"></span>
            <span class="title">Email:</span>
          </div>
          <div>
            <span class="description">vivanovmm</span>
          </div>
        </div>
      </div>
    </div>
    <div class="manager">
      <button [routerLink]="'profile'" nz-button nzType="primary" [nzSize]="'small'" nzShape="round">
        Настройки
        <span class="icon" nz-icon nzType="setting"></span>
      </button>
      <button nz-button nzType="primary" [nzSize]="'small'" nzShape="round">
        Выйти
        <span class="icon" nz-icon nzType="ss:exit"></span>
      </button>
    </div>
    <div class="card-list">
      <div class="card">
        <div class="personal">
          <div class="img">
            <img ngSrc="assets/images/profile/user.png" alt="user" height="56" width="44" />
          </div>
          <div class="titles">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img ngSrc="assets/images/profile/user.png" alt="user" height="56" width="44" />
          </div>
          <div class="titles">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img ngSrc="assets/images/profile/user.png" alt="user" height="56" width="44" />
          </div>
          <div class="titles">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
