<ss-card padding="0" radius="0 0 16px 16px" class="container">
	<ss-loader *ngIf="tableState === TableState.Loading"></ss-loader>
	<div class="contracts">
		<div class="contracts-header">
			<ss-headline class="contracts-header-title" size="h6">Договоры</ss-headline>
			<ss-icon *ngIf="!isFiltersVisible" class="contracts-header-filter-button" height="18" width="18" name="filter" (click)="toggleFilters()"></ss-icon>
		</div>
		<div class="contracts-content" *ngIf="tableState === TableState.Full || tableState === TableState.Loading">
			<div class="contracts-content-table">
				<ss-table
					[head]="[
						{title: 'Код', field: 'code'},
						{title: 'Контрагент', field: 'contractor', sizeRatio: 6},
						{title: 'Дата начала',  field: 'beginDate', sizeRatio: 2},
						{title: 'Дата окончания',  field: 'endDate', sizeRatio: 2},
						{title: 'Отсрочка', field: 'prolongationDate'}
						]"
					[items]="tableItems">
				</ss-table>
			</div>
			<div class="contracts-content-pagination pagination">
				<ss-pagination [total]="total" [pageSize]="pageSize" [pageIndex]="pageIndex" (changeIndex)="nzPageIndexChange($event)"></ss-pagination>
			</div>
		</div>
		<div class="contracts-content" *ngIf="tableState === TableState.Empty">
			<ss-empty-placeholder>
				<ss-headline size="h3" class="m-b-15">По вашему запросу ничего не найдено</ss-headline>
				<div class="placeholder-subtitle">
					<ss-text size="3">Попробуйте изменить параметры поиска</ss-text>
				</div>
			</ss-empty-placeholder>
		</div>
	</div>
	<div class="separator" *ngIf="isFiltersVisible"></div>
	<ss-filters *ngIf="isFiltersVisible" [(isFiltersVisible)]="isFiltersVisible" (applyFilter)="getFilteredSales(true)" [(filters)]="filters"></ss-filters>
</ss-card>

