<ss-lib-modal
	[badgeProps]="{
		icon: IconType.PackagePlus,
		size: ExtraSize.lg,
		shape: Shape.Square,
	}"
	[titleHeader]="
		'Согласование сырья за ' + (data.dataStart | date: 'd MMMM y')
	"
	[descriptionHeader]="
		'Выберите период согласования сырья и город для выбранных ГП.'
	"
	[contentRef]="contentRef"
	[actionsRef]="actionRef"
	(closeEmit)="close()"
>
</ss-lib-modal>

<ng-template #contentRef>
	<div class="approve-material">
		<div class="approve-material__date">
			<ss-lib-text
				[weight]="TextWeight.Semibold"
				[type]="TextType.BodySm"
				>Период согласования</ss-lib-text
			>

			<div class="approve-material__date-controls">
				<ss-lib-form-field class="approve-material__date-control">
					<ss-lib-datepicker
						fieldCtrl
						[formControl]="startDate"
					/>
				</ss-lib-form-field>

				<ss-lib-text>-</ss-lib-text>

				<ss-lib-form-field class="approve-material__date-control">
					<ss-lib-datepicker
						fieldCtrl
						[min]="data.dataStart"
						[formControl]="endDate"
					/>
				</ss-lib-form-field>
			</div>
		</div>
		<div class="approve-material__city">
			<ss-lib-text
				[weight]="TextWeight.Semibold"
				[type]="TextType.BodySm"
				>Город</ss-lib-text
			>

			<ss-lib-button
				[justifyContent]="JustifyContent.SpaceBetween"
				[iconPosition]="IconPosition.End"
				[icon]="IconType.ChevronDown"
				[type]="ButtonType.Secondary"
				[popoverTriggerFor]="list"
				[text]="city() ? city()?.name : 'Выберите город'"
			></ss-lib-button>

			<ss-lib-dropdown-list
				#list
				[width]="'535px'"
			>
				<ss-lib-dropdown-item
					*ngFor="let item of cities()"
					[selected]="item.id === city()?.id"
					[label]="item.name"
					(click)="city.set(item)"
				/>
			</ss-lib-dropdown-list>
		</div>
	</div>
</ng-template>

<ng-template #actionRef>
	<div class="approve-material__actions">
		<ss-lib-button
			[style.width]="'262px'"
			[type]="ButtonType.Secondary"
			[text]="'Отменить'"
			(close)="close()"
		></ss-lib-button>
		<ss-lib-button
			[style.width]="'262px'"
			[type]="ButtonType.Primary"
			[text]="'Рассчитать для ' + data.total + ' ГП'"
			(click)="approveMaterial()"
		></ss-lib-button>
	</div>
</ng-template>
