.approve-material {
	display: flex;
	flex-direction: column;
	gap: 16px;

	&__date {
		display: flex;
		flex-direction: column;
		gap: 6px;

		&-control {
			width: 256px;
		}

		&-controls {
			display: flex;
			gap: 8px;
			flex-wrap: nowrap;
			width: 100%;
			align-items: center;
		}
	}

	&__city {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	&__actions {
		display: flex;
		justify-content: center;
		gap: 12px;
		flex-wrap: nowrap;
	}
}
