@use '../../../styles/colors' as *;

:host {
	margin: 0 auto;
	padding: 20px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.header-title {
			display: flex;
			align-items: center;
			gap: 12px;
		}

		ss-icon {
			cursor: pointer;
		}
	}

	.footer {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding-top: 8px;

		.contractors {
			display: flex;
			gap: 16px;
			height: 397px;
		}
	}
}
