@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;

.thanks-partner {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px 0;
	min-height: 700px;
	position: relative;

	&__header {
		display: flex;
		flex-direction: column;
		padding: 0 16px;
		gap: 16px;
	}

	&__header-info {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__header-actions {
		display: flex;
		justify-content: space-between;

		&_calendar {
			width: 145px;
		}
	}

	&__grid-body {
		display: grid;
		flex-wrap: wrap;
		padding: 0 0 0 16px;
		grid-template-columns: repeat(2, 50%);
		grid-row-gap: 16px;
		justify-content: center;
	}

	&__card-item {
		padding: 0 16px 0 0;
	}

	&__loading {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 540px;
	}

	&__info {
		display: flex;
		gap: 16px;
		flex-wrap: nowrap;
		padding: 0 16px;
	}

	&__no-content {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	ss-datepicker-input {
		width: 202px;
	}
}

.app-thanks-partner-card {
	width: 100%;
}
