<div class="wrapper" (click)="close()">
    <ss-card padding="0" (click)="$event.stopPropagation()">
        <div class="header">
            <ss-headline size="h6">История изменения цены ТПГ</ss-headline>

            <ss-icon width="16" name="close" (click)="close()"></ss-icon>
        </div>

        <div class="body">
			<div class="description">
				<div class="description-item">
					<ss-text size="3">Клиент:</ss-text>
					@if (client?.linkToDetail) {
						<a [href]="client?.linkToDetail">{{ client?.name || '-' }}</a>
					} @else {
						<ss-text size="3">{{ client?.name || '-' }}</ss-text>
					}
				</div>
				<div class="description-item">
					<ss-text size="3">Контрагент:</ss-text>
					@if (client?.linkToDetail) {
						<a [href]="contractor?.linkToDetail">{{ contractor?.name || '-' }}</a>
					} @else {
						<ss-text size="3">{{ contractor?.name || '-' }}</ss-text>
					}
				</div>
				<div class="description-item">
					<ss-text size="3">ТПГ:</ss-text>
					@if (tovGroup?.linkToDetail) {
						<a [href]="tovGroup?.linkToDetail">{{ tovGroup?.name || '-' }}</a>
					} @else {
						<ss-text size="3">{{ tovGroup?.name || '-' }}</ss-text>
					}
				</div>
			</div>
            @switch (tableState) {
                @case (TableState.Full) {
                    <ss-table class="table"
                              [head]="[
						{title: 'Дата', field: 'date'},
						{title: 'Автор', field: 'author'},
						{title: 'Период', field: 'periodType'},
						{title: 'Старое значение', field: 'oldExcessIncomePercent'},
						{title: 'Новое значение', field: 'oldExcessIncomePercent'}
						]"
                              [items]="tableItems"
                              (controlClick)="openModalInfoUser($event)"
                    >
                    </ss-table>
                    <div class="footer">
                        <ss-pagination [total]="total" [pageSize]="pageSize" [pageIndex]="pageIndex" (changeIndex)="pageIndexChange($event)"></ss-pagination>
                    </div>
                }
                @case (TableState.Loading) {
                    <ss-loader *ngIf="tableState === TableState.Loading"></ss-loader>
                }
                @case (TableState.Empty) {
                    <ss-empty-data-page></ss-empty-data-page>
                }
            }
        </div>
    </ss-card>
</div>
