<div class="container">
	<div class="header">
		<div class="title">
			<ss-headline size="h3">Справочник клиентов</ss-headline>
		</div>
		<div *ngIf="!isFiltersVisible" class="filter-button">
			<ss-button size="small"
					   type="outline"
					   (click)="toggleFilters()">
				<ss-icon height="20" width="20" name="filter" class="filter"></ss-icon>
				<span>Фильтры</span>
			</ss-button>
		</div>

	</div>
	<div class="content desktop table-with-filters">
		<div class="table">
			<ng-container *ngIf="tableState === TableState.Full || tableState === TableState.Loading">
				<ss-table
					[head]="[
						{title: 'Код', field: 'code', sizeRatio: 0.5},
						{title: 'Кате гория', field: 'category', sizeRatio: 0.4},
						{title: 'Клиент', field: 'clientName', sizeRatio: 1.2},
						{title: 'Контрагенты', field: 'contractors', sizeRatio: 1.2},
						{title: 'Менеджеры', field: 'managers'},
						{title: 'Статус', field: 'status', sizeRatio: 0.8},
						{title: 'Клиент без БМ', field: 'withoutManager', sizeRatio: 0.45}
						]"
					[items]="tableItems">
				</ss-table>
				<div class="pagination" style="justify-content: flex-end">
					<ss-pagination [total]="total" [pageIndex]="pageIndex" [pageSize]="pageSize" (changeIndex)="nzPageIndexChange($event)"></ss-pagination>
				</div>
			</ng-container>
			<ng-container *ngIf="tableState === TableState.Empty">
				<ss-empty-placeholder>
					<ss-headline size="h3" class="placeholder-headline">По вашему запросу ничего не найдено</ss-headline>
					<div class="placeholder-subtitle">
						<ss-text [size]="'3'">Попробуйте изменить параметры поиска</ss-text>
					</div>
				</ss-empty-placeholder>
			</ng-container>
		</div>

		<ss-card *ngIf="isFiltersVisible" class="filters" padding="0">
			<ss-filters [(isFiltersVisible)]="isFiltersVisible" [(filters)]="filters" (applyFilter)="getFilteredClients(true)"></ss-filters>
		</ss-card>

		<ss-loader *ngIf="tableState === TableState.Loading"></ss-loader>
	</div>
	<div class="content mobile">
		<ss-card>
			<div *ngFor="let item of items" class="mobile-item">
				<div class="mobile-info">
					<ss-caption size="1">
						<b> Код: </b>
						<a href="{{item?.code?.url}}"> {{ item?.code?.text }} </a>
					</ss-caption>
					<ss-caption size="1">
						<b>Категория: </b>
						{{item.category}}
					</ss-caption>
					<ss-caption size="1">Клиент:{{item.clientName }}</ss-caption>
					<ss-caption size="1">Менеджеры:{{item.managers }}</ss-caption>
					<ss-caption size="1">Статус:{{item.status }}</ss-caption>
					<ss-caption size="1">Клиент без БМ:{{item.withoutManager }}</ss-caption>
				</div>
				<div class="separator"></div>
			</div>
		</ss-card>
		<div class="pagination" style="justify-content: center">
			<ss-pagination [total]="total" [pageSize]="pageSize" [pageIndex]="pageIndex" (changeIndex)="nzPageIndexChange($event)"></ss-pagination>
		</div>
	</div>

</div>



