<div class="wrapper" (mousedown)="close()">
	<snab-card
		class="remnants-details-popup"
		[headerRef]="header"
		[bodyRef]="body"
		(mousedown)="$event.stopPropagation()">
		<ng-template #header>
			<div class="header">
				<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">
					Остатки. Детали
				</snab-text>
				<snab-button
					[type]="ButtonType.Flat"
					[size]="Size.Large"
					[icon]="IconType.ClearLarge"
					(click)="close()"
				></snab-button>
			</div>
		</ng-template>
		<ng-template #body>
			<div class="content">
				<table class="remnants-table">
					<thead>
					<tr>
						<th>Количество</th>
						<th>Склад</th>
						<th>Оборотная ведомость по ТП</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let remnant of remnants">
						<td>{{ remnant.quantity }}</td>
						<td>{{ remnant.warehouse }}</td>
						<td>
							<snab-link
								class="link"
								[type]="TextType.Body"
								[text]="remnant.linkText"
								(click)="onLinkClick(remnant)"
							></snab-link>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</ng-template>
	</snab-card>
</div>
