@if (order()) {
    <div class="navigation">
        <snab-text
                class="navigation__link"
                [color]="Colors.Secondary"
                (click)="router.navigate(['mp-reservation-orders'])"
        >
            Реестр объектов интеллектуальной собственности /
        </snab-text>
        <snab-text>Заказ №{{ order()?.id }}</snab-text>
    </div>
    <div class="header">
        <div class="header__title">
            <snab-text [type]="TextType.Headline" [weight]="TextWeight.Semibold">Заказ № {{ order()?.id }}</snab-text>
            <snab-label [text]="order()!.status.name" [size]="Size.Large" [type]="LabelType.Clear"></snab-label>
        </div>
        <div class="header__controls">
            <snab-button text="История изменений" [type]="ButtonType.Secondary" [size]="Size.Large"></snab-button>
			<snab-dropdown-button [text]="'Действия'" [size]="Size.Large">
				<snab-dropdown-item [textContent]="'Согласовать заказ по обеспечению'"
									(click)="$event.stopPropagation(); "></snab-dropdown-item>
				<snab-dropdown-item [textContent]="'Отклонить заказ по обеспечению'"
									(click)="$event.stopPropagation(); openPopupRejectOrder();"></snab-dropdown-item>
				<snab-dropdown-item [textContent]="'Разместить в производстве заказ по обеспечению'"
									(click)="$event.stopPropagation();"></snab-dropdown-item>
				<snab-dropdown-item [textContent]="'Изменить дату обеспечения'"
									(click)="$event.stopPropagation(); openPopupProvisionDate()"></snab-dropdown-item>
				<snab-dropdown-item [textContent]="'Удалить заказ по обеспечению'"
									(click)="$event.stopPropagation(); openPopupCancelAction()"></snab-dropdown-item>
				<snab-dropdown-item [textContent]="'Персонифицировать за другим сотрудником'"
									(click)="$event.stopPropagation();"></snab-dropdown-item>
			</snab-dropdown-button>
        </div>

    </div>
    <div class="content">
        <ss-card class="content__properties" padding="0">
            <div class="content__properties__header">
                <snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">Характеристики заказа</snab-text>
            </div>
            <div class="content__properties__amount">
                <snab-text  [type]="TextType.Title" [weight]="TextWeight.Regular">Количество и ед. изм:</snab-text>
                <snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">{{ order()!.totalAmount }} {{ order()!.tovUnit }}</snab-text>
            </div>
            <div class="content__properties__body">
                <div class="content__properties__body__item">
                    <snab-text [weight]="TextWeight.Semibold">Дата создания заказа</snab-text>
                    <snab-text>{{ order()!.dateCreated | date: 'dd.MM.yyyy' }}</snab-text>
                </div>
                <div class="content__properties__body__item">
                    <snab-text [weight]="TextWeight.Semibold">Заказчик</snab-text>
                    <snab-link [type]="TextType.Body" [text]="order()!.author.name"></snab-link>
                </div>
                <div class="content__properties__body__item">
                    <snab-text [weight]="TextWeight.Semibold">ТП</snab-text>
                    <snab-text>Ароматизатор пищевой
                        «Масло сливочное 11.03.222 S»
                        DEL'AR® (9кн) (К)</snab-text>
                </div>
                <div class="content__properties__body__item">
                    <snab-text [weight]="TextWeight.Semibold">Клиент</snab-text>
                    <snab-text>{{
                            order()!.client.name
                        }}</snab-text>
                </div>
                <div class="content__properties__body__item">
                    <snab-text [weight]="TextWeight.Semibold">МУТМЗ</snab-text>
                    <snab-text>{{ order()!.manager?.name || '-' }}</snab-text>
                </div>
            </div>
            <div class="content__properties__body__item content__properties__comment">
                <snab-text [weight]="TextWeight.Semibold">Комментарий</snab-text>
                <snab-text>{{ order()!.note }}</snab-text>
            </div>
        </ss-card>
        <ss-card class="content__additional" padding="0">
            <div class="content__additional__header">
                <snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">Сроки и объёмы</snab-text>
            </div>
            <div class="content__additional__body">
                <ss-table
                        [head]="[
                            {title: 'Кол-во', field: 'amount'},
                            {title: 'Желаемая дата', field: 'requestedProvisionDate'}
                        ]"
                        [items]="volumes()"
                ></ss-table>
            </div>
        </ss-card>
        <ss-card class="content__procuring" padding="0">
            <div class="content__procuring__header">
                <snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">Обеспечение</snab-text>
            </div>
            <div class="content__procuring__body">
                <div class="content__procuring__body__chart">
                    <div class="content__procuring__body__chart__quantity">
                        <snab-text [type]="TextType.Title" [weight]="TextWeight.Regular">Остатки: </snab-text>
                        <snab-text [type]="TextType.Headline" [weight]="TextWeight.Semibold">15</snab-text>
                    </div>
                    <ss-chart-line [size]="ChartLineSize.large" [data]="chartData()"></ss-chart-line>
                    <div class="content__procuring__body__chart__more">
                        <snab-text
                            [weight]="TextWeight.Semibold"
                            [color]="Colors.WarningLight">Моя персонификация: {{ order()!.provision?.provided || '-' }}</snab-text>
                        <snab-text [weight]="TextWeight.Semibold"
                                   [color]="Colors.PositiveHeavy">Свободно: {{ order()!.provision?.provisionAvailable || '-' }}</snab-text>
                        <snab-text [weight]="TextWeight.Semibold"
                                   [color]="Colors.InfoHeavy">В производстве: {{ order()!.provision?.manufacturing || '-' }}</snab-text>
                        <snab-text [weight]="TextWeight.Semibold"
                                   [color]="Colors.DangerHeavy">Не может быть обеспечено: {{ order()?.provision!.provisionUnavailable || '-' }}</snab-text>
                    </div>
                </div>
                <div class="content__procuring__body__table">
                    <ss-table [head]="[
						{title: 'Дата производства', field: 'productionDate'},
						{title: 'Дата обеспечения', field: 'provisionDate'},
						{title: 'Кол-во в производстве', field: 'manufacturingAmount'}]"
                        [items]="procuring()"></ss-table>
                </div>
            </div>
        </ss-card>
    </div>
    <ss-correspondence [objectId]="order()!.id"></ss-correspondence>
}
