<ss-caption size="1">{{ label }}</ss-caption>
<div class="calendar-button" [ngClass]="{'error': error}" (click)="picker.open()">
	<div class="calendar-button-text" *ngIf="startDate || endDate; else noDates">
		<ss-text size="2">{{startDate}}</ss-text>
		<div *ngIf="endDate" class="calendar-button-text-separator"></div>
		<ss-text size="2">{{endDate}}</ss-text>
	</div>
	<ng-template #noDates>
		<div class="calendar-button-text">{{placeholder}}</div>
	</ng-template>
	<ss-icon height="16" name="calendar"></ss-icon>
</div>
<mat-form-field class="date-range">
	<mat-date-range-input [rangePicker]="picker">
		<input matStartDate #start />
		<input matEndDate #end (dateChange)="dateChanged(start.value, end.value)" />
	</mat-date-range-input>
	<mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
<ss-caption size="2" color="error">{{ error }}</ss-caption>
