@use 'src/styles/colors.scss' as *;

:host {
	position: relative;
}

.icon {
	transform: rotateX(180deg);
}

.dropdown {
	position: absolute;
	right: 0;
	min-width: 300px;
	transform: translateY(8px);
	z-index: 2;
	max-height: 80vh;
}

.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1;
}
