@use 'src/styles/colors.scss' as *;

.search {
	position: relative;

	::ng-deep svg {
		path {
			fill-opacity: 1;
			fill: $main;
		}
	}

	.ant-input-affix-wrapper {
		min-height: 44px;
		height: 44px;
	}

	.ant-form-item-control-input {
		min-height: 44px;
		height: 44px;
	}

	.result {
		position: absolute;
		top: 46px;
		background: $island;
		border-radius: 8px;
		width: 100%;
		padding: 12px;
		z-index: 1;
		max-height: 200px;
		height: auto;
		overflow: scroll;
		border: 1px solid $island-outline;

		.close-icon {
			position: absolute;
			right: 41px;
			top: 19px;
		}
	}

	.result::-webkit-scrollbar {
		width: 4px;
		height: 100%;
	}

	.result::-webkit-scrollbar-track {
		background-color: $island;
		border-radius: 60px;
		margin: 24px;
	}

	.result::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	.result {
		border-right: 20px solid $island;
		box-sizing: border-box;
		scrollbar-width: auto;
		scrollbar-color: $island-outline;
	}
}
