<nz-footer>
  <nz-content>
    <div class="footer">
      <div class="logo" [routerLink]="AppRoutes.root">
        <img src="../../../../../assets/images/logo/logo_footer.png" alt="ssnab" />
        <div class="description">
          КИСП предоставляет широкий спектр инструментов и функций, которые помогают организовать рабочие процессы, обмениваться информацией и сотрудничать внутри команды, сделав рабочий процесс более эффективным и продуктивным.
        </div>
      </div>
      <div class="nav-wrap">
        <div class="nav-right">
          <div class="item">
            <span>Материалы</span>
            <ul>
              <li>Статьи</li>
              <li>Еще что нибудь важное</li>
              <li>Еще что нибудь важное</li>
            </ul>
          </div>
          <div class="item">
            <span>СЕРВИС</span>
            <ul>
              <li>Задать вопрос</li>
              <li>Пользовательский гайд</li>
              <li>Настройки меню</li>
            </ul>
          </div>
          <div class="item">
            <span>ПРОФИЛЬ</span>
            <ul>
              <li>Войти</li>
              <li>Изменить пароль</li>
              <li>Темная тема</li>
            </ul>
          </div>
          <div class="item">
            <span>Контакты</span>
            <ul>
              <li>Техническая поддержка КИСП
                  <span>8080</span>
              </li>
              <li>Техническая поддержка КИСП
                  <span>8080</span>
              </li>
              <li>Техническая поддержка КИСП
                  <span>8080</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nz-content>
</nz-footer>
