<ng-container *ngFor="let cols of columnsStateService.visibleCols$ | async">
	<ng-container *ngFor="let col of cols.cols">
		<ng-container [ngSwitch]="col.id">
			<td
				*ngIf="col.display"
				class="ss-table-td"
			>
				<ng-container *ngSwitchCase="specificationRowItemField.cost">
					<div class="ss-table-td__content">
						{{ item().cost?.name || '-' }}
					</div>
				</ng-container>

				<ng-container *ngSwitchCase="specificationRowItemField.section">
					<div class="ss-table-td__content">
						{{ item().section?.name || '-' }}
					</div>
				</ng-container>

				<ng-container
					*ngSwitchCase="specificationRowItemField.faObject"
				>
					<div class="ss-table-td__content">
						{{ item().faObject?.name || '-' }}
					</div>
				</ng-container>

				<ng-container *ngSwitchCase="specificationRowItemField.project">
					<div class="ss-table-td__content">
						{{ item().project?.name || '-' }}
					</div>
				</ng-container>

				<ng-container *ngSwitchCase="specificationRowItemField.dept">
					<div class="ss-table-td__content">
						{{ item().dept?.name || '-' }}
					</div>
				</ng-container>

				<ng-container *ngSwitchCase="specificationRowItemField.user">
					<div class="ss-table-td__content">
						{{ item().user?.name || '-' }}
					</div>
				</ng-container>

				<ng-container *ngSwitchCase="specificationRowItemField.sum">
					<div
						class="ss-table-td__content ss-table-td__content--number"
					>
						{{ item().sum | numWithSpaces }}
					</div>
				</ng-container>

				<ng-container *ngSwitchCase="specificationRowItemField.faAsset">
					<div
						class="ss-table-td__content hc-table-td__content--number"
					>
						{{ item().faAsset?.name || '-' }}
					</div>
				</ng-container>

				<ng-container
					*ngSwitchCase="specificationRowItemField.controls"
				>
					<div
						*ngIf="
							permissions().includes(
								Permissions.COMPLETED_WORK_ACTS_EDIT
							)
						"
						class="ss-table-td__content hc-table-td__content--controls"
					>
						<ss-icon
							name="edit"
							(click)="onEditSpecification(item())"
						></ss-icon>
						<ss-icon
							name="trash"
							(click)="onDeleteSpecification(item().id)"
						></ss-icon>
					</div>
				</ng-container>

				<ng-container *ngSwitchDefault>
					<div class="ss-table-td__content">-</div>
				</ng-container>
			</td>
		</ng-container>
	</ng-container>
</ng-container>
