<div class="wrapper" (click)="close()">
	<snab-card class="card-wrapper"
			   [bodyRef]="body"
               [footerRef]="footer"
			   (click)="$event.stopPropagation()">
		<ng-template #body>
			<div class="body">
				<snab-icon class="body__icon" [icon]="IconType.Save" [width]="'36'" [height]="'36'"/>
				<snab-text
					[weight]="TextWeight.Medium"
					[type]="TextType.Title">Изменения не будут сохранены
				</snab-text>
				<snab-text class="body__description"
						   [weight]="TextWeight.Regular"
						   [type]="TextType.Body">Вы уверены, что хотите совершить действие?
				</snab-text>
			</div>
		</ng-template>
        <ng-template #footer>
            <div class="footer-controls">
                <snab-button class="footer-controls__button" text="Отмена"
                             [type]="ButtonType.Secondary"
                             [size]="Size.Large"
                             (click)="close()"
                ></snab-button>
                <snab-button class="footer-controls__button" text="Не сохранять" [size]="Size.Large"
                             (click)="close(true)"></snab-button>
            </div>
        </ng-template>
	</snab-card>
</div>
