@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;
@use 'src/styles/colors.scss' as *;

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.8);
}

.card-wrapper {
	display: flex;
	width: 342px;
	min-height: 180px;
	flex-direction: column;
	position: relative;
	z-index: 7000;
	background: $island;
	border-radius: var(--radius-xl-3);
	box-shadow: var(--small-shadow2);

	.body {
		display: flex;
		width: 100%;
		flex-grow: 1;
		overflow-y: auto;
		flex-direction: column;
		text-align: center;

		.content {
			width: 100%;
		}

		&__icon {
			display: flex;
			justify-content: center;
			margin-bottom: 12px;
		}

		&__description {
			margin: 12px 0 16px;
		}
	}

	.footer-controls {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--padding-m);

		&__button {
			width: 100%;
		}
	}
}

.snab-card__footer {
	padding: 0;
}
