<div class="title">
  <h1>Восстановление пароля</h1>
</div>

<div class="password">
  <p class="paragraph-1">Укажите почту для следующего шага</p>
  <p class="paragraph-2">Пожалуйста, укажите имя пользователя или e-mail, на который будут направлены инструкции по изменению пароля</p>
  <form nz-form [formGroup]="recoveryForm" nzLayout="vertical" class="settings-form m-t-26">
    <nz-form-item class="relative">
      <nz-form-label nzFor="userName">Введите e-mail</nz-form-label>
      <nz-form-control nzErrorTip="Введите e-mail">
        <nz-input-group [nzSuffix]="prefixLock">
          <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="E-mail" [(ngModel)]="password" />
        </nz-input-group>
        <ng-template #prefixLock>
                                      <span
                                        nz-icon
                                        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                        (click)="passwordVisible = !passwordVisible"
                                      ></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <div class="m-b-30 m-t-45">
      <button nz-button class="recovery-password-button" [nzType]="'primary'">Отправить</button>
    </div>
  </form>
</div>


