<div class="wrapper" (mousedown)="close()">
	<snab-card
		class="change-provision-date-form"
		[headerRef]="header"
		[bodyRef]="body"
		[footerRef]="footer"
		(mousedown)="$event.stopPropagation()">
		<ng-template #header>
			<div class="header">
				<snab-text [type]="TextType.Headline" [weight]="TextWeight.Semibold">
					Изменить дату обеспечения
				</snab-text>
				<snab-button
					[type]="ButtonType.Flat"
					[size]="Size.Large"
					[icon]="IconType.ClearLarge"
					[iconPosition]="IconPosition.OnlyIcon"
					(click)="close()"></snab-button>
			</div>
		</ng-template>
		<ng-template #body>
			<form class="content" [formGroup]="provisionDateForm">
				<table class="date-table">
					<thead>
						<tr>
							<th>
								<snab-text [type]="TextType.Title" [weight]="TextWeight.Semibold">
									Дата производства
								</snab-text>
							</th>
							<th>
								<snab-text [type]="TextType.Title" [weight]="TextWeight.Semibold">
									Дата обеспечения
								</snab-text>
							</th>
						</tr>
					</thead>
					<tbody formArrayName="rows">
						<tr
							*ngFor="let rowControl of rows.controls; let i = index"
							[formGroupName]="i">
							<td>
								<snab-text [type]="TextType.Body">
									{{ data.provisionDetails[i].productionDate | date: 'dd.MM.yyyy' }}
								</snab-text>
							</td>
							<td>
								<ss-date-time-picker
									formControlName="provisionDate"
									[showTime]="false"></ss-date-time-picker>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</ng-template>
		<ng-template #footer>
			<div class="footer">
				<snab-button
					text="Отмена"
					[type]="ButtonType.Secondary"
					[size]="Size.Large"
					(click)="close()"></snab-button>
				<snab-button
					text="Изменить"
					[size]="Size.Large"
					(click)="confirmChange()"></snab-button>
			</div>
		</ng-template>
	</snab-card>
</div>
