@use 'src/styles/colors.scss' as *;

.change-provision-date-form {
	width: 600px;
	max-height: 600px;
	display: flex;
	flex-direction: column;
	background: lighten($island-outline, 40%);
	border-radius: var(--radius-xl-3);
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	padding: var(--padding-l);
	flex: 1;
}

.date-table {
	width: 100%;
	border-collapse: collapse;

	th, td {
		padding: var(--padding-xs);
		text-align: center;
		border-bottom: 1px solid $island-outline;
		vertical-align: middle;
	}

	th {
		background-color: #eef2ff;
	}

	thead {
		background-color: lighten($island-outline, 40%);
	}
}

.footer {
	display: flex;
	padding: var(--padding-l);
	justify-content: flex-end;
	gap: var(--gap-l);
}

