@use 'src/styles/colors.scss' as *;

:host {
	width: 100%;
}

.notice {
	display: flex;
	gap: 11px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid;
	position: relative;
	align-items: center;
	justify-content: left;

	&__icon {
		font-size: 24px;
	}

	&__message {
		display: flex;
		flex-wrap: wrap;
	}

	ss-icon {
		cursor: pointer;
		position: absolute;
		right: 12px;
		top: 12px;
	}
}

.error {
	border-color: $error;
	background-color: $lite-error;
}

.warning {
	border-color: $warning;
	background-color: $lite-warning;
}

.ok {
	border-color: $ok;
	background-color: $lite-ok;
}

.small {
	padding: 0;
}

.usual {
	padding: 8px 12px 8px 12px;
}

:host-context(.dark) ss-text {
	::ng-deep p {
		color: $dark-island;
	}
}
