<div class="footer">
	<div class="footer__content">
		<a href="https://ssnab.ru/">
			<ss-icon class="footer__logo" [routerLink]="AppRoutes.root" name="iconLogoFooter"></ss-icon>
		</a>
		<div class="footer__phone">
			<div class="footer__phone-item">
				<ss-text size="3" color="gray">Техподдержка КИСП</ss-text>
				<a href='tel:8080'>8080</a>
			</div>
			<div class="footer__phone-item">
				<ss-text size="3" color="gray">Техподдержка ЦО</ss-text>
				<a href='tel:8000'>8000</a>
			</div>
			<div class="footer__phone-item">
				<ss-text size="3" color="gray">Техподдержка Калуга</ss-text>
				<a href='tel:3100'>3100</a>
			</div>
		</div>
		<div class="footer__description">
			<ss-text size="3" color="gray">© 2006–2024</ss-text>
		</div>
	</div>
</div>
