@use '../../../../styles/colors' as *;

.footer {
	width: 100%;
	background-color: $white;
	position: relative;
	bottom: 0;
	border: 1px solid #e4e8ea;

	&__content {
		display: flex;
		padding: 12px 0;
		justify-content: space-between;
		align-items: center;
		margin: 0 6.25%;
	}

	&__logo {
		color: $lite-text;
	}

	&__phone {
		display: flex;
		gap: 32px;
	}

	&__phone-item {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}

:host-context(.dark) .footer {
	background-color: $dark-island;
	color: $dark-text;
}
