@use 'src/styles/colors.scss' as *;

:host {
	display: flex;
	align-items: center;
}

button {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border-width: 1px;
	border-style: solid;
	height: 52px;
	border-radius: 8px;
	font-family: 'Inter', serif;
	font-weight: 600;
	cursor: pointer;
	-webkit-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	transition: background-color 200ms linear;
}

button.large {
	height: 52px;
	padding: 15px 24px;
	font-size: 16px;
	line-height: 19px;
}

button.medium {
	height: 44px;
	padding: 11px 20px;
	font-size: 16px;
	line-height: 19px;
}

button.small {
	height: 36px;
	padding: 8px 13px;
	font-size: 13px;
	line-height: 19px;
}

button.primary {
	background-color: $main;
	border-color:  $main-outline;
	color: $dark-text;
}

button.warning {
	background-color: #F5B50233;
	border-color:  #F5B50233;
	color: #936D01;
}

button.secondary {
	background-color: $additional;
	border-color:  $additional-outline;
	color: $main;
}

button.muted {
	background-color: #F2F3F7;
	border-color:  #E4E8EA;
	color: $lite-text;
}

button.tertiary {
	background-color: $island;
	border-color: $island;
	color: $text;
}

button.usually {
	background-color: $island;
	border-color: $text;
	color: $text;
}

button.quaternary {
	border: none;
	background-color: transparent;
	color: $text;
}

button.outline {
	background-color: transparent;
	border-color: $text;
	color: $text;
}

button:disabled {
	opacity: 50%;
	cursor: not-allowed;
}

:host-context(.dark) button {
	background-color: $dark-island;
	border: 0;

	::ng-deep svg {
		stroke: $dark-text;

		rect {
			fill: $dark-text;
		}
	}
}

:host-context(.dark) button.outline {
	color: $dark-text !important;
}

.button-content {
	display: flex;
	align-items: center;
	gap: 10px;
}
