<div class="client-proposals-table-vgp">
	<div class="client-proposals-table-vgp__header">
		<ss-headline class="client-proposals-table-vgp__header-title" size="h6">Предложение</ss-headline>
	</div>

	<div class="client-proposals-table-vgp__panel">
		<div class="select-vgp">
			<ss-caption size="2">Выберите ВГП</ss-caption>
			<div class="client-proposals-table-vgp__input-vpg">
					<ss-chips-search size="medium" [placeholder]="'ВГП Клиента'" (getSelected)="getSelected($event)"
									 [searchType]="'productions'"></ss-chips-search>
					<ss-button size="small" [type]="'muted'">Посмотреть</ss-button>
			</div>
		</div>
		<div class="select-docs" *ngIf="vgp.length > 0">
			<ng-container>
				<div class="client-proposals-table-vgp__documents">
					<div class="documents-vpg__left">
						<ss-file-picker class="table-vpg__file-picker">
							<div class="test">1</div>
						</ss-file-picker>
					</div>
					<div class="documents-vpg__center">
						<ss-button size="small" [type]="'muted'" [disabled]="true">Скачать</ss-button>
						<ss-button size="small" [type]="'muted'" [disabled]="false" (click)="openPopoverSendToTheCloud()">Сохранить в облако</ss-button>
					</div>
					<div class="documents-vpg__right">
						<ss-button size="small" [type]="'outline'" nz-dropdown nzTrigger="click" [nzDropdownMenu]="settingsColumn">
							Отображение столбцов
							<ss-icon height="12" name="chevron" class="ss-file-picker__icon-toggle"></ss-icon>
						</ss-button>
						<ss-button size="small" [type]="'outline'" nz-dropdown nzTrigger="click" [nzDropdownMenu]="filters">
							Фильтры(0)
							<ss-icon height="12" name="chevron" class="ss-file-picker__icon-toggle"></ss-icon>
						</ss-button>
					</div>
				</div>
			</ng-container>
		</div>
	</div>

	<ng-container *ngIf="vgp.length > 0">
		<div class="client-proposals-table-vgp__content">
			<ss-table-v2
			> // через for
				<tr app-client-proposals-row-item-tr [item]=""></tr>
			</ss-table-v2>
		</div>
	</ng-container>

	<ng-container *ngIf="vgp.length === 0">
		<div class="client-proposals-table-vgp__no-content">
			<img
				src="../../../../assets/images/ss-empty-state%20placeholder/ss-empty-state%20placeholder.png"
				alt="" />
			<ss-headline class="clients-proposals-info__header" size="h3">Сформулируйте предложение
			</ss-headline>
			<ss-headline class="clients-proposals-info__header" size="h4">Выберите ВГП клиента выше и
				нажмите кнопку “Просмотреть”
			</ss-headline>
		</div>
	</ng-container>
</div>

<nz-dropdown-menu #settingsColumn="nzDropdownMenu">
	<ss-settings-view-column></ss-settings-view-column>
</nz-dropdown-menu>

<nz-dropdown-menu #filters="nzDropdownMenu">
	<app-client-proposals-filter></app-client-proposals-filter>
</nz-dropdown-menu>
