@use 'src/styles/colors.scss' as *;

.client-proposals-table-vgp {
	display: flex;
	flex-direction: column;

	&__loader {
		animation: 1s linear 0s normal none infinite running rotation;
		z-index: 9999999;
		width: 15px;
		height: 15px;
	}

	&__panel {
		border-bottom: 1px solid $island-outline;
		padding: 0 16px 16px 16px;

		ss-caption {
			padding-bottom: 2px;
		}

		.select-docs {
			margin-top: 16px;
		}
	}

	&__input-vpg {
		display: flex;
		gap: 16px;
		align-items: flex-end;

		ss-chips-search {
			width: 50%;

			::ng-deep {
				.input {
					min-height: 36px;
					padding: 4px 8px 4px 8px;
				}

				input {

				}

				.chips {
					padding: 4px 8px 4px 8px;
				}
			}
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		padding: 14px 16px;
	}

	&__documents {
		display: flex;
		justify-content: space-between;
	}

	&__content {
	    max-height: 80vh;
		min-height: 500px;
		padding: 16px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: 10px;
		position: relative;
	}

	&__description {
		display: flex;
		justify-content: flex-start;
	}

	&__no-content {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin: auto;
		align-items: center;
		height: 448px;
		padding-top: 20px;
		justify-content: center;

		&--description {
			color: #6D7885;
		}

	}
}

.documents-vpg {
	display: flex;
	justify-content: space-between;

	&__left {
		width: 456px;
		display: flex;
		flex-direction: row;
		padding-right: 16px;
	}

	&__center {
		display: flex;
		flex-direction: row;
		gap: 16px;
		padding-right: 33.5px;
	}

	&__right {
		display: flex;
		flex-direction: row;
		gap: 16px;

		ss-button {
			::ng-deep button {
				justify-content: space-between;
			}
		}

		ss-button:nth-child(1) {
			width: 220px;
		}

		ss-button:nth-child(2) {
			width: 129px;
		}
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
