<div class="app-mp-reservation-orders__header">
	<snab-text [type]="TextType.Headline" [weight]="TextWeight.Semibold">Реестр по обеспечению и персонификации заказов
		МП
	</snab-text>
	<div class="app-mp-reservation-orders__header-filter">
		<snab-button text="Назначить дату обеспечения" [size]="Size.Large"
					 [disabled]="!selectedOrders.size"
					 (click)="openPopupDateProvision()"
		></snab-button>
		<snab-button [type]="ButtonType.Outline" [size]="Size.Large"
					 [iconPosition]="IconPosition.OnlyIcon"
					 [icon]="IconType.FileNotFound" (click)="downloadInstr()">
		</snab-button>
		<ss-dropdown-button title="Фильтры">
			<ss-filters [isFiltersVisible]="true" [(filters)]="filters"
						(applyFilter)="getFilteredOrders(true);">
			</ss-filters>
		</ss-dropdown-button>
	</div>
</div>
<div class="app-mp-reservation-orders__body">
	<ng-container *ngIf="orders() as order">
		<ss-table-v2 class="table">
			<thead class="table__thead table__thead__sticky">
			<tr>
				<th>
					<input type="checkbox"
						   [checked]="isAllSelected()"
						   (change)="toggleSelectAll($event)"/>
				</th>
				<th>
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">Код заказа</snab-text>
				</th>
				<th>
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">Заявка на продажу/перемещение
					</snab-text>
				</th>
				<th>
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">Статус</snab-text>
				</th>
				<th>
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">Дата заказа</snab-text>
				</th>
				<th>
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">Заказчик</snab-text>
				</th>
				<th>
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">ТП</snab-text>
				</th>
				<th>
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">Кол-во</snab-text>
				</th>
				<th>
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">Ед. изм.</snab-text>
				</th>
				<th>
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">Обеспечение</snab-text>
				</th>
				<th>
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">МУТМЗ</snab-text>
				</th>
				<th>
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">Остатки</snab-text>
				</th>
				<th>
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">Дата производства</snab-text>
				</th>
				<th>
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">Дата обеспечения</snab-text>
				</th>
				<th>
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">История изменений по заявке
					</snab-text>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let orderMok of ordersMok">
				<td>
					<input type="checkbox"
						   [checked]="selectedOrders.has(orderMok.orderCode)"
						   (change)="onCheckboxChange($event, orderMok.orderCode)"/>
				</td>
				<td>
					<snab-link [type]="TextType.Body" [text]="orderMok.orderCode" (click)="goToOrderCard(orderMok.orderCode)"></snab-link>
				</td>
				<td>
					<snab-link [type]="TextType.Body" [text]="orderMok.requestNumber"></snab-link>
				</td>
				<td>
					<snab-text [type]="TextType.Body" [weight]="TextWeight.Semibold">{{ orderMok.status }}</snab-text>
				</td>
				<td>
					<snab-text [type]="TextType.Body">{{ orderMok.orderDate }}</snab-text>
				</td>
				<td>
					<snab-link [type]="TextType.Body" [text]="orderMok.customer"></snab-link>
				</td>
				<td>
					<snab-link [type]="TextType.Body" [text]="orderMok.tp"></snab-link>
				</td>
				<td>
					<snab-text [type]="TextType.Body">{{ orderMok.quantity }}</snab-text>
				</td>
				<td>
					<snab-text [type]="TextType.Body">{{ orderMok.unit }}</snab-text>
				</td>
				<td>
					<snab-text [type]="TextType.Body">{{ orderMok.provision }}</snab-text>
				</td>
				<td>
					<snab-link [type]="TextType.Body" [text]="orderMok.mutmz"></snab-link>
				</td>
				<td>
					<snab-link [type]="TextType.Body" [text]="orderMok.stock"></snab-link>
				</td>
				<td>
					<snab-text [type]="TextType.Body">{{ orderMok.productionDate }}</snab-text>
				</td>
				<td>
					<snab-text [type]="TextType.Body">{{ orderMok.provisionDate }}</snab-text>
				</td>
				<td>
					<snab-link [type]="TextType.Body" [text]="'История'"></snab-link>
				</td>
			</tr>
			</tbody>
		</ss-table-v2>
		<div class="pagination">
			<ss-pagination [total]="order.total" [pageSize]="pageSize" [pageIndex]="pageIndex"
						   (changeIndex)="ordersTableIndexChange($event)"></ss-pagination>
		</div>
	</ng-container>
</div>

