<ss-card padding="0" radius="0 0 16px 16px">
	<div class="header">
		<div class="header__title">
			<ss-headline size="h6" weight="semi-bold">Дни рождения в период </ss-headline>
			<ss-date-range size="small" [placeholder]="firstDate + ' | ' + lastDate" (select)="onDateRange($event)"></ss-date-range>
		</div>
		<ss-search-input
			data="{{ clientId }}"
			size="small"
			searchType="contractor"
			placeholder="Поиск по контрагенту"
			(select)="onContractor($event)" (input)="onContractor()"></ss-search-input>
	</div>

	<div class="card-list">
		<ng-container *ngFor="let birthdays of (birthdaysContractors$ | async)?.items; trackBy: trackBy">
			<ss-card padding="12">
				<a href="{{ birthdays?.detailLink }}" class="contacts" target="_blank" rel="noreferrer">
					<ss-text weight="semi-bold" [size]="'2'">{{ birthdays?.name }}</ss-text>
					<ss-text weight="medium" [size]="'3'">{{ birthdays?.position }}</ss-text>
					<ss-text weight="semi-bold" [size]="'3'">{{ birthdays?.contractor?.name }}</ss-text>
					<ss-tag class="station">{{ birthdays?.birthDate | date:'dd MMMM yyyy':'':'ru' }}</ss-tag>
				</a>
			</ss-card>
		</ng-container>
	</div>

	<div class="pagination">
		<ss-pagination [total]="total" [pageSize]="pageSize" [pageIndex]="pageIndex" (changeIndex)="nzPageIndexChange($event)"></ss-pagination>
	</div>

</ss-card>
