<ss-card padding="0">
	<div class="header">
		<ss-headline size="h6" weight="semi-bold">Дни рождения</ss-headline>
	</div>

	<div class="panel">
		<div class="date">
			<ss-search-input size="small"></ss-search-input>
		</div>
		<div class="search">
			<ss-search-input size="small"></ss-search-input>
		</div>
	</div>
	<div class="card-list">
		<ss-card padding="12">
			<ss-text [size]="'2'" weight="semi-bold">Гришин Пантелей Серапионович</ss-text>
			<ss-text [size]="'3'" weight="medium">Руководитель Отдела продаж</ss-text>
			<ss-text [size]="'2'" weight="semi-bold">Эвентус+</ss-text>
			<ss-tag class="station">3 марта 1970</ss-tag>
		</ss-card>
		<ss-card padding="12">
			<ss-text [size]="'2'" weight="semi-bold">Гришин Пантелей Серапионович</ss-text>
			<ss-text [size]="'3'" weight="medium">Руководитель Отдела продаж</ss-text>
			<ss-text [size]="'2'" weight="semi-bold">Эвентус+</ss-text>
			<ss-tag class="station">3 марта 1970</ss-tag>
		</ss-card>
		<ss-card padding="12">
			<ss-text [size]="'2'" weight="semi-bold">Гришин Пантелей Серапионович</ss-text>
			<ss-text [size]="'3'" weight="medium">Руководитель Отдела продаж</ss-text>
			<ss-text [size]="'2'" weight="semi-bold">Эвентус+</ss-text>
			<ss-tag class="station">3 марта 1970</ss-tag>
		</ss-card>
		<ss-card padding="12">
			<ss-text [size]="'2'" weight="semi-bold">Гришин Пантелей Серапионович</ss-text>
			<ss-text [size]="'3'" weight="medium">Руководитель Отдела продаж</ss-text>
			<ss-text [size]="'2'" weight="semi-bold">Эвентус+</ss-text>
			<ss-tag class="station">3 марта 1970</ss-tag>
		</ss-card>
		<ss-card padding="12">
			<ss-text [size]="'2'" weight="semi-bold">Гришин Пантелей Серапионович</ss-text>
			<ss-text [size]="'3'" weight="medium">Руководитель Отдела продаж</ss-text>
			<ss-text [size]="'2'" weight="semi-bold">Эвентус+</ss-text>
			<ss-tag class="station">3 марта 1970</ss-tag>
		</ss-card>
		<ss-card padding="12">
			<ss-text [size]="'2'" weight="semi-bold">Гришин Пантелей Серапионович</ss-text>
			<ss-text [size]="'3'" weight="medium">Руководитель Отдела продаж</ss-text>
			<ss-text [size]="'2'" weight="semi-bold">Эвентус+</ss-text>
			<ss-tag class="station">3 марта 1970</ss-tag>
		</ss-card>
		<ss-card padding="12">
			<ss-text [size]="'2'" weight="semi-bold">Гришин Пантелей Серапионович</ss-text>
			<ss-text [size]="'3'" weight="medium">Руководитель Отдела продаж</ss-text>
			<ss-text [size]="'2'" weight="semi-bold">Эвентус+</ss-text>
			<ss-tag class="station">3 марта 1970</ss-tag>
		</ss-card>
	</div>
</ss-card>
