<div class="rating-team-tab" [tooltip]="team().name" [theme]="TooltipTheme.DEFAULT"
	 [position]="TooltipPosition.DEFAULT" *ngIf="team()" [class.rating-team-tab--active]="active()">
	<div class="rating-team-tab__left">
		<ss-icon *ngIf="team().place <= 3" [name]="'cup'" class="rating-team-tab__{{ team().place }}"></ss-icon>
		<span>{{ team().shortName }}</span>
	</div>
	<div class="rating-team-tab__right">
		<ss-text [size]="'3'">{{ team().rate ?? '-' }} / {{ team().membersCount ?? '-' }}</ss-text>
	</div>
</div>

