<div class="client-proposals-card">
	<div class="client-proposals-card__header">
		<ss-headline size="h6">Предложение</ss-headline>
	</div>
	<div class="client-proposals-card__controls">
		<form [formGroup]="form" class="client-proposals-card__form">
			<ss-multiselect-autocomplete-v2
				[readOnly]="(blockForProposals$ | async)!"
				[label]="'Выберите ВГП'"
				[placeholder]="'ВГП'" [formControlName]="'vgpIds'"
				[queryControl]="vgpQueryControl"
				[options]="(productionOptionsVgp$ | async)!">
			</ss-multiselect-autocomplete-v2>
			<ss-multiselect-autocomplete-v2
				[readOnly]="(blockForProposals$ | async)!"
				[formControlName]="'tgIds'"
				[label]="'Выберите ТГ'" [placeholder]="'ТГ'"
				[queryControl]="tgQueryControl"
				[options]="(productionOptionsTg$ | async)!">
			</ss-multiselect-autocomplete-v2>
			<ss-multiselect-autocomplete-v2
				[readOnly]="(blockForProposals$ | async)!"
				[label]="'Выберите ТПГ'"
				[placeholder]="'ТПГ'" [formControlName]="'tpgIds'"
				[queryControl]="tpgQueryControl"
				[options]="(productionOptionsTpg$ | async)!">
			</ss-multiselect-autocomplete-v2>
			<ss-multiselect-v2
				[readOnly]="(blockForProposals$ | async)!"
				[label]="'Выберите признак ТПР'"
				[formControlName]="'TprFlags'"
				[placeholder]="'Признак ТПР'"
				[options]="(productionOptionsSign$ | async)!">
			</ss-multiselect-v2>
			<ss-button [disabled]="isDisabledButton" (click)="submit()" size="small" [type]="'primary'">Посмотреть
			</ss-button>
		</form>
	</div>
	<app-notice [size]="'small'" [isLabeled]="false" *ngIf="isAlterFilter$ | async" [type]="'warning'"
				[text]="(alterFilterDefenitionNote$ | async)!"></app-notice>
	<div class="client-proposals-card__functional">
		<div class="client-proposals-card__functional-left">
			<ng-container *ngIf="(this.checkListStateService.checkFiles$ | async)?.length">
				<ss-file-picker></ss-file-picker>
				<ng-container
					*ngIf="(this.checkListStateService.checkFiles$ | async)?.length && (waitingForLoading$ | async)">
					<svg class="client-proposals-card__loader" width="15" height="15"
						 viewBox="0 0 28 28"
						 fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M9.1323 0.873481C6.01444 2.02968 3.40992 4.25792 1.78508 7.15926C0.160239 10.0606 -0.37882 13.4456 0.264418 16.7081C0.907657 19.9706 2.69119 22.8977 5.29568 24.9652C7.90017 27.0326 11.1555 28.1056 14.4789 27.9918C17.8023 27.878 20.9767 26.585 23.4337 24.3443C25.8908 22.1036 27.47 19.0614 27.8886 15.7625C28.3073 12.4637 27.538 9.12348 25.7186 6.34003C23.8991 3.55659 21.1484 1.51165 17.9587 0.571358L16.3752 5.94281C18.289 6.50699 19.9395 7.73395 21.0311 9.40402C22.1228 11.0741 22.5844 13.0782 22.3332 15.0575C22.082 17.0369 21.1345 18.8621 19.6602 20.2066C18.186 21.551 16.2814 22.3268 14.2874 22.3951C12.2933 22.4633 10.3401 21.8196 8.77741 20.5791C7.21471 19.3386 6.14459 17.5824 5.75865 15.6249C5.37271 13.6673 5.69614 11.6364 6.67105 9.89556C7.64595 8.15475 9.20866 6.81781 11.0794 6.12409L9.1323 0.873481Z"
							fill="#E4E8EA"/>
						<path
							d="M9.1323 0.873481C11.4608 0.0100084 13.9771 -0.218541 16.423 0.211273C18.869 0.641088 21.1566 1.7138 23.0512 3.31937C24.9458 4.92495 26.3792 7.0056 27.2045 9.34792C28.0297 11.6902 28.217 14.2099 27.7472 16.6485L22.2483 15.5891C22.5302 14.1259 22.4178 12.6141 21.9227 11.2087C21.4275 9.80336 20.5675 8.55497 19.4307 7.59162C18.2939 6.62828 16.9214 5.98465 15.4538 5.72676C13.9862 5.46887 12.4765 5.606 11.0794 6.12409L9.1323 0.873481Z"
							fill="#4770FF"/>
					</svg>
				</ng-container>
				<ss-button [disabled]="(waitingForLoading$ | async)!"
						   *ngIf="(this.checkListStateService.checkFiles$ | async)?.length || (waitingForLoading$ | async)"
						   size="small" [type]="'primary'" (click)="saveFiles()">Скачать
				</ss-button>

				<ss-button size="small" [type]="'primary'"
						   *ngIf="(this.checkListStateService.checkFiles$ | async)?.length"
						   (click)="saveInCloud()">Сохранить в
					облако
				</ss-button>
			</ng-container>
		</div>
		<div class="client-proposals-card__functional-right" *ngIf="offersItems$ | async as offers">
			<ss-button *ngIf="offers.length > 0" size="small" type="warning"
					   (click)="openAtWorkModal(offers)">Взять в работу
			</ss-button>
			<ss-button *ngIf="offers.length > 0" size="small" [type]="'outline'" nz-dropdown nzTrigger="click"
					   [nzDropdownMenu]="settingsColumn">
				Отображение столбцов
				<ss-icon height="12" name="chevron" class="ss-file-picker__icon-toggle"></ss-icon>
			</ss-button>
		</div>
	</div>
</div>
<ss-divider></ss-divider>
<div class="client-proposals-card__content">
	<app-client-proposals-table-vgp [isLoading]="(isLoading$ | async)!"
									[clientOffers]="clientOffers$ | async"></app-client-proposals-table-vgp>
</div>

<nz-dropdown-menu #settingsColumn="nzDropdownMenu">
	<ss-settings-view-column></ss-settings-view-column>
</nz-dropdown-menu>
