<ss-card padding="0" class="filters"
		 *ngIf="isFiltersVisible">
	<div class="header">
		<ss-headline size="h6">Фильтры</ss-headline>
		<ss-icon height="18" width="18" name="logout" class="filter-button" (click)="toggleFilters()"></ss-icon>
	</div>
	<form [formGroup]="filtersForm" class="filters-form">
		<div class="filters-form-header">
			<ss-caption class="filters-form-header-button" size="2" (click)="resetForm()">
				Очистить все <ss-icon height="8" width="8" name="iconClose"></ss-icon>
			</ss-caption>
		</div>
		<div class="filters-form-item" *ngFor="let filter of filters">
			<ss-input *ngIf="filter.type === 'string'" type="text" [label]="filter.label" [formControlName]="filter.name" [value]="filter.value" [placeholder]="filter.placeholder"></ss-input>
			<ss-numeric-input *ngIf="filter.type === 'number'" [label]="filter.label" [formControlName]="filter.name" [value]="filter.value" [placeholder]="filter.placeholder"></ss-numeric-input>
			<ss-date-range *ngIf="filter.type === 'date-range'" [label]="filter.label" [formControlName]="filter.name" [value]="filter.value" placeholder="" (select)="filtersForm.controls[filter.name].setValue($event)"></ss-date-range>
			<ss-multiselect *ngIf="filter.type === 'select'" [options]="filter.options!" [placeholder]="filter.placeholder" [label]="filter.label" (getSelected)="filtersForm.controls[filter.name].setValue($event)"></ss-multiselect>
			<ss-chips-search *ngIf="filter.type === 'search-select'" [placeholder]="filter.placeholder" [label]="filter.label" [searchType]="filter.searchType" [selectedItems]="Array.isArray(filter.value) ? filter.value : []" (getSelected)="filtersForm.controls[filter.name].setValue($event)"></ss-chips-search>
			<ss-toggle *ngIf="filter.type === 'boolean'" [formControlName]="filter.name" [label]="filter.label"></ss-toggle>
			<ss-search-input *ngIf="filter.type === 'search'" [label]="filter.label" [searchType]="filter.searchType" [placeholder]="filter.placeholder" (select)="filtersForm.controls[filter.name].setValue($event)"></ss-search-input>
		</div>
	</form>
	<div class="footer">
		<ss-button size="small" (click)="onFiltersApply()">Применить фильтры</ss-button>
	</div>
</ss-card>
