@if (isFiltersVisible) {
	<div class="filters">
		<div class="header">
			<ss-headline size="h6">Фильтры</ss-headline>
			@if (!isDropdown) {
				<ss-icon height="18" width="18" name="logout" class="filter-button" (click)="toggleFilters()"></ss-icon>
			}
		</div>
		<form [formGroup]="filtersForm" class="filters-form">
			<div class="filters-form-header">
				<ss-caption class="filters-form-header-button" size="2" (click)="resetForm()">
					Очистить все
				</ss-caption>
				<ss-icon (click)="resetForm()" height="8" width="8" name="close"></ss-icon>
			</div>
			@for (filter of filters; track $index) {
				<div class="filters-form-item">
					@switch (filter.type) {
						@case ('string') {
							<ss-input type="text" [label]="filter.label" [formControlName]="filter.name" [value]="filter.value" [placeholder]="filter.placeholder"></ss-input>
						}
						@case ('number') {
							<ss-numeric-input [label]="filter.label" [formControlName]="filter.name" [value]="filter.value" [placeholder]="filter.placeholder"></ss-numeric-input>
						}
						@case ('int-number') {
							<ss-numeric-input [isInt]="true" [label]="filter.label" [formControlName]="filter.name" [value]="filter.value" [placeholder]="filter.placeholder"></ss-numeric-input>
						}
						@case ('date-range') {
							<ss-date-range [label]="filter.label" [formControlName]="filter.name" [value]="filter.value" [placeholder]="filter.placeholder" (select)="filtersForm.controls[filter.name].setValue($event)"></ss-date-range>
						}
						@case ('select') {
							<ss-multiselect [options]="filter.options!" [placeholder]="filter.placeholder" [label]="filter.label" (getSelected)="filtersForm.controls[filter.name].setValue($event)"></ss-multiselect>
						}
						@case ('search-select') {
							<ss-chips-search [placeholder]="filter.placeholder" [label]="filter.label" [searchType]="filter.searchType" [selectedItems]="Array.isArray(filter.options) ? filter.options : []" (getSelected)="filtersForm.controls[filter.name].setValue($event); filter.options = $event"></ss-chips-search>
						}
						@case ('boolean') {
							<ss-toggle [formControlName]="filter.name" [label]="filter.label"></ss-toggle>
						}
						@case ('search') {
							<ss-search-input [label]="filter.label" [searchType]="filter.searchType" [placeholder]="filter.placeholder" [selectedItem]="filtersForm.controls[filter.name].value" (select)="filtersForm.controls[filter.name].setValue($event);"></ss-search-input>
						}
					}
				</div>
			}
		</form>
		<div class="footer">
			<ss-button size="small" (click)="onFiltersApply()">Применить фильтры</ss-button>
		</div>
	</div>
}
