<ss-caption size="1">{{ label }}</ss-caption>
<div
	*ngIf="funcEdit"
	class="input-edit"
>
	<div class="input-edit__left">
		<ss-icon [name]="'editNew'"></ss-icon>
	</div>
	<div class="input-edit__middle">
		<ss-text [size]="'4'">Редактировать сообщение</ss-text>
		<span class="input-edit__text">{{ oldValue }}</span>
	</div>
	<div class="input-edit__right">
		<ss-icon
			[name]="'close'"
			(click)="close()"
		></ss-icon>
	</div>
</div>

<div class="textarea">
	<textarea
		#input
		class="{{ error ? size + ' error' : size }}"
		maxlength="1000"
		[attr.disabled]="disabled"
		[placeholder]="placeholder"
		[formControl]="control"
	></textarea>
	<ss-icon
		*ngIf="input.value && !disabled"
		height="12"
		name="close"
		(click)="clear()"
	></ss-icon>
</div>
<ss-caption
	size="2"
	color="error"
	>{{ error }}</ss-caption
>
