<ss-caption size="1">{{ label }}</ss-caption>
<div class="input-edit" *ngIf="funcEdit">
	<div class="input-edit__left">
		<ss-icon [name]="'editNew'"></ss-icon>
	</div>
	<div class="input-edit__middle">
		<ss-text [size]="'4'">Редактировать сообщение</ss-text>
		<span class="input-edit__text">{{ oldValue }}</span>
	</div>
	<div class="input-edit__right">
		<ss-icon (click)="close()" [name]="'close'"></ss-icon>
	</div>
</div>

<div class="textarea">
	<textarea
		[attr.disabled]="disabled"
		[placeholder]="placeholder"
		[formControl]="control"
		maxlength="1000"
		class="{{ error ? size + ' error' : size }}"
		#input
	></textarea>
	<ss-icon *ngIf="input.value && !disabled" height="12" name="close"
			 (click)="clear()"></ss-icon>
</div>
<ss-caption size="2" color="error">{{ error }}</ss-caption>
