<ss-card class="invite">
	<div *ngIf="!cancelClick && !acceptClick" class="header">
		<ss-headline size="h3" weight="semi-bold">Подтверждение</ss-headline>
	</div>
	<div *ngIf="acceptClick && !cancelClick" class="header">
		<ss-headline size="h3" weight="semi-bold">Подтверждено</ss-headline>
	</div>
	<div *ngIf="!acceptClick && cancelClick" class="header">
		<ss-headline size="h3" weight="semi-bold">Отклонено</ss-headline>
	</div>

	<div *ngIf="!cancelClick && !acceptClick" class="text">
		<div>
			<p>
Вам пришел запрос на установление дружественной связи <br /> для совместной работы
</p>
		</div>
	</div>

	<div *ngIf="acceptClick && !cancelClick" class="text">
		<div>
			<p>Запрос на создание дружественной связи подтвержден</p>
		</div>
		<div>
			<ss-icon class="accept-icon" [name]="'accept'"></ss-icon>
		</div>
	</div>
	<div *ngIf="!acceptClick && cancelClick" class="text">
		<div>
			<p>Запрос на создание дружественной связи отклонен</p>
		</div>
		<div>
			<ss-icon class="cancel-icon" [name]="'cancel'"></ss-icon>
		</div>
	</div>
	<div>
		<ng-container *ngIf="friendsAccount$ | async as user">
			<ss-card class="personality">
				<div class="personal">
					<div class="img">
						<img src="{{ user?.avatarUrl }}" alt="users" />
					</div>
					<div class="title">
						<div class="fio">
							<span>{{ user?.lastName }} {{ user?.firstName }} {{ user?.surName }}</span>
						</div>
						<div class="job">
							<div>{{ user?.position }}</div>
							<div>{{ user?.department }}</div>
						</div>
					</div>
				</div>
				<ng-container [ngSwitch]="user?.equType">
					<div *ngSwitchCase="1" class="connection-type">
						<ss-icon class="connect-icon" [name]="'oneConnectIn'"></ss-icon>
						<span>Односторонняя связь (от имени друга)</span>
					</div>
					<div *ngSwitchCase="2" class="connection-type">
						<ss-icon class="connect-icon" [name]="'oneConnectOut'"></ss-icon>
						<span>Односторонняя связь (от моего имени)</span>
					</div>
					<div *ngSwitchCase="3" class="connection-type">
						<ss-icon class="connect-icon" [name]="'twoWayConnect'"></ss-icon>
						<span>Двусторонняя связь</span>
					</div>
				</ng-container>
			</ss-card>
		</ng-container>

	</div>
	<div *ngIf="!cancelClick && !acceptClick; else back" class="buttons">
		<ss-button size="large" type="primary" (click)="acceptAddUser()">Подтвердить</ss-button>
		<ss-button size="large" type="secondary" (click)="cancelAddUser()">Отклонить</ss-button>
	</div>

	<ng-template #back>
		<div class="buttons">
			<a href="/">
				<ss-button size="large" type="primary">Перейти на главную страницу</ss-button>
			</a>
		</div>
	</ng-template>
</ss-card>
