<ss-card padding="0">
	<div class="header">
		<div class="header__info">
			<ss-text size="1">Спецификация затрат</ss-text>
			<ss-tag-v2 state="normal">
				Итоговая сумма:
				<ss-text size="3"
					>{{
						specificationsTotalAmount() | numWithSpaces
					}}
					р.</ss-text
				>
			</ss-tag-v2>
		</div>
		<ss-button
			*ngIf="permissions().includes(Permissions.COMPLETED_WORK_ACTS_EDIT)"
			type="muted"
			size="small"
			(click)="onAddSpecification()"
			>Добавить спецификацию</ss-button
		>
	</div>
	<div class="content">
		<ss-table-v2>
			<tr
				*ngFor="let item of specifications()"
				ss-specification-row-item-tr
				[item]="item"
			></tr>
		</ss-table-v2>
	</div>
</ss-card>
