@use 'src/styles/colors.scss' as *;

:host {
	overflow-y: auto;
	min-height: 171px;
}

.header {
	display: flex;
	padding: 10px 16px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $island-outline;

	&__info {
		display: flex;
		align-items: center;
		gap: 12px;
	}
}

.content {
	padding: 16px;
	overflow-y: auto;
}
