<ss-card padding="0">
	<div class="header">
		<ss-headline size="h6" weight="semi-bold">Общая информация</ss-headline>
		<div class="header-controls" *ngIf="!isEditing; else closeButton">
				<a class="header-controls-button" href="{{ (client$ | async)?.linkToDetail }}" target="_blank" rel="noreferrer">
					<ss-icon name="box" [tooltip]="'Открыть модель клиента'" [theme]="TooltipTheme.MAIN" [position]="TooltipPosition.ABOVE"></ss-icon>
				</a>
				<ss-tooltip-menu icon="download">
					<ss-caption size="1">
						<a [href]="clientCardListFacade.methodFileLink" target="_blank">
						Методика расчета категории Дистребьютеров
						</a>
					</ss-caption>
				</ss-tooltip-menu>
				<ng-container *ngIf="this.currentUser?.isAdmin">
					<ss-icon name="edit" (click)="onEditing(true)"></ss-icon>
				</ng-container>
		</div>
		<ng-template #closeButton>
			<ss-icon name="iconCloseLight" (click)="onEditing(false)"></ss-icon>
		</ng-template>
	</div>
	<form class="info-list" [formGroup]="infoForm" (submit)="$event.preventDefault()">
		<div class="info-list-item">
			<ss-text size="3" class="info-list-item-name">Код:</ss-text>
			<ss-text size="3" class="info-list-item-value">{{ (client$ | async)?.id }}</ss-text>
		</div>
		<div class="info-list-item">
			<ss-text size="3" class="info-list-item-name">Название:</ss-text>
			<ss-input size="medium" formControlName="name"
					  *ngIf="isEditing; else name"
					  [error]="infoForm.controls.name.hasError('required') && infoForm.controls.name.touched ? 'Обязательное поле' : undefined"
			></ss-input>
			<ng-template #name>
				<ss-text size="3" class="info-list-item-value">{{ (client$ | async)?.name }}</ss-text>
			</ng-template>
		</div>
		<div class="info-list-item">
			<ss-text size="3" class="info-list-item-name">Категория:</ss-text>
			<ss-text size="3" class="info-list-item-value">{{ (client$ | async)?.category?.name || '—' }}</ss-text>
		</div>
		<div class="info-list-item">
			<ss-text size="3" class="info-list-item-name">Статус:</ss-text>
			<ss-select size="medium" *ngIf="isEditing; else status" (onChange)="infoForm.controls.status.setValue(($event))">
				<option [selected]="(client$ | async)!.status === 1" [value]="1">Новый</option>
				<option [selected]="(client$ | async)!.status === 2" [value]="2">Архив</option>
				<option [selected]="(client$ | async)!.status === 6" [value]="6">Действующий</option>
			</ss-select>
			<ng-template #status>
				<ss-text size="3" class="info-list-item-value">{{ clientStatuses[(client$ | async)!.status || 1] }}</ss-text>
			</ng-template>
		</div>
		<div class="info-list-item">
			<ss-text size="3" class="info-list-item-name">Передано в юр.отдел:</ss-text>
			<ss-text size="3" class="info-list-item-value">{{ (client$ | async)?.transferredToLD ? '✔' : '—' }}</ss-text>
		</div>
		<div class="info-list-item">
			<ss-text size="3" class="info-list-item-name">Нет активности по клиенту:</ss-text>
			<ss-text size="3" class="info-list-item-value">{{ (client$ | async)?.noActivity ? '✔' : '—' }}</ss-text>
		</div>
		<div class="info-list-item">
			<ss-text size="3" class="info-list-item-name">Подотрасль:</ss-text>
			<ss-search-input formControlName="category" searchType="subsector" *ngIf="isEditing; else subsector"
							 (select)="selectCategory($event)"
							 [error]="infoForm.controls.category.hasError('required') && infoForm.controls.category.touched ? 'Обязательное поле' : undefined"
							 value="{{ (client$ | async)?.saleDirection }}"
			></ss-search-input>
			<ng-template #subsector>
				<ss-text size="3" class="info-list-item-value">{{ (client$ | async)?.saleDirection || '—' }}</ss-text>
			</ng-template>
		</div>
		<div class="info-list-item">
			<ss-text size="3" class="info-list-item-name">Регион:</ss-text>
			<ss-search-input formControlName="region" searchType="region" *ngIf="isEditing; else region"
							 (select)="selectRegion($event)"
							 [error]="infoForm.controls.region.hasError('required') && infoForm.controls.region.touched ? 'Обязательное поле' : undefined"
							 value="{{ (client$ | async)?.region?.name }}"
			></ss-search-input>
			<ng-template #region>
				<ss-text size="3" class="info-list-item-value">{{ (client$ | async)?.region?.name || '—' }}</ss-text>
			</ng-template>
		</div>
		<ng-container *ngIf="isEditing">
			<div class="info-list-item price-list" *ngIf="(client$ | async)?.exclusive || (client$ | async)?.isDistributor">
				<a href="{{ (client$ | async)?.changePriceListLevelLink }}" target="_blank">
					<ss-icon name="editNew" class="" height="13.2"></ss-icon>
				</a>
				<ss-text size="3" class="info-list-item-name">Текущий уровень прайс-листа:</ss-text>
				<ss-text size="3" class="info-list-item-value">{{ (client$ | async)?.category?.name || '—' }}</ss-text>
			</div>
			<div class="info-list-item" *ngIf="(client$ | async)?.exclusive || (client$ | async)?.isDistributor">
				<ss-text size="3" class="info-list-item-name">Среднемесячный объем продаж за квартал:</ss-text>
				<ss-text size="3" class="info-list-item-value">{{ (client$ | async)?.avgSalesVolume || '—' }}</ss-text>
			</div>
		</ng-container>
		<div class="info-list-item">
			<ss-text size="3" class="info-list-item-name">Эксклюзивный дистрибьютор в регионе:</ss-text>
			<ss-text size="3" class="info-list-item-value">{{ (client$ | async)?.exclusiveInRegion ? '✔' : '—' }}</ss-text>
		</div>
		<div class="info-list-item">
			<ss-text size="3" class="info-list-item-name">Эксклюзивный дистрибьютор:</ss-text>
			<ss-text size="3" class="info-list-item-value">{{ (client$ | async)?.exclusive ? '✔' : '—' }}</ss-text>
		</div>
		<div class="info-list-item">
			<ss-text size="3" class="info-list-item-name">Структура соответствует требованиям:</ss-text>
			<ss-text size="3" class="info-list-item-value">{{ (client$ | async)?.meetsRequirements ? '✔' : '—' }}</ss-text>
		</div>
		<div class="info-list-item comment" *ngIf="isEditing">
			<ss-text size="3" class="info-list-item-name">Комментарий:</ss-text>
			<ss-textarea size="medium" rows="4" placeholder="Введите текст" formControlName="comment"></ss-textarea>
		</div>
	</form>
	<div class="footer" *ngIf="isEditing">
		<ss-button (click)="saveChanges()">Сохранить</ss-button>
	</div>
</ss-card>
