<div class="birthday">
  <div class="header">
    <div>
      <div class="title">
        <h1>ДНИ РОЖДЕНИЯ</h1>
      </div>
      <div class="subtitle">
        <h2>Не забывайте поздравить коллег и партнеров!</h2>
      </div>
    </div>
    <div class="open-all-table">
      <div class="button">
        <button nz-button class="button" [nzType]="'primary'">
          <span class="like-icon" nz-icon [nzType]="'ss:blocknote'"></span>
          Добавить напоминание
        </button>
      </div>
    </div>
  </div>

  <div class="panel"></div>

  <div class="tabs">
    <div class="calendar">
      <nz-date-picker [nzPlaceHolder]="dateToday" [(ngModel)]="dateToday" [nzAllowClear]="false" (ngModelChange)="onChange($event)" nzFormat="dd.MM.yyyy" [nzSuffixIcon]="sufixCalendar"></nz-date-picker>

      <span class="calendar-icon" nz-icon [nzType]="'ss:calendar'"></span>
      <ng-template #sufixCalendar>
        <i nz-icon [nzType]="'ss:arrowBottom'" class="search-icon-suffix"></i>
      </ng-template>
    </div>

      <nz-tabset [nzTabPosition]="'top'" [nzType]="'line'">
        <ng-container *ngIf="birthdayList | async as birthday">

          <ng-container *ngFor="let date of birthday;">
            <nz-tab nzTitle="{{ date.name }}">

              <div class="content">
                <div class="card-list">
                  <div class="card" *ngFor="let item of date.items;">
                    <div class="personal">
                      <div class="img" (click)="showModalOpenOut(item?.id)">
                        <img src="{{ item?.avatarUrl }}" alt="" />
                      </div>
                      <div class="title">
                        <div class="fio">
                          <span>{{ item?.name }}</span>
                        </div>
                        <div class="job">
                          <div>{{ item?.position }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </nz-tab>
          </ng-container>

        </ng-container>
      </nz-tabset>

  </div>

</div>
