<div class="clients-proposals-page">
	<div class="clients-proposals-page__header">
		<ss-headline size="h3"
			>Контакт с клиентом: рекомендации по ВГП</ss-headline
		>
		<div
			*ngIf="canLoadFile"
			class="clients-proposals-page__download-reports"
		>
			<ss-text [size]="'1'">Отчеты по пользователю</ss-text>
			<div class="clients-proposals-page__reports">
				<ss-tooltip-menu icon="box">
					<ss-caption
						size="1"
						(click)="download(typeReport.took)"
					>
						Обработанные предложения
					</ss-caption>
					<ss-caption
						size="1"
						(click)="download(typeReport.skipped)"
					>
						Несостоявшиеся предложения
					</ss-caption>
				</ss-tooltip-menu>
			</div>
		</div>
		<div class="clients-proposals-page__instructions">
			<ss-icon
				[tooltip]="'Инструкция по контакту с клиентом'"
				[theme]="TooltipTheme.MAIN"
				[position]="TooltipPosition.DEFAULT"
				[width]="'20'"
				[height]="'20'"
				[name]="'download'"
				(click)="
					downloadInstruction(
						clientProposalsFacadeService.instructionFileLink
					)
				"
			></ss-icon>
		</div>
	</div>
	<div class="clients-proposals-page__content">
		<div class="clients-proposals-page__img">
			<img
				src="../../../../assets/images/client-proposals-main-page/client-proposals-main-page.png"
				alt=""
			/>
			<ss-headline size="h4">Найдите клиента в поиске</ss-headline>
		</div>
		<ss-search-input
			class="clients-proposals-page__search-input"
			[onlyActive]="true"
			[searchType]="'client'"
			(select)="getSearchClient($event)"
		></ss-search-input>
	</div>
</div>
