@use '../../../../styles/colors' as *;

.clients-proposals-page {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	gap: 70px;

	&__header {
		display: flex;
		justify-content: space-between;
		padding: 0 40px;
		gap: 16px;

		ss-headline {
			flex-grow: 1;
		}
	}

	&__download-reports {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		border: 1px solid #e0e0e0;
		border-radius: 8px;
		padding: 14px;
		background-color: #ffffff;
	}

	&__reports {
		display: flex;
		flex-wrap: nowrap;
		gap: 10px;
	}

	&__instructions {
		display: flex;
		align-items: center;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 24px;
	}

	&__search-input {
		min-width: 520px;
	}

	&__img {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}
}
