<ss-headline class="clients-proposals-page__header" size="h3">Контакт с клиентом: рекомендации по ВГП</ss-headline>
<div class="clients-proposals-page">
	<div class="clients-proposals-page__content">
		<div class="clients-proposals-page__img">
			<img src="../../../../assets/images/client-tpr-main-page/client-tpr-main-page.png" alt="" />
			<ss-headline size="h4">Найдите клиента в поиске</ss-headline>
		</div>
		<ss-search-input class="clients-proposals-page__search-input" [searchType]="'client'"
						 (select)="getSearchClient($event)"></ss-search-input>
	</div>
</div>

