<div class="title">
  <h1>Настроить пункты избранного</h1>
</div>

<div class="password">
  <p class="paragraph-1">Рекомендуем соблюдать правило:</p>
  <p class="paragraph-2">Пароль должен состоять не менее, чем из 8 символов.Используйте сочетание по крайней мере 1 заглавной буквы, 1 цифры и 1 специального символа (#, @, &)</p>
  <form nz-form [formGroup]="myPasswordForm" nzLayout="vertical" class="settings-form m-t-35" (ngSubmit)="onSubmit()">
    <nz-form-item class="relative">
      <nz-form-control nzErrorTip="Введите новый пароль">
        <nz-input-group [nzSuffix]="prefixLock">
          <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="Новый пароль" [(ngModel)]="password" />
        </nz-input-group>
        <ng-template #prefixLock>
                                      <span
                                        nz-icon
                                        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                        (click)="passwordVisible = !passwordVisible"
                                      ></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="relative">
      <nz-form-control nzErrorTip="Повторите новый пароль">
        <nz-input-group [nzSuffix]="prefixLockRepeat">
          <input [type]="passwordVisibleRepeat ? 'text' : 'password'" nz-input formControlName="passwordRepeat" placeholder="Повторите пароль" [(ngModel)]="passwordRepeat" />
        </nz-input-group>
        <ng-template #prefixLockRepeat>
                                      <span
                                        nz-icon
                                        [nzType]="passwordVisibleRepeat ? 'eye-invisible' : 'eye'"
                                        (click)="passwordVisibleRepeat = !passwordVisibleRepeat"
                                      ></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <div class="send d-flex flex-column">
          <div class="font-size-12 text-muted">
            <p class="note">
              Пожалуйста, укажите новый пароль
            </p>
          </div>
          <div class="m-b-30 m-t-24">
            <button nz-button class="login-form-button" [nzType]="'primary'">Сохранить изменения</button>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>

  <ng-template #suffixIconSearch>
    <span class="search" nz-icon nzType="ss:search"></span>
  </ng-template>

  <ng-template #prefixUser>
    <i class="star" nz-icon nzType="ss:star"></i>
  </ng-template>
</div>

