<div class="title">
  <h1>Изменить пароль</h1>
</div>

<div class="password">
  <p class="paragraph-1">Рекомендуем соблюдать правило:</p>
  <p class="paragraph-2">Пароль должен состоять не менее, чем из 8 символов.Используйте сочетание по крайней мере 1 заглавной буквы, 1 цифры и 1 специального символа (#, @, &)</p>
  <form nz-form [formGroup]="myPasswordForm" nzLayout="vertical" class="settings-form m-t-26" (ngSubmit)="onSubmit()">
    <nz-form-item class="relative">
      <nz-form-label nzFor="userName">Введите текущий пароль</nz-form-label>
      <nz-form-control nzErrorTip="Новый пароль">
        <nz-input-group [nzSuffix]="prefixLock">
          <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="Текущий пароль" [(ngModel)]="password" />
        </nz-input-group>
        <ng-template #prefixLock>
                                      <span
                                        nz-icon
                                        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                        (click)="passwordVisible = !passwordVisible"
                                      ></span>
        </ng-template>
      </nz-form-control>
      <div class="font-size-12 text-muted">
        <a class="small" [routerLink]="['/profile/recovery-password']">Не помню пароль</a>
      </div>
    </nz-form-item>
    <nz-form-item class="relative">
      <nz-form-label nzFor="userName">Новый пароль</nz-form-label>
      <nz-form-control nzErrorTip="Новый пароль">
        <nz-input-group [nzSuffix]="prefixLockRepeat">
          <input [type]="passwordVisibleRepeat ? 'text' : 'password'" nz-input formControlName="passwordRepeat" placeholder="Новый пароль" [(ngModel)]="passwordRepeat" />
        </nz-input-group>
        <ng-template #prefixLockRepeat>
                                      <span
                                        nz-icon
                                        [nzType]="passwordVisibleRepeat ? 'eye-invisible' : 'eye'"
                                        (click)="passwordVisibleRepeat = !passwordVisibleRepeat"
                                      ></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="m-t-16 relative">
      <nz-form-label nzFor="userName">Повторите пароль, чтобы не ошибиться</nz-form-label>
      <nz-form-control nzErrorTip="Новый пароль">
        <nz-input-group [nzSuffix]="prefixLockRepeat">
          <input [type]="passwordVisibleRepeat ? 'text' : 'password'" nz-input formControlName="passwordRepeat" placeholder="Повторите пароль" [(ngModel)]="passwordRepeat" />
        </nz-input-group>
        <ng-template #prefixLockRepeat>
                                      <span
                                        nz-icon
                                        [nzType]="passwordVisibleRepeat ? 'eye-invisible' : 'eye'"
                                        (click)="passwordVisibleRepeat = !passwordVisibleRepeat"
                                      ></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <div class="m-b-30 m-t-45">
      <button nz-button class="change-password-button" [nzType]="'primary'">Сохранить изменения</button>
    </div>
  </form>

  <ng-template #suffixIconSearch>
    <span class="search" nz-icon nzType="ss:search"></span>
  </ng-template>

  <ng-template #prefixUser>
    <i class="star" nz-icon nzType="ss:star"></i>
  </ng-template>
</div>

