// Вынести в общие стили
.title {
	margin-bottom: 20px;
}

.password {
	width: 538px;

	p {
		margin-bottom: 0.3em;
	}

	.paragraph-1 {
		font-size: 20px;
		font-weight: bold;
	}

	.paragraph-2 {
		font-size: 16px;
		line-height: 24px;
	}

	::ng-deep .ant-form-vertical .ant-form-item-label {
		padding: 0 0 5px;
	}

	.ant-input-affix-wrapper {
		width: 359px;
	}

	.text-muted {
		margin-top: 14px;
	}

	.change-password-button {
		width: 220px;

		::ng-deep span {
			font-size: 16px;
		}
	}
}
