<ng-container *ngFor="let cols of columnsStateService.visibleCols$ | async">
	<ng-container *ngFor="let col of cols.cols">
		<ng-container [ngSwitch]="col.id">
			<td
				*ngIf="col.display"
				class="ss-table-td"
			>
				<ng-container
					*ngSwitchCase="
						ChangeProvisionDetailsTrRowItemField.productionDate
					"
				>
					<div class="hc-table-td__content">
						{{ item.productionDate | date: 'dd.MM.yyyy' }}
					</div>
				</ng-container>

				<ng-container
					*ngSwitchCase="
						ChangeProvisionDetailsTrRowItemField.provisionDate
					"
				>
					<div class="hc-table-td__content">
						{{ item.provisionDate | date: 'dd.MM.yyyy' }}
					</div>
				</ng-container>

				<ng-container
					*ngSwitchCase="
						ChangeProvisionDetailsTrRowItemField.manufacturingAmount
					"
				>
					<div class="hc-table-td__content">
						<ss-input
							size="small"
							type="number"
							placeholder="Введите"
							[value]="item.manufacturingAmount"
							[error]="
								item.errors.manufacturingAmount
									? 'Обязательное поле'
									: undefined
							"
							(change)="
								item.manufacturingAmount = Number(
									getInputValue($event.target!)
								)
							"
							(click)="item.errors.manufacturingAmount = false"
						></ss-input>
					</div>
				</ng-container>

				<ng-container *ngSwitchDefault>
					<div
						class="hc-table-td__content hc-table-td__content--center"
					>
						-
					</div>
				</ng-container>
			</td>
		</ng-container>
	</ng-container>
</ng-container>
