<!--
<div class="openout-modal" [(nzVisible)]="isVisibleOpenOut" nzTitle="Информация о пользователе" (nzOnCancel)="handleCancelOpenOut()" (nzOnOk)="handleOkOpenOut()" [nzFooter]="null" (nzOnCancel)="false" [nzWidth]="365">
-->
<div>
<!--  <ng-container *nzModalContent>-->
    <div class="openout-modal">
      <span>{{ nzModalData | json }}</span>
      <div class="card">
        <div class="personal">
          <div class="img">

            <ng-container>
              <img src="{{ nzModalData?.avatarUrl }}" alt="user" />
            </ng-container>

            <!--          <img src="{{ profileData?.avatarUrl }}" alt="user" />-->

            <!--          <ng-container *ngIf="!profile!.avatarUrl; else image">-->
            <!--            <img src="assets/images/profile/user-popup.png" alt="user" />-->
            <!--          </ng-container>-->

            <!--          <ng-template #image>-->
            <!--            <img src="{{ profile!.avatarUrl }}" alt="user" />-->
            <!--          </ng-template>-->

          </div>
          <div class="title">
            <div class="fio">
              <span>{{ nzModalData?.data?.user?.lastName }} {{ nzModalData?.data?.user?.firstName }} {{ nzModalData?.data?.user.surName }}</span>
            </div>
            <div class="job">
              <div>
                <div>{{ nzModalData?.data?.position }}!</div>
                <div>{{ nzModalData?.data?.department }}!!</div>
              </div>
            </div>
            <div class="code">
              (9592342) VRN-W-006112
            </div>
          </div>
        </div>
        <div class="contacts">
          <div class="item">
            <div>
              <span class="icon phone-icon" nz-icon [nzType]="'ss:phone'"></span>
              <span class="title">Внутренний телефон:</span>
            </div>
            <div>
              <span class="description">123 44</span>
            </div>
          </div>
          <div class="item">
            <div>
              <span class="icon phone-icon" nz-icon [nzType]="'ss:phone'"></span>
              <span class="title">Skype:</span>
            </div>
            <div>
              <span class="description">123 44</span>
            </div>
          </div>
          <div class="item">
            <div>
              <span class="icon" nz-icon [nzType]="'ss:phone'"></span>
              <span class="title">Телефон:</span>
            </div>
            <div>
              <span class="description">(4732) 636345</span>
            </div>
          </div>
          <div class="item">
            <div>
              <span class="icon" nz-icon [nzType]="'ss:mail'"></span>
              <span class="title">Email:</span>
            </div>
            <div>
              <span class="description">vivanovmm@ssnab.ru</span>
            </div>
          </div>

          <hr />

          <div class="item">
            <div>
              <span class="title">Руководитель направления:</span>
            </div>
            <div>
              <span class="description">Черников Д.Л.</span>
            </div>
          </div>
          <div class="item">
            <div>
              <span class="title">Руководитель подразделения:</span>
            </div>
            <div>
              <span class="description">Полозова (ДФ) Л.Г.</span>
            </div>
          </div>

        </div>
      </div>
    </div>
<!--  </ng-container>-->
</div>
