<div class="ss-file-picker">
	<div class="ss-file-picker-header" (click)="toggle()">
		<ss-text size="3" weight="semi-bold">{{ "Выбранные документы" + ""}}</ss-text>
		<ss-icon name="busket" class="ss-file-picker__icon-basket"
				 [class.accordion-header__icon-toggle--expanded]="isExpanded">

		</ss-icon>
		<ss-icon name="chevron" class="ss-file-picker__icon-toggle"
				 [class.accordion-header__icon-toggle--expanded]="isExpanded">

		</ss-icon>
	</div>
	<div class="ss-file-picker__content" [class.open]="isExpanded">
		<ng-content></ng-content>
	</div>
</div>
