@use '../../../../styles/colors' as *;

:host {
	display: block;
	width:100%;
}

.ss-file-picker {
	position: relative;
	width: 100%;
	border: 1px solid $island-outline;
	border-radius: 8px;

	&__icon {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		gap: 6px;

		.count {
			height: 24px;
			width: 24px;
			padding: 3px 6px 3px 6px;
			border-radius: 8px;
			background-color: $main;
			color: $island;
			font-size: 13px;
			font-weight: 600;
		}
	}
}

.ss-file-picker.open {
	border-radius: 8px 8px 0 0;
}

.ss-file-picker-header {
	cursor: pointer;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 170px;
}

.ss-file-picker-header h3 {
	margin: 0;
}

.ss-file-picker__content {
	position: absolute;
	display: none;
	width: 100.4%;
	overflow: hidden;
	transition: max-height 0.4s ease-out;
	background-color: $island;
	max-height: 162px;
	overflow-y: auto;
	border: 1px solid $island-outline;
	top: 100%;
	left: -1px;
	z-index: 9999;
	border-radius: 0 0 8px 8px;
	border-top: none;

	&-item {
		padding: 4.5px 4px 4.5px 12px;
		font-size: 13px;
		border-top: 1px solid $island-outline;

		.last-element {
			color: $main-outline;
		}

		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.ss-file-picker__content.open {
	display: block;
	max-height: 500px;
}

:host-context(.dark) .ss-file-picker__content {
	background-color: $dark-island !important;
	color: $island;
}
