@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;

.currency {
    margin-top: 60px;

    .header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .title {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            h1 {
                // margin-bottom: 0 !important;
            }
        }

        h1 {
            text-transform: uppercase;
        }

        .open-all-table {
            display: flex;
            align-items: center;

            ::ng-deep .anticon {
                fill-opacity: 1;
            }

            .button {
                margin-left: 10px;
            }

            .select-group {
                margin-left: 20px;

                ::ng-deep {
                    .ant-select {
                        width: 250px;
                    }
                    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
                        height: 52px !important;
                        padding: 9px 0 0 26px !important;
                        font-size: 16px;
                        opacity: 0.6;
                    }
                }
            }

            .search {
                .ant-input-affix-wrapper {
                    min-height: 52px;
                    height: 52px;
                }

                .ant-form-item-control-input {
                    min-height: 52px;
                    height: 52px;
                }
            }
        }
    }

    .content {
        .currency-list:first-child {
            margin-top: 28px;
        }

        .currency-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .currency-item {
                .title {
                    font-size: 16px;
                    display: none;
                }

                .name {
                    font-weight: 600;
                }

                .value {
                    font-weight: 700;

                    ::ng-deep svg {
                        font-size: 10px !important;
                        fill-opacity: 1;
                    }

                    .value-1 {
                        .price {
                            padding-left: 17px;
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }

                    .value-2 {
                        padding-left: 1px;
                        font-size: 12px;
                        letter-spacing: -0.12px;
                        font-weight: 600;

                        .difference {
                            padding-left: 4px;
                        }
                        .percent {
                            padding-left: 4px;
                        }
                    }
                }

                .name:last-child,
                .value:last-child {
                    display: flex;
                    height: 52px;
                    padding: 12px 16px;
                    align-items: center;
                    gap: 30px;
                    flex-shrink: 0;
                    border-radius: 10px;
                    border: 1px solid #e4e8ea;

                    background: #fff;
                    margin-top: 12px;
                    font-size: 15.6px;
                }

                .value {
                    .value-1 {
                    }
                    .value-1 {
                    }
                    .value-1 {
                    }
                }
            }

            .currency-item:nth-child(1) {
                max-width: 360px;
                width: 100%;
            }

            .currency-item:nth-child(2) {
                max-width: 229px;
                width: 100%;
            }

            .currency-item:nth-child(3) {
                max-width: 229px;
                width: 100%;
            }

            .currency-item:nth-child(4) {
                max-width: 229px;
                width: 100%;
            }

            .currency-item-value {
                .value-1 {
                }
                .value-2 {
                }
                .value-3 {
                }
            }
        }

        .currency-list:first-child {
            .title {
                display: block !important;
            }
        }

        .title-card {
            font-size: 20px;
            font-weight: 500;
            margin-top: 37px;
        }

        .card-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .card {
                position: relative;
                width: 408px;
                height: auto;
                border-radius: 16px;
                border: 1px solid $border-color;
                background-color: $white;
                padding: 15px 20px 20px 20px;
                margin-top: 28px;

                // flex: 1 0 200px;

                .personal {
                    position: relative;
                    display: flex;

                    .img {
                        position: relative;
                        border-radius: 14px;
                        overflow: hidden;
                        flex: none;
                        z-index: 0;

                        img {
                            width: 90px;
                            height: 90px;
                            object-fit: cover;
                        }
                    }

                    .medal-icon {
                        position: absolute;
                        top: 76px;
                        left: 76px;
                        // background-color: $blue;
                        height: 28px;
                        width: 28px;
                        border-radius: 20px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-right: 1px;
                        font-weight: 500;
                        z-index: 10;

                        ::ng-deep svg {
                            font-size: 30px !important;
                            fill-opacity: 1;

                            path {
                                stroke: none;
                            }
                        }
                    }

                    .enter-icon {
                        position: absolute;
                        right: 17px;
                        bottom: 0;
                        font-size: 17px;
                        fill-opacity: 0;
                        cursor: pointer;
                    }

                    .title {
                        margin-left: 19px;
                    }

                    .fio {
                        font-size: 17.6px;
                        font-weight: bold;
                        line-height: 20px;
                        margin-top: 7px;
                    }

                    .job {
                        max-width: 186px;
                        font-size: 11.8px;
                        line-height: 14px;
                        font-weight: 500;
                        margin-top: 8px;
                    }
                }

                .icons {
                    .medal-icon {
                        position: absolute;
                        right: 16px;
                        top: 20px;
                    }

                    .count {
                        position: absolute;
                        border-radius: 8px;
                        background-color: $blue;
                        color: $white;
                        height: 28px;
                        width: 28px;

                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-right: 1px;
                        font-weight: 500;
                    }

                    .count-top {
                        right: 18px;
                        top: 18px;
                    }
                    .count-bottom {
                        right: 18px;
                        bottom: 18px;
                    }

                    ::ng-deep .anticon {
                        fill-opacity: 1;
                        font-size: 34px;
                    }
                }

                .date {
                    display: flex;
                    justify-content: flex-end;
                    font-weight: 600;

                    span {
                        color: #a7a7b0;
                        font-size: 9px;
                    }
                }

                .message {
                    width: 377px;
                    overflow-y: auto;

                    .text {
                        font-size: 11.8px;
                        font-style: normal;
                        font-weight: 500;
                        margin-top: 14px;
                        line-height: 16.7px;
                        height: 104px;
                    }
                }

                .info {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 6px;

                    .count {
                        padding-right: 6px;
                    }

                    .left-group {
                        display: flex;
                        position: relative;

                        .modal-people-likes {
                            display: none;
                            position: absolute;
                            bottom: 39px;
                            padding: 0 8px;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            gap: 4px;
                            border-radius: 8px;
                            border: 1px solid rgba(0, 0, 0, 0.2);
                            background: rgba(0, 0, 0, 0.6);
                            backdrop-filter: blur(3.5px);

                            .title {
                                margin-top: 4px;
                                color: $white;
                                font-size: 10px;
                                font-style: normal;
                            }

                            .list-item {
                                position: relative;
                                z-index: 1;
                                padding-bottom: 9px;

                                .item {
                                    position: relative;
                                    width: 28px;
                                    height: 28px;
                                    background-color: #886cff;
                                    border-radius: 20px;
                                    border: 1px solid $border-radius;
                                    overflow-y: hidden;
                                    z-index: 2;

                                    img {
                                        width: 28px;
                                    }
                                }
                            }
                        }

                        .modal-people-likes.active {
                            display: flex !important;
                        }
                    }
                }

                .icon {
                    font-size: 20px;

                    ::ng-deep path {
                        stroke: $blue;
                    }
                }

                .like {
                    background-color: $gray-light;
                    color: $blue;
                    font-size: 12px;
                    width: 50px;
                    height: 32px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    padding-left: 1px;
                    cursor: pointer;

                    .like-icon {
                        padding-left: 1px;
                    }
                }

                .comment,
                .medal,
                .openOut {
                    background-color: $gray-light;
                    color: $blue;
                    font-size: 12px;
                    width: 50px;
                    height: 32px;
                    border-radius: 8px;
                    margin-left: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    cursor: pointer;
                }

                .openOut {
                    width: 30px;
                    ::ng-deep svg {
                        font-size: 33px;
                    }
                }
            }
            .card:last-child {
                // margin-left: 28px;
            }
        }
        .card-list:after {
            //content: '';
            //flex: auto;
        }

        .bottom-panel {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 27px;
        }
    }
}

::ng-deep {
    .message::-webkit-scrollbar {
        width: 4px;
        height: 48px;
    }

    .message::-webkit-scrollbar-track {
        background-color: $gray;
        border-radius: 60px;
        // margin: 24px;
        height: 48px;
    }

    .message::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .message {
        border-right: 10px solid #ffffff !important;
        box-sizing: border-box;
        scrollbar-width: thin;
        scrollbar-color: $gray-light;
    }
}

.bottom-panel {
    ::ng-deep {
        .ant-pagination-item:hover a {
            color: $blue;
        }

        .ant-pagination ul,
        .ant-pagination ol {
            margin-left: 0;
        }

        .ant-table-pagination.ant-pagination {
            margin: 21px 0 !important;
        }

        .ant-pagination-prev,
        .ant-pagination-next {
            display: none;
        }

        .ant-pagination-item-active,
        .ant-pagination-item {
            font-size: 16px;
            line-height: 39px;
            font-weight: 600;
            background: #fff;
            border-color: $border-color;
            border-radius: 10px;
            height: 40px;
            width: 40px;
            margin-right: 8px;
        }

        .ant-pagination-item-active a {
            color: $black;
        }

        .ant-table-pagination.ant-pagination {
            margin: 21px 0 !important;
        }

        .ant-pagination.mini .ant-pagination-item {
            min-width: 44px;
            height: 44px;
        }
    }
}

// Модальные окна

::ng-deep {
    .ant-modal {
        // width: 558px !important;

        .ant-modal-header {
            padding: 15px 8px;
        }

        .personal {
            display: flex;
            margin-top: 19px;

            .img {
                border-radius: 10px;
                overflow: hidden;
                flex: none;

                img {
                    object-fit: cover;
                }
            }

            .title {
                margin-left: 22px;

                .fio {
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 19px;
                    margin-top: 1px;
                }
                .job {
                    font-size: 12px;
                    line-height: 15px;
                    margin-top: 16px;
                }
                .code {
                    font-size: 8px;
                    opacity: 0.4;
                }
            }
        }

        .contacts {
            margin-top: 8px;

            hr {
                margin-top: 20px;
                margin-bottom: 15px;
            }

            .item {
                display: flex;
                justify-content: space-between;
                margin-top: 8px;

                .icon {
                    svg {
                        fill: white;
                    }
                }

                span:nth-child(2) {
                    margin-left: 7px;
                }

                .title {
                    font-size: 12px;
                }

                .description {
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }

        .ant-modal .ant-form-item {
            margin-top: 16px;
        }

        .ant-form-item:nth-child(2) {
            margin-top: 8px;
        }

        .ant-form-item:nth-child(2) {
            margin-top: 8px;
        }

        .ant-modal .ant-modal-body {
            padding: 0 15px;
        }

        .ant-checkbox-wrapper {
            color: black;
        }

        .ant-modal textarea.ant-input.ant-input-stepperless {
            height: 100px !important;
        }

        .ant-modal .field-tile {
            margin-bottom: 5px;
        }

        .checkbox-group {
            margin-top: 19px;
        }
    }

    .openout-modal {
        .card {
            padding-bottom: 14px;
        }
    }

    .comments-modal {
        padding-bottom: 20px;

        .card.list {
            padding: 0;
            margin-top: 0;
            border: unset;

            .personal {
                .title {
                    margin-left: 14px;
                    margin-top: 6px;

                    .job {
                        margin-top: 7px;
                        max-width: unset;
                    }
                }

                .img img {
                    width: 56px;
                    height: 56px;
                    object-fit: fill;
                }
            }
            .info {
                margin-top: 17px;

                .like {
                    ::ng-deep svg {
                        path {
                            stroke: $blue !important;
                        }
                    }
                }

                .date {
                    margin-top: 10px;

                    span {
                        font-size: 12px;
                        color: $black;
                    }

                    span:nth-child(1) {
                        font-weight: 500;
                    }

                    span:nth-child(2) {
                        margin-left: 10px;
                        font-weight: 600;
                    }
                }
            }

            .comments {
                margin-top: 19px;

                .title {
                    font-size: 18px;
                    font-weight: 600;
                    margin-top: 0;

                    .job {
                        margin-top: 3px;
                    }

                    .fio {
                        font-size: 15px;
                        font-weight: 700;
                    }
                }

                .personal {
                    margin-top: 14px;

                    .img img {
                        width: 32px;
                        height: 32px;
                        border-radius: 26px;
                    }
                }

                .message {
                    margin-left: 42px;
                    max-width: 428px;
                    width: 100%;

                    .text {
                        height: auto;
                    }
                }

                .date {
                    justify-content: flex-start;
                    margin-top: 7px;
                    margin-left: 42px;
                }
            }

            .send-comments {
                .title {
                    font-size: 14px;
                    font-weight: 600;
                    margin-top: 17px;
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {
    .currency {
        margin: 80px 20px 0 20px;

        .title {
            flex-direction: column;

            .currency-item {
                margin-left: 0;
                width: 100%;
                margin-top: 20px;
            }
        }

        .header {
            justify-content: center;
            flex-direction: column;
            align-items: center;

            div:first-child {
                width: 100%;
            }

            .open-all-table {
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 20px;

                .search {
                    margin-top: 0;
                    width: 100%;
                }

                .select-group {
                    width: 100%;
                    margin-left: 0;

                    .ant-select {
                        width: 100%;
                    }
                }

                .button {
                    width: 100%;
                    margin-left: 0;
                    margin-top: 6px;

                    button {
                    }
                }
            }

            .title h1 {
                text-align: center;
                margin-bottom: 0.3rem !important;
                line-height: 34px;
                margin-top: 4px;
            }

            .subtitle {
                margin-top: 12px;

                h2 {
                    text-align: center;
                    line-height: 19px !important;
                }
            }
        }

        .content {
            .currency-list {
                .currency-item {
                    max-width: 100% !important;
                    margin-top: 16px;
                }
            }

            .card-list {
                justify-content: center;

                .card {
                    width: 100%;
                    margin-top: 20px;
                    padding: 12px;

                    .icons {
                        .medal-icon {
                            right: 12px;
                            top: 11px;
                        }
                    }
                }
            }
            .bottom-panel {
                margin-top: 32px;
                justify-content: space-between;
            }
        }
    }

    ::ng-deep {
        .ant-modal {
            // width: 558px !important;

            .ant-modal-header {
            }

            .ant-modal-body {
                .ant-checkbox-wrapper + .ant-checkbox-wrapper {
                    margin-left: 0 !important;
                }
            }
        }
    }
}
