<ss-card padding="0" radius="0 0 16px 16px" class="container">
	<ss-loader *ngIf="tableState === TableState.Loading"></ss-loader>
	<div class="new-products">
		<div class="new-products-header">
			<a *ngIf="(newProducts$ | async)?.linkToModule; else noLink" [href]="(newProducts$ | async)?.linkToModule" target="_blank">
				<ss-headline class="new-products-header-title" size="h6">ЖНТПР</ss-headline>
			</a>
			<ng-template #noLink>
				<ss-headline class="new-products-header-title" size="h6">ЖНТПР</ss-headline>
			</ng-template>
			<ss-icon *ngIf="!isFiltersVisible" class="new-products-header-filter-button" height="18" width="18" name="filter" (click)="toggleFilters()"></ss-icon>
		</div>
		<div class="new-products-content" *ngIf="tableState === TableState.Full || tableState === TableState.Loading">
			<div class="new-products-content-table">
				<ss-table
					[head]="[
						{title: 'Код', field: 'code', sizeRatio: 0.6},
						{title: 'Статус', field: 'status', sizeRatio: 0.8},
						{title: 'Название ТПР',  field: 'productName'},
						{title: 'Заказчик',  field: 'customer'},
						{title: 'Разработчик', field: 'developer'}
						]"
					[items]="tableItems">
				</ss-table>
			</div>
			<div class="new-products-content-pagination pagination">
				<nz-pagination
					[nzTotal]="total"
					[nzPageIndex]="pageIndex"
					[nzPageSize]="pageSize"
					(nzPageIndexChange)="nzPageIndexChange($event)"
					(nzPageSizeChange)="pageSize = $event"
					[nzResponsive]="true"
					[nzHideOnSinglePage]="true">
				</nz-pagination>
			</div>
		</div>
		<div class="new-products-content" *ngIf="tableState === TableState.Empty">
			<ss-empty-placeholder>
				<ss-headline size="h3" class="m-b-15">По вашему запросу ничего не найдено</ss-headline>
				<div class="placeholder-subtitle">
					<ss-text size="3">Попробуйте изменить параметры поиска</ss-text>
				</div>
			</ss-empty-placeholder>
		</div>
	</div>
	<div class="separator" *ngIf="isFiltersVisible"></div>
	<ss-filters *ngIf="isFiltersVisible" [(isFiltersVisible)]="isFiltersVisible" (applyFilter)="getFilteredSales(true)" [(filters)]="filters"></ss-filters>
</ss-card>
