.app-client-tpr-samples-tab {
	&__link {
		font-size: 16px;
		line-height: 19px;
	}
}

.pagination {
	justify-content: flex-end;
	margin: 0;
}

.footer {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
}
