@use '../../../../styles/colors' as *;

.settings {
	::ng-deep .ant-form-vertical .ant-form-item-label > label {
		font-size: 12px;
	}

	display: flex;

	.photo {
		margin-top: 26px;

		.img {
			width: 110px;
			overflow: hidden;
			flex: none;
			border-radius: 16px;

			img {
				width: 110px;
			}
		}

		.personal-btn {
			margin-top: 8px !important;
		}
	}
	.feilds {
		width: 100%;
		height: auto;
		margin-left: 46px;
		margin-top: 23px;

		.group {
			margin-bottom: 23.5px;

			.field {
				margin-bottom: 15px;
				padding-left: 16px;
				padding-right: 16px;

				.label {
					font-size: 12px;
				}
				.text {
					font-size: 14px;
					font-weight: bold;
					border-bottom: 1px solid $border-color;
					padding: 9px 0 6px 0;
				}
			}
		}
	}
}
