@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;
@use 'src/assets/scss/_app.scss' as *;

.settings {
    ::ng-deep .ant-form-vertical .ant-form-item-label > label {
        font-size: 12px;
    }

    ::ng-deep .ant-input[disabled] {
        color: #000000;
    }

    display: flex;

    .photo {
        margin-top: 26px;

        .img {
            width: 110px;
            overflow: hidden;
            flex: none;
            border-radius: 16px;

            img {
                width: 110px;
            }
        }
    }
    .feilds {
        height: 600px;
        margin-left: 43px;

        ::ng-deep .ant-form-vertical .ant-form-item {
            width: 300px;
        }

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}
