.modal-content.add-comments {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 449px;
	background-color: var(--surface-primary);
	border-radius: 8px;
	overflow: hidden;
}

.comments-list {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.comment-item {
	display: flex;
	gap: 8px;

	&__avatar {
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

	&__body {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 4px;
		overflow-wrap: anywhere;
	}

	&__header {
		display: flex;
		flex-direction: column;
		margin-bottom: 5px;

		&-top {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}

	&__author {
		color: var(--text-primary);
	}
	&__date {
		color: var(--text-secondary);
	}
	&__text {
		color: var(--text-primary);
		white-space: pre-wrap;
		word-break: break-word;
		overflow-wrap: break-word;
	}

	&__position {
		color: var(--text-secondary);
	}
}

.no-comments {
	padding: 16px;
	color: var(--text-secondary);
	text-align: center;
}

.divider {
	height: 1px;
	background-color: var(--border-secondary);
	margin: 0 16px;
}

.comment-input-wrapper {
	display: flex;
	align-items: center;
	padding: 16px;
	gap: 8px;
	position: static;
}

.comment-avatar {
	flex-shrink: 0;
}

.comment-input {
	position: relative;
	flex: 1;
	min-height: 32px;
	max-height: calc(1.4em * 5);
	padding: 6px 10px;
	overflow-y: auto;
	outline: none;
	font-size: 14px;
	line-height: 1.4em;
	background-color: #fff;
	transition: border-color 0.2s;

	&[data-placeholder]:empty::before {
		content: attr(data-placeholder);
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		color: var(--text-placeholder);
		pointer-events: none;
		white-space: nowrap;
	}
}

.comment-send-btn {
	flex-shrink: 0;
}
