@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;
@use '../../../styles/colors' as *;

.user-card-widget {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 390px;
	height: 251px;
	position: relative;


	&__card {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	&__description {
		display: flex;
		max-height: 64px;
		height: 64px;
		overflow: auto;
	}

	&__created {
		display: flex;
		justify-content: flex-end;
	}

	&__actions {
		display: flex;
		gap: 6px
	}

	&__card-action {
		width: 62px;
		height: 36px;
		border: 1px solid #E4E8EA;
		border-radius: 8px;
		display: flex;
		gap: 8px;
		flex-wrap: nowrap;
		background-color: #F2F3F7;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	&__members {
		position: absolute;
		left: 10px;
		top: 10px;
	}

	&__share {
		cursor: pointer;
	}

	&__isExtendedMode {
		position: relative;
	}
}

:host-context(.dark) .user-card-widget__card-action {
	background-color: $dark-background;
	border: 1px solid $white;
}
