<div *ngIf="userData | async as userInfo">
    <div class="openout-modal">
      <div class="card">
        <div class="personal">
          <div class="img">

            <ng-container>
              <img src="{{ userInfo?.avatarUrl }}" alt="user" />
            </ng-container>

          </div>
          <div class="title">
            <div class="fio">
              <span>{{ userInfo?.lastName }} {{ userInfo?.firstName }} {{ userInfo?.surName }}</span>
            </div>
            <div class="job">
              <div>
                <div>{{ userInfo?.position }}</div>
                <div>{{ userInfo?.department }}</div>
              </div>
            </div>
            <div class="code">
              ({{ userInfo?.id }})
            </div>
          </div>
        </div>
        <div class="contacts">
          <div class="item" *ngIf="userInfo?.phoneLocal">
            <div>
              <span class="icon phone-icon" nz-icon [nzType]="'ss:phone'"></span>
              <span class="title">Внутренний телефон:</span>
            </div>
            <div>
              <span class="description">{{ userInfo?.phoneLocal }}</span>
            </div>
          </div>
          <div class="item" *ngIf="userInfo?.skype">
            <div>
              <span class="icon phone-icon" nz-icon [nzType]="'ss:phone'"></span>
              <span class="title">Skype:</span>
            </div>
            <div>
              <span class="description">{{ userInfo?.skype }}</span>
            </div>
          </div>
          <div class="item" *ngIf="userInfo?.phone">
            <div>
              <span class="icon" nz-icon [nzType]="'ss:phone'"></span>
              <span class="title">Телефон:</span>
            </div>
            <div>
              <span class="description">{{ userInfo?.phone }}</span>
            </div>
          </div>
          <div class="item" *ngIf="userInfo?.email">
            <div>
              <span class="icon" nz-icon [nzType]="'ss:mail'"></span>
              <span class="title">Email:</span>
            </div>
            <div>
              <span class="description">{{ userInfo?.email }}</span>
            </div>
          </div>

          <hr />

          <div class="item">
            <div>
              <span class="title">Руководитель направления:</span>
            </div>
            <div>
              <span class="description">{{ userInfo?.headName }}</span>
            </div>
          </div>
          <div class="item">
            <div>
              <span class="title">Руководитель подразделения:</span>
            </div>
            <div>
              <span class="description">{{ userInfo?.chiefName }}</span>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
