<div class="wrapper" (click)="close()">
	<form [formGroup]="declineForm" (click)="$event.stopPropagation()">
		<snab-card class="card-wrapper" [headerRef]="header" [bodyRef]="body" [footerRef]="footer">
			<ng-template #header>
				<div class="header">
					<snab-text [type]="TextType.Title" [weight]="TextWeight.Medium">
						Отклонение заказа
					</snab-text>
					<snab-button
						[type]="ButtonType.Flat"
						[size]="Size.Default"
						[icon]="IconType.ClearLarge"
						[iconPosition]="IconPosition.OnlyIcon"
						(click)="close()"></snab-button>
				</div>
			</ng-template>
			<ng-template #body>
				<div class="body">
					<div class="input">
						<ss-textarea
							size="medium"
							rows="4"
							placeholder="Введите текст"
							formControlName="reason"
							label="Комментарий"
							[error]="
								declineForm.controls.reason.touched &&
								declineForm.controls.reason.errors?.required
									? 'Обязательное поле'
									: undefined
							"></ss-textarea>
					</div>
				</div>
			</ng-template>
			<ng-template #footer>
				<div class="footer-controls">
					<snab-button
						text="Отмена"
						class="footer-controls__cancel"
						[type]="ButtonType.Secondary"
						[size]="Size.Large"
						(click)="close()"></snab-button>
					<snab-button
						text="Отклонить"
						[size]="Size.Large"
						(click)="rejectOrder()"></snab-button>
				</div>
			</ng-template>
		</snab-card>
	</form>
</div>
