//@use 'src/assets/scss/_mixins.scss' as *;
//@use 'src/assets/scss/_variables.scss' as *;
@use 'src/styles/colors.scss' as *;

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.8);
}

.card-wrapper {
	display: flex;
	width: 449px;
	height: 255px;
	flex-direction: column;
	position: relative;
	z-index: 7000;
	background: $island;
	border-radius: var(--radius-xl-3);

	.header {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;

		ss-icon {
			cursor: pointer;
		}
	}

	.body {
		display: flex;
		max-height: 93px;
		width: 100%;
		flex-grow: 1;
		flex-direction: column;

		.content {
			width: 100%;
		}
	}

	.footer-controls {
		display: flex;
		justify-content: flex-end;
		gap: var(--gap-m);
	}
}
