<ng-container *ngFor="let cols of columnsStateService.visibleCols$ | async">
	<ng-container *ngFor="let col of cols.cols">
		<ng-container [formGroup]="qualificationTrForm" [ngSwitch]="col.id">
			<td class="ss-table-td" *ngIf="col.display">

				<ng-container *ngSwitchCase="QualificationTrRowItemField.amount">
					<div class="hc-table-td__content">
						<ss-input
							size="small"
							[value]="item.amount"
							type="number"
							placeholder="Введите"
							(change)="item.amount = Number(getInputValue($event.target!))"
							(click)="item.errors.amount = false"
							[error]="item.errors.amount ? 'Обязательное поле' : undefined"
						></ss-input>
					</div>
				</ng-container>

				<ng-container *ngSwitchCase="QualificationTrRowItemField.requestedProvisionDate">
					<div class="hc-table-td__content">
						<ss-date-time-picker
							formControlName="dateProvision"
                            [showTime]="false"
                            [error]="item.errors.requestedProvisionDate ? 'Обязательное поле' : undefined"
                        ></ss-date-time-picker>
					</div>

				</ng-container>

				<ng-container *ngSwitchDefault>
					<div class="hc-table-td__content hc-table-td__content--center">-</div>
				</ng-container>
			</td>
		</ng-container>
	</ng-container>
</ng-container>
