<ng-container *ngFor="let cols of columnsStateService.colsTr$ | async">
	<ng-container *ngFor="let col of cols.cols">
		<ng-container [ngSwitch]="col.id">
			<td class="ss-table-td" *ngIf="col.display">
				<ng-container *ngSwitchCase="ExcessIncomeSndClientRowItemField.tovGroup">
					<snab-text>{{ tovGroup().name }}</snab-text>
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeSndClientRowItemField.snd">
					<div class="ss-table-td__content"
						 [class.ss-table-td__content--error]="!tovGroup().excessIncomePercent.valid">
						<snab-input [size]="Size.Small" [maskito]="numberInputTextMask"
									[formControl]="tovGroup().excessIncomePercent"></snab-input>
						<snab-button [icon]="IconType.Trash" [size]="Size.Small"
									 (click)="delTovGroupsState(tovGroup().id)"></snab-button>
					</div>
				</ng-container>
			</td>
		</ng-container>
	</ng-container>
</ng-container>

