<ng-container *ngFor="let cols of columnsStateService.colsTr$ | async">
	<ng-container *ngFor="let col of cols.cols">
		<ng-container [ngSwitch]="col.id">
			<td class="ss-table-td" *ngIf="col.display">
				<ng-container *ngSwitchCase="ExcessIncomeSndClientRowItemField.tovGroup">
						<snab-text [type]="TextType.Body">{{ tovGroup().name }}</snab-text>
				</ng-container>
				<ng-container *ngSwitchCase="ExcessIncomeSndClientRowItemField.snd">
					<div class="ss-table-td__content">
						<ss-number-input-v2 [size]="'small'" [maskito]="numberInputTextMask" [formControl]="tovGroup().excessIncomePercent"></ss-number-input-v2>
						<snab-button (click)="delTovGroupsState(tovGroup().id)" [icon]="IconType.Trash" [iconPosition]="IconPosition.OnlyIcon" [type]="ButtonType.Flat" [size]="Size.Large"></snab-button>
					</div>
				</ng-container>
			</td>
		</ng-container>
	</ng-container>
</ng-container>

