<div class="section-filter">
	<ss-lib-form-field
		[icon]="IconType.Search"
		[clearButton]="true"
		[clearButtonSize]="ExtraSize.xs"
	>
		<ss-lib-input
			fieldCtrl
			[formControl]="queryControl"
			[placeholder]="'Поиск'"
		/>
	</ss-lib-form-field>

	<ss-lib-scrollbar>
		<div class="section-filter__content">
			<!--			выбранный список-->
			<ng-container *ngFor="let item of selectedItems()">
				<!--	выбранный список c иеархией  -->
				<ng-container *ngIf="item.children?.length; else notChildren">
					<app-section-group-dropdown-item
						[expanded]="true"
						[sectionItem]="item"
						(toggleEmit)="toggleSelectionChildren($event, item)"
						(toggleParentEmit)="toggleParent($event, true)"
					></app-section-group-dropdown-item>
				</ng-container>

				<!--	выбранный список без иеархии  -->
				<ng-template #notChildren>
					<ss-lib-dropdown-item
						(click)="toggleSelectionNotChildren(item)"
					>
						<ss-lib-checkbox
							[formControl]="item.control"
						></ss-lib-checkbox>
						<ss-lib-text>{{ item.name }}</ss-lib-text>
					</ss-lib-dropdown-item>
				</ng-template>
			</ng-container>

			<ss-lib-divider
				*ngIf="selectedItems().length"
				class="divider"
			></ss-lib-divider>

			<!--	общий список  -->
			<ng-container *ngFor="let item of items()">
				<!--				общий список с иеархией-->
				<ng-container *ngIf="item.children?.length; else notChildren">
					<app-section-group-dropdown-item
						[expanded]="false"
						[sectionItem]="item"
						(toggleEmit)="toggleSelectionChildren($event, item)"
						(toggleParentEmit)="toggleParent($event, false)"
					></app-section-group-dropdown-item>
				</ng-container>
				<!--				общий список без иеархии-->
				<ng-template #notChildren>
					<ss-lib-dropdown-item
						(click)="removeSelectionNotChildren(item)"
					>
						<ss-lib-checkbox
							[formControl]="item.control"
						></ss-lib-checkbox>
						<ss-lib-text>{{ item.name }}</ss-lib-text>
					</ss-lib-dropdown-item>
				</ng-template>
			</ng-container>
		</div>
	</ss-lib-scrollbar>
</div>
