<div class="section-filter">
	<ss-lib-form-field
		[icon]="IconType.Search"
		[clearButton]="true"
		[clearButtonSize]="ExtraSize.xs"
	>
		<ss-lib-input
			fieldCtrl
			[formControl]="queryControl"
			[placeholder]="'Поиск'"
		/>
	</ss-lib-form-field>

	<ss-lib-scrollbar>
		<div class="section-filter__content">
			<!--			<ng-container *ngFor="let tree of selectedTreeNode">-->
			<!--				<ss-lib-dropdown-item>-->
			<!--					<div class="dropdown-item-tree">-->
			<!--						<div class="dropdown-item-tree__left">-->
			<!--							<ss-lib-checkbox-->
			<!--								[formControl]="tree.controlCheckOrClearAll"-->
			<!--								[indeterminate]="tree.indeterminate()"-->
			<!--							></ss-lib-checkbox>-->
			<!--							<ss-lib-text>{{ tree.parent.name }} </ss-lib-text>-->
			<!--						</div>-->
			<!--						<ss-lib-icon-->
			<!--							(click)="tree.expanded = !tree.expanded"-->
			<!--							[width]="'16'"-->
			<!--							[height]="'16'"-->
			<!--							[icon]="IconType.ChevronDown"-->
			<!--						></ss-lib-icon>-->
			<!--					</div>-->
			<!--				</ss-lib-dropdown-item>-->
			<!--			</ng-container>-->

			<!--			<ss-lib-dropdown-item *ngFor="let node of selectedNode">-->
			<!--				<ss-lib-checkbox-->
			<!--					[formControl]="controlsMap[node.id]"-->
			<!--				></ss-lib-checkbox>-->
			<!--				<ss-lib-text>{{ node.name }}</ss-lib-text>-->
			<!--			</ss-lib-dropdown-item>-->

			<ng-container *ngIf="treeNode$ | async as treeNode">
				<ng-container *ngIf="treeNode.length > 0; else noContent">
					<ng-container *ngFor="let tree of treeNode">
						<ss-lib-dropdown-item>
							<div class="dropdown-item-tree">
								<div class="dropdown-item-tree__left">
									<ss-lib-checkbox
										[formControl]="
											tree.controlCheckOrClearAll
										"
										[indeterminate]="tree.indeterminate()"
									></ss-lib-checkbox>
									<ss-lib-text
										>{{ tree.parent.name }}
									</ss-lib-text>
								</div>
								<ss-lib-icon
									(click)="tree.expanded = !tree.expanded"
									[width]="'16'"
									[height]="'16'"
									[icon]="IconType.ChevronDown"
								></ss-lib-icon>
							</div>
						</ss-lib-dropdown-item>
						<ng-container *ngIf="tree.expanded">
							<ss-lib-dropdown-item
								class="dropdown-item-tree__child"
								*ngFor="let node of tree.children"
							>
								<ss-lib-checkbox
									[formControl]="controlsMap[node.id]"
								></ss-lib-checkbox>
								<ss-lib-text>{{ node.name }}</ss-lib-text>
							</ss-lib-dropdown-item>
						</ng-container>
					</ng-container>
				</ng-container>
			</ng-container>
			<ng-template #noContent>
				<div class="section-filter-no-content">
					<ss-lib-text
						[align]="Align.Center"
						[color]="Colors.TextBody3"
						[type]="TextType.BodySm"
						[weight]="TextWeight.Regular"
					>
						По запросу
						{{ queryControl.valueChanges | async }} ничего не
						найдено. Попробуйте изменить запрос.
					</ss-lib-text>
				</div>
			</ng-template>

			<ng-container *ngIf="node$ | async">
				<ss-lib-dropdown-item *ngFor="let node of node$ | async">
					<ss-lib-checkbox
						[formControl]="controlsMap[node.id]"
					></ss-lib-checkbox>
					<ss-lib-text>{{ node.name }}</ss-lib-text>
				</ss-lib-dropdown-item>
			</ng-container>
		</div>
	</ss-lib-scrollbar>
</div>
