<div class="wrapper" (click)="close()">
    <ss-card padding="0" (click)="$event.stopPropagation()">
        <div class="header">
            <ss-headline size="h6">История изменений</ss-headline>

            <ss-icon width="16" name="close" (click)="close()"></ss-icon>
        </div>

        <div class="body">
            <ss-history
                class="content"
                [objectId]="actId.toString()"
                [queryType]="queryType.ActCompletedWorks"
                [view]="viewMode.Table"
            ></ss-history>
        </div>
    </ss-card>
</div>
