<ng-container *ngFor="let cols of columnsStateService.visibleCols$ | async">
	<ng-container *ngFor="let col of cols.cols">
		<ng-container [ngSwitch]="col.id">
			<td class="ss-table-td" *ngIf="col.display">
				<ng-container *ngSwitchCase="ClientTprRowItemField.vgp">
					<a class="ss-table-td__content" href="{{ item().productionUrl }}" target="_blank"> {{ item().productionName }}</a>
				</ng-container>

				<ng-container *ngSwitchCase="ClientTprRowItemField.tg">
					<a class="ss-table-td__content" href="{{ item().tovGroupUrl }}" target="_blank"> {{ item().tovGroupName }}</a>
				</ng-container>

				<ng-container *ngSwitchCase="ClientTprRowItemField.tpg">
					<a class="ss-table-td__content" href="{{ item().productionGroupUrl }}" target="_blank"> {{ item().tovSubGroupName }}</a>
				</ng-container>

				<ng-container *ngSwitchCase="ClientTprRowItemField.tpr">
					<a class="ss-table-td__content" href="{{item().newProductUrl }}" target="_blank"> {{ item().newProductName }}</a>
				</ng-container>

				<ng-container *ngSwitchCase="ClientTprRowItemField.countKA">
					<div class="ss-table-td__content hc-table-td__content--number">{{ item().saleClientsCount }}</div>
				</ng-container>

				<ng-container *ngSwitchCase="ClientTprRowItemField.volumeOfSales">
					<div class="ss-table-td__content hc-table-td__content--number">{{ item().salesWeight | numWithSpaces:3 }}</div>
				</ng-container>

				<ng-container *ngSwitchCase="ClientTprRowItemField.ratingTpr">
					<div class="ss-table-td__content hc-table-td__content--number">{{item().rating | numWithSpaces:4 }}</div>
				</ng-container>

				<ng-container *ngSwitchCase="ClientTprRowItemField.price">
					<div class="ss-table-td__canvas">
						<ng-container *ngFor="let price of item().prices">
							<div *ngIf="price" [tooltip]="price.name" [theme]="TooltipTheme.DEFAULT"
								 [position]="TooltipPosition.DEFAULT" class="ss-table-td__content ss-table-td__content--number"
								 style="cursor: pointer">
								{{ price.price | numWithSpaces:2 }}
							</div>
						</ng-container>
					</div>
				</ng-container>

				<ng-container *ngSwitchCase="ClientTprRowItemField.advantagesTpr">
					<div class="ss-table-td__td limit">
						<div #content class="hc-table-td__content" *ngIf="advantagesTpr">{{ advantagesTpr }}</div>
					</div>
					<ss-icon class="ss-table-td__maximise maximise" name="maximise" *ngIf="viewMaximise$ | async"
							 (click)="showText(advantagesTpr, 'Преимущества ТПР')"></ss-icon>
				</ng-container>

				<ng-container *ngSwitchCase="ClientTprRowItemField.rim">
					<div class="ss-table-td__td">
					<a class="ss-table-td__content" *ngIf="(rims$ | async)?.length else empty"
					   (click)="openPopoverRimsView()">Показать рим</a>
					<ng-template #empty>
						<div class="ss-table-td__content"> -</div>
					</ng-template>
					</div>
				</ng-container>

				<ng-container *ngSwitchCase="ClientTprRowItemField.documents">
					<div class="ss-table-td__td">
					<div class="ss-table-td__content" *ngIf="(documents$ | async)?.length else  empty"
						 (click)="openPopoverDocumentView()">
						<span class="ss-table-td__open-doc">Показать документы</span>
					</div>
					<ng-template #empty>
						<div class="ss-table-td__content"> -</div>
					</ng-template>
					</div>
				</ng-container>

				<ng-container *ngSwitchDefault>
					<div class="ss-table-td__content"> -</div>
				</ng-container>
			</td>
		</ng-container>
	</ng-container>
</ng-container>
