@use 'src/styles/colors.scss' as *;

.set-provision-date-form {
	width: 449px;
	min-height: 310px;
	max-height: 328px;
	display: flex;
	flex-direction: column;
	background: lighten($island-outline, 40%);
	border-radius: var(--radius-xl-3);
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	padding: var(--padding-l);
	gap: 16px;
}

.footer {
	display: flex;
	padding: var(--padding-l);
	justify-content: flex-end;
	gap: 20px;
}
