@use 'src/styles/colors.scss' as *;

:host {
	display: grid;
	height: 100%;
	position: relative;
	width: 100%;

	.table-wrapper {
		scrollbar-color: $lite-text;

		&__scroll {
			overflow-y: auto;
			max-height: 70vh;
		}

		&::-webkit-scrollbar {
			width: 6px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $lite-text;
			border-radius: 16px;
		}
	}

	.table {
		width: 100%;
		border-spacing: 0px;
		border-collapse: collapse;

		&__thead {
			width: 100%;
			top: -1px;
			z-index: 1;
			background-color: #E2E5EA;
			color: $text;

			&__sticky {
				position: sticky;
			}

			tr {
				min-width: 100%;

				th {
					text-align: center;
					font-size: 12px;
					font-weight: 500;
					line-height: 19px;
					padding: 8px;
					border: 1px solid #C5CBD5;
				}
			}
		}

	}

	.empty-space {
		flex-grow: 1;
	}
}

:host-context(.dark) :host table thead {
	background-color: $dark-island !important;
	color: $island;
}

:host-context(.dark) .table-wrapper {
	border: 1px solid $island;
}

:host-context(.dark) tbody {
	background-color: #394545 !important;
	color: $island !important;
}
