<div class="pseudo-header" #pseudoHeadEl>
	<div class="pseudo-header__item" [ngStyle]="{ 'padding': padding }"
		 *ngFor="let headItem of stateColumn.visibleCols$ | async">{{ headItem.title }}</div>
</div>
<div class="table-wrapper">
	<table>
		<thead>
		<tr #headEl>
			<th
				*ngFor="let col of stateColumn.visibleCols$ | async "
				class="ss-table-th"
			>
				{{ col.title  }}

			</th>
		</tr>
		</thead>
		<tbody class="ss-table-table__tbody">
			<ng-content></ng-content>
		</tbody>
	</table>
</div>
