@use 'src/styles/colors.scss' as *;

:host {
	display: grid;
	height: 100%;
	position: relative;
	width: 100%;

	.table-wrapper {
		scrollbar-color: $lite-text;
		//border-radius: 16px;

		&__scroll {
			overflow-y: auto;
			max-height: 70vh;
		}

		&::-webkit-scrollbar {
			width: 6px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $lite-text;
			border-radius: 16px;
		}
	}

	.table {
	width: 100%;

			&__thead {
				width: 100%;
				position: sticky;
				top: -1px;
				z-index: 1;
				background-color: #f8f9fb;
				color: $text;

				tr {
					min-width: 100%;

					th {
						text-align: center;
						//border: 1px solid $island-outline;
						font-size: 12px;
						font-weight: 500;
						line-height: 19px;
						//letter-spacing: -0.01em;
						padding: 8px;
					}
				}

				tbody tr:last-child td:first-child {
					border-bottom-left-radius: 16px;
				}

				tbody tr:last-child td:last-child {
					border-bottom-right-radius: 16px;
				}

				tbody {
				}

				tr:first-child {
					border-bottom-left-radius: 16px;
				}

				tr:last-child {
					border-bottom-right-radius: 16px;
				}

			}

			}

		.empty-space {
			flex-grow: 1;
		}
}

:host-context(.dark) :host  table thead {
		background-color: $dark-island !important;
		color: $island;
}

:host-context(.dark) .table-wrapper {
	border: 1px solid $island;
}

:host-context(.dark) tbody {
	background-color: #394545 !important;
	color: $island !important;
}
