<nz-layout>
  <nz-header>
    <div class="logo" [routerLink]="AppRoutes.root">
      <img src="assets/images/logo/logo.svg" alt="ss" />
    </div>
    <div class="nav-wrap">
      <div class="nav-left">
        <ul nz-menu nzTheme="light" nzMode="horizontal">
          <li nz-menu-item [routerLink]="['partners']">Контрагенты</li>
          <li nz-menu-item [routerLink]="">Торговля</li>
          <li nz-menu-item [routerLink]="">Финансы</li>
          <li nz-menu-item [routerLink]="">Склад</li>
          <li nz-menu-item [routerLink]="">Отчеты</li>
          <li nz-menu-item [routerLink]="">Персонал</li>
          <li nz-menu-item [routerLink]="">Система</li>
          <li nz-menu-item [routerLink]="">Настроить пункты</li>
        </ul>
      </div>
      <div class="nav-right">
        <span>right</span>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Главная</nz-breadcrumb-item>
      <nz-breadcrumb-item>Торговля</nz-breadcrumb-item>
      <nz-breadcrumb-item>Финансы</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>SS ©2023</nz-footer>
</nz-layout>
