@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;

:host {
    display: flex;
    text-rendering: optimizeLegibility;
}

nz-layout {
    //margin: 0 auto;
	display: flex ;
	flex-direction: column;
	min-height: 100vh;
}

@include ng-deep {
    .ant-layout-content {
        max-width: 1320px;
    }
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content {
    margin: 0 auto;
    width: 100%;
}

.inner-content {
    background: $content;
    min-height: 280px;
	flex-grow: 1;
}

.ant-layout {
    background-color: $gray-light;
}

/*Support menu*/
.support-menu {
    margin-top: 24px;
}

.support-menu div {
    text-align: center;
    padding: 0 50px;
}

.widget {
    width: 100%;
    height: 143px;
    margin-top: 60px;
    background-color: white;
    border-radius: 30px;
}

.hr-widget {
    margin-top: 39px;
}

.sells {
    width: 100%;
    height: 472px;
    background-color: antiquewhite;
    margin-top: 60px;
    border-radius: 30px;
}

.hr-sells {
    margin-top: 58px;
}

.phishing {
    width: 100%;
    height: 387px;
    background-color: aquamarine;
    border-radius: 30px;
    margin-top: 59px;
}

.banner-nophishing {
    margin-top: 40px;
    height: 84px;
    border-radius: 20px;
    background-color: blue;
}

.hr-banner-nophishing {
    margin-top: 60px;
}

.say-thankyou {
    margin-top: 60px;
    height: 636px;
    background: chocolate;
}

.hr-say-thankyou {
    margin-top: 60px;
}

@media screen and (min-width: 390px) and (max-width: 413px) {
    nz-layout {
        margin: 0 auto;
    }
}

@media screen and (min-width: 414px) and (max-width: 639px) {
    nz-layout {
        margin: 0 auto;
    }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
    nz-layout {
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 799px) {
    nz-layout {
        // max-width: 768px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    nz-layout {
        // max-width: 800px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1365px) {
    .nav-wrap {
        li {
            font-size: 10px;
        }
    }

    nz-layout {
        margin: 0 auto;
    }

    .support-menu div {
        padding: 0 20px;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1535px) {
    nz-layout {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1536px) and (max-width: 1919px) {
    nz-layout {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1920px) and (max-width: 3000px) {
    nz-layout {
        margin: 0 auto;
    }
}
