<nz-layout>
  <app-header></app-header>
  <nz-content>
    <!--    <nz-breadcrumb>-->
<!--      <nz-breadcrumb-item>Главная</nz-breadcrumb-item>-->
<!--      <nz-breadcrumb-item>Торговля</nz-breadcrumb-item>-->
<!--      <nz-breadcrumb-item>Финансы</nz-breadcrumb-item>-->
<!--    </nz-breadcrumb>-->

<!--    <div class="support-menu" nz-row nzJustify="space-evenly">-->
<!--      <div nz-col nzSpan="4">Пт, 17 сент. 2023, 37 неделя</div>-->
<!--      <div nz-col nzSpan="4">8080 поддержка КИСП</div>-->
<!--      <div nz-col nzSpan="4">8000 Техподдержка ЦО</div>-->
<!--      <div nz-col nzSpan="4">3100 Техподдержка Калуга</div>-->
<!--      <div nz-col nzSpan="4">Задать вопрос</div>-->
<!--    </div>-->
    <app-slider></app-slider>
<!--    <div class="widget"></div>-->
<!--    <hr class="hr-widget" />-->
<!--    <div class="sells"></div>-->
<!--    <hr class="hr-sells" />-->
<!--    <div class="phishing"></div>-->
<!--    <div class="banner-nophishing"></div>-->
<!--    <hr class="hr-banner-nophishing" />-->
<!--    <div class="say-thankyou"></div>-->
<!--    <hr class="hr-say-thankyou" />-->

<!--    <div class="scroll-content-container ">-->
<!--      <div class="content-container inner-content">-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->
<!--    </div>-->

  </nz-content>
  <app-footer></app-footer>
</nz-layout>
