<div class="search">
    <form class="search-form">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzSuffix]="prefixSearch">
            <input type="text" nz-input placeholder="Введите запрос" (input)="search($event)" />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixSearch>
          <i nz-icon nzType="search" class="search-icon-suffix"></i>
        </ng-template>
      </nz-form-item>
    </form>

  <ng-container *ngIf="showWindowResult">
    <ng-container *ngIf="searchResult! | async as users" #result>
      <div class="result">
        <app-result-item
          *ngFor="let user of users"
          [user]="user"
          [title]="title"
        ></app-result-item>
      </div>
    </ng-container>
  </ng-container>

</div>
