<div *ngIf="isNotFound; else empty" class="app-empty-data-page">
	<img class="app-empty-data-page__img"
		 src="assets/images/ss-empty-state%20placeholder/ss-not-found-placeholder.png" />
	<ss-text>По вашему запросу ничего не найдено</ss-text>
	<ss-caption>Попробуйте изменить параметры поиска</ss-caption>
</div>
<ng-template #empty>
	<div class="app-empty-data-page">
		<img class="app-empty-data-page__img"
			 src="assets/images/ss-empty-state%20placeholder/ss-empty-state%20placeholder.png" />
		<ss-text>Нет Данных</ss-text>
	</div>
</ng-template>
