<ss-card class="book-card" padding="16px">
	<ss-avatar [src]="user.avatarUrl || ''" size="medium" type="rectangle" (click)="openModalInfoUser(user.id)"></ss-avatar>
	<div class="info">
		<ss-text size="2">{{ user.lastName }} {{ user.firstName }} {{ user.surName }}</ss-text>
		<ss-text size="4">{{ user.position }}</ss-text>
		<ss-text size="4">{{ user.department }}</ss-text>
	</div>
	<div class="controls">
		<ss-icon *ngIf="user.isFavorite; else noFavorite" width="14" height="14" name="isFavorite" (click)="onToggleFavorite()"></ss-icon>
		<ng-template #noFavorite>
			<ss-icon width="14" height="14" name="favorite" (click)="onToggleFavorite()"></ss-icon>
		</ng-template>
		<div class="controls__links">
			<a [href]="user.linkToCall" target="_blank" [tooltip]="user.phoneLocal || null">
				<ss-icon width="16" height="16" name="phone"></ss-icon>
			</a>
			<a [href]="'mailto:' + user.email" target="_blank" [tooltip]="user.email || null">
				<ss-icon width="16" height="16" name="mail"></ss-icon>
			</a>
		</div>
	</div>
</ss-card>
