<div class="like"
     [ngClass]="isClickLike ? 'liked': ''"
     appPeopleLiked
     (click)="setLike(isUserLiked, objectIdProps)">
  <span class="like-icon icon" nz-icon [nzType]="'ss:like'"></span>
  <span class="count">{{ likesCount }}</span>

  <!-- Получить пользователей которые лайкнули -->
  <div class="modal-people-likes" *ngIf="false">
    <span class="title">Нравится:</span>
    <nz-avatar-group class="list-item">
      <!-- <nz-avatar *ngFor="let likedUser of likedUsers"
                 class="item"
                 nzIcon="user"
                 nzSrc="{{ likedUser?.avatarUrl }}"
                 nz-tooltip
                 nzTooltipTitle="{{ likedUser?.name }}"
      ></nz-avatar>-->
    </nz-avatar-group>
  </div>

</div>
