<ss-headline class="clients-tpr-page__header" size="h3">Контакт с клиентом: рекомендации по ВГП</ss-headline>
<div class="clients-tpr-page">
	<div class="clients-tpr-page__content">
		<div class="clients-tpr-page__img">
			<img src="./assets/images/client-tpr-main-page/client-tpr-main-page.png" alt="" />
			<ss-headline class="clients-tpr-page__label" size="h4">Найдите клиента в поиске</ss-headline>
		</div>
		<ss-search-input class="clients-tpr-page__search-input" [searchType]="'client'"
						 (select)="getSearchClient($event)"></ss-search-input>
	</div>
</div>

