<div class="comments-modal">
    <div>
      <form nz-form [formGroup]="loginForm" nzLayout="vertical" class="form" (ngSubmit)="onSubmit()">

        <div class="comments-modal">
          <div class="card list">
            <div class="personal">
              <div class="img">
                <ng-container *ngIf="nzModalData?.data?.user">
                  <img src="{{ nzModalData?.data?.user?.avatarUrl }}" alt="user" />
                </ng-container>
                <ng-container *ngIf="nzModalData?.data?.fromUser">
                  <img src="{{ nzModalData?.data?.fromUser?.avatarUrl }}" alt="user" />
                </ng-container>
              </div>

              <div class="title">
                <div class="fio">
                  <ng-container *ngIf="nzModalData?.data?.user">
                    <span>{{ nzModalData?.data?.user?.lastName }} {{ nzModalData?.data?.user?.firstName }} {{ nzModalData?.data?.user?.surName }}</span>
                  </ng-container>
                  <ng-container *ngIf="nzModalData?.data?.fromUser">
                    <span>{{ nzModalData?.data?.fromUser?.lastName }} {{ nzModalData?.data?.fromUser?.firstName }} {{ nzModalData?.data?.fromUser?.surName }}</span>
                  </ng-container>
                </div>
                <div class="job">
                  <ng-container *ngIf="nzModalData?.data?.user">
                    <div>{{ nzModalData?.data?.user?.position }}</div>
                    <div>{{ nzModalData?.data?.user?.department }}</div>
                  </ng-container>
                  <ng-container *ngIf="nzModalData?.data?.fromUser">
                    <div>{{ nzModalData?.data?.fromUser?.position }}</div>
                    <div>{{ nzModalData?.data?.fromUser?.department }}</div>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="icons">
              <span class="medal-icon" nz-icon [nzType]="'ss:medalGold'"></span>
            </div>

            <div class="info" *ngIf="false">
              <div class="left-group">

                <div class="modal-people-likes" [ngClass]="peoplelikesOpen? 'active' : ''">
                  <span class="title">Нравится:</span>
                  <div class="list-item">
                    <div class="item">
                      <img src="../../../../assets/images/profile/user-popup.png" alt="user" />
                    </div>
                  </div>
                </div>

                <div class="like" (mouseenter)="peoplelikesOpen=!peoplelikesOpen;" (mouseleave)="peoplelikesOpen=!peoplelikesOpen;">
                  <span class="like-icon icon" nz-icon [nzType]="'ss:like'"></span>
                  <span class="count">{{ nzModalData?.data?.likesCount }}</span>
                </div>
                <div class="comment">
                  <span class="comment-icon icon" nz-icon [nzType]="'ss:comment'"></span>
                  <span class="count">{{ nzModalData?.data?.commentsCount }}</span>
                </div>
              </div>
              <div class="date">
                <span>Дата: </span>
                <span>{{ nzModalData?.data?.createdDate | date: 'dd.MM.yyyy' }}</span>
              </div>
            </div>


            <div class="comments" *ngIf="commentVisible">
              <div class="title">Комментарии:</div>
              <div class="card list">
                <div class="personal">
                  <div class="img">
                    <img src="../../../../assets/images/profile/user-popup.png" alt="user" />
                  </div>

                  <div class="title">
                    <div class="fio">
                      <span>Черников Денис Львович</span>
                    </div>
                    <div class="job">
                      <span>Генеральный директор</span>
                    </div>
                  </div>
                </div>
                <div class="message">
                  <div class="text">
                    Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей же чаю.
                  </div>
                </div>
                <div class="date">
                  <span>Сегодня в 11:35</span>
                </div>
              </div>
              <div class="card list">
                <div class="personal">
                  <div class="img">
                    <img src="../../../../assets/images/profile/user-popup.png" alt="user" />
                  </div>

                  <div class="title">
                    <div class="fio">
                      <span>Гришин Пантелей Серапионович</span>
                    </div>
                    <div class="job">
                      <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
                    </div>
                  </div>
                </div>
                <div class="message">
                  <div class="text">
                    Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей же чаю.
                  </div>
                </div>
                <div class="date">
                  <span>Сегодня в 11:35</span>
                </div>
              </div>
              <div class="card list">
                <div class="personal">
                  <div class="img">
                    <img src="../../../../assets/images/profile/user-popup.png" alt="user" />
                  </div>

                  <div class="title">
                    <div class="fio">
                      <span>Гришин Пантелей Серапионович</span>
                    </div>
                    <div class="job">
                      <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
                    </div>
                  </div>
                </div>
                <div class="message">
                  <div class="text">
                    Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей же чаю.
                  </div>
                </div>
                <div class="date">
                  <span>Сегодня в 11:35</span>
                </div>
              </div>
            </div>

            <div class="send-comments">

              <nz-form-item>
                <span class="field-tile">Оставить комментарий:</span>
                <div class="textarea">
                  <textarea nz-input placeholder="Поделитесь своим мнением" [nzAutosize]="{ minRows: 4, maxRows: 7 }"></textarea>
                  <div class="icon-bg attach" *ngIf="attachVisible">
                    <span class="attach-icon icon" nz-icon [nzType]="'ss:attach'"></span>
                  </div>
                </div>

              </nz-form-item>
            </div>
          </div>
        </div>

      </form>
    </div>
</div>
