<div class="choice-like">
	<ss-icon
		class="choice-like__item"
		width="15"
		height="15"
		name="likeGold"
		(click)="choiceLike(LikeStateEnum.gold)"
	></ss-icon>
	<ss-icon
		class="choice-like__item"
		width="15"
		height="15"
		name="likeSilver"
		(click)="choiceLike(LikeStateEnum.silver)"
	></ss-icon>
	<ss-icon
		class="choice-like__item"
		width="15"
		height="15"
		name="likeCopper"
		(click)="choiceLike(LikeStateEnum.copper)"
	></ss-icon>
</div>
<div
	class="wrapper"
	(click)="closePopup()"
></div>
