<ss-card padding="0" class="container">
	<div class="header">
		<ss-headline class="title" size="h6">Заявки на продажу</ss-headline>
		<ss-icon *ngIf="!isFiltersVisible" class="filter-button" height="18" width="18" name="filter" (click)="toggleFilters()"></ss-icon>
	</div>
	<div class="content desktop table-with-filters">
		<div class="table">
			<div class="table-container" *ngIf="tableState === TableState.Full">
				<ss-table
					[head]="[
						{title: 'Код', fields: ['code'], link: 'saleLink'},
						{title: 'Контрагент', fields: ['contractorId']},
						{title: 'Дата отгрузки',  fields: ['shipDate']},
						{title: 'Дата оплаты',  fields: ['paymentDate']},
						{title: 'Статус', fields: ['status']}
						]"
					[items]="tableItems">
				</ss-table>
				<div class="pagination" style="justify-content: flex-end">
					<nz-pagination
						[nzTotal]="total"
						[nzPageIndex]="pageIndex"
						[nzPageSize]="pageSize"
						(nzPageIndexChange)="nzPageIndexChange($event)"
						(nzPageSizeChange)="pageSize = $event"
						[nzResponsive]="true">
					</nz-pagination>
				</div>
			</div>
			<div class="table-container" *ngIf="tableState === TableState.Empty">
				<ss-empty-placeholder>
					<ss-headline size="h3" class="m-b-15">По вашему запросу ничего не найдено</ss-headline>
					<div class="placeholder-subtitle">
						<ss-text size="3">Попробуйте изменить параметры поиска</ss-text>
					</div>
				</ss-empty-placeholder>
			</div>
			<div class="table-container" *ngIf="tableState === TableState.Loading">
				<app-loader></app-loader>
			</div>
		</div>

	</div>
</ss-card>
<ss-filters *ngIf="isFiltersVisible" [(isFiltersVisible)]="isFiltersVisible" (getFilter)="getFilteredSales($event)" [filters]="filters"></ss-filters>
