@use 'src/styles/colors.scss' as *;

:host {
	position : absolute;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background-color: $island;
	display: flex;
	align-items: center;
	justify-content: center;

	.loader {
		animation: 1s linear 0s normal none infinite running rotation;
		z-index: 9999999;
		width: 28px;
		height: 28px;
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
