@use 'src/styles/colors.scss' as *;

p {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 36px;
	border-radius: 10px;
	border: 1px solid $additional-outline;
	background-color: $additional;
	margin-bottom: 0;
	color: $main !important;
}
