p {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 36px;
	border-radius: 10px;
	border: 1px solid #A4B8FF;
	background-color: #CBD7FF;
	margin-bottom: 0;
	color: #4770FF !important;
}
