@use 'src/styles/colors.scss' as *;

p {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 1px solid $additional-outline;
	background-color: $additional;
	margin-bottom: 0;
	color: $main !important;
	padding: 4px 8px;
}

p.ok {
	color: $island !important;
	border: 1px solid #6dcf77;
	background-color: #6dcf77;
}

p.warning {
	color: $island !important;
	border: 1px solid #ffb525;
	background-color: #ffb525;
}

p.error {
	color: $island !important;
	border: 1px solid #ff5a5a;
	background-color: #ff5a5a;
}
