<div class="victory">
  <div class="header">
    <div>
      <div class="title" *ngIf="winsUrl | async as url">
        <a href="{{ url.linkToActivity }}" target="_blank">
          <h1>Победы</h1>
        </a>
      </div>
    </div>
    <div class="open-all-table">

      <ng-container *ngIf="searchPanelVisible">
        <div class="search">
        <span class="">
          <form nz-form [formGroup]="victoryForm" class="search-form" (ngSubmit)="onSubmit()">
            <nz-form-item>
              <nz-form-control>
                <nz-input-group [nzSuffix]="prefixSearch">
                  <input type="text" nz-input formControlName="search" placeholder="Введите запрос" (input)="search()" />
                </nz-input-group>
              </nz-form-control>
              <ng-template #prefixSearch>
                <i nz-icon nzType="search" class="search-icon-suffix"></i>
              </ng-template>
            </nz-form-item>
          </form>
        </span>

        </div>
        <div class="select-group">
          <nz-select ngModel="lucy" nzPlaceHolder="Выберите группу" [ngModelOptions]="{ standalone: true }">
            <nz-option nzValue="{{ group?.name }}" nzLabel="{{ group?.name }}" *ngFor="let group of winsGroupsList | async "></nz-option>
          </nz-select>
        </div>
      </ng-container>

      <div class="button" (click)="showModaAddWin()">
        <button nz-button class="button" [nzType]="'primary'">
          Добавить победу
        </button>
      </div>
    </div>
  </div>

  <div class="content">
    <ng-container *ngIf="(winsList | async)?.items as wins">
      <nz-list class="card-list" [nzDataSource]="wins | slice: (pageIndex - 1) * pageSize : pageIndex * pageSize" [nzRenderItem]="item" [nzPagination]="pagination">

        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
              <!--              <nz-card [nzTitle]="item.name">-->
              <div class="card">
                <div>
                  <div class="personal">
                    <div class="img" (click)="showModalOpenOut(item?.user?.id)">
                      <img src="{{ item.user?.avatarUrl }}" alt="user" />
                    </div>

                      <div class="users-win-groups" appTooltip *ngIf="item?.groupWinUsers">
                        <span class="people-icon icon" nz-icon [nzType]="'ss:twoPeople'"></span>

                        <div class="modal-users-win-groups">
                          <div class="users-win">
                            <div class="user-win" *ngFor="let groupWinUser of item?.groupWinUsers">
                              <span>{{ groupWinUser?.name }}</span>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="title">
                      <div class="fio">
                        <span>{{ item?.user?.lastName }} {{ item?.user?.firstName }} {{ item?.user?.surName }}</span>
                      </div>
                      <div class="job">
                        <div>{{ item?.user.position }}</div>
                        <div>{{ item?.user.department }}</div>
                      </div>
                    </div>
                  </div>
<!--                  <div class="icons">-->
<!--                    <ng-container [ngSwitch]="item?.award">-->
<!--                      <span class="medal-icon" nz-icon [nzType]="'ss:medalGold'" *ngSwitchCase="1"></span>-->
<!--                      <span class="medal-icon" nz-icon [nzType]="'ss:medalSilver'" *ngSwitchCase="2"></span>-->
<!--                      <span class="medal-icon" nz-icon [nzType]="'ss:medalBronze'" *ngSwitchCase="3"></span>-->
<!--                    </ng-container>-->
<!--                  </div>-->

                  <div class="date">
                    <span>{{ item?.createdDate | date: 'dd.MM.yyyy' }}</span>
                  </div>

                  <div class="message">
                    <div class="text">
                      {{ item.note }}
                    </div>
                  </div>
                  <div class="info">
                    <div class="left-group">

                        <!-- Постановка super лайка -->
                        <!-- Проверяем поставил ли ЧДЛ супер лайк-->

                        <ng-container *ngIf="getExtendedMode; else userlike">
                          <app-super-like
                            [isUserLikedProps]="item.isUserLiked"
                            [likesCountProps]="item.likesCount"
                            [objectIdProps]="item.id"
                            [typeObject]="1"
                            [award]="item.award"
                            [isExtendedMode]="(winsList | async)?.isExtendedMode"
                          ></app-super-like>
                        </ng-container>

                        <!-- Постановка обычного лайка -->
                        <ng-template #userlike>

                          <app-like
                            [isUserLikedProps]="item.isUserLiked"
                            [likesCountProps]="item.likesCount"
                            [objectIdProps]="item.id"
                            [typeObject]="1"
                            [award]="item.award"
                            [isExtendedMode]="(winsList | async)?.isExtendedMode"
                          ></app-like>

                        </ng-template>

                      <div class="comment" (click)="showModalComments(item)">
                        <span class="comment-icon icon" nz-icon [nzType]="'ss:comment'"></span>
                        <span class="count">{{ item.commentsCount }}</span>
                      </div>
                    </div>
                    <div class="openOut">
                      <a href="{{ item?.detailUrl }}" target="_blank">
                        <span class="openOut-icon icon" nz-icon [nzType]="'ss:openOut'"></span>
                      </a>
                    </div>
                  </div>
                </div>

              </div>

              <!--              </nz-card>-->
            </ng-template>
          </nz-list-item>
        </ng-template>

        <ng-template #pagination>
          <nz-pagination [nzPageIndex]="pageIndex"
                         [nzPageSize]="pageSize"
                         [nzTotal]="wins.length"
                         (nzPageIndexChange)="pageIndex = $event"
                         (nzPageSizeChange)="pageSize = $event">

          </nz-pagination>
        </ng-template>
      </nz-list>

    </ng-container>
  </div>
</div>

