<div class="victory">
  <div class="header">
    <div>
      <div class="title" *ngIf="winsUrl | async as url">
        <a href="{{ url.linkToActivity }}" target="_blank">
          <h1>Победы</h1>
        </a>
      </div>
    </div>
    <div class="open-all-table">
      <div class="button" (click)="showModaAddWin()">
        <button nz-button class="button" [nzType]="'primary'">
          Добавить победу
        </button>
      </div>
    </div>
  </div>

  <div class="content">
    <ng-container *ngIf="(winsList | async)?.items as wins; else loader">
      <nz-list class="card-list" [nzDataSource]="wins" [nzRenderItem]="item">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
                <div class="card">
                  <div>
                    <div class="personal">
                      <span class="test-id">{{item.id}}</span>
                      <div class="img" (click)="showModalOpenOut(item?.user?.id)">
                        <img src="{{ item.user?.avatarUrl }}" alt="user" />
                      </div>

                      <div class="users-win-groups" appTooltip *ngIf="item?.groupWinUsers">
                        <span class="people-icon icon" nz-icon [nzType]="'ss:twoPeople'"></span>

                        <div class="modal-users-win-groups">
                          <div class="users-win">
                            <div class="user-win" *ngFor="let groupWinUser of item?.groupWinUsers; trackBy: trackBy">
                              <span>{{ groupWinUser?.name }}</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="title">
                        <div class="fio">
                          <span>{{ item?.user?.lastName }} {{ item?.user?.firstName }} {{ item?.user?.surName }}</span>
                        </div>
                        <div class="job">
                          <div>{{ item?.user.position }}</div>
                          <div>{{ item?.user.department }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="date">
                      <span>{{ item?.createdDate | date: 'dd.MM.yyyy' }}</span>
                    </div>

                    <div class="message">
                      <div class="text">
                        {{ item.note }}
                      </div>
                    </div>
                    <div class="info">
                      <div class="left-group">
                        <ng-container *ngIf="getExtendedMode; else userlike">
                          <app-super-like
                            [isUserLikedProps]="item.isUserLiked"
                            [likesCountProps]="item.likesCount"
                            [objectIdProps]="item.id"
                            [typeObject]="1"
                            [award]="item.award"
                            [isExtendedMode]="(winsList | async)?.isExtendedMode"
                          ></app-super-like>
                        </ng-container>
                        <ng-template #userlike>
                          <app-like
                            [isUserLikedProps]="item.isUserLiked"
                            [likesCountProps]="item.likesCount"
                            [objectIdProps]="item.id"
                            [typeObject]="1"
                            [award]="item.award"
                            [isExtendedMode]="(winsList | async)?.isExtendedMode"
                          ></app-like>
                        </ng-template>
                        <div class="comment" (click)="showModalComments(item, 1)">
                          <span class="comment-icon icon" nz-icon [nzType]="'ss:comment'"></span>
                          <span class="count">{{ item.commentsCount }}</span>
                        </div>
                      </div>
                      <div class="openOut">
                        <a href="{{ item?.detailUrl }}" target="_blank">
                          <span class="openOut-icon icon" nz-icon [nzType]="'ss:openOut'"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </ng-container>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>

  <div class="pagination">
    <nz-pagination
      [nzTotal]="total"
      [nzPageIndex]="pageIndex"
      [nzPageSize]="pageSize"
      (nzPageIndexChange)="nzPageIndexChange($event)"
      (nzPageSizeChange)="pageSize = $event"
      [nzResponsive]="true"
    >
    </nz-pagination>
  </div>

</div>

