@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;

.victory {
    margin-top: 60px;

    .header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        h1 {
            text-transform: uppercase;
        }

        .open-all-table {
            display: flex;
            align-items: center;

            ::ng-deep .anticon {
                fill-opacity: 1;
            }
        }
    }

    .content {
        .card-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .card {
                position: relative;
                width: 408px;
                height: auto;
                border-radius: 16px;
                border: 1px solid $border-color;
                background-color: $white;
                padding: 15px 20px 20px 20px;
                margin-top: 37px;

                // flex: 1 0 200px;

                .personal {
                    position: relative;
                    display: flex;

                    .img {
                        position: relative;
                        border-radius: 14px;
                        overflow: hidden;
                        flex: none;
                        z-index: 0;

                        img {
                            width: 90px;
                            height: 90px;
                            object-fit: cover;
                        }
                    }

                    .people-icon {
                        position: absolute;
                        top: -5px;
                        left: -9px;
                        background-color: $blue;
                        height: 28px;
                        width: 28px;
                        border-radius: 20px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-right: 1px;
                        font-weight: 500;
                        z-index: 10;

                        ::ng-deep svg {
                            font-size: 30px !important;

                            path {
                                stroke: $white !important;
                            }
                        }
                    }

                    .enter-icon {
                        position: absolute;
                        right: 17px;
                        bottom: 0;
                        font-size: 17px;
                        fill-opacity: 0;
                        cursor: pointer;
                    }

                    .title {
                        margin-left: 19px;
                    }

                    .fio {
                        font-size: 17.6px;
                        font-weight: bold;
                        line-height: 20px;
                        margin-top: 7px;
                    }

                    .job {
                        max-width: 186px;
                        font-size: 11.8px;
                        line-height: 14px;
                        font-weight: 500;
                        margin-top: 8px;
                    }
                }

                .icons {
                    .medal-icon {
                        position: absolute;
                        right: 16px;
                        top: 20px;
                    }

                    ::ng-deep .anticon {
                        fill-opacity: 1;
                        font-size: 34px;
                    }
                }

                .date {
                    display: flex;
                    justify-content: flex-end;
                    font-weight: 600;

                    span {
                        color: #a7a7b0;
                        font-size: 9px;
                    }
                }

                .message {
                    width: 377px;
                    overflow-y: auto;

                    .text {
                        font-size: 11.8px;
                        font-style: normal;
                        font-weight: 500;
                        margin-top: 14px;
                        line-height: 16.7px;
                        height: 104px;
                    }
                }

                .info {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 6px;

                    .count {
                        padding-right: 6px;
                    }

                    .left-group {
                        display: flex;
                        position: relative;

                        .modal-people-likes {
                            display: none;
                            position: absolute;
                            bottom: 39px;
                            padding: 0 8px;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            gap: 4px;
                            border-radius: 8px;
                            border: 1px solid rgba(0, 0, 0, 0.2);
                            background: rgba(0, 0, 0, 0.6);
                            backdrop-filter: blur(3.5px);

                            .title {
                                margin-top: 4px;
                                color: $white;
                                font-size: 10px;
                                font-style: normal;
                            }

                            .list-item {
                                position: relative;
                                z-index: 1;
                                padding-bottom: 9px;

                                .item {
                                    position: relative;
                                    width: 28px;
                                    height: 28px;
                                    background-color: #886cff;
                                    border-radius: 20px;
                                    border: 1px solid $border-radius;
                                    overflow-y: hidden;
                                    z-index: 2;

                                    img {
                                        width: 28px;
                                    }
                                }
                            }
                        }

                        .modal-people-likes.active {
                            display: flex !important;
                        }
                    }
                }

                .icon {
                    font-size: 20px;

                    ::ng-deep path {
                        stroke: $blue;
                    }
                }

                .like {
                    background-color: $gray-light;
                    color: $blue;
                    font-size: 12px;
                    width: 50px;
                    height: 32px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    padding-left: 1px;
                    cursor: pointer;

                    .like-icon {
                        padding-left: 1px;
                    }
                }

                .comment,
                .medal,
                .openOut {
                    background-color: $gray-light;
                    color: $blue;
                    font-size: 12px;
                    width: 50px;
                    height: 32px;
                    border-radius: 8px;
                    margin-left: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    cursor: pointer;
                }

                .openOut {
                    width: 30px;
                    ::ng-deep svg {
                        font-size: 33px;
                    }
                }
            }
            .card:last-child {
                // margin-left: 28px;
            }
        }
        .card-list:after {
            //content: '';
            //flex: auto;
        }

        .bottom-panel {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 27px;
        }
    }
}

::ng-deep {
    .message::-webkit-scrollbar {
        width: 4px;
        height: 48px;
    }

    .message::-webkit-scrollbar-track {
        background-color: $gray;
        border-radius: 60px;
        // margin: 24px;
        height: 48px;
    }

    .message::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .message {
        border-right: 10px solid #ffffff !important;
        box-sizing: border-box;
        scrollbar-width: thin;
        scrollbar-color: $gray-light;
    }
}

.bottom-panel {
    ::ng-deep {
        .ant-pagination-item:hover a {
            color: $blue;
        }

        .ant-pagination ul,
        .ant-pagination ol {
            margin-left: 0;
        }

        .ant-table-pagination.ant-pagination {
            margin: 21px 0 !important;
        }

        .ant-pagination-prev,
        .ant-pagination-next {
            display: none;
        }

        .ant-pagination-item-active,
        .ant-pagination-item {
            font-size: 16px;
            line-height: 39px;
            font-weight: 600;
            background: #fff;
            border-color: $border-color;
            border-radius: 10px;
            height: 40px;
            width: 40px;
            margin-right: 8px;
        }

        .ant-pagination-item-active a {
            color: $black;
        }

        .ant-table-pagination.ant-pagination {
            margin: 21px 0 !important;
        }

        .ant-pagination.mini .ant-pagination-item {
            min-width: 44px;
            height: 44px;
        }
    }
}

// Модальные окна

::ng-deep {
    .ant-modal {
        width: 558px !important; // Поправить везде

        .ant-modal-header {
            padding: 15px 8px;
        }

        .ant-modal .ant-form-item {
            margin-top: 16px;
        }

        .ant-form-item:nth-child(2) {
            margin-top: 8px;
        }

        .ant-form-item:nth-child(2) {
            margin-top: 8px;
        }

        .ant-modal .ant-modal-body {
            padding: 0 15px;
        }

        .ant-checkbox-wrapper {
            color: black;
        }

        .ant-modal textarea.ant-input.ant-input-stepperless {
            height: 100px;
        }

        .ant-modal .field-tile {
            margin-bottom: 5px;
        }

        textarea.ant-input.ant-input-stepperless {
            min-height: 80px;
        }

        textarea.ant-input.ant-input-stepperless {
            background-color: white !important;
            padding-left: 14px !important;
            min-height: 80px;
            font-size: 11.2px !important;
            padding-top: 8px;
        }

        .checkbox-group {
            margin-top: 19px;
        }
    }
}

@media screen and (max-width: 414px) {
    .victory {
        margin: 80px 20px 0 20px;

        .header {
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .open-all-table {
                margin-top: 18px;
            }

            .title h1 {
                text-align: center;
                margin-bottom: 0.3rem !important;
                line-height: 34px;
                margin-top: 4px;
            }

            .subtitle {
                margin-top: 12px;

                h2 {
                    text-align: center;
                    line-height: 19px !important;
                }
            }
        }

        .content {
            .card-list {
                justify-content: center;

                .card {
                    width: 100%;
                    margin-top: 20px;
                    padding: 12px;

                    .icons {
                        .medal-icon {
                            right: 12px;
                            top: 11px;
                        }
                    }
                }
            }
            .bottom-panel {
                margin-top: 32px;
                justify-content: space-between;
            }
        }
    }
}
