@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;

.result-item {
    cursor: pointer;

    .content {
        display: flex;
        width: 100%;
        overflow: hidden;
        margin: 4px 0;

        .text {
            width: 100%;
            display: flex;
            // flex-direction: column;

            .title {
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-size: 15px;
                font-weight: bold;
                padding-left: 3px;
                color: $black;
                line-height: 24px;

                span {
                    color: $black;
                }

                .call {
                    ::ng-deep svg {
                        path {
                            stroke: $blue;
                        }
                    }
                }
            }
        }
    }
}
