@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;

.result-item {
    cursor: pointer;

    .content {
        display: flex;
        width: 400px;
        overflow: hidden;
        margin: 4px 0;

        .text {
            display: flex;
            flex-direction: column;
            .name {
                font-size: 15px;
                font-weight: bold;
                padding-left: 3px;
                color: #22223a;
                line-height: 24px;
            }
        }
    }
}
