<div class="wrapper" (click)="close()">
	<ss-card class="dialog" padding="16px 16px 16px 16px" (click)="$event.stopPropagation()">
		<div class="header">
			<ss-icon width="16" class="close-icon" name="close" (click)="close()"></ss-icon>
			<ss-headline *ngIf="title" size="h6">{{ title }}</ss-headline>
		</div>
		<ss-text class="body" size="2" *ngIf="text">
			{{ text }}
		</ss-text>
		<div class="footer">
			<ss-button size="small" type="muted" (click)="close()">Отмена</ss-button>
			<ss-button size="small" (click)="close(true)">Ок</ss-button>
		</div>
	</ss-card>
</div>
