<div class="choice-like">
	<ss-icon class="choice-like__item" (click)="choiceLike(LikeStateEnum.gold) " [width]="'15'" [height]="'15'" [name]="'likeGold'"></ss-icon>
	<ss-icon class="choice-like__item" (click)="choiceLike(LikeStateEnum.silver) " [width]="'15'" [height]="'15'" [name]="'likeSilver'"></ss-icon>
	<ss-icon class="choice-like__item" (click)="choiceLike(LikeStateEnum.copper) " [width]="'15'" [height]="'15'" [name]="'likeCopper'"></ss-icon>
</div>
<div class="wrapper" (click)="closePopup()"></div>


