@use 'src/assets/scss/_mixins.scss' as *;

@include ng-deep {
    .ant-card-body {
        padding: 0 36px;
    }
}

.auth {
    .anticon {
        fill-opacity: 1;
    }

    .logo {
        h2 {
            margin-top: 10px;
            font-weight: bold;
            font-size: 24px;
        }
    }

    .ant-card-bordered {
        border-radius: 30px;
        width: 372px;
    }
}

.relative {
    .position-right {
        position: absolute;
        right: 0;
    }
}

.ant-form-vertical .ant-form-item {
    margin-bottom: 30px;
}

.error-message {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 0;

    span {
        color: #ee1c25;
    }
}
