<div class="login-header">
	<ss-headline size="h3" weight="semi-bold">Войдите в аккаунт</ss-headline>
</div>
<form class="login-form" [formGroup]="loginForm">
	<fieldset class="login-form-inputs">
		<ss-input size="small" formControlName="login" placeholder="Логин" error="{{ loginForm.getError('unauthorized') ? ' ' : null }}"></ss-input>
		<ss-password size="small" formControlName="password" placeholder="Пароль" error="{{ loginForm.getError('unauthorized') }}"></ss-password>
		<ss-link [routerLink]="['/auth/forgot-password']">Восстановить пароль</ss-link>
	</fieldset>
	<ss-button size="small" type="primary" (click)="onSubmit()" [disabled]="loading">Войти</ss-button>
</form>
