.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table-with-filters {
	display: flex;

	.table {
		flex-grow: 1;
	}

	.filters {
		min-width: 300px;
		flex-shrink: 0;
	}

	.pagination {
		justify-content: flex-end;
	}

	hr {
		margin-right: -25px;
		margin-left: -25px;
		margin-bottom: 5px;
	}

	.ant-card-bordered {
		border-radius: 16px;
	}
}
