<div class="container">
	<div class="header m-b-25">
		<div class="title">
			<ss-headline size="h3">Справочник клиентов</ss-headline>
		</div>
		<div class="filter-button" *ngIf="!isFiltersVisible">
			<ss-button size="small"
					   type="outline"
					   (click)="toggleFilters()">
				<ss-icon height="20" width="20" name="filter" class="filter"></ss-icon>
				<span>Фильтры</span>
			</ss-button>
		</div>
	</div>
	<div class="content desktop table-with-filters m-b-40">
		<div class="table m-r-15">
			<div class="table-container" *ngIf="tableState === TableState.Full">
				<ss-table
					[head]="[
						{title: 'Код', fields: ['code'], link: 'clientCardLink'},
						{title: 'Категория', fields: ['category']},
						{title: 'Клиент', fields: ['clientName']},
						{title: 'Контрагенты', fields: ['contractors'], link: 'clientCardLink'},
						{title: 'Менеджеры', fields: ['managers']},
						{title: 'Статус', fields: ['status']},
						{title: 'Клиент без БМ', fields: ['withoutManager']}
						]"
					[items]="tableItems">
				</ss-table>
				<div class="pagination" style="justify-content: flex-end">
					<nz-pagination
						[nzTotal]="total"
						[nzPageIndex]="pageIndex"
						[nzPageSize]="pageSize"
						(nzPageIndexChange)="nzPageIndexChange($event)"
						(nzPageSizeChange)="pageSize = $event"
						[nzResponsive]="true">
					</nz-pagination>
				</div>
			</div>
			<div class="table-container" *ngIf="tableState === TableState.Empty">
				<ss-empty-placeholder>
					<ss-headline size="h3" class="m-b-15">По вашему запросу ничего не найдено</ss-headline>
					<div class="placeholder-subtitle">
						<ss-text [size]="'3'">Попробуйте изменить параметры поиска</ss-text>
					</div>
				</ss-empty-placeholder>
			</div>
			<div class="table-container" *ngIf="tableState === TableState.Loading">
				<app-loader></app-loader>
			</div>
		</div>

		<div class="filters"
			 *ngIf="isFiltersVisible">
			<nz-card nzTitle = "Фильтры" [nzExtra]="extraTemplate">
				<form nz-form
					  [formGroup]="filtersForm"
					  nzLayout="vertical"
					  class="form">
					<nz-form-item>
						<div style="display: flex; justify-content: space-between; align-items: center">
							<ss-caption size="1" class="m-b-5">Выбранные</ss-caption>
							<div style="display: flex; flex-wrap: nowrap; align-items: center">
								<ss-button type="quaternary" size="small" (click)="clearFilter()">Очистить всё</ss-button>
								<ss-icon height="8" width="8" name="iconClose" class="close" (click)="clearFilter()"></ss-icon>
							</div>
						</div>
					</nz-form-item>
					<hr />
					<nz-form-item>
						<ss-caption size="1" class="m-b-5">Код</ss-caption>
						<nz-form-control>
							<ss-input size="medium"
							          type="number"
							          formControlName="code"
							          placeholder="Введите код"></ss-input>
						</nz-form-control>
					</nz-form-item>
					<hr />
					<nz-form-item>
						<ss-autocomplete-select-field
							formControlName="category"
							[label]="'Категория'"
							[placeholder]="'Выберите категория'"
							[needSearch]="false"
							[url]="clientsListFacade.categoriesUrl">
						</ss-autocomplete-select-field>
					</nz-form-item>
					<hr />
					<nz-form-item>
						<ss-caption size="1" class="m-b-5">Клиент</ss-caption>
						<nz-form-control>
							<ss-input size="medium" formControlName="client" placeholder="Введите ФИО клиента"></ss-input>
						</nz-form-control>
					</nz-form-item>
					<hr />
					<nz-form-item>
						<ss-autocomplete-select-field
							formControlName="contractor"
							[label]="'Контрагенты'"
							[placeholder]="'Выберите контрагента'"
							[needSearch]="true"
							[url]="clientsListFacade.contractorUrl">
						</ss-autocomplete-select-field>
					</nz-form-item>
					<hr />
					<nz-form-item>
						<ss-autocomplete-select-field
							formControlName="manager"
							[label]="'Менеджеры'"
							[placeholder]="'Выберите менеджера'"
							[needSearch]="true"
							[url]="clientsListFacade.managerUrl">
						</ss-autocomplete-select-field>
					</nz-form-item>
					<hr />
					<nz-form-item>
						<ss-autocomplete-select-field
							formControlName="status"
							[label]="'Статус'"
							[placeholder]="'Выберите статус'"
							[selectOptions]="clientsListFacade.statusOptions">
						</ss-autocomplete-select-field>
					</nz-form-item>
					<hr />
					<nz-form-item>
						<ss-caption size="1" class="m-b-5">Клиент без БМ</ss-caption>
						<nz-radio-group
							formControlName="withoutBaseManager">
							<label nz-radio [nzValue]="true">Да</label>
							<label nz-radio [nzValue]="false">Нет</label>
						</nz-radio-group>
					</nz-form-item>
					<hr />

					<nz-form-item>
						<ss-button class="desktop m-t-10"
								   size="large"
								   type="primary"
								   (click)="getFilteredClients()">
							Применить фильтры
						</ss-button>
					</nz-form-item>


				</form>

			</nz-card>

			<ng-template #extraTemplate>
				<a (click)="toggleFilters()">
					<ss-icon height="20" width="20" name="logout" class="filter"></ss-icon>
				</a>
			</ng-template>


		</div>
	</div>
	<div class="content mobile m-b-20">
		<ss-card>
			<div class="mobile-item" *ngFor="let item of items">
				<div class="mobile-info">
					<ss-caption size="1">
						<b> Код: </b>
						<a href="{{item.clientCardLink}}"> {{item.code }} </a>
					</ss-caption>
					<ss-caption size="1">
						<b>Категория: </b>
						{{item.category}}
					</ss-caption>
					<ss-caption size="1">Клиент:{{item.clientName }}</ss-caption>
					<ss-caption size="1">Менеджеры:{{item.managers }}</ss-caption>
					<ss-caption size="1">Статус:{{item.status }}</ss-caption>
					<ss-caption size="1">Клиент без БМ:{{item.withoutManager }}</ss-caption>
				</div>
				<div class="separator"></div>
			</div>
		</ss-card>
		<div class="pagination" style="justify-content: center">
			<nz-pagination
				[nzTotal]="total"
				[nzPageIndex]="pageIndex"
				[nzPageSize]="pageSize"
				(nzPageIndexChange)="nzPageIndexChange($event)"
				(nzPageSizeChange)="pageSize = $event"
				[nzResponsive]="true">
			</nz-pagination>
		</div>
	</div>

</div>



