.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table-with-filters {
	display: flex;

	.table {
		flex-grow: 1;
	}

	.filters {
		min-width: 300px;
		flex-shrink: 0;
	}
}
