<ss-card padding="0" radius="0 0 16px 16px">
	<app-client-proposals-tabs-canvas
		[headerTemplateRef]="header"
		[bodyTemplateRef]="body"
		[footerTemplateRef]="footer"
		[isLoader]="(isLoader$ | async)!"
	>
	</app-client-proposals-tabs-canvas>
		<ng-template #header>
			<a *ngIf="linkToModule();else text" class="app-client-proposals-trade-list-tab__link" href="{{ linkToModule() }}" target="_blank">
				Товарная ведомость по клиенту
			</a>
			<ng-template #text>
				<ss-text size="1">Товарная ведомость по клиенту</ss-text>
			</ng-template>
			 <div class="app-client-proposals-trade-list-tab__filters">
				 <ss-search-input size="medium" searchType="tovs" placeholder="Введите товарную позицию" (select)="onTovFilter($event)"></ss-search-input>
				 <ss-date-range placeholder="Выберите даты" (select)="onDateRangeFilter($event)" #range></ss-date-range>
				 <ss-icon (click)="resetForm(); range.startDate= undefined; range.endDate= undefined" height="16" width="16" name="close"></ss-icon>
			 </div>
		</ng-template>
		<ng-template #body>
			<ng-container *ngIf="tradeList() as list">
				<ss-table
					*ngIf="list.total > 0;else empty"
					[padding]="'8px'"
					[head]="[
				{title: 'ТП', field: 'name', sizeRatio: 3},
				{title: 'Дата', field: 'date'},
				{title: 'Цена', field: 'price', isNumber: true},
				{title: 'Количество', field: 'quantity', isNumber: true},
				{title: 'Сумма', field: 'amount', isNumber: true},
				{title: 'Валюта', field: 'currency'},
				]"
					[items]="getTableItems(list)
"
				>
				</ss-table>
				<ng-template #empty>
					<ss-empty-data-page [width]="'300px'" [height]="'176px'"></ss-empty-data-page>
				</ng-template>
			</ng-container>
		</ng-template>
		<ng-template #footer>
			<ss-pagination
				[total]="total()"
				[pageIndex]="pageIndex"
				[pageSize]="pageSize"
				(changeIndex)="pageIndexChange($event)"
			>
			</ss-pagination>
		</ng-template>
</ss-card>
