@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;
@use '../../../../styles/colors' as *;

.rating-team-users-card {
	display: flex;
	gap: 8px;
	position: relative;
	width: 100%;
	flex-wrap: nowrap;
	justify-content: space-between;

	&__actions {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__rating {
		display: flex;
		flex-wrap: nowrap;
		justify-content: end;
		gap: 4px;
	}

	&__card-comment {
		display: flex;
		justify-content: end;
	}

	&__comment {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		gap: 8px;
		width: 55px;
		height: 36px;
		cursor: pointer;
		border: 1px solid #0000001a;
		background-color: #f2f3f7;
		border-radius: 8px;
		justify-content: center;
	}

	&__tab {
		width: 24px;
		height: 24px;
		background-color: #0000000a;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;

		&--gold {
			background-color: #f7b535;
			color: #ffffff;
		}

		&--silver {
			background-color: #878e9a;
			color: #ffffff;
		}

		&--cooper {
			background-color: #c65c2e;
			color: #ffffff;
		}
	}
}

:host-context(.dark) .rating-team-users-card {
	background-color: $dark-background;
	border: 1px solid $white;
}
