.checkbox-filter-context {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__content {
    height: 274px;
    overflow: auto;
  }

  &__no-content {
    height: 274px;
    padding: 20px 16px;
  }
}