<div class="thankyou">
  <div class="header">
    <div>
      <div class="title">
        <h1>Скажите спасибо партнеру</h1>
      </div>
      <div class="subtitle">
        <h2>Топ-9 самых клиентоориентированных сотрудников</h2>
      </div>
    </div>
    <div class="open-all-table">
      <div>
        <button nz-button class="recovery-password-button" [nzType]="'primary'"></button>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="card-list">
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-panel">
      <div>
        <div>
          <span>Всего за неделю:</span>
          <span>397</span>
        </div>
        <div>
          <span>За все время:</span>
          <span>18 831</span>
        </div>
      </div>
      <div>
        <button nz-button class="button" [nzType]="'primary'">Поблагодарить партнера</button>
      </div>
    </div>
  </div>
</div>
