<div class="thankyou">
  <div class="header">
    <div>
      <div class="title">
        <h1>Скажите спасибо партнеру</h1>
      </div>
      <div class="subtitle">
        <h2>Топ-9 самых клиентоориентированных сотрудников</h2>
      </div>
    </div>
    <div class="open-all-table">
      <div class="calendar">
        <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)" nzFormat="dd.MM.yyyy" [nzSuffixIcon]="sufixCalendar"></nz-date-picker>
        <span class="calendar-icon" nz-icon [nzType]="'ss:calendar'"></span>
        <ng-template #sufixCalendar>
          <i nz-icon [nzType]="'ss:arrowBottom'" class="search-icon-suffix"></i>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="card-list">
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
        <div class="icons">
          <span class="medal-icon" nz-icon [nzType]="'ss:medalGold'"></span>
          <span class="count">18</span>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
        <div class="icons">
          <span class="medal-icon" nz-icon [nzType]="'ss:medalSilver'"></span>
          <span class="count">18</span>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
        <div class="icons">
          <span class="medal-icon" nz-icon [nzType]="'ss:medalBronze'"></span>
          <span class="count"></span>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="personal">
          <div class="img">
            <img src="assets/images/profile/user-popup.png" alt="user" />
          </div>
          <div class="title">
            <div class="fio">
              <span>Гришин Пантелей Серапионович</span>
            </div>
            <div class="job">
              <span>Руководитель Отдела продаж Союзснаб-Ташкент</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-panel">
      <div>
        <div class="total-week">
          <span>Всего за неделю:</span>
          <span>397</span>
        </div>
        <div class="total-time">
          <span>За все время:</span>
          <span>18 831</span>
        </div>
      </div>
      <div class="button">
        <button nz-button class="button" [nzType]="'primary'">
          <span class="like-icon" nz-icon [nzType]="'ss:like'"></span>
          Поблагодарить партнера
        </button>
      </div>
    </div>
  </div>
</div>
