<div class="thankyou" *ngIf="thankyouList | async as thankyou">
  <div class="header">
    <div>
      <div class="title">
        <h1>Скажите спасибо партнеру</h1>
      </div>
      <div class="subtitle">
        <h2>Топ-9 самых клиентоориентированных сотрудников</h2>
      </div>
    </div>
    <div class="open-all-table">
      <div class="calendar">
        <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)" nzFormat="dd.MM.yyyy" [nzSuffixIcon]="sufixCalendar"></nz-date-picker>
        <span class="calendar-icon" nz-icon [nzType]="'ss:calendar'"></span>
        <ng-template #sufixCalendar>
          <i nz-icon [nzType]="'ss:arrowBottom'" class="search-icon-suffix"></i>
        </ng-template>
      </div>
      <div class="button">
        <a href="{{ thankyou?.addNewThanksLink }}" target="_blank" rel="noreferrer">
          <button nz-button class="button" [nzType]="'primary'">
            <span class="like-icon" nz-icon [nzType]="'ss:like'"></span>
            Поблагодарить партнера
          </button>
        </a>
      </div>
      <div class="top-panel top-panel-mobile">
        <div>
          <div class="total-week">
            <span>Всего за неделю:</span>
            <span>{{ thankyou?.weekCount }}</span>
          </div>
          <div class="total-time">
            <span>За все время:</span>
            <span>{{ thankyou?.totalCount }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="card-list">
      <ng-container>
        <div class="card" *ngFor="let thank of thankyou.items;">
          <div class="personal">
            <div class="img">
              <img src="{{ thank?.avatarUrl }}" alt="user" />
            </div>
            <div class="title">
              <div class="fio">
                <span>{{ thank?.lastName }} {{ thank?.firstName }} {{ thank?.surName }}</span>
              </div>
              <div class="job">
                <div>{{ thank?.department }}</div>
              </div>
            </div>
          </div>
          <div class="icons">

            <ng-container [ngSwitch]="thank?.place">
              <span class="medal-icon" nz-icon [nzType]="'ss:medalGold'" *ngSwitchCase="1"></span>
              <span class="medal-icon" nz-icon [nzType]="'ss:medalSilver'" *ngSwitchCase="2"></span>
              <span class="medal-icon" nz-icon [nzType]="'ss:medalBronze'" *ngSwitchCase="3"></span>
            </ng-container>

            <span class="count">{{ thank?.thanksCount }}</span>
          </div>
        </div>
      </ng-container>

    </div>

  </div>
</div>
