@use 'src/assets/scss/_mixins.scss' as *;
@use 'src/assets/scss/_variables.scss' as *;

:host {
	background-color: #0e0f10;
}

.transport {
	display: flex;
	flex-direction: column;
	padding-top: 60px;
	gap: 40px;

	.header {
		display: flex;
		justify-content: space-between;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 20px;

		.bus-list {
			display: flex;
			flex-direction: column;
			gap: 28px;

			.bus {
				display: flex;
				justify-content: space-between;
				gap: 16px;

				.direction {
					max-width: 550px;
					display: flex;
					gap: 8px;

					.station {
						width: 244px;
					}

					.direction-icon {
						font-size: 36px;
					}
				}

				.schedule {
					display: flex;
					gap: 16px;
					flex-wrap: wrap;

					.item {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100px;
						height: 36px;
						border-radius: 10px;
						background-color: $white;
					}

					.gone {
						color: #A9AFB3;
						border: 1px solid $border-color;
					}

					.next {
						border: 1px solid $border-color;
					}

					.next:not(.next ~ .next) {
						color: #2D8418 !important;
						border: 1px solid #91D386 !important;
						background-color: #D5EDCA !important;
					}
				}

			}

		}
	}
}

// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 545px) {

    .transport {
		padding: 20px;

		.header {
			justify-content: center;

			ss-button {
				display: none;
			}
		}

		.content {

			.bus-list {

				.bus {
					flex-direction: column;

					.direction {
						flex-direction: column;
						position: relative;
						padding-left: 19px;
						overflow: visible;

						.station {
							width: 100%;

							::ng-deep p {
								justify-content: flex-start !important;
								padding: 0 16px;
							}
						}

						.direction-icon {
							position: absolute;
							left: -14px;
							top: 14px;
							transform: rotate(90deg);
							font-size: 48px;
						}
					}

					.schedule {
						width: 100%;

						.item {
							width: 120px;
						}
					}
				}
			}
		}
    }
}
