<div class="transport">
	<div class="header">
		<div class="title">
			<h1>Расписание</h1>
			<h2>Корпоративный транспорт «СОЮЗСНАБ»</h2>
		</div>
		<div class="controls">
			<button nz-button class="button" [nzType]="'primary'">Создать уведомление</button>
		</div>
	</div>
	<div class="content">
		<div class="notification">В период с 17.02.2014, 15:00 до 19:02.2024, 09:00 транспорт будед ходить с измененным интервалом в два часа.</div>
		<div class="bus-list">
			<div class="bus">
				<div class="direction">
					<p class="station">Москва (м. Щукинская)</p>
					<span class="direction-icon" nz-icon [nzType]="'ss:direction'"></span>
					<p class="station">Красногорск (СОЮЗСНАБ)</p>
				</div>
				<div class="schedule"></div>
			</div>
		</div>
	</div>

</div>
