<div *ngIf="transport" class="transport">
	<div class="header">
		<h1>Корпоративный транспорт</h1>
		<button *ngIf="transport?.canAddNotification" nz-button class="button" [nzType]="'primary'" (click)="showModalNotice()">Создать уведомление</button>
	</div>

	<div class="content">
		<app-notice *ngIf="transport?.transportNotify"
								isLabeled="false"
								type="warning"
								title="Изменение в расписании корпоративного транспорта"
								text="{{ 'В период с ' + (transport?.transportNotify?.dFrom | date: 'dd.MM.yyyy, hh:mm') + ' до ' + (transport?.transportNotify?.dTo | date: 'dd.MM.yyyy, hh:mm')   + ' ' + transport?.transportNotify?.note }}">
		</app-notice>
		<div class="bus-list">
			<div *ngFor="let bus of transport?.transportList" class="bus">
				<div class="direction">
					<p class="station">{{ bus.startRoute }}</p>
					<span class="direction-icon" nz-icon [nzType]="'ss:direction'"></span>
					<p class="station">{{  bus.endRoute }}</p>
				</div>
				<div class="schedule">
					<div *ngFor="let time of bus?.departureTime" class="item gone" [ngClass]="{'gone': isPast(time), 'next': !isPast(time)}">
						<span class="bus-icon" nz-icon [nzType]="'ss:bus'"></span> {{ time }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
