<div class="rating">
  <div class="header">
    <div>
      <div class="title">
        <h1>рейтинг сотрудников</h1>
        <div class="rating-item">
          <span>4,2 / 1987</span>
        </div>
      </div>
    </div>
    <div class="open-all-table">
      <div class="search">
        <span class="">
          <form nz-form [formGroup]="loginForm" class="search-form" (ngSubmit)="onSubmit()">
            <nz-form-item>
              <nz-form-control>
                <nz-input-group [nzSuffix]="prefixSearch">
                  <input type="text" nz-input formControlName="search" placeholder="Поиск по ФИО" [(ngModel)]="title" (input)="search()" />
                </nz-input-group>
              </nz-form-control>
              <ng-template #prefixSearch>
                <i nz-icon nzType="search" class="search-icon-suffix"></i>
              </ng-template>
            </nz-form-item>
          </form>
        </span>
        <!--    <div class="result" *ngIf="books && showWindowResult" #result>-->
        <!--        <app-result-item-->
        <!--            *ngFor="let book of books"-->
        <!--            [book]="book"-->
        <!--            [title]="title"-->
        <!--        ></app-result-item>-->
        <!--    </div>-->
      </div>
      <div class="select-group">
        <nz-select nzPlaceHolder="Выберите номер" [(ngModel)]="selectedNumberValue" [ngModelOptions]="{ standalone: true }">
          <nz-option  nzValue="{{ group?.name }}" nzLabel="{{ group?.name }}" *ngFor="let group of rankWeeks | async "></nz-option>
        </nz-select>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="rating-list">
      <div class="rating-item" *ngFor="let type of rankTypes | async">
        <span>{{ type?.shortName }}</span>
        <span>5,3 / 4</span>
      </div>
    </div>

    <div class="title-card">
      Отдел продаж:
    </div>

    <div class="card-list">

      <div class="card" *ngFor="let rank of ranks | async">
        <div>
          <div class="personal">
            <div class="img">
              <img src="{{ rank.user.avatarUrl }}" alt="user" />
            </div>

            <ng-container [ngSwitch]="rank?.place">
              <span class="medal-icon" nz-icon [nzType]="'ss:medalGold'" *ngSwitchCase="1"></span>
              <span class="medal-icon" nz-icon [nzType]="'ss:medalSilver'" *ngSwitchCase="2"></span>
              <span class="medal-icon" nz-icon [nzType]="'ss:medalBronze'" *ngSwitchCase="6"></span>
            </ng-container>

            <div class="title">
              <div class="fio">
                <span>{{ rank?.user?.name }}</span>
              </div>
              <div class="job">
                <div>{{ rank?.user.position }}</div>
                <div>{{ rank?.user.department }}</div>
              </div>
            </div>
          </div>
          <div class="icons">
            <span class="count count-top">{{ rank?.avgWeekRate }}</span>
            <span class="count count-bottom">{{ rank?.avgQuarterRate }}</span>
          </div>
        </div>

      </div>

    </div>
    <div class="bottom-panel">
      <nz-pagination [nzPageIndex]="2" [nzTotal]="8" [nzPageSize]="8"></nz-pagination>
    </div>
  </div>
</div>
