<form>
	<ss-caption size="1">{{ label }}</ss-caption>
	<div class="input" [ngClass]="{'dropdown': found.length}">
		@for (item of selectedItems; track $index) {
			<div class="chips">
				<ss-text size="3">{{ item.name }}</ss-text>
				<ss-icon height="10" width="10" name="close" (click)="onRemoveItemFromList($index)"></ss-icon>
			</div>
		}
		<input type="text"
			   [placeholder]="placeholder"
			   [disabled]="disabled"
			   class="{{ error ? size + ' error' : size }}"
			   (input)="onInputChange(input.value)"
			   (keydown.enter)="dontSend($event)"
			   #input
		/>
	</div>
	@if (found.length) {
		<div class="variants-wrapper">
			<div class="variants">
				<div class="separator"></div>
				@for (item of found; track item) {
					<div class="variants-item" (click)="onAddItemToList(item)">
						<ss-text size="3">{{ item?.name }}</ss-text>
					</div>
				}
			</div>
		</div>
	}
	@if (found.length) {
		<div class="overflow" (click)="found = []"></div>
	}
</form>

