<ul nz-menu nzMode="horizontal" class="menu">
  <li *ngFor="let item of menu" nz-submenu nzTitle="{{ item.name }}" [nzMenuClassName]="'menu-item-custom'" [nzPlacement]="'topLeft'" [nzOpen]="false">
    <ul>
      <li *ngFor="let subcategory of item.items" nz-menu-group nzTitle="{{ subcategory.name }}">
        <ul>
          <li *ngFor="let subitem of subcategory.items" nz-menu-item>
            <a href="{{ subitem.link }}" target="_blank">{{ subitem.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
