<div class="main-menu" *ngIf="menu">
	<ng-container *ngFor="let item of menu">
		<ng-container *ngIf="item.link">
			<a href="{{ item.link }}">
				<ss-text class="main-menu__item" [size]="'3'"> {{ item.name }}</ss-text>
			</a>
		</ng-container>
		<ng-container *ngIf="!item.link">
			<div class="main-menu__item">
				<ss-text (click)="toggleMenu(item)" [size]="'3'" [color]="'gray'"> {{ item.name }}
				</ss-text>
				<ng-container *ngIf="(item.toggle$ | async) && item.items?.length">
					<ss-menu [menuItems]="item.items" [parent]="item"></ss-menu>
				</ng-container>
			</div>
		</ng-container>
	</ng-container>
</div>





